Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

Fixes DNS response policy tests. Restores MIG outputs.
  modules/compute-mig/README.md
  modules/compute-mig/main.tf
  modules/compute-mig/outputs.tf
  tests/fast/stages/s2_networking_e_nva_bgp/stage.yaml
Due: check_links, check_names

Fixes other DNS response policy tests.
  tests/fast/stages/s2_networking_e_nva_bgp/stage.yaml
Due: none

Update tests for fast 2-e
  tests/fast/stages/s2_networking_e_nva_bgp/stage.yaml
Due: none

Moar fixed tests
  modules/binauthz/README.md
  tests/modules/apigee/examples/minimal-cloud-no-org.yaml
  tests/modules/apigee/examples/no-peering.yaml
Due: check_links

Enable TFLint in FAST stages
  .github/workflows/linting.yml
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/ncc.tf
  fast/stages/2-networking-e-nva-bgp/variables.tf
Due: check_links, check_names

Enable TFLint in FAST stages (#2221)
  .github/workflows/linting.yml
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/ncc.tf
  fast/stages/2-networking-e-nva-bgp/variables.tf
Due: check_links, check_names

added missing option for exclusion scope
  modules/gke-cluster-standard/main.tf
Due: check_names

added validation and changes for gke autopilot
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-standard/main.tf
Due: check_names

added missing option for exclusion scope (#2224)
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-standard/main.tf
Due: check_names

Generalization of tflint call for FAST
  .github/workflows/linting.yml
  tests/fast/stages/s0_bootstrap/common.tfvars
  tests/fast/stages/s0_bootstrap/tftest.yaml
  tests/fast/stages/s1_resman/common.tfvars
  tests/fast/stages/s1_resman/tftest.yaml
  tests/fast/stages/s3_gcve_minimal/common.tfvars
  tests/fast/stages/s3_gcve_minimal/tftest.yaml
Due: check_names

Fix tfvars path
  .github/workflows/linting.yml
Due: none

Fix tfvars path - depending where the file is
  .github/workflows/linting.yml
Due: none

Fix regex
  .github/workflows/linting.yml
Due: none

Reeanble linting
  .github/workflows/linting.yml
Due: none

Align test directory to stage name
  tests/fast/stages/s3_gcve/__init__.py
  tests/fast/stages/s3_gcve/common.tfvars
  tests/fast/stages/s3_gcve/simple.yaml
  tests/fast/stages/s3_gcve/tftest.yaml
Due: check_names

fix blueprint tests
  blueprints/third-party-solutions/phpipam/README.md
Due: check_links

fix cloud sql PSA after module upgrade add proxy subnet for ILB
  blueprints/third-party-solutions/phpipam/cloudsql.tf
  blueprints/third-party-solutions/phpipam/main.tf
  blueprints/third-party-solutions/phpipam/variables.tf
Due: check_names

fix format
  modules/net-vpc/README.md
  modules/net-vpc/variables.tf
Due: check_links, check_names

add deletion_policy variable in psa_configs for net-vpc module fix destroy issue with phpIPAM blueprint
  blueprints/third-party-solutions/phpipam/main.tf
  modules/net-vpc/psa.tf
  modules/net-vpc/variables.tf
Due: check_names

fix cloud run service accessible from public url in case the service is privately deployed
  blueprints/third-party-solutions/phpipam/main.tf
Due: check_names

fix cloud sql PSA after module upgrade (#2226)
  blueprints/third-party-solutions/phpipam/README.md
  blueprints/third-party-solutions/phpipam/cloudsql.tf
  blueprints/third-party-solutions/phpipam/main.tf
  blueprints/third-party-solutions/phpipam/variables.tf
  modules/net-vpc/README.md
  modules/net-vpc/psa.tf
  modules/net-vpc/variables.tf
Due: check_links, check_names

Refactor vpc-sc support in project module, add support for dry run
  modules/project-factory/README.md
  modules/project-factory/factory-projects.tf
  modules/project-factory/main.tf
  modules/project-factory/variables.tf
  modules/project/README.md
  modules/project/variables.tf
  modules/project/vpc-sc.tf
  tests/modules/project/examples/vpc-sc-2.yaml
  tests/modules/project/examples/vpc-sc.yaml
Due: check_links, check_names

Refactor vpc-sc support in project module, add support for dry run (#2229)
  modules/project-factory/README.md
  modules/project-factory/factory-projects.tf
  modules/project-factory/main.tf
  modules/project-factory/variables.tf
  modules/project/README.md
  modules/project/variables.tf
  modules/project/vpc-sc.tf
  tests/modules/project/examples/vpc-sc-2.yaml
  tests/modules/project/examples/vpc-sc.yaml
Due: check_links, check_names

docs: :memo: fix error in phpIPAM terraform config by updating VPC peering settings
  blueprints/third-party-solutions/phpipam/README.md
Due: check_links

update changelog
  CHANGELOG.md
Due: check_links

docs: :memo: fix error in phpIPAM terraform config by updating VPC peering settings (#2230)
  blueprints/third-party-solutions/phpipam/README.md
Due: check_links

feat: add Assured workloads style folder module.
  modules/aw-folder/README.md
  modules/aw-folder/iam.tf
  modules/aw-folder/logging.tf
  modules/aw-folder/main.tf
  modules/aw-folder/organization-policies.tf
  modules/aw-folder/outputs.tf
  modules/aw-folder/tags.tf
  modules/aw-folder/variables-iam.tf
  modules/aw-folder/variables.tf
  modules/aw-folder/versions.tf
Due: check_links, check_names

Fix permissions for branch network dev - read sa
  fast/stages/1-resman/branch-networking.tf
Due: check_names

Fix permissions for branch network dev - read sa (#2233)
  fast/stages/1-resman/branch-networking.tf
Due: check_names

Added build env vars in cloud function v1
  modules/cloud-function-v1/README.md
  modules/cloud-function-v1/main.tf
  modules/cloud-function-v1/variables.tf
Due: check_links, check_names

Added build env vars in cloud function v1 (#2234)
  modules/cloud-function-v1/README.md
  modules/cloud-function-v1/main.tf
  modules/cloud-function-v1/variables.tf
Due: check_links, check_names

Update FAST logging
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/automation.tf
  fast/stages/0-bootstrap/variables.tf
Due: check_links, check_names

Fix readme
  fast/stages/0-bootstrap/README.md
Due: check_links
