Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

check_links:
  name: Check Links
  entry: python3
  args:
  - tools/check_links.py
  - .
  language: system

check_names:
  name: Check Names
  entry: python3
  args:
  - tools/check_names.py
  - --prefix-length=10
  - fast/stages
  language: system

module READMEs fixes
  modules/data-catalog-policy-tag/README.md
  modules/dataplex-datascan/README.md
  modules/folder/README.md
Due: check_links

FAST bootstrap
  fast/stages/1-resman/README.md
  fast/stages/1-resman/branch-data-platform.tf
  fast/stages/1-resman/branch-gke.tf
  fast/stages/1-resman/branch-networking.tf
  fast/stages/1-resman/branch-security.tf
  fast/stages/1-resman/branch-teams.tf
  fast/stages/1-resman/branch-tenants.tf
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/variables.tf
Due: check_links, check_names

FAST networking stages
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/main.tf
  fast/stages/2-networking-a-peering/variables.tf
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-b-vpn/main.tf
  fast/stages/2-networking-b-vpn/variables.tf
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/main.tf
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/main.tf
  fast/stages/2-networking-d-separate-envs/variables.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/main.tf
  fast/stages/2-networking-e-nva-bgp/variables.tf
  tests/fast/stages/s2_networking_a_peering/common.tfvars
  tests/fast/stages/s2_networking_b_vpn/common.tfvars
  tests/fast/stages/s2_networking_c_nva/common.tfvars
  tests/fast/stages/s2_networking_d_separate_envs/common.tfvars
  tests/fast/stages/s2_networking_e_nva_bgp/common.tfvars
Due: check_links, check_names

FAST security stage
  fast/stages/2-security/README.md
  fast/stages/2-security/main.tf
  fast/stages/2-security/variables.tf
  tests/fast/stages/s2_security/common.tfvars
Due: check_links, check_names

FAST gke stage
  fast/stages/3-gke-multitenant/dev/README.md
  fast/stages/3-gke-multitenant/dev/main.tf
  fast/stages/3-gke-multitenant/dev/variables.tf
Due: check_links, check_names

FAST multitenant bootstrap stage
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/0-bootstrap-tenant/automation.tf
  fast/stages-multitenant/0-bootstrap-tenant/billing.tf
  fast/stages-multitenant/0-bootstrap-tenant/main.tf
  fast/stages-multitenant/0-bootstrap-tenant/organization.tf
  fast/stages-multitenant/0-bootstrap-tenant/variables.tf
Due: check_links, check_names

FAST multitenant resman stage
  fast/stages-multitenant/1-resman-tenant/README.md
  fast/stages-multitenant/1-resman-tenant/branch-data-platform.tf
  fast/stages-multitenant/1-resman-tenant/branch-gke.tf
  fast/stages-multitenant/1-resman-tenant/branch-networking.tf
  fast/stages-multitenant/1-resman-tenant/branch-security.tf
  fast/stages-multitenant/1-resman-tenant/branch-teams.tf
  fast/stages-multitenant/1-resman-tenant/main.tf
  fast/stages-multitenant/1-resman-tenant/variables.tf
Due: check_links, check_names

tfdoc
  modules/billing-account/README.md
  modules/dataplex-datascan/README.md
Due: check_links

Update 0-domainless-iam.md
  fast/docs/0-domainless-iam.md
Due: check_links

fix module test
  tests/modules/dataplex_datascan/datascan_test_inputs.tfvars
Due: check_names

Removed default value for region/location from modules
  modules/data-catalog-policy-tag/variables.tf
Due: check_names

Remove default value for region/location from modules
  modules/gcs/README.md
Due: check_links

Remove default value for region/location from modules
  modules/gcs/variables.tf
Due: check_names

Remove default value for region/location from modules
  modules/container-registry/README.md
Due: check_links

Remove default value for region/location from modules
  modules/bigquery-dataset/variables.tf
Due: check_names

Remove default value for region/location from modules
  modules/container-registry/variables.tf
Due: check_names

Remove default value for region/location from modules
  modules/data-catalog-policy-tag/variables.tf
Due: check_names

Update IAM template to include iam_by_principals
  modules/__docs/20230816-iam-refactor.md
Due: check_links

Update Resman README
  fast/stages/1-resman/README.md
Due: check_links

Fix ADR link format
  modules/__docs/20230816-iam-refactor.md
Due: check_links

Fix non-empty plan after apply
  blueprints/data-solutions/vertex-mlops/vertex.tf
Due: check_names

Use less conflicting IP
  modules/net-address/README.md
  tests/modules/net_address/examples/internal.yaml
Due: check_links

Update organization.tf
  fast/stages/0-bootstrap/organization.tf
Due: check_names

Data catalog Tag module (#2060)
  README.md
  modules/README.md
  modules/data-catalog-tag/README.md
  modules/data-catalog-tag/main.tf
  modules/data-catalog-tag/outputs.tf
  modules/data-catalog-tag/variables.tf
  modules/data-catalog-tag/versions.tf
Due: check_links, check_names

migrated workbench notebook to workbench instance
  blueprints/data-solutions/data-playground/main.tf
  blueprints/data-solutions/data-playground/outputs.tf
Due: check_names

added example to specify specific vm image and updated readme
  blueprints/data-solutions/data-playground/README.md
  blueprints/data-solutions/data-playground/main.tf
Due: check_links, check_names

Path conditions:
  check_links: any of: \.(md|markdown|mdown)$
  check_names: any of: \.(tf|tfvars)$
