Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

Add documentation about JIT-ed service accounts
  modules/project/README.md
  modules/project/service-accounts.tf
Due: check_links, check_names

net-ilb: add example about ref existing MIG example (#1151)
  modules/net-ilb/README.md
Due: check_links

Update README.md
  modules/project/README.md
Due: check_links

Accessing Cloud Run privately, first use case
  blueprints/serverless/cloud-run-corporate/main.tf
  blueprints/serverless/cloud-run-corporate/outputs.tf
  blueprints/serverless/cloud-run-corporate/variables.tf
Due: check_names

Initial README
  blueprints/serverless/cloud-run-corporate/README.md
Due: check_links

Add 'max_time_travel_hours ' on BQ module
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/main.tf
  modules/bigquery-dataset/variables.tf
Due: check_links, check_names

Fix tfvars sample for fast bootstrap stage
  fast/stages/0-bootstrap/terraform.tfvars.sample
Due: none

Use a more curl friendly image
  blueprints/serverless/cloud-run-corporate/variables.tf
Due: check_names

networking
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-d-separate-envs/README.md
Due: check_links

networking
  fast/stages/2-networking-d-separate-envs/README.md
Due: check_links

security
  fast/stage-links.sh
  fast/stages/2-security/README.md
Due: check_links

gke, dp
  fast/stages/3-data-platform/dev/README.md
  fast/stages/3-gke-multitenant/dev/README.md
Due: check_links

checks
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/3-data-platform/dev/README.md
  fast/stages/3-gke-multitenant/dev/README.md
Due: check_links

Update main.tf
  modules/gke-nodepool/main.tf
Due: check_names

Update main.tf (#1158)
  modules/gke-nodepool/main.tf
Due: check_names

FAST stage docs cleanup (#1145)
  fast/stage-links.sh
  fast/stages/0-bootstrap/README.md
  fast/stages/1-resman/README.md
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-security/README.md
  fast/stages/3-data-platform/dev/README.md
  fast/stages/3-gke-multitenant/dev/README.md
  fast/stages/CLEANUP.md
  fast/stages/COMPANION.md
  fast/stages/FAQ.md
Due: check_links

Access CR from "onprem" environment
  blueprints/serverless/cloud-run-corporate/main.tf
  blueprints/serverless/cloud-run-corporate/variables.tf
Due: check_names

configure simple nva bgp module with frr container aligned nva to use new bgp module and added first bgp config files add export of custom routes between hub and spoke vpcs update asn for cr and nvas
  modules/cloud-config-container/simple-nva-bgp/README.md
Due: check_links

configure simple nva bgp module with frr container align nva to use new bgp module and added first bgp config files add export of custom routes between hub and spoke vpcs update asn for cr and nvas
  fast/stages/2-networking-c-nva/bgp-files/ew1b
  fast/stages/2-networking-c-nva/bgp-files/ew1c
  fast/stages/2-networking-c-nva/bgp-files/ew4b
  fast/stages/2-networking-c-nva/bgp-files/ew4c
  fast/stages/2-networking-c-nva/ncc.tf
  fast/stages/2-networking-c-nva/nva.tf
  fast/stages/2-networking-c-nva/spoke-dev.tf
  fast/stages/2-networking-c-nva/spoke-prod.tf
  fast/stages/2-networking-c-nva/test-resources.tf
  fast/stages/2-networking-c-nva/vpn-onprem.tf
  modules/cloud-config-container/simple-nva-bgp/cloud-config.yaml
  modules/cloud-config-container/simple-nva-bgp/deamons
  modules/cloud-config-container/simple-nva-bgp/files/ipprefix_by_netmask.sh
  modules/cloud-config-container/simple-nva-bgp/files/policy_based_routing.sh
  modules/cloud-config-container/simple-nva-bgp/frr.conf
  modules/cloud-config-container/simple-nva-bgp/main.tf
  modules/cloud-config-container/simple-nva-bgp/outputs.tf
  modules/cloud-config-container/simple-nva-bgp/variables.tf
  modules/cloud-config-container/simple-nva-bgp/versions.tf
Due: check_names

Delete project resources without deleting the projects
  blueprints/serverless/cloud-run-corporate/main.tf
Due: check_names

Add first use case description in README
  blueprints/serverless/cloud-run-corporate/README.md
  blueprints/serverless/cloud-run-corporate/images/service-running.png
  blueprints/serverless/cloud-run-corporate/images/use-case-1.png
Due: check_links

Restrict traffic to internal sources
  blueprints/serverless/cloud-run-corporate/variables.tf
Due: check_names

Update README to reflect only private access is allowed
  blueprints/serverless/cloud-run-corporate/README.md
Due: check_links

Add second use case description in README
  blueprints/serverless/cloud-run-corporate/README.md
Due: check_links

align networking nva stage after refactor
  fast/stages/2-networking-c-nva/ncc.tf
  fast/stages/2-networking-c-nva/nva.tf
  fast/stages/2-networking-c-nva/spoke-dev.tf
  fast/stages/2-networking-c-nva/spoke-prod.tf
  fast/stages/2-networking-c-nva/state.out
  fast/stages/2-networking-c-nva/tfplan.txt
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-c-nva/vpn-onprem.tf
Due: check_names

Allow additive IAM grants by robots name
  modules/project/README.md
  modules/project/iam.tf
  tests/modules/project/examples/iam-additive-members.yaml
  tests/modules/project/examples/iam-additive.yaml
Due: check_links, check_names

update Data Platform blueprint README with more example Dataflow commands
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/README.md
Due: check_links

Fix spelling mistake
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/README.md
Due: check_links

Update on docs wording
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/README.md
Due: check_links

add new diagram remove internal load balancer and leverage ECMP for balancing traffic
  fast/stages/2-networking-c-nva/diagram.png
  fast/stages/2-networking-c-nva/diagram.svg
  fast/stages/2-networking-c-nva/nva.tf
  fast/stages/2-networking-c-nva/state.out
Due: check_names

fix diagram
  fast/stages/2-networking-c-nva/diagram.png
Due: none

add nat config on nvas for internet connectivity from spoke
  fast/stages/2-networking-c-nva/data/nva-startup-script.sh
  fast/stages/2-networking-c-nva/data/nva-startup-script.tftpl
  fast/stages/2-networking-c-nva/nva.tf
Due: check_names

Change naming from 'host' project to 'main' to avoid confusion
  blueprints/serverless/cloud-run-corporate/main.tf
  blueprints/serverless/cloud-run-corporate/outputs.tf
  blueprints/serverless/cloud-run-corporate/variables.tf
Due: check_names

Update README to adapt to naming in projects
  blueprints/serverless/cloud-run-corporate/README.md
Due: check_links

Update README
  blueprints/serverless/cloud-run-corporate/README.md
Due: check_links

Keep test VM in main project even with onprem project
  blueprints/serverless/cloud-run-corporate/main.tf
Due: check_names

Use case 2 image
  blueprints/serverless/cloud-run-corporate/images/use-case-2.png
Due: none

Add another GCP project to access CR from
  blueprints/serverless/cloud-run-corporate/main.tf
  blueprints/serverless/cloud-run-corporate/variables.tf
Due: check_names
