Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

check_links:
  name: Check Links
  entry: python3
  args:
  - tools/check_links.py
  - .
  language: system

check_names:
  name: Check Names
  entry: python3
  args:
  - tools/check_names.py
  - --prefix-length=10
  - fast/stages
  language: system

Migrate kms tests
  modules/kms/README.md
  tests/modules/kms/__init__.py
  tests/modules/kms/examples/basic.yaml
  tests/modules/kms/examples/purpose.yaml
  tests/modules/kms/fixture/main.tf
  tests/modules/kms/fixture/outputs.tf
  tests/modules/kms/fixture/variables.tf
  tests/modules/kms/test_plan.py
Due: check_links, check_names

Migrate bigquery-dataset tests
  modules/bigquery-dataset/README.md
  tests/modules/bigquery_dataset/examples/iam.yaml
  tests/modules/bigquery_dataset/examples/options.yaml
  tests/modules/bigquery_dataset/examples/partitioning.yaml
  tests/modules/bigquery_dataset/examples/simple.yaml
  tests/modules/bigquery_dataset/examples/tables.yaml
  tests/modules/bigquery_dataset/examples/views.yaml
  tests/modules/bigquery_dataset/fixture/main.tf
Due: check_links, check_names

Migrate cloud-function tests
  tests/fixtures.py
  tests/modules/cloud_function/bundle/main.py
  tests/modules/cloud_function/common.tfvars
  tests/modules/cloud_function/fixture/common.tfvars
  tests/modules/cloud_function/test_plan.py
Due: check_names

Migrate compute-mig tests
  modules/compute-mig/README.md
  tests/modules/cloud_function/test_plan.py
  tests/modules/compute_mig/examples/autoscaling.yaml
  tests/modules/compute_mig/examples/health-check.yaml
  tests/modules/compute_mig/examples/simple.yaml
  tests/modules/compute_mig/examples/stateful.yaml
  tests/modules/compute_mig/fixture/main.tf
  tests/modules/compute_mig/fixture/variables.tf
  tests/modules/compute_mig/test_plan.py
Due: check_links, check_names

Migrate billing-budget tests
  modules/billing-budget/README.md
  tests/modules/billing_budget/__init__.py
  tests/modules/billing_budget/examples/email.yaml
  tests/modules/billing_budget/examples/pubsub.yaml
  tests/modules/billing_budget/fixture/main.tf
  tests/modules/billing_budget/fixture/variables.tf
  tests/modules/billing_budget/test_plan.py
Due: check_links, check_names

Deprecate plan runner fixture and all its variants
  tests/legacy_fixtures.py
Due: none

Fix typo and blueprint module name
  blueprints/data-solutions/vertex-mlops/metadata.yaml
Due: none

Fix path again
  .github/actions/fabric-tests/action.yml
Due: none

Troubleshoot
  .github/actions/fabric-tests/action.yml
Due: none

Copy default versions to lockfile directory before tf init
  .github/workflows/tests.yml
Due: none

Enable parallel tests
  .github/workflows/tests.yml
  tests/requirements.txt
Due: none

Troubleshoot lockfile
  .github/actions/fabric-tests/action.yml
Due: none

Reorder cache file
  .github/actions/fabric-tests/action.yml
  .github/workflows/tests.yml
Due: none

print lockfiles
  .github/actions/fabric-tests/action.yml
  .github/workflows/tests.yml
Due: none

Extend tests to use lockfile if available
  .github/actions/fabric-tests/action.yml
  .github/workflows/tests.yml
  tests/fixtures.py
  tools/lockfile/main.tf
Due: check_names

Fix lockfile path
  .github/actions/fabric-tests/action.yml
Due: none

troubleshoot
  .github/workflows/tests.yml
Due: none

Merge actions
  .github/actions/fabric-tests/action.yml
  .github/workflows/tests.yml
Due: none

Use tftest copy env var
  .github/workflows/tests.yml
Due: none

Pin provider versions in cache
  .github/workflows/tests.yml
Due: none

Remove last remaining legacy fixture
  .github/workflows/tests.yml
  tests/conftest.py
  tests/legacy_fixtures.py
  tests/modules/cloud_config_container_coredns/fixture/main.tf
  tests/modules/cloud_config_container_coredns/fixture/outputs.tf
  tests/modules/cloud_config_container_coredns/fixture/variables.tf
  tests/modules/cloud_config_container_coredns/test_plan.py
  tests/modules/cloud_config_container_mysql/fixture/main.tf
  tests/modules/cloud_config_container_mysql/fixture/outputs.tf
  tests/modules/cloud_config_container_mysql/fixture/variables.tf
  tests/modules/cloud_config_container_mysql/test_plan.py
Due: check_names

Add archive provider
  tools/lockfile/main.tf
Due: check_names

Clean workflow files
  .github/actions/fabric-tests/action.yml
  .github/workflows/tests.yml
  tools/lockfile/main.tf
Due: check_names

Removing project_id conditional from gke-cluster modules
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Due: check_names

Update READMEs
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-standard/README.md
Due: check_links

Add directory to vertex-mlops blueprint metadata
  blueprints/data-solutions/vertex-mlops/metadata.yaml
Due: none

Fix because of changes in the cloud functions module and the Apigee analytics export schema
  blueprints/apigee/bigquery-analytics/functions/gcs2bq/schema.json
  blueprints/apigee/bigquery-analytics/main.tf
Due: check_names

Add logging details to bootstrap outputs
  fast/stages-multitenant/0-bootstrap-tenant/outputs.tf
Due: check_names

Fix readmes
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/outputs.tf
Due: check_links, check_names

chore: update metadata schema
  blueprints/data-solutions/vertex-mlops/metadata.yaml
Due: none

chore: update metadata schema (#1345)
  blueprints/data-solutions/vertex-mlops/metadata.yaml
Due: none

shorten stage 3 prefixes, enforce prefix length in stage 3s
  blueprints/data-solutions/data-platform-foundations/03-orchestration.tf
  fast/stages/0-bootstrap/variables.tf
  fast/stages/3-data-platform/dev/main.tf
  fast/stages/3-data-platform/dev/variables.tf
  fast/stages/3-gke-multitenant/dev/main.tf
  fast/stages/3-gke-multitenant/dev/variables.tf
Due: check_names

Fix external documentation links
  blueprints/cloud-operations/packer-image-builder/README.md
  blueprints/cloud-operations/packer-image-builder/packer/README.md
  blueprints/cloud-operations/scheduled-asset-inventory-export-bq/README.md
  blueprints/cloud-operations/vm-migration/esxi/README.md
  blueprints/cloud-operations/vm-migration/host-target-projects/README.md
  blueprints/cloud-operations/vm-migration/host-target-sharedvpc/README.md
  blueprints/cloud-operations/vm-migration/single-project/README.md
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/README.md
  blueprints/networking/filtering-proxy-psc/README.md
  blueprints/networking/filtering-proxy/README.md
  blueprints/networking/hub-and-spoke-peering/README.md
  blueprints/networking/hub-and-spoke-vpn/README.md
  modules/cloud-identity-group/README.md
  modules/logging-bucket/README.md
  modules/net-vpn-ha/README.md
  modules/project/README.md
Due: check_links

Fix external documentation links (#1347)
  blueprints/cloud-operations/packer-image-builder/README.md
  blueprints/cloud-operations/packer-image-builder/packer/README.md
  blueprints/cloud-operations/scheduled-asset-inventory-export-bq/README.md
  blueprints/cloud-operations/vm-migration/esxi/README.md
  blueprints/cloud-operations/vm-migration/host-target-projects/README.md
  blueprints/cloud-operations/vm-migration/host-target-sharedvpc/README.md
  blueprints/cloud-operations/vm-migration/single-project/README.md
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/README.md
  blueprints/networking/filtering-proxy-psc/README.md
  blueprints/networking/filtering-proxy/README.md
  blueprints/networking/hub-and-spoke-peering/README.md
  blueprints/networking/hub-and-spoke-vpn/README.md
  modules/cloud-identity-group/README.md
  modules/logging-bucket/README.md
  modules/net-vpn-ha/README.md
  modules/project/README.md
Due: check_links

tfdoc
  fast/stages/0-bootstrap/README.md
Due: check_links

tfdoc
  fast/stages/3-data-platform/dev/README.md
  fast/stages/3-gke-multitenant/dev/README.md
Due: check_links

ignore entire node config in standard cluster
  modules/gke-cluster-standard/main.tf
Due: check_names

ignore entire node config in standard cluster (#1348)
  modules/gke-cluster-standard/main.tf
Due: check_names

Add more support for backup configuration
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Due: check_names

Update docs
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-standard/README.md
Due: check_links

Path conditions:
  check_links: any of: \.(md|markdown|mdown)$
  check_names: any of: \.(tf|tfvars)$
