Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

Fixes in cloud function v2 module for trigger service account
  modules/cloud-function-v2/main.tf
Due: check_names

Update README.md
  fast/stages/0-bootstrap/README.md
Due: check_links

Fixed wrong ASN when using partner_interconnect. (#1537)
  modules/net-vlan-attachment/README.md
Due: check_links

Fix docstrings
  tools/tfdoc.py
Due: none

add dataplex autodq base module
  modules/cloud-dataplex-autodq/README.md
  modules/dataplex-autodq/README.md
  modules/dataplex-autodq/iam.tf
  modules/dataplex-autodq/main.tf
  modules/dataplex-autodq/outputs.tf
  modules/dataplex-autodq/variables.tf
  modules/dataplex-autodq/versions.tf
  tests/modules/dataplex_autodq/examples/datascan_cron.yaml
  tests/modules/dataplex_autodq/examples/datascan_dq.yaml
  tests/modules/dataplex_autodq/examples/datascan_entity.yaml
  tests/modules/dataplex_autodq/examples/datascan_iam.yaml
  tests/modules/dataplex_autodq/examples/datascan_profiling.yaml
  tests/modules/dataplex_autodq/examples/datascan_test_inputs.tfvars
  tests/modules/dataplex_autodq/examples/datascan_test_inputs.yaml
Due: check_links, check_names

rename cloud-dataplex to dataplex and add autodq to readme
  README.md
  modules/README.md
  modules/dataplex/README.md
  modules/dataplex/main.tf
  modules/dataplex/outputs.tf
  modules/dataplex/variables.tf
  modules/dataplex/versions.tf
  tests/modules/dataplex/examples/dataplex_lake.tfvars
  tests/modules/dataplex/examples/dataplex_lake.yaml
Due: check_links, check_names

add dataplex autodq base module
  README.md
  modules/README.md
  modules/dataplex-autodq/README.md
  modules/dataplex-autodq/iam.tf
  modules/dataplex-autodq/main.tf
  modules/dataplex-autodq/outputs.tf
  modules/dataplex-autodq/variables.tf
  modules/dataplex-autodq/versions.tf
  tests/modules/dataplex_autodq/examples/datascan_cron.yaml
  tests/modules/dataplex_autodq/examples/datascan_dq.yaml
  tests/modules/dataplex_autodq/examples/datascan_entity.yaml
  tests/modules/dataplex_autodq/examples/datascan_iam.yaml
  tests/modules/dataplex_autodq/examples/datascan_profiling.yaml
  tests/modules/dataplex_autodq/examples/datascan_test_inputs.tfvars
  tests/modules/dataplex_autodq/examples/datascan_test_inputs.yaml
Due: check_links, check_names

rename cloud-dataplex to dataplex
  README.md
  modules/README.md
  modules/dataplex/README.md
  modules/dataplex/main.tf
  modules/dataplex/outputs.tf
  modules/dataplex/variables.tf
  modules/dataplex/versions.tf
  tests/modules/dataplex/examples/dataplex_lake.tfvars
  tests/modules/dataplex/examples/dataplex_lake.yaml
Due: check_links, check_names

rename cloud-dataplex to dataplex (#1546)
  README.md
  modules/README.md
  modules/dataplex/README.md
  modules/dataplex/main.tf
  modules/dataplex/outputs.tf
  modules/dataplex/variables.tf
  modules/dataplex/versions.tf
  tests/modules/dataplex/examples/dataplex_lake.tfvars
  tests/modules/dataplex/examples/dataplex_lake.yaml
Due: check_links, check_names

update changelog
  CHANGELOG.md
Due: check_links

refactor net-vpc-peering module
  modules/net-vpc-peering/README.md
  modules/net-vpc-peering/main.tf
  modules/net-vpc-peering/variables.tf
  tests/modules/net_vpc_peering/__init__.py
  tests/modules/net_vpc_peering/examples/route-config.yaml
Due: check_links, check_names

hub and spoke peering blueprint
  blueprints/networking/hub-and-spoke-peering/main.tf
Due: check_names

fast stages
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/peerings.tf
  fast/stages/2-networking-a-peering/variables-peerings.tf
  fast/stages/2-networking-e-nva-bgp/spoke-dev.tf
  fast/stages/2-networking-e-nva-bgp/spoke-prod.tf
Due: check_links, check_names

boilerplate
  tests/modules/net_vpc_peering/__init__.py
  tests/modules/net_vpc_peering/examples/route-config.yaml
Due: none

fast tfdoc
  fast/stages/2-networking-a-peering/README.md
Due: check_links

Add config for Compute Engine
  modules/project/README.md
  modules/project/sharedvpc-agent-iam.yaml
Due: check_links

Grant IAM rights to service identities in host project (#1542)
  blueprints/factories/project-factory/README.md
  blueprints/factories/project-factory/main.tf
  blueprints/factories/project-factory/sample-data/projects/project.yaml
  blueprints/factories/project-factory/variables.tf
  modules/project/README.md
  modules/project/outputs.tf
  modules/project/shared-vpc.tf
  modules/project/sharedvpc-agent-iam.yaml
  modules/project/variables.tf
  tests/blueprints/factories/project_factory/examples/example.yaml
  tests/modules/project/examples/shared-vpc-auto-grants.yaml
Due: check_links, check_names

Peering module refactor (#1547)
  blueprints/networking/hub-and-spoke-peering/main.tf
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/peerings.tf
  fast/stages/2-networking-a-peering/variables-peerings.tf
  fast/stages/2-networking-e-nva-bgp/spoke-dev.tf
  fast/stages/2-networking-e-nva-bgp/spoke-prod.tf
  modules/net-vpc-peering/README.md
  modules/net-vpc-peering/main.tf
  modules/net-vpc-peering/variables.tf
  tests/modules/net_vpc_peering/__init__.py
  tests/modules/net_vpc_peering/examples/route-config.yaml
Due: check_links, check_names

Fixed Cloud Build default bucket name and vpc/subnet names
  blueprints/data-solutions/vertex-mlops/main.tf
Due: check_names

Cosmetic
  fast/stages/2-networking/dns.tf
  fast/stages/2-networking/nva-primary.tf
  fast/stages/2-networking/regions.tf
  fast/stages/2-networking/test-resources.tf
  fast/stages/2-networking/vpc-dmz.tf
  fast/stages/2-networking/vpc-external-interconnect.tf
  fast/stages/2-networking/vpc-external.tf
  fast/stages/2-networking/vpc-mgmt.tf
  fast/stages/2-networking/vpc-shared.tf
  fast/stages/2-networking/vpc-transit.tf
Due: check_names

PSA
  fast/stages/2-networking/main.tf
  fast/stages/2-networking/variables.tf
  fast/stages/2-networking/vpc-shared.tf
  fast/stages/2-networking/vpc-transit.tf
Due: check_names

Fix in validation of healthchecks variable
  modules/net-lb-int/README.md
  modules/net-lb-int/variables.tf
Due: check_links, check_names

Fix in validation of healthchecks variable
  modules/net-lb-app-ext/variables-health-check.tf
  modules/net-lb-app-int/variables-health-check.tf
  modules/net-lb-ext/README.md
  modules/net-lb-ext/variables.tf
Due: check_links, check_names

registry
  blueprints/gke/jumpstart-redis-cluster/README.md
  blueprints/gke/jumpstart-redis-cluster/main.tf
  blueprints/gke/jumpstart-redis-cluster/variables.tf
  blueprints/gke/jumpstart-redis-cluster/workload-redis.tf
Due: check_links, check_names

Add image path output to ar module
  modules/artifact-registry/outputs.tf
Due: check_names

tfdoc
  modules/artifact-registry/README.md
Due: check_links

Add image path output to ar module (#1552)
  modules/artifact-registry/README.md
  modules/artifact-registry/outputs.tf
Due: check_links, check_names

Fix in IAM bindings of cloud function v2 module
  modules/cloud-function-v2/main.tf
Due: check_names

Fixed Cloud Build default bucket name and vpc/subnet names (#1548)
  blueprints/data-solutions/vertex-mlops/main.tf
Due: check_names

add tftest.yaml, fix ignore_nulls var and add yaml example
  modules/dataplex-autodq/README.md
  modules/dataplex-autodq/main.tf
  modules/dataplex-autodq/variables.tf
  tests/modules/dataplex_autodq/datascan_test_inputs.tfvars
  tests/modules/dataplex_autodq/datascan_test_inputs.yaml
  tests/modules/dataplex_autodq/examples/datascan_dq.yaml
  tests/modules/dataplex_autodq/tftest.yaml
Due: check_links, check_names

Added module for Regional Internal Proxy Load Balancer
  README.md
  modules/README.md
  modules/net-lb-proxy-int/README.md
  modules/net-lb-proxy-int/backend-service.tf
  modules/net-lb-proxy-int/groups.tf
  modules/net-lb-proxy-int/health-check.tf
  modules/net-lb-proxy-int/main.tf
  modules/net-lb-proxy-int/outputs.tf
  modules/net-lb-proxy-int/variables.tf
  modules/net-lb-proxy-int/versions.tf
Due: check_links, check_names

service accoutn and roles
  blueprints/gke/jumpstart-redis-cluster/cluster.tf
  blueprints/gke/jumpstart-redis-cluster/main.tf
  blueprints/gke/jumpstart-redis-cluster/variables.tf
  blueprints/gke/jumpstart-redis-cluster/workload-redis.tf
Due: check_names

fetch pods, remove image prefix
  blueprints/gke/jumpstart-redis-cluster/cluster.tf
  blueprints/gke/jumpstart-redis-cluster/foo.json
  blueprints/gke/jumpstart-redis-cluster/variables.tf
  blueprints/gke/jumpstart-redis-cluster/workload-redis.tf
Due: check_names

Fix permadiff in artifact-registry
  modules/artifact-registry/main.tf
Due: check_names

Fix tests
  modules/artifact-registry/main.tf
Due: check_names

add yaml camel case to snake case converter example
  modules/dataplex-autodq/README.md
  modules/dataplex-autodq/variables.tf
Due: check_links, check_names

refactor specs
  modules/dataplex-autodq/README.md
  modules/dataplex-autodq/main.tf
  modules/dataplex-autodq/variables.tf
  tests/modules/dataplex_autodq/datascan_test_inputs.tfvars
Due: check_links, check_names
