Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

check_links:
  name: Check Links
  entry: python3
  args:
  - tools/check_links.py
  - .
  language: system

check_names:
  name: Check Names
  entry: python3
  args:
  - tools/check_names.py
  - --prefix-length=10
  - fast/stages
  language: system

Add support for types
  modules/data-catalog-tag/README.md
  modules/data-catalog-tag/main.tf
  modules/data-catalog-tag/variables.tf
Due: check_links, check_names

Make all project_parent_ids fields optional
  fast/stages/0-bootstrap/variables.tf
Due: check_names

Fix README
  fast/stages/0-bootstrap/README.md
Due: check_links

Make all project_parent_ids fields optional (#2101)
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/variables.tf
Due: check_links, check_names

Add project log sink destination to project module
  modules/project/README.md
  modules/project/logging.tf
  modules/project/variables.tf
  tests/modules/project/examples/logging.yaml
Due: check_links, check_names

Add project log sink destination to folder module
  modules/folder/README.md
  modules/folder/logging.tf
  modules/folder/variables.tf
  modules/project/logging.tf
  tests/modules/folder/examples/logging.yaml
Due: check_links, check_names

Add project log sink destination to organization module
  modules/organization/README.md
  modules/organization/logging.tf
  modules/organization/variables.tf
  tests/modules/organization/examples/logging.yaml
Due: check_links, check_names

Fix typos
  modules/folder/logging.tf
  modules/project/logging.tf
Due: check_names

Add project log sink destination to billing-account module
  modules/billing-account/logging.tf
  modules/billing-account/variables.tf
Due: check_names

Make filter field optional
  modules/folder/variables.tf
  modules/organization/variables.tf
  modules/project/variables.tf
Due: check_names

Update READMEs
  modules/folder/README.md
  modules/organization/README.md
  modules/project/README.md
Due: check_links

implement feedback
  modules/data-catalog-tag/README.md
  modules/data-catalog-tag/main.tf
Due: check_links, check_names

update changelog
  CHANGELOG.md
Due: check_links

Allow projects as destinations for log sinks (#2102)
  modules/billing-account/logging.tf
  modules/billing-account/variables.tf
  modules/folder/README.md
  modules/folder/logging.tf
  modules/folder/variables.tf
  modules/organization/README.md
  modules/organization/logging.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/logging.tf
  modules/project/variables.tf
  tests/modules/folder/examples/logging.yaml
  tests/modules/organization/examples/logging.yaml
  tests/modules/project/examples/logging.yaml
Due: check_links, check_names

add session affinity values to variables-backend-service.tf (#2090)
  modules/net-lb-app-int/variables-backend-service.tf
Due: check_names

hotfix/dataproc-variables: fix type of kubernetes_software_config.component_version and properties
  modules/dataproc/variables.tf
Due: check_names

add example of provisioning dataproc cluster on GKE
  modules/dataproc/README.md
Due: check_links

Update README.md
  modules/dataproc/README.md
Due: check_links

Update tutorial.md
  blueprints/gke/patterns/mysql/tutorial.md
Due: check_links

Update main.tf
  modules/dataproc/main.tf
Due: check_names

Update README
  modules/dataproc/README.md
Due: check_links

Reformat new example
  modules/dataproc/README.md
Due: check_links

enable shielded nodes by default on GKE mt blueprint and FAST stage
  blueprints/gke/multitenant-fleet/README.md
  blueprints/gke/multitenant-fleet/variables.tf
  fast/stages/3-gke-multitenant/dev/README.md
  fast/stages/3-gke-multitenant/dev/variables.tf
Due: check_links, check_names

hotfix/dataproc-variables: fix type of kubernetes_software_config.component_version and properties (#2104)
  modules/dataproc/README.md
  modules/dataproc/main.tf
  modules/dataproc/variables.tf
Due: check_links, check_names

enable shielded nodes by default on GKE mt blueprint and FAST stage (#2105)
  blueprints/gke/multitenant-fleet/README.md
  blueprints/gke/multitenant-fleet/variables.tf
  fast/stages/3-gke-multitenant/dev/README.md
  fast/stages/3-gke-multitenant/dev/variables.tf
Due: check_links, check_names

Remove display name field.
  modules/data-catalog-tag/main.tf
Due: check_names

Module Data Catalog Tag - Add support for types (#2100)
  modules/data-catalog-tag/README.md
  modules/data-catalog-tag/main.tf
  modules/data-catalog-tag/variables.tf
Due: check_links, check_names

time zone for SQL Server
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Due: check_links, check_names

removed nl
  modules/cloudsql-instance/variables.tf
Due: check_names

fix line
  modules/cloudsql-instance/README.md
Due: check_links

Fix too long project names on e2e tests
  modules/folder/README.md
  modules/organization/README.md
  modules/project/README.md
  tests/modules/folder/examples/logging.yaml
  tests/modules/organization/examples/logging.yaml
  tests/modules/project/examples/logging.yaml
Due: check_links

gcve stage first deploy
  fast/stages/3-gcve/prod/main.tf
  fast/stages/3-gcve/prod/outputs.tf
  fast/stages/3-gcve/prod/variables.tf
Due: check_names

Once again fix e2e tests
  modules/folder/README.md
  modules/organization/README.md
  modules/project/README.md
  tests/modules/folder/examples/logging.yaml
  tests/modules/organization/examples/logging.yaml
  tests/modules/project/examples/logging.yaml
Due: check_links

add gitlab blueprint
  blueprints/third-party-solutions/README.md
  blueprints/third-party-solutions/gitlab/README.md
  blueprints/third-party-solutions/gitlab/assets/cloud-config.yaml
  blueprints/third-party-solutions/gitlab/assets/config.rb.tpl
  blueprints/third-party-solutions/gitlab/assets/sshd_config
  blueprints/third-party-solutions/gitlab/diagram.png
  blueprints/third-party-solutions/gitlab/gitlab.tf
  blueprints/third-party-solutions/gitlab/main.tf
  blueprints/third-party-solutions/gitlab/outputs.tf
  blueprints/third-party-solutions/gitlab/services.tf
  blueprints/third-party-solutions/gitlab/ssl.tf
  blueprints/third-party-solutions/gitlab/terraform.tfvars.sample
  blueprints/third-party-solutions/gitlab/variables.tf
Due: check_links, check_names

move factories out of blueprints and create new factories README
  blueprints/factories/README.md
  blueprints/factories/net-vpc-firewall-yaml/README.md
  blueprints/factories/net-vpc-firewall-yaml/main.tf
  blueprints/factories/net-vpc-firewall-yaml/outputs.tf
  blueprints/factories/net-vpc-firewall-yaml/variables.tf
  blueprints/factories/project-factory/README.md
  blueprints/factories/project-factory/factory.tf
  blueprints/factories/project-factory/main.tf
  blueprints/factories/project-factory/outputs.tf
  blueprints/factories/project-factory/variables.tf
  modules/__experimental_deprecated/alloydb-instance/README.md
  modules/__experimental_deprecated/alloydb-instance/main.tf
  modules/__experimental_deprecated/alloydb-instance/outputs.tf
  modules/__experimental_deprecated/alloydb-instance/variables.tf
  modules/__experimental_deprecated/alloydb-instance/versions.tf
  modules/__experimental_deprecated/bigquery-factory/README.md
  modules/__experimental_deprecated/bigquery-factory/main.tf
  modules/__experimental_deprecated/bigquery-factory/variables.tf
  modules/__experimental_deprecated/cloud-identity-group-factory/README.md
  modules/__experimental_deprecated/cloud-identity-group-factory/main.tf
  modules/__experimental_deprecated/cloud-identity-group-factory/outputs.tf
  modules/__experimental_deprecated/cloud-identity-group-factory/variables.tf
  modules/__experimental_deprecated/net-dns-policy-address/README.md
  modules/__experimental_deprecated/net-dns-policy-address/main.tf
  modules/__experimental_deprecated/net-dns-policy-address/outputs.tf
  modules/__experimental_deprecated/net-dns-policy-address/variables.tf
  modules/__experimental_deprecated/net-neg/README.md
  modules/__experimental_deprecated/net-neg/main.tf
  modules/__experimental_deprecated/net-neg/outputs.tf
  modules/__experimental_deprecated/net-neg/variables.tf
  modules/__experimental_deprecated/net-neg/versions.tf
  modules/__experimental_deprecated/project-iam-magic/versions.tf
Due: check_links, check_names

align factory in billing-account module
  modules/billing-account/README.md
  modules/billing-account/factory.tf
  modules/billing-account/variables.tf
Due: check_links, check_names

align factory in dataplex-datascan module
  modules/dataplex-datascan/README.md
  modules/dataplex-datascan/factory.tf
  modules/dataplex-datascan/main.tf
  modules/dataplex-datascan/rules_parsing.tf
  modules/dataplex-datascan/variables.tf
Due: check_links, check_names

Path conditions:
  check_links: any of: \.(md|markdown|mdown)$
  check_names: any of: \.(tf|tfvars)$
