Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

check_links:
  name: Check Links
  entry: python3
  args:
  - tools/check_links.py
  - .
  language: system

check_names:
  name: Check Names
  entry: python3
  args:
  - tools/check_names.py
  - --prefix-length=10
  - fast/stages
  language: system

fix permadiff in cloud nat module (#2301)
  modules/net-cloudnat/README.md
  modules/net-cloudnat/variables.tf
  tests/fast/stages/s2_networking_e_nva_bgp/simple.yaml
  tests/modules/net_cloudnat/examples/hybrid.yaml
Due: check_links, check_names

Update README.md
  fast/stages/1-tenant-factory/README.md
Due: check_links

FAST: Clarify max prefix len for tenant factory
  fast/stages/1-tenant-factory/README.md
  tools/check_names.py
Due: check_links

update changelog
  CHANGELOG.md
Due: check_links

Add AlloyDB service for e2e tests harness
  tests/examples_e2e/setup_module/main.tf
Due: check_names

Add AlloyDB service for e2e tests harness (#2302)
  tests/examples_e2e/setup_module/main.tf
Due: check_names

modified the variable decalarations
  modules/secret-manager/README.md
  tests/examples/variables.tf
  tests/examples_e2e/setup_module/e2e_tests.tfvars.tftpl
  tests/examples_e2e/setup_module/main.tf
  tests/examples_e2e/setup_module/variables.tf
  tests/fixtures/secret.tf
Due: check_links, check_names

Updated Contributing Readme
  CONTRIBUTING.md
Due: check_links

enhanced fixtures file
  modules/secret-manager/README.md
  tests/fixtures/kms-global-regional-keys.tf
  tests/modules/secret_manager/examples/secret-cmek.yaml
Due: check_links, check_names

Fixed Readme format errors
  modules/secret-manager/README.md
Due: check_links

gcs module
  modules/gcs/README.md
  modules/gcs/variables.tf
Due: check_links, check_names

blueprints/apigee/bigquery-analytics
  blueprints/apigee/bigquery-analytics/main.tf
Due: check_names

tfdoc
  modules/gcs/README.md
Due: check_links

pubsub README md syntax
  modules/pubsub/README.md
Due: check_links

fix tests
  modules/folder/README.md
  modules/organization/README.md
  modules/project/README.md
  modules/pubsub/README.md
  modules/pubsub/variables.tf
  tests/fixtures/gcs.tf
Due: check_links, check_names

Remove default location from gcs module (#2303)
  blueprints/apigee/bigquery-analytics/main.tf
  modules/folder/README.md
  modules/gcs/README.md
  modules/gcs/variables.tf
  modules/organization/README.md
  modules/project/README.md
  modules/pubsub/README.md
  modules/pubsub/variables.tf
  tests/fixtures/gcs.tf
Due: check_links, check_names

remove default location from remaining modules
  modules/container-registry/README.md
  modules/container-registry/variables.tf
  modules/data-catalog-policy-tag/README.md
  modules/data-catalog-policy-tag/variables.tf
  modules/workstation-cluster/README.md
  modules/workstation-cluster/variables.tf
Due: check_links, check_names

remove default location from remaining modules (#2304)
  modules/container-registry/README.md
  modules/container-registry/variables.tf
  modules/data-catalog-policy-tag/README.md
  modules/data-catalog-policy-tag/variables.tf
  modules/workstation-cluster/README.md
  modules/workstation-cluster/variables.tf
Due: check_links, check_names

MT Docufix
  fast/stage-links.sh
  fast/stages/0-bootstrap/README.md
  fast/stages/1-resman/variables-fast.tf
  fast/stages/1-resman/variables.tf
  fast/stages/1-tenant-factory/README.md
  fast/stages/1-tenant-factory/variables-fast.tf
  fast/stages/2-networking-a-simple/variables-fast.tf
  fast/stages/2-networking-c-nva/variables-fast.tf
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-d-separate-envs/variables-fast.tf
  fast/stages/2-networking-d-separate-envs/variables.tf
  fast/stages/2-networking-e-nva-bgp/variables-fast.tf
  fast/stages/2-networking-e-nva-bgp/variables.tf
  fast/stages/2-security/variables.tf
  fast/stages/3-data-platform/dev/variables-fast.tf
  fast/stages/3-data-platform/dev/variables.tf
  fast/stages/3-gcve/prod/variables-fast.tf
  fast/stages/3-gcve/prod/variables.tf
  fast/stages/3-gke-multitenant/dev/variables-fast.tf
  fast/stages/3-gke-multitenant/dev/variables.tf
  fast/stages/3-project-factory/dev/variables-fast.tf
  fast/stages/3-project-factory/dev/variables.tf
Due: check_links, check_names

README fixes
  fast/stages/1-resman/README.md
  fast/stages/2-networking-a-simple/README.md
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-security/README.md
  fast/stages/3-data-platform/dev/README.md
  fast/stages/3-gcve/prod/README.md
  fast/stages/3-gke-multitenant/dev/README.md
  fast/stages/3-project-factory/dev/README.md
Due: check_links

README fixes
  blueprints/networking/vpc-connectivity-lab/README.md
  fast/stages/1-tenant-factory/README.md
Due: check_links

README fixes
  blueprints/networking/vpc-connectivity-lab/README.md
Due: check_links

De-nuked var
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/variables.tf
Due: check_links, check_names

Internet NEG for net-lb-proxy-int
  modules/net-lb-proxy-int/README.md
  modules/net-lb-proxy-int/backend-service.tf
  modules/net-lb-proxy-int/main.tf
  modules/net-lb-proxy-int/outputs.tf
  modules/net-lb-proxy-int/variables.tf
  tests/modules/net_lb_proxy_int/examples/internet-neg.yaml
Due: check_links, check_names

Add regional PSC addresses to output
  modules/net-address/outputs.tf
Due: check_names

FAST MT: Readme updates and more prefix validation (#2305)
  fast/stage-links.sh
  fast/stages/0-bootstrap/README.md
  fast/stages/1-resman/README.md
  fast/stages/1-resman/variables-fast.tf
  fast/stages/1-resman/variables.tf
  fast/stages/1-tenant-factory/README.md
  fast/stages/1-tenant-factory/variables-fast.tf
  fast/stages/2-networking-a-simple/README.md
  fast/stages/2-networking-a-simple/variables-fast.tf
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/variables-fast.tf
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/variables-fast.tf
  fast/stages/2-networking-d-separate-envs/variables.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/variables-fast.tf
  fast/stages/2-networking-e-nva-bgp/variables.tf
  fast/stages/2-security/README.md
  fast/stages/2-security/variables.tf
  fast/stages/3-data-platform/dev/README.md
  fast/stages/3-data-platform/dev/variables-fast.tf
  fast/stages/3-data-platform/dev/variables.tf
  fast/stages/3-gcve/prod/README.md
  fast/stages/3-gcve/prod/variables-fast.tf
  fast/stages/3-gcve/prod/variables.tf
  fast/stages/3-gke-multitenant/dev/README.md
  fast/stages/3-gke-multitenant/dev/variables-fast.tf
  fast/stages/3-gke-multitenant/dev/variables.tf
  fast/stages/3-project-factory/dev/README.md
  fast/stages/3-project-factory/dev/variables-fast.tf
  fast/stages/3-project-factory/dev/variables.tf
Due: check_links, check_names

fix kms tag bindings
  modules/kms/tags.tf
Due: check_names

bigquery dataset
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/tags.tf
  modules/bigquery-dataset/variables.tf
Due: check_links, check_names

fix bigquery
  modules/bigquery-dataset/tags.tf
Due: check_names

cloud run
  modules/cloud-run/README.md
  modules/cloud-run/tags.tf
  modules/cloud-run/variables.tf
Due: check_links, check_names

normalize variable type
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/variables.tf
  modules/cloud-run/README.md
  modules/cloud-run/variables.tf
  modules/gcs/README.md
  modules/gcs/tags.tf
  modules/gcs/variables.tf
  modules/kms/variables.tf
Due: check_links, check_names

rename gcs heading
  modules/gcs/README.md
Due: check_links

kms example test
  modules/kms/README.md
Due: check_links

fix cloud run
  modules/cloud-run/tags.tf
Due: check_names

cloud run v2
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/tags.tf
  modules/cloud-run-v2/variables.tf
Due: check_links, check_names

Path conditions:
  check_links: any of: \.(md|markdown|mdown)$
  check_names: any of: \.(tf|tfvars)$
