Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

Added support for subnetwork data sources in net-vpc, controlled using vpc_subnet_create variable.
  modules/net-vpc/README.md
  modules/net-vpc/outputs.tf
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
Due: check_links, check_names

Reorder org policy rules
  modules/folder/organization-policies.tf
  modules/organization/organization-policies.tf
  modules/project/organization-policies.tf
  tests/modules/organization/org_policies_boolean.yaml
  tests/modules/organization/org_policies_list.yaml
  tests/modules/project/examples/org-policies.yaml
  tests/modules/project/org_policies_boolean.yaml
  tests/modules/project/org_policies_list.yaml
Due: check_names

Fix org module tests
  tests/modules/organization/examples/basic.yaml
Due: none

Fix tests for latest provider version
  tests/modules/logging_bucket/test_plan.py
Due: none

Update folder tests
  modules/folder/README.md
  tests/examples/test_plan.py
  tests/modules/folder/common.tfvars
  tests/modules/folder/examples/hfw.yaml
  tests/modules/folder/examples/iam.yaml
  tests/modules/folder/examples/logging.yaml
  tests/modules/folder/examples/org-policies.yaml
  tests/modules/folder/examples/tags.yaml
  tests/modules/folder/fixture/main.tf
  tests/modules/folder/fixture/test.logging-sinks.tfvars
  tests/modules/folder/fixture/variables.tf
  tests/modules/folder/org_policies_boolean.tfvars
  tests/modules/folder/org_policies_list.tfvars
  tests/modules/folder/test_plan.py
  tests/modules/folder/test_plan_firewall_policy.py
  tests/modules/folder/test_plan_logging.py
  tests/modules/folder/test_plan_org_policies.py
  tests/modules/folder/validate_policies.py
Due: check_links, check_names

Added device_name field to compute-vm attached_disks parameter (for stateful disks).
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/variables.tf
Due: check_links, check_names

Fixed delete_rule in compute-mig module for stateful disks.
  modules/compute-mig/README.md
  modules/compute-mig/main.tf
  tests/modules/compute_mig/test_plan.py
Due: check_links, check_names

Apigee hybrid on GKE
  .gitignore
  blueprints/apigee/README.md
  blueprints/apigee/hybrid-gke/README.md
  blueprints/apigee/hybrid-gke/ansible.tf
  blueprints/apigee/hybrid-gke/ansible/ansible.cfg
  blueprints/apigee/hybrid-gke/ansible/inventory/hosts.ini
  blueprints/apigee/hybrid-gke/ansible/playbook.yaml
  blueprints/apigee/hybrid-gke/ansible/roles/apigee-hybrid/tasks/main.yaml
  blueprints/apigee/hybrid-gke/ansible/roles/apigee-hybrid/templates/overrides.yaml.j2
  blueprints/apigee/hybrid-gke/ansible/roles/prerequisites/tasks/main.yaml
  blueprints/apigee/hybrid-gke/apigee.tf
  blueprints/apigee/hybrid-gke/diagram.png
  blueprints/apigee/hybrid-gke/gke.tf
  blueprints/apigee/hybrid-gke/main.tf
  blueprints/apigee/hybrid-gke/mgmt.tf
  blueprints/apigee/hybrid-gke/templates/deploy-apiproxy.sh.tpl
  blueprints/apigee/hybrid-gke/templates/gssh.sh.tpl
  blueprints/apigee/hybrid-gke/terraform.tfvars.sample
  blueprints/apigee/hybrid-gke/variables.tf
  blueprints/apigee/hybrid-gke/vpc.tf
  tests/blueprints/apigee/hybrid-gke/__init__.py
  tests/blueprints/apigee/hybrid-gke/basic.tfvars
  tests/blueprints/apigee/hybrid-gke/basic.yaml
  tests/blueprints/apigee/hybrid-gke/tftest.yaml
Due: check_links, check_names

optional tag value creation in organization module
  modules/organization/README.md
  modules/organization/tags.tf
  modules/organization/variables.tf
  tests/modules/organization/tags.tfvars
  tests/modules/organization/tags.yaml
  tests/modules/organization/tftest.yaml
Due: check_links, check_names

stage 1 working
  fast/stages-multitenant/0-bootstrap-tenant/organization.tf
  fast/stages-multitenant/1-resman-tenant/branch-data-platform.tf
  fast/stages-multitenant/1-resman-tenant/branch-gke.tf
  fast/stages-multitenant/1-resman-tenant/branch-networking.tf
  fast/stages-multitenant/1-resman-tenant/branch-security.tf
  fast/stages-multitenant/1-resman-tenant/branch-teams.tf
  fast/stages-multitenant/1-resman-tenant/cicd-data-platform.tf
  fast/stages-multitenant/1-resman-tenant/cicd-project-factory.tf
  fast/stages-multitenant/1-resman-tenant/main.tf
  fast/stages-multitenant/1-resman-tenant/outputs.tf
  fast/stages-multitenant/1-resman-tenant/root_node.tf
  fast/stages-multitenant/1-resman-tenant/variables.tf
  fast/stages/1-resman/branch-security.tf
  fast/stages/1-resman/organization.tf
Due: check_names

linting
  fast/stages-multitenant/1-resman-tenant/branch-teams.tf
Due: check_names

linting
  fast/stages-multitenant/1-resman-tenant/README.md
Due: check_links

Fixes in Apigee Bigquery Analytics blueprint
  blueprints/apigee/bigquery-analytics/README.md
  blueprints/apigee/bigquery-analytics/main.tf
  tests/blueprints/apigee/bigquery-analytics/basic.yaml
Due: check_links, check_names

READMEs
  fast/README.md
  fast/stages-multitenant/MULTITENANT-TODO.md
  fast/stages/1-resman/README.md
  fast/stages/README.md
Due: check_links

Fixes in Apigee blueprints README files
  blueprints/README.md
  blueprints/apigee/README.md
  blueprints/apigee/network-patterns/README.md
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/README.md
Due: check_links

fix restricted services not being added to the perimeter configurations
  fast/stages/02-security/vpc-sc.tf
Due: check_names

wip
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/README.md
  fast/stages/1-resman/README.md
  fast/stages/README.md
Due: check_links

Remove plg project, composer 2
  blueprints/data-solutions/data-platform-foundations/03-composer.tf
  blueprints/data-solutions/data-platform-foundations/03-orchestration.tf
  blueprints/data-solutions/data-platform-foundations/05-datawarehouse.tf
  blueprints/data-solutions/data-platform-foundations/IAM.md
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/data-platform-foundations/images/overview_diagram.png
  blueprints/data-solutions/data-platform-foundations/outputs.tf
  blueprints/data-solutions/data-platform-foundations/variables.tf
  fast/stages/03-data-platform/dev/README.md
  fast/stages/03-data-platform/dev/main.tf
  fast/stages/03-data-platform/dev/variables.tf
  tests/blueprints/data_solutions/data_platform_foundations/test_plan.py
Due: check_links, check_names

Remove plg project and update to composer 2
  blueprints/data-solutions/data-platform-foundations/outputs.tf
Due: check_names

Fix documentation.
  blueprints/data-solutions/data-platform-foundations/README.md
Due: check_links

Fix FAST documentation.
  fast/stages/03-data-platform/dev/README.md
Due: check_links

Fix example test.
  blueprints/data-solutions/data-platform-foundations/README.md
Due: check_links

Implement PR comments.
  blueprints/data-solutions/data-platform-foundations/IAM.md
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/data-platform-foundations/variables.tf
Due: check_links, check_names

Fix README.
  blueprints/data-solutions/data-platform-foundations/README.md
Due: check_links

Fix check_documentation output
  tools/check_documentation.py
Due: none

update changelog
  CHANGELOG.md
Due: check_links

Added tags to gke-cluster module
  modules/gke-cluster/README.md
  modules/gke-cluster/main.tf
  modules/gke-cluster/variables.tf
  tests/modules/gke_cluster/fixture/main.tf
  tests/modules/gke_cluster/fixture/variables.tf
Due: check_links, check_names

MongoDB cluster using MIGs example, and add create_only flag to dns module recordsets.
  blueprints/data-solutions/mongodb-cluster/README.md
  blueprints/data-solutions/mongodb-cluster/diagram.png
  blueprints/data-solutions/mongodb-cluster/dns.tf
  blueprints/data-solutions/mongodb-cluster/healthcheck/Dockerfile
  blueprints/data-solutions/mongodb-cluster/healthcheck/main.py
  blueprints/data-solutions/mongodb-cluster/healthcheck/requirements.txt
  blueprints/data-solutions/mongodb-cluster/init/Dockerfile
  blueprints/data-solutions/mongodb-cluster/init/shutdown.sh
  blueprints/data-solutions/mongodb-cluster/init/startup.sh
  blueprints/data-solutions/mongodb-cluster/instances.tf
  blueprints/data-solutions/mongodb-cluster/main.tf
  blueprints/data-solutions/mongodb-cluster/outputs.tf
  blueprints/data-solutions/mongodb-cluster/secrets.tf
  blueprints/data-solutions/mongodb-cluster/variables.tf
  blueprints/data-solutions/mongodb-cluster/versions.tf
  blueprints/data-solutions/mongodb-cluster/vpc.tf
  modules/cloud-config-container/mongodb/README.md
  modules/cloud-config-container/mongodb/cloud-config.yaml
  modules/cloud-config-container/mongodb/main.tf
  modules/cloud-config-container/mongodb/outputs.tf
  modules/cloud-config-container/mongodb/variables.tf
  modules/cloud-config-container/mongodb/versions.tf
  modules/dns/README.md
  modules/dns/main.tf
  modules/dns/variables.tf
Due: check_links, check_names

Make stage-links script work in old macos bash
  fast/stage-links.sh
Due: none

Added GLB example with MIG as backend
  modules/net-glb/README.md
Due: check_links

stage links command help
  fast/stage-links.sh
Due: none

fix output file names
  fast/stage-links.sh
  fast/stages-multitenant/1-resman-tenant/outputs-files.tf
  fast/stages-multitenant/README.md
  fast/stages-multitenant/diagram.png
  fast/stages/0-bootstrap/outputs.tf
Due: check_links, check_names

diagrams
  fast/README.md
  fast/stages-multitenant/README.md
  fast/stages-multitenant/stages.png
  fast/stages-multitenant/stages.svg
  fast/stages.png
  fast/stages.svg
Due: check_links

fix svg
  fast/stages-multitenant/stages.svg
Due: none

Fix Table in readme.
  blueprints/data-solutions/data-platform-foundations/README.md
Due: check_links

stage 0 skeleton and diagram
  fast/stages-multitenant/0-bootstrap-tenant/README.md
Due: check_links

test svg
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/0-bootstrap-tenant/diagram.svg
Due: check_links

test svg
  fast/stages-multitenant/0-bootstrap-tenant/README.md
Due: check_links

test diagram
  diagram.svg
Due: none

Simplified blueprint
  blueprints/data-solutions/vertex-mlops/01-development/README.md
  blueprints/data-solutions/vertex-mlops/01-development/data/defaults.yaml
  blueprints/data-solutions/vertex-mlops/01-development/data/projects/creditcards-dev.yaml.sample
  blueprints/data-solutions/vertex-mlops/01-development/main.tf
  blueprints/data-solutions/vertex-mlops/01-development/outputs.tf
  blueprints/data-solutions/vertex-mlops/01-development/variables.tf
  blueprints/data-solutions/vertex-mlops/02-staging/README.md
  blueprints/data-solutions/vertex-mlops/02-staging/data/defaults.yaml
  blueprints/data-solutions/vertex-mlops/02-staging/data/projects/creditcards-stg.yaml.sample
  blueprints/data-solutions/vertex-mlops/02-staging/main.tf
  blueprints/data-solutions/vertex-mlops/02-staging/outputs.tf
  blueprints/data-solutions/vertex-mlops/02-staging/variables.tf
  blueprints/data-solutions/vertex-mlops/03-prod/README.md
  blueprints/data-solutions/vertex-mlops/03-prod/data/defaults.yaml
  blueprints/data-solutions/vertex-mlops/03-prod/data/projects/creditcards-prd.yaml.sample
  blueprints/data-solutions/vertex-mlops/03-prod/main.tf
  blueprints/data-solutions/vertex-mlops/03-prod/outputs.tf
  blueprints/data-solutions/vertex-mlops/03-prod/variables.tf
  blueprints/data-solutions/vertex-mlops/GIT_SETUP.md
  blueprints/data-solutions/vertex-mlops/MLOPS.md
  blueprints/data-solutions/vertex-mlops/README.md
  blueprints/data-solutions/vertex-mlops/ci-cd.tf
  blueprints/data-solutions/vertex-mlops/create_tables.sh
  blueprints/data-solutions/vertex-mlops/images/mlops_projects.png
  blueprints/data-solutions/vertex-mlops/main.tf
  blueprints/data-solutions/vertex-mlops/modules/ml-project-factory-module/README.md
  blueprints/data-solutions/vertex-mlops/modules/ml-project-factory-module/main.tf
  blueprints/data-solutions/vertex-mlops/notebooks.tf
  blueprints/data-solutions/vertex-mlops/outputs.tf
  blueprints/data-solutions/vertex-mlops/terraform.tfvars.sample
  blueprints/data-solutions/vertex-mlops/variables.tf
  tests/blueprints/data_solutions/vertex_mlops/fixture/main.tf
Due: check_links, check_names
