Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

check_links:
  name: Check Links
  entry: python3
  args:
  - tools/check_links.py
  - .
  language: system

check_names:
  name: Check Names
  entry: python3
  args:
  - tools/check_names.py
  - --prefix-length=10
  - fast/stages
  language: system

updated readme
  blueprints/cloud-operations/network-dashboard/README.md
Due: check_links

Update README.md
  blueprints/cloud-operations/network-dashboard/README.md
Due: check_links

Remove redundant ttls
  blueprints/networking/decentralized-firewall/main.tf
  blueprints/networking/hub-and-spoke-vpn/net-dev.tf
  blueprints/networking/hub-and-spoke-vpn/net-landing.tf
  blueprints/networking/hub-and-spoke-vpn/net-prod.tf
  blueprints/networking/onprem-google-access-dns/main.tf
  blueprints/networking/private-cloud-function-from-onprem/main.tf
  blueprints/networking/shared-vpc-gke/main.tf
  fast/stages/02-networking-nva/dns-dev.tf
  fast/stages/02-networking-nva/dns-landing.tf
  fast/stages/02-networking-nva/dns-prod.tf
  fast/stages/02-networking-peering/dns-dev.tf
  fast/stages/02-networking-peering/dns-landing.tf
  fast/stages/02-networking-peering/dns-prod.tf
  fast/stages/02-networking-separate-envs/dns-dev.tf
  fast/stages/02-networking-separate-envs/dns-prod.tf
  fast/stages/02-networking-vpn/dns-dev.tf
  fast/stages/02-networking-vpn/dns-landing.tf
  fast/stages/02-networking-vpn/dns-prod.tf
Due: check_names

Simplify DNSSEC config
  modules/dns/main.tf
  modules/dns/variables.tf
Due: check_names

Make dns ttl optional
  modules/dns/variables.tf
Due: check_names

Update readme
  modules/dns/README.md
Due: check_links

Add cloud logging option
  modules/dns/main.tf
  modules/dns/variables.tf
Due: check_names

feat: TFE OIDC with GCP WIF blueprint added.
  blueprints/cloud-operations/README.md
  blueprints/cloud-operations/terraform-enterprise-wif/README.md
  blueprints/cloud-operations/terraform-enterprise-wif/diagram.png
  blueprints/cloud-operations/terraform-enterprise-wif/gcp-workload-identity-provider/README.md
  blueprints/cloud-operations/terraform-enterprise-wif/gcp-workload-identity-provider/main.tf
  blueprints/cloud-operations/terraform-enterprise-wif/gcp-workload-identity-provider/outputs.tf
  blueprints/cloud-operations/terraform-enterprise-wif/gcp-workload-identity-provider/terraform.auto.tfvars.template
  blueprints/cloud-operations/terraform-enterprise-wif/gcp-workload-identity-provider/variables.tf
  blueprints/cloud-operations/terraform-enterprise-wif/tfc-workflow-using-wif/README.md
  blueprints/cloud-operations/terraform-enterprise-wif/tfc-workflow-using-wif/backend.tf.template
  blueprints/cloud-operations/terraform-enterprise-wif/tfc-workflow-using-wif/main.tf
  blueprints/cloud-operations/terraform-enterprise-wif/tfc-workflow-using-wif/provider.tf
  blueprints/cloud-operations/terraform-enterprise-wif/tfc-workflow-using-wif/terraform.auto.tfvars.template
  blueprints/cloud-operations/terraform-enterprise-wif/tfc-workflow-using-wif/tfc-oidc/README.md
  blueprints/cloud-operations/terraform-enterprise-wif/tfc-workflow-using-wif/tfc-oidc/main.tf
  blueprints/cloud-operations/terraform-enterprise-wif/tfc-workflow-using-wif/tfc-oidc/outputs.tf
  blueprints/cloud-operations/terraform-enterprise-wif/tfc-workflow-using-wif/tfc-oidc/variables.tf
  blueprints/cloud-operations/terraform-enterprise-wif/tfc-workflow-using-wif/tfc-oidc/versions.tf
  blueprints/cloud-operations/terraform-enterprise-wif/tfc-workflow-using-wif/tfc-oidc/write_token.sh
  blueprints/cloud-operations/terraform-enterprise-wif/tfc-workflow-using-wif/variables.tf
  tests/blueprints/cloud_operations/terraform-enterprise-wif/gcp-workload-identity-provider/__init__.py
  tests/blueprints/cloud_operations/terraform-enterprise-wif/gcp-workload-identity-provider/fixture/main.tf
  tests/blueprints/cloud_operations/terraform-enterprise-wif/gcp-workload-identity-provider/fixture/variables.tf
  tests/blueprints/cloud_operations/terraform-enterprise-wif/gcp-workload-identity-provider/test_plan.py
Due: check_links, check_names

Add missing newlines
  blueprints/cloud-operations/terraform-enterprise-wif/gcp-workload-identity-provider/main.tf
  blueprints/cloud-operations/terraform-enterprise-wif/gcp-workload-identity-provider/outputs.tf
  blueprints/cloud-operations/terraform-enterprise-wif/gcp-workload-identity-provider/variables.tf
  blueprints/cloud-operations/terraform-enterprise-wif/tfc-workflow-using-wif/variables.tf
  tests/blueprints/cloud_operations/terraform-enterprise-wif/gcp-workload-identity-provider/fixture/variables.tf
Due: check_names

Fix tests
  tests/blueprints/cloud_operations/terraform-enterprise-wif/gcp-workload-identity-provider/test_plan.py
Due: none

Updated SimpleNVA: systemd unit and better handling of edge cases
  modules/cloud-config-container/simple-nva/cloud-config.yaml
  modules/cloud-config-container/simple-nva/files/policy_based_routing.sh
Due: none

PGA DNS records (#911)
  fast/stages/02-networking-nva/README.md
  fast/stages/02-networking-nva/dns-landing.tf
  fast/stages/02-networking-peering/README.md
  fast/stages/02-networking-peering/dns-landing.tf
  fast/stages/02-networking-separate-envs/README.md
  fast/stages/02-networking-separate-envs/dns-dev.tf
  fast/stages/02-networking-separate-envs/dns-prod.tf
  fast/stages/02-networking-vpn/README.md
  fast/stages/02-networking-vpn/dns-landing.tf
Due: check_links, check_names

Fix race condition
  modules/cloud-config-container/simple-nva/cloud-config.yaml
  modules/cloud-config-container/simple-nva/files/policy_based_routing.sh
Due: none

Update cloud-config.yaml
  modules/cloud-config-container/simple-nva/cloud-config.yaml
Due: none

Update policy_based_routing.sh
  modules/cloud-config-container/simple-nva/files/policy_based_routing.sh
Due: none

Fix race condition (#918)
  modules/cloud-config-container/simple-nva/cloud-config.yaml
  modules/cloud-config-container/simple-nva/files/policy_based_routing.sh
Due: none

DRY up resource name for recordsets
  modules/dns/main.tf
Due: check_names

Add support for DNS routing policies
  modules/dns/README.md
  modules/dns/main.tf
  modules/dns/variables.tf
Due: check_links, check_names

Remove useless dynamic blocks
  modules/dns/main.tf
Due: check_names

Rename local for consistency
  modules/dns/main.tf
Due: check_names

Add tests for dns routing policies
  tests/modules/dns/fixture/variables.tf
  tests/modules/dns/test_plan.py
Due: check_names

Make dnssec not nullable
  modules/dns/variables.tf
Due: check_names

Update README
  modules/dns/README.md
Due: check_links

Update changelog
  CHANGELOG.md
Due: check_links

Rename workflow names
  .github/workflows/tests.yml
Due: none

Update readme
  README.md
Due: check_links

Update comment in main.tf
  blueprints/cloud-operations/network-dashboard/main.tf
Due: check_names

Update main.tf
  blueprints/cloud-operations/network-dashboard/main.tf
Due: check_names

SimpleNVA: add the option to create additional files
  modules/cloud-config-container/simple-nva/main.tf
  modules/cloud-config-container/simple-nva/variables.tf
Due: check_names

SimpleNVA: updated example
  modules/cloud-config-container/simple-nva/README.md
Due: check_links

fix module
  modules/gke-cluster/main.tf
Due: check_names

variable formatting
  modules/gke-cluster/README.md
  modules/gke-cluster/variables.tf
Due: check_links, check_names

Added more attribute mappings, updated attribute condition and IAM binding for WIF
  blueprints/cloud-operations/terraform-enterprise-wif/gcp-workload-identity-provider/main.tf
Due: check_names

Added managed_prometheus to features (#906)
  blueprints/gke/multitenant-fleet/README.md
  blueprints/gke/multitenant-fleet/variables.tf
  fast/stages/03-gke-multitenant/dev/README.md
  fast/stages/03-gke-multitenant/dev/variables.tf
  modules/gke-cluster/README.md
  modules/gke-cluster/main.tf
  modules/gke-cluster/variables.tf
  tests/modules/gke_cluster/fixture/variables.tf
Due: check_links, check_names

aling documentation, move glb blueprint
  CHANGELOG.md
  README.md
  blueprints/README.md
  blueprints/cloud-operations/README.md
  blueprints/cloud-operations/adfs/README.md
  blueprints/data-solutions/README.md
  blueprints/gke/README.md
  blueprints/networking/README.md
  blueprints/networking/glb-and-armor/README.md
  blueprints/networking/glb-and-armor/architecture.png
  blueprints/networking/glb-and-armor/cloud_shell.png
  blueprints/networking/glb-and-armor/main.tf
  blueprints/networking/glb-and-armor/outputs.tf
  blueprints/networking/glb-and-armor/shell_button.png
  blueprints/networking/glb-and-armor/variables.tf
  blueprints/networking/nginx-reverse-proxy-cluster/README.md
  blueprints/third-party-solutions/README.md
Due: check_links, check_names

modules README, sort modules
  blueprints/cloud-operations/workload-identity-federation/README.md
Due: check_links

reorder modules
  README.md
  modules/README.md
Due: check_links

fix bp links
  blueprints/README.md
Due: check_links

fix moved blueprint test
  tests/blueprints/networking/glb_and_armor/__init__.py
  tests/blueprints/networking/glb_and_armor/fixture/main.tf
  tests/blueprints/networking/glb_and_armor/fixture/variables.tf
  tests/blueprints/networking/glb_and_armor/test_plan.py
Due: check_names

Path conditions:
  check_links: any of: \.(md|markdown|mdown)$
  check_names: any of: \.(tf|tfvars)$
