Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

small fixes
  modules/alloydb/outputs.tf
Due: check_names

small fixes
  modules/alloydb/README.md
  modules/alloydb/main.tf
  modules/alloydb/variables.tf
  tests/modules/alloydb/examples/cross_region_replication.yaml
Due: check_links, check_names

updates
  modules/alloydb/README.md
  modules/alloydb/main.tf
  modules/alloydb/outputs.tf
  modules/alloydb/variables.tf
  tests/modules/alloydb/examples/cmek.yaml
  tests/modules/alloydb/examples/cross_region_replication.yaml
  tests/modules/alloydb/examples/custom.yaml
  tests/modules/alloydb/examples/simple.yaml
Due: check_links, check_names

small fixes
  modules/alloydb/README.md
  modules/alloydb/main.tf
  modules/alloydb/outputs.tf
  modules/alloydb/variables.tf
Due: check_links, check_names

small fixes
  modules/alloydb/README.md
Due: check_links

Adding apply_security_profile_group as action option and be able to provide a security_profile_group.
  modules/net-firewall-policy/README.md
  modules/net-firewall-policy/factory.tf
  modules/net-firewall-policy/hierarchical.tf
  modules/net-firewall-policy/net-global.tf
  modules/net-firewall-policy/net-regional.tf
  modules/net-firewall-policy/variables.tf
Due: check_links, check_names

Functional deployment including auto-configuration
  blueprints/gke/patterns/kong-cloudrun/cert.tf
  blueprints/gke/patterns/kong-cloudrun/cloudrun.tf
  blueprints/gke/patterns/kong-cloudrun/dns.tf
  blueprints/gke/patterns/kong-cloudrun/ilb.tf
  blueprints/gke/patterns/kong-cloudrun/kong.tf
  blueprints/gke/patterns/kong-cloudrun/main.tf
  blueprints/gke/patterns/kong-cloudrun/manifest-templates/config-proxy.yaml
  blueprints/gke/patterns/kong-cloudrun/manifest-templates/configure-proxy.yaml
  blueprints/gke/patterns/kong-cloudrun/providers.tf
Due: check_names

add wif permissions to bootstrap tf SA
  fast/stages/0-bootstrap/organization-iam.tf
Due: check_names

Admin API exposed internally only, and some cleanup
  blueprints/gke/patterns/kong-cloudrun/cert.tf
  blueprints/gke/patterns/kong-cloudrun/ilb.tf
  blueprints/gke/patterns/kong-cloudrun/kong.tf
  blueprints/gke/patterns/kong-cloudrun/main.tf
  blueprints/gke/patterns/kong-cloudrun/manifest-templates/config-proxy.yaml
  blueprints/gke/patterns/kong-cloudrun/manifest-templates/values-cp.yaml
  blueprints/gke/patterns/kong-cloudrun/manifest-templates/values-dp.yaml
  blueprints/gke/patterns/kong-cloudrun/outputs.tf
  blueprints/gke/patterns/kong-cloudrun/variables.tf
  blueprints/gke/patterns/kong-cloudrun/versions.tf
Due: check_names

small fixes
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Due: none

removed wrong link
  fast/extras/0-cicd-gitlab/README.md
Due: check_links

small fixes README.md
  fast/extras/0-cicd-gitlab/README.md
Due: check_links

new extra stage for gitlab setup
  fast/extras/0-cicd-gitlab/README.md
  fast/extras/0-cicd-gitlab/cicd-versions.tf
  fast/extras/0-cicd-gitlab/gitlab_token.png
  fast/extras/0-cicd-gitlab/main.tf
  fast/extras/0-cicd-gitlab/outputs.tf
  fast/extras/0-cicd-gitlab/providers.tf
  fast/extras/0-cicd-gitlab/terraform.tfvars.sample
  fast/extras/0-cicd-gitlab/variables.tf
  fast/extras/0-cicd-gitlab/workflows/.gitkeep
  fast/extras/README.md
  fast/stages/0-bootstrap/README.md
Due: check_links, check_names

Add wif permissions to bootstrap tf SA (#2290)
  fast/stages/0-bootstrap/organization-iam.tf
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Due: check_names

[FAST] fix: tenant-factory logging bucket project
  fast/stages/1-tenant-factory/README.md
  fast/stages/1-tenant-factory/tenant-core.tf
  fast/stages/1-tenant-factory/variables-fast.tf
Due: check_links, check_names

[FAST] fix: tenant-factory logging bucket project (#2292)
  fast/stages/1-tenant-factory/README.md
  fast/stages/1-tenant-factory/tenant-core.tf
  fast/stages/1-tenant-factory/variables-fast.tf
Due: check_links, check_names

Internet NEG for net-lb-app-int
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/backend-service.tf
  modules/net-lb-app-int/main.tf
  modules/net-lb-app-int/variables.tf
Due: check_links, check_names

Add inventory file
  tests/modules/net_lb_app_int/examples/internet-neg.yaml
Due: none

Internet NEG for net-lb-app-int (#2293)
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/backend-service.tf
  modules/net-lb-app-int/main.tf
  modules/net-lb-app-int/variables.tf
  tests/modules/net_lb_app_int/examples/internet-neg.yaml
Due: check_links, check_names

Avoid unnecessary terraform plans for closed (unmerged) PRs
  fast/assets/templates/workflow-github.yaml
Due: none

Removing default null for optional variable.
  modules/net-firewall-policy/variables.tf
Due: check_names

Updating README.
  modules/net-firewall-policy/README.md
Due: check_links

IPS support for Firewall Policy (#2291)
  modules/net-firewall-policy/README.md
  modules/net-firewall-policy/factory.tf
  modules/net-firewall-policy/hierarchical.tf
  modules/net-firewall-policy/net-global.tf
  modules/net-firewall-policy/net-regional.tf
  modules/net-firewall-policy/variables.tf
Due: check_links, check_names

add support for tenant factory CI/CD
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/automation.tf
  fast/stages/0-bootstrap/cicd.tf
  fast/stages/0-bootstrap/organization-iam.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/variables.tf
Due: check_links, check_names

fix inventories
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Due: none

add support for tenant factory CI/CD (#2297)
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/automation.tf
  fast/stages/0-bootstrap/cicd.tf
  fast/stages/0-bootstrap/organization-iam.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/variables.tf
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Due: check_links, check_names

Adjust list of policies to official docs
  fast/stages/0-bootstrap/organization.tf
Due: check_names

fix: also update templates copied to avoid Windows symlink problems.
  fast/stages/0-bootstrap/templates/workflow-github.yaml
  fast/stages/1-resman/templates/workflow-github.yaml
  fast/stages/1-tenant-factory/templates/workflow-github.yaml
Due: none

Avoid unnecessary terraform plans for closed (unmerged) PRs (#2294)
  fast/assets/templates/workflow-github.yaml
  fast/stages/0-bootstrap/templates/workflow-github.yaml
  fast/stages/1-resman/templates/workflow-github.yaml
  fast/stages/1-tenant-factory/templates/workflow-github.yaml
Due: none

Added primary and secondary region options in E2E
  modules/secret-manager/README.md
  tests/examples/variables.tf
  tests/examples_e2e/setup_module/e2e_tests.tfvars.tftpl
  tests/examples_e2e/setup_module/main.tf
  tests/examples_e2e/setup_module/variables.tf
  tests/fixtures.py
  tests/fixtures/secret.tf
  tests/modules/secret_manager/examples/secret-cmek.yaml
Due: check_links, check_names

removed service identities variable
  tests/examples/variables.tf
Due: check_names

Some name changes
  blueprints/gke/patterns/kong-cloudrun/cert.tf
Due: check_names

README
  blueprints/gke/patterns/kong-cloudrun/README.md
Due: check_links

New extra stage for FAST gitlab setup (#2232)
  fast/extras/0-cicd-gitlab/README.md
  fast/extras/0-cicd-gitlab/cicd-versions.tf
  fast/extras/0-cicd-gitlab/gitlab_token.png
  fast/extras/0-cicd-gitlab/main.tf
  fast/extras/0-cicd-gitlab/outputs.tf
  fast/extras/0-cicd-gitlab/providers.tf
  fast/extras/0-cicd-gitlab/terraform.tfvars.sample
  fast/extras/0-cicd-gitlab/variables.tf
  fast/extras/0-cicd-gitlab/workflows/.gitkeep
  fast/extras/README.md
  fast/stages/0-bootstrap/README.md
Due: check_links, check_names

add support for shared vpc host to project factory
  modules/project-factory/README.md
  modules/project-factory/factory-projects.tf
  modules/project-factory/main.tf
  tests/modules/project_factory/examples/example.yaml
Due: check_links, check_names

New alloydb module (#2285)
  modules/README.md
  modules/alloydb/README.md
  modules/alloydb/main.tf
  modules/alloydb/outputs.tf
  modules/alloydb/variables.tf
  modules/alloydb/versions.tf
  tests/modules/alloydb/examples/cmek.yaml
  tests/modules/alloydb/examples/cross_region_replication.yaml
  tests/modules/alloydb/examples/custom.yaml
  tests/modules/alloydb/examples/simple.yaml
  tests/modules/alloydb_instance/examples/alloydb_instance.tfvars
  tests/modules/alloydb_instance/examples/alloydb_instance.yaml
  tools/check_documentation.py
Due: check_links, check_names

add support for shared vpc host to project factory (#2300)
  modules/project-factory/README.md
  modules/project-factory/factory-projects.tf
  modules/project-factory/main.tf
  tests/modules/project_factory/examples/example.yaml
Due: check_links, check_names

fix permadiff in cloud nat module
  modules/net-cloudnat/README.md
  modules/net-cloudnat/variables.tf
  tests/modules/net_cloudnat/examples/hybrid.yaml
Due: check_links, check_names

fast inventory
  tests/fast/stages/s2_networking_e_nva_bgp/simple.yaml
Due: none
