Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

use cloud run bindings for cf v2 invoker role, refactor iam handling in cf v2 and cloud run
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/outputs.tf
  modules/cloud-run/main.tf
  tests/modules/cloud_function_v2/examples/iam.yaml
  tests/modules/cloud_run/examples/trigger-service-account-external.yaml
  tests/modules/cloud_run/examples/trigger-service-account.yaml
Due: check_links, check_names

trap requests timeout error (#1607)
  blueprints/cloud-operations/quota-monitoring/src/main.py
  blueprints/cloud-operations/quota-monitoring/src/requirements.txt
Due: none

avoid triggering generation permadiff in test
  tests/modules/cloud_function_v2/examples/iam.yaml
Due: none

Fix: use existing variable to optionally name fw policies
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/main.tf
  fast/stages/2-networking-a-peering/variables.tf
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-b-vpn/main.tf
  fast/stages/2-networking-b-vpn/variables.tf
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/main.tf
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/main.tf
  fast/stages/2-networking-d-separate-envs/variables.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/main.tf
  fast/stages/2-networking-e-nva-bgp/variables.tf
Due: check_links, check_names

add additional parameters
  modules/gcs/README.md
  modules/gcs/main.tf
  modules/gcs/variables.tf
Due: check_links, check_names

Fix: use existing variable to optionally name fw policies (#1610)
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/main.tf
  fast/stages/2-networking-a-peering/variables.tf
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-b-vpn/main.tf
  fast/stages/2-networking-b-vpn/variables.tf
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/main.tf
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/main.tf
  fast/stages/2-networking-d-separate-envs/variables.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/main.tf
  fast/stages/2-networking-e-nva-bgp/variables.tf
Due: check_links, check_names

use cloud run bindings for cf v2 invoker role, refactor iam handling in cf v2 and cloud run (#1609)
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/outputs.tf
  modules/cloud-run/main.tf
  tests/modules/cloud_function_v2/examples/iam.yaml
  tests/modules/cloud_run/examples/trigger-service-account-external.yaml
  tests/modules/cloud_run/examples/trigger-service-account.yaml
Due: check_links, check_names

Fix: align stage-2-e-nva-bgp to the latest APIs
  fast/stages/2-networking-e-nva-bgp/ncc.tf
  tests/fast/stages/s2_networking_e_nva_bgp/stage.yaml
Due: check_names

Fix doc
  fast/stages/2-networking-e-nva-bgp/README.md
Due: check_links

remove validation
  modules/gcs/README.md
  modules/gcs/variables.tf
Due: check_links, check_names

objects output
  modules/gcs/README.md
  modules/gcs/outputs.tf
Due: check_links, check_names

objects non-nullable
  modules/gcs/README.md
  modules/gcs/variables.tf
Due: check_links, check_names

fix redis cluster creation
  blueprints/gke/jumpstart/jumpstart-1-redis-cluster/main.tf
  blueprints/gke/jumpstart/jumpstart-1-redis-cluster/manifest-templates/start-cluster.yaml
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
Due: check_names

Revert changes in autopilot cluster
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
Due: check_names

Default templates path, use namespace for node names
  blueprints/gke/jumpstart/jumpstart-1-redis-cluster/main.tf
  blueprints/gke/jumpstart/jumpstart-1-redis-cluster/manifest-templates/start-cluster.yaml
  blueprints/gke/jumpstart/jumpstart-1-redis-cluster/variables.tf
Due: check_names

Update main.tf
  modules/cloudsql-instance/main.tf
Due: check_names

Update variables.tf
  modules/cloudsql-instance/variables.tf
Due: check_names

add name to factory rules
  modules/net-firewall-policy/factory.tf
Due: check_names

customisable rule action
  modules/net-firewall-policy/factory.tf
Due: check_names

switch default behaviour for ingress
  modules/net-firewall-policy/factory.tf
Due: check_names

Fix: align stage-2-e-nva-bgp to the latest APIs
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/ncc.tf
  tests/fast/stages/s2_networking_e_nva_bgp/stage.yaml
Due: check_links, check_names

adjust var validation
  modules/net-firewall-policy/variables.tf
Due: check_names

add datascan yaml factory
  blueprints/factories/dataplex-datascan-factory/README.md
  blueprints/factories/dataplex-datascan-factory/common-specs/defaults.yaml
  blueprints/factories/dataplex-datascan-factory/common-specs/rule-templates.yaml
  blueprints/factories/dataplex-datascan-factory/main.tf
  blueprints/factories/dataplex-datascan-factory/rules_parsing.tf
  blueprints/factories/dataplex-datascan-factory/sample-specs/table-1/data-profiling-scan.yaml
  blueprints/factories/dataplex-datascan-factory/sample-specs/table-1/data-quality-scan.yaml
  blueprints/factories/dataplex-datascan-factory/sample-specs/table-2/data-quality-scan-rules-library.yaml
  blueprints/factories/dataplex-datascan-factory/variables.tf
Due: check_links, check_names

Adding support for NAT in Apigee
  modules/apigee/README.md
  modules/apigee/main.tf
  modules/apigee/outputs.tf
  modules/apigee/variables.tf
Due: check_links, check_names

remove existing validation
  modules/net-firewall-policy/variables.tf
Due: check_names

Update README.md
  modules/net-lb-int/README.md
Due: check_links

readme update
  modules/net-firewall-policy/README.md
Due: check_links

fix(organization): use correct role for bindings
  modules/organization/iam.tf
  modules/organization/variables.tf
Due: check_names

fix(docs): update `organization` module with `roles` change
  modules/organization/README.md
Due: check_links

Make apigee variables non-nullable
  modules/apigee/main.tf
  modules/apigee/outputs.tf
  modules/apigee/variables.tf
Due: check_names

Fix role name for delegated grants in FAST bootstrap
  fast/stages/0-bootstrap/organization.tf
Due: check_names

Fix apigee instance nat
  modules/apigee/README.md
  modules/apigee/main.tf
  modules/apigee/outputs.tf
  modules/apigee/variables.tf
Due: check_links, check_names

Update README
  modules/apigee/README.md
  modules/apigee/outputs.tf
Due: check_links, check_names

Fix output order
  modules/apigee/README.md
  modules/apigee/outputs.tf
Due: check_links, check_names

Only create nat IP when requested
  modules/apigee/main.tf
Due: check_names

Update key name
  modules/apigee/README.md
  modules/apigee/variables.tf
Due: check_links, check_names

Fix tests
  blueprints/apigee/bigquery-analytics/README.md
  blueprints/apigee/hybrid-gke/README.md
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/README.md
  modules/apigee/README.md
Due: check_links

corrections requested by @juliocc
  modules/cloudsql-instance/variables.tf
Due: check_names

Regeneration of README.md on cloudsql-instance mod
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/variables.tf
Due: check_links, check_names
