Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

check_links:
  name: Check Links
  entry: python3
  args:
  - tools/check_links.py
  - .
  language: system

check_names:
  name: Check Names
  entry: python3
  args:
  - tools/check_names.py
  - --prefix-length=10
  - fast/stages
  language: system

Implement proper support for data access logs in resource manager modules (#1497)
  modules/folder/README.md
  modules/folder/iam.tf
  modules/folder/logging.tf
  modules/folder/outputs.tf
  modules/folder/variables.tf
  modules/organization/README.md
  modules/organization/firewall-policies.tf
  modules/organization/iam.tf
  modules/organization/logging.tf
  modules/organization/organization-policies.tf
  modules/organization/outputs.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/iam.tf
  modules/project/logging.tf
  modules/project/variables.tf
  tests/modules/folder/examples/iam-policy.yaml
  tests/modules/folder/examples/logging-data-access.yaml
  tests/modules/organization/audit_config.tfvars
  tests/modules/organization/audit_config.yaml
  tests/modules/organization/examples/iam-policy.yaml
  tests/modules/organization/examples/logging-data-access.yaml
  tests/modules/organization/test_plan_org_policies_modules.py
  tests/modules/organization/tftest.yaml
  tests/modules/project/examples/iam-policy.yaml
  tests/modules/project/examples/logging-data-access.yaml
Due: check_links, check_names

Return only bucket name of composer, not full url to dags folder
  blueprints/data-solutions/data-platform-minimal/outputs.tf
Due: check_names

add support for custom description in net-address
  modules/net-address/README.md
  modules/net-address/main.tf
  modules/net-address/variables.tf
Due: check_links, check_names

add support for custom description in net-address (#1499)
  modules/net-address/README.md
  modules/net-address/main.tf
  modules/net-address/variables.tf
Due: check_links, check_names

Delete versions.tf
  examples/third-party-solutions/gitlab/versions.tf
Due: check_names

more explicit validation condition on hub variable
  modules/ncc-spoke-ra/variables.tf
Due: check_names

fix documentation
  modules/ncc-spoke-ra/README.md
Due: check_links

Updated ncc-spoke-ra module to explicity requesting ncc hub id when referencing existing hub
  modules/ncc-spoke-ra/README.md
  modules/ncc-spoke-ra/main.tf
  modules/ncc-spoke-ra/variables.tf
Due: check_links, check_names

updated hub variable description
  modules/ncc-spoke-ra/README.md
  modules/ncc-spoke-ra/variables.tf
Due: check_links, check_names

Update ncc-spoke-ra module to explicity request ncc hub id when referencing existing hubs (#1479)
  modules/ncc-spoke-ra/README.md
  modules/ncc-spoke-ra/main.tf
  modules/ncc-spoke-ra/variables.tf
Due: check_links, check_names

README: audit logs on org level go to a logging bucket, not bigquery
  fast/stages/0-bootstrap/README.md
Due: check_links

Fix in nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg blueprint
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/apigee_nb.tf
Due: check_names

Move IAM grant to function level for trigger SA
  modules/cloud-function-v2/main.tf
Due: check_names

Align vpc_connector on Cloud Run and Cloud Functions v1 and v2
  modules/cloud-function-v1/README.md
  modules/cloud-function-v1/main.tf
  modules/cloud-function-v1/variables.tf
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/variables.tf
  modules/cloud-run/README.md
  modules/cloud-run/main.tf
  modules/cloud-run/variables.tf
Due: check_links, check_names

add architectural decisions log and first decision
  fast/docs/0-bootstram-user-iam.md
  fast/docs/README.md
Due: check_links

add header
  fast/docs/0-bootstram-user-iam.md
Due: check_links

typo
  fast/docs/0-bootstram-user-iam.md
Due: check_links

Document architectural decisions (#1506)
  fast/docs/0-bootstram-user-iam.md
  fast/docs/README.md
Due: check_links

Update 0-bootstram-user-iam.md
  fast/docs/0-bootstram-user-iam.md
Due: check_links

Create 0-org-policies.md
  fast/docs/0-org-policies.md
Due: check_links

Added create_before_destroy flag equal to true for MIGs
  modules/compute-mig/main.tf
Due: check_names

Add output to org module with custom constraint details and depends_on
  modules/organization/README.md
  modules/organization/outputs.tf
Due: check_links, check_names

TOPS-799 - create GA landing project
  blueprints/data-solutions/data-platform-minimal/01-ga-landing.tf
Due: check_names

fixes
  blueprints/data-solutions/data-platform-minimal/01-ga-landing.tf
Due: check_names

more-fixies
  blueprints/data-solutions/data-platform-minimal/01-ga-landing.tf
  blueprints/data-solutions/data-platform-minimal/variables.tf
Due: check_names

latest
  blueprints/data-solutions/data-platform-minimal/variables.tf
Due: check_names

latest
  blueprints/data-solutions/data-platform-minimal/01-ga-landing.tf
Due: check_names

Fail if run with Python below 3.10
  tests/__init__.py
Due: none

Path conditions:
  check_links: any of: \.(md|markdown|mdown)$
  check_names: any of: \.(tf|tfvars)$
