Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

check_links:
  name: Check Links
  entry: python3
  args:
  - tools/check_links.py
  - .
  language: system

check_names:
  name: Check Names
  entry: python3
  args:
  - tools/check_names.py
  - --prefix-length=10
  - fast/stages
  language: system

folder
  modules/folder/README.md
Due: check_links

folder
  modules/folder/README.md
  modules/folder/iam.tf
  modules/folder/logging.tf
  modules/folder/outputs.tf
Due: check_links, check_names

project
  modules/project/README.md
  modules/project/iam.tf
  modules/project/logging.tf
  modules/project/variables.tf
Due: check_links, check_names

better filtering in test examples
  tests/examples/conftest.py
Due: none

project
  tests/modules/project/examples/iam-additive-members.yaml
  tests/modules/project/examples/iam-additive.yaml
  tests/modules/project/examples/iam-policy.yaml
Due: none

folder
  tests/modules/folder/examples/iam-policy.yaml
  tests/modules/folder/examples/iam.yaml
Due: none

folder
  tests/examples/conftest.py
Due: none

organization
  modules/organization/README.md
  modules/organization/iam.tf
  modules/organization/logging.tf
  modules/organization/organization-policies.tf
  modules/organization/outputs.tf
  modules/organization/tags.tf
  modules/organization/variables.tf
  tests/modules/organization/examples/basic.yaml
  tests/modules/organization/examples/iam-policy.yaml
Due: check_links, check_names

fix variable descriptions
  modules/data-catalog-policy-tag/README.md
  modules/data-catalog-policy-tag/variables.tf
  modules/dataproc/README.md
  modules/dataproc/variables.tf
  modules/folder/README.md
  modules/folder/variables.tf
  modules/organization/README.md
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/variables.tf
Due: check_links, check_names

Changes for Gke autopilot and standard
  blueprints/gke-autopilot/multi-cluster-mesh-gke-fleet-api/main.tf
  blueprints/gke-autopilot/multitenant-fleet/variables.tf
Due: check_names

kms
  modules/kms/README.md
  modules/kms/iam.tf
  modules/kms/variables.tf
Due: check_links, check_names

net-vpc
  modules/net-vpc/README.md
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
  tests/modules/net_vpc/examples/factory.yaml
  tests/modules/net_vpc/examples/subnet-iam.yaml
Due: check_links, check_names

dataplex-datascan
  modules/dataplex-datascan/README.md
  modules/dataplex-datascan/iam.tf
  modules/dataplex-datascan/variables.tf
Due: check_links, check_names

modules/iam-service-account
  modules/iam-service-account/README.md
  modules/iam-service-account/iam.tf
  modules/iam-service-account/variables.tf
Due: check_links, check_names

modules/source-repository/
  modules/source-repository/README.md
  modules/source-repository/iam.tf
  modules/source-repository/variables.tf
Due: check_links, check_names

blueprints/cloud-operations/vm-migration/
  blueprints/cloud-operations/vm-migration/host-target-projects/README.md
  blueprints/cloud-operations/vm-migration/host-target-projects/main.tf
  blueprints/cloud-operations/vm-migration/host-target-projects/variables.tf
  blueprints/cloud-operations/vm-migration/host-target-sharedvpc/README.md
  blueprints/cloud-operations/vm-migration/host-target-sharedvpc/main.tf
  blueprints/cloud-operations/vm-migration/host-target-sharedvpc/variables.tf
  blueprints/cloud-operations/vm-migration/single-project/README.md
  blueprints/cloud-operations/vm-migration/single-project/main.tf
  blueprints/cloud-operations/vm-migration/single-project/variables.tf
Due: check_links, check_names

blueprints/third-party-solutions/wordpress
  blueprints/third-party-solutions/wordpress/cloudrun/README.md
  blueprints/third-party-solutions/wordpress/cloudrun/main.tf
  blueprints/third-party-solutions/wordpress/cloudrun/variables.tf
  modules/cloud-run/README.md
Due: check_links, check_names

dataplex-datascan
  modules/dataplex-datascan/README.md
  modules/dataplex-datascan/variables.tf
Due: check_links, check_names

blueprints/cloud-operations/workload-identity-federation
  blueprints/cloud-operations/workload-identity-federation/README.md
  blueprints/cloud-operations/workload-identity-federation/google-cloud.tf
Due: check_links, check_names

blueprints/data-solutions/cloudsql-multiregion/
  blueprints/data-solutions/cloudsql-multiregion/README.md
  blueprints/data-solutions/cloudsql-multiregion/cloudsql.tf
  blueprints/data-solutions/cloudsql-multiregion/datastorage.tf
  blueprints/data-solutions/cloudsql-multiregion/main.tf
  blueprints/data-solutions/cloudsql-multiregion/outputs.tf
  blueprints/data-solutions/cloudsql-multiregion/variables.tf
Due: check_links, check_names

blueprints/data-solutions/composer-2
  blueprints/data-solutions/composer-2/README.md
  blueprints/data-solutions/composer-2/main.tf
  blueprints/data-solutions/composer-2/variables.tf
Due: check_links, check_names

Update 20230816-iam-refactor.md
  modules/__docs/20230816-iam-refactor.md
Due: check_links

fixed file name
  modules/gcve-private-cloud/outputs.tf
Due: check_names

added link to GCVE module
  README.md
Due: check_links

Fixed typo
  modules/gcve-private-cloud/README.md
  modules/gcve-private-cloud/main.tf
  modules/gcve-private-cloud/variables.tf
Due: check_links, check_names

fix null object exception in bootstrap output when using cloudsource repos
  fast/stages/0-bootstrap/outputs.tf
Due: check_names

Fix README.md
  fast/stages/0-bootstrap/README.md
Due: check_links

fix null object exception in bootstrap output when using cloudsource repos (#1597)
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/outputs.tf
Due: check_links, check_names

capture discussion in architectural doc
  modules/__docs/20230816-iam-refactor.md
Due: check_links

fixed description
  tests/modules/gcve_private_cloud/examples/basic.yaml
  tests/modules/gcve_private_cloud/examples/custom.yaml
Due: none

fixed typo
  modules/gcve-private-cloud/README.md
  modules/gcve-private-cloud/main.tf
  modules/gcve-private-cloud/variables.tf
Due: check_links, check_names

fixed variable name
  modules/gcve-private-cloud/README.md
  modules/gcve-private-cloud/main.tf
  modules/gcve-private-cloud/variables.tf
Due: check_links, check_names

fixed variable name
  modules/gcve-private-cloud/README.md
Due: check_links

gcve net requirements link
  modules/gcve-private-cloud/README.md
  modules/gcve-private-cloud/variables.tf
Due: check_links, check_names

update variable names and refactor proposal
  modules/__docs/20230816-iam-refactor.md
Due: check_links

project
  modules/project/README.md
  modules/project/iam.tf
  modules/project/logging.tf
  modules/project/main.tf
  modules/project/variables.tf
  tests/modules/project/examples/iam-additive-members.yaml
  tests/modules/project/examples/iam-bindings-additive.yaml
  tests/modules/project/examples/iam-bindings.yaml
  tests/modules/project/examples/iam-members.yaml
Due: check_links, check_names

blueprints first round
  blueprints/cloud-operations/vm-migration/host-target-projects/main.tf
  blueprints/cloud-operations/vm-migration/host-target-sharedvpc/main.tf
  blueprints/cloud-operations/vm-migration/single-project/main.tf
  blueprints/cloud-operations/workload-identity-federation/google-cloud.tf
  blueprints/data-solutions/cloudsql-multiregion/main.tf
  blueprints/data-solutions/composer-2/README.md
  blueprints/data-solutions/composer-2/main.tf
  blueprints/data-solutions/composer-2/variables.tf
  blueprints/data-solutions/data-platform-foundations/01-dropoff.tf
  blueprints/data-solutions/data-platform-foundations/02-load.tf
  blueprints/data-solutions/data-platform-foundations/03-orchestration.tf
  blueprints/data-solutions/data-platform-foundations/04-transformation.tf
  blueprints/data-solutions/data-platform-foundations/05-datawarehouse.tf
  blueprints/data-solutions/data-platform-foundations/06-common.tf
  blueprints/data-solutions/data-platform-minimal/01-landing.tf
  blueprints/data-solutions/data-platform-minimal/02-processing.tf
  blueprints/data-solutions/data-platform-minimal/03-curated.tf
  blueprints/data-solutions/data-platform-minimal/04-common.tf
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/main.tf
  blueprints/data-solutions/sqlserver-alwayson/main.tf
  blueprints/third-party-solutions/wordpress/cloudrun/main.tf
Due: check_links, check_names

Path conditions:
  check_links: any of: \.(md|markdown|mdown)$
  check_names: any of: \.(tf|tfvars)$
