Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

Fix tests
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Due: none

Update FAST logging (#2235)
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/automation.tf
  fast/stages/0-bootstrap/variables.tf
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
Due: check_links, check_names

remove teams and tenants from resman
  fast/stages/1-resman/README.md
  fast/stages/1-resman/branch-teams.tf
  fast/stages/1-resman/branch-tenants.tf
  fast/stages/1-resman/cicd-project-factory.tf
  fast/stages/1-resman/cicd-teams.tf
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/organization-iam.tf
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/outputs-files.tf
  fast/stages/1-resman/outputs-gcs.tf
  fast/stages/1-resman/outputs-tenants.tf
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/variables.tf
Due: check_links, check_names

fix: allow disabling node autoprovisioning
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Due: check_links, check_names

Update README.md
  blueprints/data-solutions/data-playground/README.md
Due: check_links

Update README.md (#2239)
  blueprints/data-solutions/data-playground/README.md
Due: check_links

fix: allow disabling node autoprovisioning (#2238)
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Due: check_links, check_names

move fast features to stage 1, fix test inventories
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/variables.tf
  tests/fast/stages/s1_resman/checklist.yaml
  tests/fast/stages/s1_resman/simple.yaml
Due: check_names

Use default labels on pubsub subscription when no override is provided
  modules/pubsub/README.md
  modules/pubsub/main.tf
  tests/modules/pubsub/examples/subscriptions.yaml
Due: check_links, check_names

Removed bfd settings from net-vpn-ha as it is not supported
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/variables.tf
Due: check_names

Removed bfd settings from net-vpn-ha as it is not supported
  modules/net-vpn-ha/README.md
Due: check_links

Removed BFD settings from net-vpn-ha module as it is not supported (#2244)
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/variables.tf
Due: check_links, check_names

Fixed issue with service networking DNS peering
  modules/net-vpc/psa.tf
  tests/modules/net_vpc/examples/psa-routes.yaml
Due: check_names

Fixed issue with service networking DNS peering (#2246)
  modules/net-vpc/psa.tf
  tests/modules/net_vpc/examples/psa-routes.yaml
Due: check_names

fis issues with private workstation-cluster module and persistent_directories
  modules/workstation-cluster/README.md
  modules/workstation-cluster/main.tf
Due: check_links, check_names

Added missing identity when connectors API is enabled
  modules/project/service-agents.yaml
Due: none

Added missing identity when connectors API is enabled (#2248)
  modules/project/service-agents.yaml
Due: none

folders
  fast/stages/1-resman/top-level-folders.tf
  fast/stages/1-resman/variables.tf
Due: check_names

fix factory ingress policies
  modules/vpc-sc/README.md
  modules/vpc-sc/factory.tf
  tests/modules/vpc_sc/examples/factory.yaml
Due: check_links, check_names

fix factory ingress policies (#2251)
  modules/vpc-sc/README.md
  modules/vpc-sc/factory.tf
  tests/modules/vpc_sc/examples/factory.yaml
Due: check_links, check_names

add support for labels to GKE backup plans
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Due: check_links, check_names

add support for labels to GKE backup plans (#2252)
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Due: check_links, check_names

fis issues with private workstation-cluster module and persistent_directories (#2247)
  modules/workstation-cluster/README.md
  modules/workstation-cluster/main.tf
Due: check_links, check_names

Misc FAST fixes
  fast/stages-multitenant/0-bootstrap-tenant/variables.tf
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/variables.tf
  fast/stages/2-networking-a-peering/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-b-vpn/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-c-nva/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-d-separate-envs/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-e-nva-bgp/data/hierarchical-ingress-rules.yaml
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
  tests/fast/stages/s1_resman/checklist.tfvars
  tests/fast/stages/s1_resman/simple.tfvars
  tests/fast/stages/s2_networking_a_peering/simple.tfvars
  tests/fast/stages/s2_networking_b_vpn/simple.tfvars
  tests/fast/stages/s2_networking_c_nva/simple.tfvars
  tests/fast/stages/s2_networking_d_separate_envs/simple.tfvars
  tests/fast/stages/s2_networking_e_nva_bgp/simple.tfvars
  tests/fast/stages_multitenant/s0_bootstrap_tenant/simple.tfvars
  tests/fast/stages_multitenant/s1_resman_tenant/simple.tfvars
Due: check_links, check_names

Fix readme
  fast/stages-multitenant/0-bootstrap-tenant/README.md
Due: check_links

Fix FAST nva bgp tests
  tests/fast/stages/s2_networking_e_nva_bgp/simple.yaml
Due: none

Misc FAST fixes (#2253)
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/0-bootstrap-tenant/variables.tf
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/variables.tf
  fast/stages/2-networking-a-peering/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-b-vpn/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-c-nva/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-d-separate-envs/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-e-nva-bgp/data/hierarchical-ingress-rules.yaml
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
  tests/fast/stages/s1_resman/checklist.tfvars
  tests/fast/stages/s1_resman/simple.tfvars
  tests/fast/stages/s2_networking_a_peering/simple.tfvars
  tests/fast/stages/s2_networking_b_vpn/simple.tfvars
  tests/fast/stages/s2_networking_c_nva/simple.tfvars
  tests/fast/stages/s2_networking_d_separate_envs/simple.tfvars
  tests/fast/stages/s2_networking_e_nva_bgp/simple.tfvars
  tests/fast/stages/s2_networking_e_nva_bgp/simple.yaml
  tests/fast/stages_multitenant/s0_bootstrap_tenant/simple.tfvars
  tests/fast/stages_multitenant/s1_resman_tenant/simple.tfvars
Due: check_links, check_names

fix factory, add top level folder resources to outputs
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/top-level-folders.tf
Due: check_names

tfdoc
  fast/stages/0-bootstrap/README.md
  fast/stages/1-resman/README.md
Due: check_links

Style fixes to FAST log sinks expressions
  fast/stages/0-bootstrap/variables.tf
Due: check_names

stage 0 log sink defs
  fast/stages/0-bootstrap/variables.tf
Due: check_names

tfdoc
  fast/stages/0-bootstrap/README.md
Due: check_links

enable toc in resman readme
  fast/stages/1-resman/README.md
Due: check_links

simple tenants
  fast/stage-links.sh
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/variables-fast.tf
  fast/stages/1-resman/variables.tf
  fast/stages/1-tenant-factory/README.md
  fast/stages/1-tenant-factory/diagram.png
  fast/stages/1-tenant-factory/main.tf
  fast/stages/1-tenant-factory/tenant.tf
  fast/stages/1-tenant-factory/variables-fast.tf
  fast/stages/1-tenant-factory/variables.tf
Due: check_links, check_names

fast compatibility automation and logging
  fast/stages/1-tenant-factory/main.tf
  fast/stages/1-tenant-factory/outputs-files.tf
  fast/stages/1-tenant-factory/outputs-gcs.tf
  fast/stages/1-tenant-factory/outputs.tf
  fast/stages/1-tenant-factory/templates/providers.tf.tpl
  fast/stages/1-tenant-factory/templates/workflow-github.yaml
  fast/stages/1-tenant-factory/templates/workflow-gitlab.yaml
  fast/stages/1-tenant-factory/templates/workflow-sourcerepo.yaml
  fast/stages/1-tenant-factory/tenant-core.tf
  fast/stages/1-tenant-factory/tenant-fast-automation.tf
  fast/stages/1-tenant-factory/tenant-fast-logging.tf
  fast/stages/1-tenant-factory/tenant.tf
  fast/stages/1-tenant-factory/variables-fast.tf
  fast/stages/1-tenant-factory/variables.tf
Due: check_names

testing fast-compatible tenants
  fast/stages/1-tenant-factory/outputs.tf
  fast/stages/1-tenant-factory/tenant-fast-automation.tf
  fast/stages/1-tenant-factory/tenant.tf
Due: check_names

testing fast-compatible tenants
  fast/stages/1-tenant-factory/tenant.tf
Due: check_names
