Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

Add preliminary support for partner interconnect
  blueprints/networking/ha-vpn-over-interconnect/README.md
  blueprints/networking/ha-vpn-over-interconnect/underlay.tf
  blueprints/networking/ha-vpn-over-interconnect/variables.tf
Due: check_links, check_names

Dependencies update for API Gateway blueprint
  blueprints/serverless/api-gateway/function/package-lock.json
  blueprints/serverless/api-gateway/function/package.json
Due: none

update changelog
  CHANGELOG.md
Due: check_links

Remove unneeded file from resman stage
  fast/stages/1-resman/services.yaml
Due: none

initial import
  fast/stages/1-resman/README.md
  fast/stages/1-resman/branch-tenants.tf
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/outputs-tenants.tf
  fast/stages/1-resman/variables.tf
Due: check_links, check_names

organization module
  modules/organization/README.md
Due: check_links

folder
  modules/folder/README.md
Due: check_links

project module
  modules/project/README.md
Due: check_links

Add ToCs to resource manager modules (#1471)
  modules/folder/README.md
  modules/organization/README.md
  modules/project/README.md
Due: check_links

fixes
  fast/stages/1-resman/branch-tenants.tf
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/outputs-tenants.tf
Due: check_names

Update variables.tf to insert the argument logging_service
  modules/gke-cluster-standard/variables.tf
Due: check_names

fixes
  fast/stages/1-resman/branch-tenants.tf
Due: check_names

fixes
  fast/stages/1-resman/outputs-tenants.tf
Due: check_names

First commit.
  blueprints/data-solutions/data-platform-minimal/01-landing.tf
  blueprints/data-solutions/data-platform-minimal/03-curated.tf
  blueprints/data-solutions/data-platform-minimal/IAM.md
  blueprints/data-solutions/data-platform-minimal/README.md
  blueprints/data-solutions/data-platform-minimal/demo/dag_bq_gcs2bq.py
  blueprints/data-solutions/data-platform-minimal/images/diagram.png
  blueprints/data-solutions/data-platform-minimal/outputs.tf
Due: check_links, check_names

Implement PR feedback
  blueprints/data-solutions/data-platform-minimal/03-curated.tf
  blueprints/data-solutions/data-platform-minimal/IAM.md
  blueprints/data-solutions/data-platform-minimal/demo/dag_bq_gcs2bq.py
Due: check_links, check_names

Fix
  blueprints/data-solutions/data-platform-minimal/demo/dag_bq_gcs2bq.py
Due: none

Fix
  blueprints/data-solutions/data-platform-minimal/02-processing.tf
  blueprints/data-solutions/data-platform-minimal/README.md
  blueprints/data-solutions/data-platform-minimal/outputs.tf
  blueprints/data-solutions/data-platform-minimal/variables.tf
Due: check_links, check_names

Fix typo
  blueprints/data-solutions/data-platform-minimal/demo/README.md
  blueprints/data-solutions/data-platform-minimal/demo/dag_bq_gcs2bq.py
  blueprints/data-solutions/data-platform-minimal/outputs.tf
Due: check_links, check_names

Improve Minimal Data Platform Blueprint (#1473)
  blueprints/data-solutions/data-platform-minimal/01-landing.tf
  blueprints/data-solutions/data-platform-minimal/02-processing.tf
  blueprints/data-solutions/data-platform-minimal/03-curated.tf
  blueprints/data-solutions/data-platform-minimal/IAM.md
  blueprints/data-solutions/data-platform-minimal/README.md
  blueprints/data-solutions/data-platform-minimal/demo/README.md
  blueprints/data-solutions/data-platform-minimal/demo/dag_bq_gcs2bq.py
  blueprints/data-solutions/data-platform-minimal/images/diagram.png
  blueprints/data-solutions/data-platform-minimal/outputs.tf
  blueprints/data-solutions/data-platform-minimal/variables.tf
Due: check_links, check_names

red SA roles
  fast/stages/1-resman/branch-tenants.tf
Due: check_names

Fix
  blueprints/data-solutions/data-platform-minimal/02-processing.tf
Due: check_names

data-platform-minimal - support web_server_network_access_control
  blueprints/data-solutions/data-platform-minimal/02-composer.tf
Due: check_names

Update variables.tf
  blueprints/data-solutions/data-platform-minimal/variables.tf
Due: check_names

Update 02-composer.tf
  blueprints/data-solutions/data-platform-minimal/02-composer.tf
Due: check_names

lint
  blueprints/data-solutions/data-platform-minimal/02-composer.tf
Due: check_names

more linting
  blueprints/data-solutions/data-platform-minimal/02-composer.tf
Due: check_names

Fix dataproc vpc links
  blueprints/data-solutions/data-platform-minimal/02-dataproc.tf
Due: check_names

Add missing networkUser role.
  blueprints/data-solutions/data-platform-minimal/02-processing.tf
Due: check_names

Fix README.
  blueprints/data-solutions/data-platform-minimal/README.md
Due: check_links

Create definition of subnets with PURPOSE=PRIVATE in net-vpc module
  modules/net-vpc/subnets.tf
Due: check_names

Update README
  modules/dataproc/README.md
Due: check_links

Changing the IP range of pods from 100.64.48.0/20 to 100.65.16.0/20 as there is an overlap in 100.64.0.0/16 range with dev-gke-nodes-ew1.yaml
  fast/stages/2-networking-a-peering/data/subnets/dev/dev-dataplatform-ew1.yaml
Due: none

Changing the IP ranges in all networking stages
  fast/stages/2-networking-a-peering/data/subnets/dev/dev-gke-nodes-ew1.yaml
  fast/stages/2-networking-b-vpn/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-b-vpn/data/subnets/dev/dev-gke-nodes-ew1.yaml
  fast/stages/2-networking-c-nva/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-d-separate-envs/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-e-nva-bgp/data/subnets/dev/dev-dataplatform-ew1.yaml
Due: none

Minimal Data Platform - Shared VPC (#1475)
  blueprints/data-solutions/data-platform-minimal/02-dataproc.tf
  blueprints/data-solutions/data-platform-minimal/02-processing.tf
  blueprints/data-solutions/data-platform-minimal/README.md
Due: check_links, check_names

org-level custom roles var, tenants IAM config
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/branch-tenants.tf
  fast/stages/1-resman/outputs-tenants.tf
  fast/stages/1-resman/variables.tf
Due: check_names

tfdoc
  fast/stages/0-bootstrap/README.md
  fast/stages/1-resman/README.md
Due: check_links

change var name, drop default, update docs
  blueprints/data-solutions/data-platform-minimal/02-composer.tf
  blueprints/data-solutions/data-platform-minimal/README.md
  blueprints/data-solutions/data-platform-minimal/variables.tf
Due: check_links, check_names
