Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

formatted terraform
  blueprints/networking/psc-glb-and-armor/producer.tf
Due: check_names

Added license boilerplate with block comment instead of line comment
  blueprints/networking/psc-glb-and-armor/consumer.tf
  blueprints/networking/psc-glb-and-armor/producer.tf
Due: check_names

Fix linting
  modules/vpc-sc/service-perimeters-bridge.tf
Due: check_names

fixed tfdocs
  blueprints/networking/psc-glb-and-armor/README.md
  blueprints/networking/psc-glb-and-armor/variables.tf
Due: check_links, check_names

Updated docs and added test
  blueprints/networking/psc-glb-and-armor/README.md
  blueprints/networking/psc-glb-and-armor/consumer.tf
  blueprints/networking/psc-glb-and-armor/producer.tf
  blueprints/networking/psc-glb-and-armor/providers.tf
  blueprints/networking/psc-glb-and-armor/variables.tf
  tests/blueprints/networking/psc-glb-and-armor/__init__.py
  tests/blueprints/networking/psc-glb-and-armor/fixture/main.tf
  tests/blueprints/networking/psc-glb-and-armor/fixture/variables.tf
  tests/blueprints/networking/psc-glb-and-armor/test_plan.py
Due: check_links, check_names

Clarify how to test custom domain case
  blueprints/serverless/cloud-run-corporate/README.md
Due: check_links

Add image to show how to test different services
  blueprints/serverless/cloud-run-corporate/README.md
  blueprints/serverless/cloud-run-corporate/images/service-running-1.png
  blueprints/serverless/cloud-run-corporate/images/service-running-4.png
Due: check_links

Fixed variable order
  blueprints/networking/psc-glb-and-armor/variables.tf
Due: check_names

fixed terraform fmt
  blueprints/networking/psc-glb-and-armor/variables.tf
Due: check_names

moved to new test style
  blueprints/networking/psc-glb-and-armor/README.md
  tests/blueprints/networking/psc-glb-and-armor/__init__.py
  tests/blueprints/networking/psc-glb-and-armor/fixture/main.tf
  tests/blueprints/networking/psc-glb-and-armor/fixture/variables.tf
  tests/blueprints/networking/psc-glb-and-armor/test_plan.py
Due: check_links, check_names

fixed accidental update
  blueprints/apigee/bigquery-analytics/README.md
Due: check_links

tfdoc again
  blueprints/networking/psc-glb-and-armor/README.md
Due: check_links

fixed variables and outputs
  blueprints/networking/psc-glb-and-armor/README.md
  blueprints/networking/psc-glb-and-armor/consumer.tf
  blueprints/networking/psc-glb-and-armor/outputs.tf
  blueprints/networking/psc-glb-and-armor/variables.tf
Due: check_links, check_names

terraform fmt of outputs
  blueprints/networking/psc-glb-and-armor/outputs.tf
Due: check_names

added period
  blueprints/networking/psc-glb-and-armor/variables.tf
Due: check_names

Fix tests
  modules/gke-hub/README.md
Due: check_links

avoid setting spec in bridge perimeters if no resources are set
  modules/vpc-sc/service-perimeters-bridge.tf
Due: check_names

Bump actions versions
  .github/workflows/linting.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

Implemented conditional dynamic blocks for `google_access_context_manager_service_perimeter` `spec` and `status` (#1177)
  modules/vpc-sc/service-perimeters-bridge.tf
Due: check_names

Fix delegated grants bluprint readme
  blueprints/cloud-operations/iam-delegated-role-grants/README.md
Due: check_links

Update unmanaged-instances-healthcheck tests
  blueprints/cloud-operations/unmanaged-instances-healthcheck/README.md
  tests/blueprints/cloud_operations/unmanaged_instances_healthcheck/__init__.py
  tests/blueprints/cloud_operations/unmanaged_instances_healthcheck/fixture/main.tf
  tests/blueprints/cloud_operations/unmanaged_instances_healthcheck/fixture/variables.tf
  tests/blueprints/cloud_operations/unmanaged_instances_healthcheck/test_plan.py
Due: check_links, check_names

Revert examples/conftest.py
  tests/examples/conftest.py
Due: none

Update gke blueprints tests
  blueprints/gke/binauthz/README.md
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/README.md
  blueprints/networking/decentralized-firewall/README.md
  blueprints/networking/shared-vpc-gke/README.md
  tests/blueprints/gke/__init__.py
  tests/blueprints/gke/binauthz/__init__.py
  tests/blueprints/gke/binauthz/fixture/main.tf
  tests/blueprints/gke/binauthz/fixture/variables.tf
  tests/blueprints/gke/binauthz/test_plan.py
  tests/blueprints/gke/multi_cluster_mesh_gke_fleet_api/__init__.py
  tests/blueprints/gke/multi_cluster_mesh_gke_fleet_api/fixture/main.tf
  tests/blueprints/gke/multi_cluster_mesh_gke_fleet_api/fixture/variables.tf
  tests/blueprints/gke/multi_cluster_mesh_gke_fleet_api/test_plan.py
  tests/blueprints/gke/multitenant_fleet/__init__.py
  tests/blueprints/gke/multitenant_fleet/fixture/main.tf
  tests/blueprints/gke/multitenant_fleet/test_plan.py
  tests/blueprints/gke/shared_vpc_gke/__init__.py
  tests/blueprints/gke/shared_vpc_gke/fixture/main.tf
  tests/blueprints/gke/shared_vpc_gke/fixture/variables.tf
  tests/blueprints/gke/shared_vpc_gke/test_plan.py
Due: check_links, check_names

Update tests for hub and spoke blueprints
  blueprints/networking/hub-and-spoke-peering/README.md
  blueprints/networking/hub-and-spoke-vpn/README.md
  tests/blueprints/networking/hub_and_spoke_peering/__init__.py
  tests/blueprints/networking/hub_and_spoke_peering/fixture/main.tf
  tests/blueprints/networking/hub_and_spoke_peering/fixture/variables.tf
  tests/blueprints/networking/hub_and_spoke_peering/test_plan.py
  tests/blueprints/networking/hub_and_spoke_vpn/__init__.py
  tests/blueprints/networking/hub_and_spoke_vpn/fixture/main.tf
  tests/blueprints/networking/hub_and_spoke_vpn/fixture/variables.tf
  tests/blueprints/networking/hub_and_spoke_vpn/test_plan.py
Due: check_links, check_names

Update iam-delegated-role-grants tests
  blueprints/cloud-operations/iam-delegated-role-grants/README.md
  tests/blueprints/cloud_operations/iam_delegated_role_grants/__init__.py
  tests/blueprints/cloud_operations/iam_delegated_role_grants/fixture/main.tf
  tests/blueprints/cloud_operations/iam_delegated_role_grants/fixture/variables.tf
  tests/blueprints/cloud_operations/iam_delegated_role_grants/test_plan.py
Due: check_links, check_names

Remove unneeded path.root from net-vpc-firewall-yaml
  blueprints/factories/net-vpc-firewall-yaml/main.tf
Due: check_names

Add empty test in blueprints folder
  tests/blueprints/test_empty.py
Due: none

Allow blueprints to be tested from README files without examples.
  blueprints/serverless/api-gateway/README.md
  tests/blueprints/serverless/__init__.py
  tests/blueprints/serverless/api_gateway/__init__.py
  tests/blueprints/serverless/api_gateway/fixture/main.tf
  tests/blueprints/serverless/api_gateway/fixture/variables.tf
  tests/blueprints/serverless/api_gateway/test_plan.py
  tests/examples/conftest.py
Due: check_links, check_names

Update asset-inventory-feed-remediation tests
  blueprints/cloud-operations/asset-inventory-feed-remediation/README.md
  blueprints/cloud-operations/asset-inventory-feed-remediation/main.tf
  blueprints/cloud-operations/terraform-cloud-dynamic-credentials/README.md
  blueprints/cloud-operations/terraform-cloud-dynamic-credentials/gcp-workload-identity-provider/README.md
  tests/blueprints/cloud_operations/asset_inventory_feed_remediation/__init__.py
  tests/blueprints/cloud_operations/asset_inventory_feed_remediation/fixture/cf/README
  tests/blueprints/cloud_operations/asset_inventory_feed_remediation/fixture/main.tf
  tests/blueprints/cloud_operations/asset_inventory_feed_remediation/fixture/variables.tf
  tests/blueprints/cloud_operations/asset_inventory_feed_remediation/test_plan.py
Due: check_links, check_names

Update data platform tests
  blueprints/data-solutions/data-platform-foundations/README.md
  tests/blueprints/data_solutions/data_platform_foundations/__init__.py
  tests/blueprints/data_solutions/data_platform_foundations/fixture/main.tf
  tests/blueprints/data_solutions/data_platform_foundations/test_plan.py
Due: check_links, check_names

Move api-gateway test to bottom of README
  blueprints/serverless/api-gateway/README.md
Due: check_links

Update data solutions tests
  blueprints/data-solutions/cloudsql-multiregion/README.md
  blueprints/data-solutions/cmek-via-centralized-kms/README.md
  blueprints/data-solutions/composer-2/README.md
  blueprints/data-solutions/data-playground/README.md
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/README.md
  blueprints/data-solutions/shielded-folder/README.md
  blueprints/data-solutions/sqlserver-alwayson/README.md
  blueprints/data-solutions/vertex-mlops/README.md
  tests/blueprints/data_solutions/__init__.py
  tests/blueprints/data_solutions/cloudsql_multiregion/__init__.py
  tests/blueprints/data_solutions/cloudsql_multiregion/fixture/main.tf
  tests/blueprints/data_solutions/cloudsql_multiregion/test_plan.py
  tests/blueprints/data_solutions/cmek_via_centralized_kms/__init__.py
  tests/blueprints/data_solutions/cmek_via_centralized_kms/fixture/main.tf
  tests/blueprints/data_solutions/cmek_via_centralized_kms/test_plan.py
  tests/blueprints/data_solutions/composer_2/__init__.py
  tests/blueprints/data_solutions/composer_2/fixture/main.tf
  tests/blueprints/data_solutions/composer_2/test_plan.py
  tests/blueprints/data_solutions/data_playground/__init__.py
  tests/blueprints/data_solutions/data_playground/fixture/main.tf
  tests/blueprints/data_solutions/data_playground/test_plan.py
  tests/blueprints/data_solutions/gcs_to_bq_with_least_privileges/__init__.py
  tests/blueprints/data_solutions/gcs_to_bq_with_least_privileges/fixture/main.tf
  tests/blueprints/data_solutions/gcs_to_bq_with_least_privileges/fixture/variables.tf
  tests/blueprints/data_solutions/gcs_to_bq_with_least_privileges/test_plan.py
  tests/blueprints/data_solutions/shielded_folder/examples/simple.yaml
  tests/blueprints/data_solutions/shielded_folder/simple.tfvars
  tests/blueprints/data_solutions/shielded_folder/tftest.yaml
  tests/blueprints/data_solutions/sqlserver_alwayson/__init__.py
  tests/blueprints/data_solutions/sqlserver_alwayson/fixture/main.tf
  tests/blueprints/data_solutions/sqlserver_alwayson/fixture/variables.tf
  tests/blueprints/data_solutions/sqlserver_alwayson/test_plan.py
  tests/blueprints/data_solutions/vertex_mlops/__init__.py
  tests/blueprints/data_solutions/vertex_mlops/fixture/main.tf
  tests/blueprints/data_solutions/vertex_mlops/test_plan.py
Due: check_links, check_names

Fix failing tests
  blueprints/cloud-operations/terraform-cloud-dynamic-credentials/gcp-workload-identity-provider/README.md
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/networking/decentralized-firewall/README.md
  tests/blueprints/factories/project_factory/examples/example.yaml
Due: check_links

Update packer_image_builder tests
  blueprints/cloud-operations/packer-image-builder/README.md
  tests/blueprints/cloud_operations/packer_image_builder/__init__.py
  tests/blueprints/cloud_operations/packer_image_builder/fixture/main.tf
  tests/blueprints/cloud_operations/packer_image_builder/fixture/packer/build.pkrvars.tpl
  tests/blueprints/cloud_operations/packer_image_builder/fixture/variables.tf
  tests/blueprints/cloud_operations/packer_image_builder/test_plan.py
Due: check_links, check_names

Update networking bluprints tests
  blueprints/networking/filtering-proxy-psc/README.md
  blueprints/networking/filtering-proxy/README.md
  blueprints/networking/glb-and-armor/README.md
  blueprints/networking/ilb-next-hop/README.md
  blueprints/networking/private-cloud-function-from-onprem/README.md
  tests/blueprints/networking/filtering_proxy/__init__.py
  tests/blueprints/networking/filtering_proxy/fixture/main.tf
  tests/blueprints/networking/filtering_proxy/fixture/variables.tf
  tests/blueprints/networking/filtering_proxy/test_plan.py
  tests/blueprints/networking/filtering_proxy_psc/__init__.py
  tests/blueprints/networking/filtering_proxy_psc/fixture/main.tf
  tests/blueprints/networking/filtering_proxy_psc/test_plan.py
  tests/blueprints/networking/glb_and_armor/__init__.py
  tests/blueprints/networking/glb_and_armor/fixture/main.tf
  tests/blueprints/networking/glb_and_armor/fixture/variables.tf
  tests/blueprints/networking/glb_and_armor/test_plan.py
  tests/blueprints/networking/ilb_next_hop/__init__.py
  tests/blueprints/networking/ilb_next_hop/fixture/main.tf
  tests/blueprints/networking/ilb_next_hop/fixture/variables.tf
  tests/blueprints/networking/ilb_next_hop/test_plan.py
  tests/blueprints/networking/private_cloud_function_from_onprem/__init__.py
  tests/blueprints/networking/private_cloud_function_from_onprem/fixture/main.tf
  tests/blueprints/networking/private_cloud_function_from_onprem/test_plan.py
Due: check_links, check_names

Update decentralized-firewall tests
  blueprints/networking/decentralized-firewall/README.md
  tests/blueprints/networking/decentralized_firewall/__init__.py
  tests/blueprints/networking/decentralized_firewall/fixture/main.tf
  tests/blueprints/networking/decentralized_firewall/fixture/variables.tf
  tests/blueprints/networking/decentralized_firewall/test_plan.py
Due: check_links, check_names

Fix decentralized firewall test
  blueprints/networking/decentralized-firewall/README.md
Due: check_links

Fix decentralized-firewall count
  blueprints/networking/decentralized-firewall/README.md
Due: check_links
