Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

improve variable descriptions
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/0-bootstrap-tenant/variables.tf
Due: check_links, check_names

use optional in fast features
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/0-bootstrap-tenant/variables.tf
Due: check_links, check_names

actually create tenant log sinks, and allow the resman sa to do it
  fast/stages-multitenant/0-bootstrap-tenant/log-export.tf
  fast/stages-multitenant/0-bootstrap-tenant/main.tf
  fast/stages/0-bootstrap/log-export.tf
  fast/stages/0-bootstrap/organization.tf
Due: check_names

Identity-Aware Proxy configuration
  blueprints/serverless/cloud-run-explore/config/secure.tfvars
  blueprints/serverless/cloud-run-explore/main.tf
  blueprints/serverless/cloud-run-explore/variables.tf
Due: check_names

test
  tests/fast/stages_multitenant/s0_bootstrap_tenant/simple.yaml
Due: none

tests
  tests/fast/stages_multitenant/s0_bootstrap_tenant/simple.yaml
Due: none

aaaand tests again
  tests/fast/stages_multitenant/s0_bootstrap_tenant/simple.yaml
Due: none

Enable service APIs in the project
  blueprints/serverless/cloud-run-explore/main.tf
Due: check_names

Info comment for support_email
  blueprints/serverless/cloud-run-explore/main.tf
Due: check_names

Separate var iap_email to override it on the CLI
  blueprints/serverless/cloud-run-explore/config/secure.tfvars
  blueprints/serverless/cloud-run-explore/main.tf
  blueprints/serverless/cloud-run-explore/variables.tf
Due: check_names

Remove info about non-existing vpc-peering-*.tf files
  fast/stages/02-networking-nva/README.md
Due: check_links

Mention policies in the costomization section.
  blueprints/data-solutions/shielded-folder/README.md
Due: check_links

fast features tenant override
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/0-bootstrap-tenant/automation-sas.tf
  fast/stages-multitenant/0-bootstrap-tenant/main.tf
  fast/stages-multitenant/0-bootstrap-tenant/outputs.tf
  fast/stages-multitenant/0-bootstrap-tenant/variables.tf
Due: check_links, check_names

fast features tenant override
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/0-bootstrap-tenant/main.tf
  fast/stages-multitenant/0-bootstrap-tenant/variables.tf
Due: check_links, check_names

fix wording
  fast/stages-multitenant/1-resman-tenant/README.md
Due: check_links

add missing comment
  fast/stages-multitenant/1-resman-tenant/branch-data-platform.tf
Due: check_names

configure pf service accounts
  fast/stages-multitenant/1-resman-tenant/branch-project-factory.tf
Due: check_names

add missing comment
  fast/stages-multitenant/1-resman-tenant/branch-security.tf
Due: check_names

tfdoc
  fast/stages-multitenant/1-resman-tenant/README.md
Due: check_links

tests
  tests/fast/stages_multitenant/s1_resman_tenant/simple.yaml
Due: none

IAM docs
  fast/stages-multitenant/0-bootstrap-tenant/IAM.md
  fast/stages-multitenant/1-resman-tenant/IAM.md
Due: check_links

update changelog
  CHANGELOG.md
Due: check_links

update for v20.0.0
  CHANGELOG.md
Due: check_links

update copyright
  fast/extras/0-cicd-github/cicd-versions.tf
  fast/extras/0-cicd-github/main.tf
  fast/extras/0-cicd-github/outputs.tf
  fast/extras/0-cicd-github/providers.tf
  fast/extras/0-cicd-github/variables.tf
  fast/stages-multitenant/0-bootstrap-tenant/automation-sas.tf
  fast/stages-multitenant/0-bootstrap-tenant/automation.tf
  fast/stages-multitenant/0-bootstrap-tenant/billing.tf
  fast/stages-multitenant/0-bootstrap-tenant/cicd.tf
  fast/stages-multitenant/0-bootstrap-tenant/identity-providers.tf
  fast/stages-multitenant/0-bootstrap-tenant/log-export.tf
  fast/stages-multitenant/0-bootstrap-tenant/main.tf
  fast/stages-multitenant/0-bootstrap-tenant/organization.tf
  fast/stages-multitenant/0-bootstrap-tenant/outputs-files.tf
  fast/stages-multitenant/0-bootstrap-tenant/outputs-gcs.tf
  fast/stages-multitenant/0-bootstrap-tenant/outputs.tf
  fast/stages-multitenant/0-bootstrap-tenant/templates/providers.tf.tpl
  fast/stages-multitenant/0-bootstrap-tenant/variables.tf
  fast/stages-multitenant/1-resman-tenant/branch-data-platform.tf
  fast/stages-multitenant/1-resman-tenant/branch-gke.tf
  fast/stages-multitenant/1-resman-tenant/branch-networking.tf
  fast/stages-multitenant/1-resman-tenant/branch-project-factory.tf
  fast/stages-multitenant/1-resman-tenant/branch-sandbox.tf
  fast/stages-multitenant/1-resman-tenant/branch-security.tf
  fast/stages-multitenant/1-resman-tenant/branch-teams.tf
  fast/stages-multitenant/1-resman-tenant/cicd-data-platform.tf
  fast/stages-multitenant/1-resman-tenant/cicd-gke.tf
  fast/stages-multitenant/1-resman-tenant/cicd-networking.tf
  fast/stages-multitenant/1-resman-tenant/cicd-project-factory.tf
  fast/stages-multitenant/1-resman-tenant/cicd-security.tf
  fast/stages-multitenant/1-resman-tenant/main.tf
  fast/stages-multitenant/1-resman-tenant/outputs-files.tf
  fast/stages-multitenant/1-resman-tenant/outputs-gcs.tf
  fast/stages-multitenant/1-resman-tenant/outputs.tf
  fast/stages-multitenant/1-resman-tenant/root_node.tf
  fast/stages-multitenant/1-resman-tenant/templates/providers.tf.tpl
  fast/stages-multitenant/1-resman-tenant/variables.tf
Due: check_names

First commit
  blueprints/data-solutions/cmek-via-centralized-kms/README.md
  blueprints/data-solutions/cmek-via-centralized-kms/main.tf
  blueprints/data-solutions/cmek-via-centralized-kms/variables.tf
  tests/blueprints/data_solutions/cmek_via_centralized_kms/fixture/main.tf
Due: check_links, check_names

Implement project_config variable
  blueprints/data-solutions/cmek-via-centralized-kms/README.md
  blueprints/data-solutions/cmek-via-centralized-kms/main.tf
  blueprints/data-solutions/cmek-via-centralized-kms/variables.tf
  tests/blueprints/data_solutions/cmek_via_centralized_kms/fixture/main.tf
  tests/blueprints/data_solutions/cmek_via_centralized_kms/fixture/variables.tf
Due: check_links, check_names

Fix readmes and variables.
  blueprints/data-solutions/shielded-folder/README.md
  blueprints/data-solutions/shielded-folder/kms.tf
  blueprints/data-solutions/shielded-folder/log-export.tf
  blueprints/data-solutions/shielded-folder/main.tf
  blueprints/data-solutions/shielded-folder/variables.tf
Due: check_links, check_names

Add maintenance window support
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Due: check_links, check_names

[Feature] Update data platform blue print with Dataflow Flex template (#1105)
  blueprints/data-solutions/data-platform-foundations/03-composer.tf
  blueprints/data-solutions/data-platform-foundations/03-orchestration.tf
  blueprints/data-solutions/data-platform-foundations/IAM.md
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/data-platform-foundations/demo/README.md
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/.gitignore
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/Dockerfile
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/README.md
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/cloudbuild.yaml
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/src/csv2bq.py
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/src/requirements.txt
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline_dc_tags_flex.py
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline_flex.py
  blueprints/data-solutions/data-platform-foundations/images/df_demo_pipeline.png
  blueprints/data-solutions/data-platform-foundations/outputs.tf
  tests/blueprints/data_solutions/data_platform_foundations/test_plan.py
Due: check_links, check_names

Fixes
  blueprints/data-solutions/shielded-folder/README.md
  blueprints/data-solutions/shielded-folder/variables.tf
  tests/blueprints/data_solutions/shielded-folder/simple.tfvars
  tests/blueprints/data_solutions/shielded_folder/simple.tfvars
  tests/blueprints/data_solutions/shielded_folder/simple.yaml
  tests/blueprints/data_solutions/shielded_folder/tftest.yaml
Due: check_links, check_names

Add descriptive name as optional argument
  blueprints/factories/project-factory/main.tf
  blueprints/factories/project-factory/variables.tf
Due: check_names

Add descriptive_name
  blueprints/factories/project-factory/README.md
Due: check_links

Fix README
  blueprints/factories/project-factory/README.md
Due: check_links

Fix README and var order
  blueprints/factories/project-factory/README.md
  blueprints/factories/project-factory/variables.tf
Due: check_links, check_names

Merged old bgp_peer_config parameter into bgp_peer aligning with newer version of tunnels variable available in the net-vpn-ha module
  fast/stages/2-networking-c-nva/vpn-onprem.tf
Due: check_names

fix stage links, fix stage 1 output file names
  fast/stage-links.sh
  fast/stages/1-resman/outputs.tf
Due: check_names

fix stage links, fix stage 1 output file names (#1134)
  fast/stage-links.sh
  fast/stages/1-resman/outputs.tf
Due: check_names

Fixes
  blueprints/data-solutions/README.md
  blueprints/data-solutions/shielded-folder/README.md
  blueprints/data-solutions/shielded-folder/variables.tf
  tests/blueprints/data_solutions/shielded_folder/simple.yaml
Due: check_links, check_names
