Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

check_links:
  name: Check Links
  entry: python3
  args:
  - tools/check_links.py
  - .
  language: system

check_names:
  name: Check Names
  entry: python3
  args:
  - tools/check_names.py
  - --prefix-length=10
  - fast/stages
  language: system

Make test visible
  blueprints/serverless/api-gateway/README.md
Due: check_links

Update tests terraform_enterprise_wif
  tests/blueprints/cloud_operations/terraform_cloud_dynamic_credentials/__init__.py
  tests/blueprints/cloud_operations/terraform_cloud_dynamic_credentials/gcp_workload_identity_provider/__init__.py
  tests/blueprints/cloud_operations/terraform_cloud_dynamic_credentials/gcp_workload_identity_provider/fixture/main.tf
  tests/blueprints/cloud_operations/terraform_cloud_dynamic_credentials/gcp_workload_identity_provider/fixture/variables.tf
  tests/blueprints/cloud_operations/terraform_cloud_dynamic_credentials/gcp_workload_identity_provider/test_plan.py
Due: check_names

Add missing variables. Fix 2023
  fast/stages/2-security/README.md
  fast/stages/2-security/core-dev.tf
  fast/stages/2-security/core-prod.tf
  fast/stages/2-security/main.tf
  fast/stages/2-security/outputs.tf
  fast/stages/2-security/variables.tf
  fast/stages/2-security/vpc-sc.tf
Due: check_links, check_names

allow multiple peer gateways in vpn ha module
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/variables.tf
Due: check_links, check_names

align blueprints
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/vpn.tf
  blueprints/networking/hub-and-spoke-vpn/vpn-dev-r1.tf
  blueprints/networking/hub-and-spoke-vpn/vpn-prod-r1.tf
  blueprints/networking/private-cloud-function-from-onprem/main.tf
  blueprints/serverless/cloud-run-corporate/main.tf
Due: check_names

fast
  fast/stages/2-networking-a-peering/vpn-onprem.tf
  fast/stages/2-networking-b-vpn/vpn-onprem.tf
  fast/stages/2-networking-b-vpn/vpn-spoke-dev.tf
  fast/stages/2-networking-b-vpn/vpn-spoke-prod-primary.tf
  fast/stages/2-networking-b-vpn/vpn-spoke-prod-secondary.tf
  fast/stages/2-networking-c-nva/vpn-onprem.tf
  fast/stages/2-networking-d-separate-envs/vpn-onprem-dev.tf
  fast/stages/2-networking-d-separate-envs/vpn-onprem-prod.tf
Due: check_names

Allow multiple peer gateways in vpn ha module (#1184)
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/vpn.tf
  blueprints/networking/hub-and-spoke-vpn/vpn-dev-r1.tf
  blueprints/networking/hub-and-spoke-vpn/vpn-prod-r1.tf
  blueprints/networking/private-cloud-function-from-onprem/main.tf
  blueprints/serverless/cloud-run-corporate/main.tf
  fast/stages/2-networking-a-peering/vpn-onprem.tf
  fast/stages/2-networking-b-vpn/vpn-onprem.tf
  fast/stages/2-networking-b-vpn/vpn-spoke-dev.tf
  fast/stages/2-networking-b-vpn/vpn-spoke-prod-primary.tf
  fast/stages/2-networking-b-vpn/vpn-spoke-prod-secondary.tf
  fast/stages/2-networking-c-nva/vpn-onprem.tf
  fast/stages/2-networking-d-separate-envs/vpn-onprem-dev.tf
  fast/stages/2-networking-d-separate-envs/vpn-onprem-prod.tf
  modules/net-vpn-ha/README.md
  modules/net-vpn-ha/main.tf
  modules/net-vpn-ha/variables.tf
Due: check_links, check_names

update changelog
  CHANGELOG.md
Due: check_links

Added sql and jupyter notebook to run the demo
  blueprints/data-solutions/bq-ml/demo/bmql_pipeline.ipynb
  blueprints/data-solutions/bq-ml/demo/requirements.txt
  blueprints/data-solutions/bq-ml/demo/sql/explain_predict.sql
  blueprints/data-solutions/bq-ml/demo/sql/features.sql
  blueprints/data-solutions/bq-ml/demo/sql/train.sql
Due: none

fixing workloadidentity for anthos service mesh - authority was not created
  modules/gke-hub/main.tf
Due: check_names

fixing workloadidentity for anthos service mesh - authority was not created
  tests/modules/gke_hub/test_plan.py
Due: none

fixed notebook with dynamic model name cleared output from cells added creation of view instead of table
  blueprints/data-solutions/bq-ml/demo/bmql_pipeline.ipynb
  blueprints/data-solutions/bq-ml/demo/sql/features.sql
Due: none

Add references to the serverless chapters
  blueprints/serverless/cloud-run-explore/README.md
Due: check_links

Add reference to Cloud Run blueprints
  blueprints/serverless/README.md
Due: check_links

Update healthchecker deps (dependabot alerts)
  blueprints/cloud-operations/unmanaged-instances-healthcheck/function/healthchecker/go.mod
  blueprints/cloud-operations/unmanaged-instances-healthcheck/function/healthchecker/go.sum
Due: none

First commit
  modules/dataproc/README.md
  modules/dataproc/iam.tf
  modules/dataproc/main.tf
  modules/dataproc/output.tf
  modules/dataproc/variables.tf
  modules/dataproc/versions.tf
Due: check_links, check_names

Fix linting
  modules/dataproc/iam.tf
Due: check_names

Fix variables
  modules/dataproc/README.md
  modules/dataproc/variables.tf
Due: check_links, check_names

Update healthchecker deps (dependabot alerts) (#1189)
  blueprints/cloud-operations/unmanaged-instances-healthcheck/function/healthchecker/go.mod
  blueprints/cloud-operations/unmanaged-instances-healthcheck/function/healthchecker/go.sum
Due: none

fix external gateway
  modules/net-vpn-ha/main.tf
Due: check_names

fix external gateway (#1191)
  modules/net-vpn-ha/main.tf
Due: check_names

Fix examples.
  modules/dataproc/README.md
Due: check_links

Update README.md
  README.md
Due: check_links

Update README.md
  modules/dataproc/README.md
Due: check_links

Update README.md
  modules/README.md
Due: check_links

Fix outputs
  modules/dataproc/README.md
  modules/dataproc/outputs.tf
Due: check_links, check_names

Fix output variable order.
  modules/dataproc/README.md
  modules/dataproc/outputs.tf
Due: check_links, check_names

Add reference to Cloud Run blueprints
  blueprints/README.md
Due: check_links

small fixes
  modules/cloud-config-container/simple-nva/files/frr/vtysh.conf
  modules/cloud-config-container/simple-nva/main.tf
  modules/cloud-config-container/simple-nva/variables.tf
Due: check_names

Fix https health check mismapped to http
  modules/compute-mig/health-check.tf
  modules/net-ilb/health-check.tf
Due: check_names

fmt terraform code update documentation for simple-nva module
  modules/cloud-config-container/simple-nva/README.md
  modules/cloud-config-container/simple-nva/main.tf
  modules/cloud-config-container/simple-nva/variables.tf
Due: check_links, check_names

fix variable description
  modules/cloud-config-container/simple-nva/README.md
  modules/cloud-config-container/simple-nva/variables.tf
Due: check_links, check_names

Fix https health check mismapped to http (#1194)
  modules/compute-mig/health-check.tf
  modules/net-ilb/health-check.tf
Due: check_names

remove redundant check on LB ip address
  modules/cloud-config-container/simple-nva/files/policy_based_routing.sh
Due: none

Fix secondary ranges in net-vpc readme
  modules/net-vpc/README.md
Due: check_links

Fix Variables
  modules/dataproc/README.md
  modules/dataproc/main.tf
  modules/dataproc/variables.tf
Due: check_links, check_names

Fix linting
  modules/dataproc/README.md
Due: check_links

Path conditions:
  check_links: any of: \.(md|markdown|mdown)$
  check_names: any of: \.(tf|tfvars)$
