Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

check_links:
  name: Check Links
  entry: python3
  args:
  - tools/check_links.py
  - .
  language: system

check_names:
  name: Check Names
  entry: python3
  args:
  - tools/check_names.py
  - --prefix-length=10
  - fast/stages
  language: system

Added health checked targets for geo routing policy in dns module
  modules/dns/README.md
  modules/dns/main.tf
  modules/dns/variables.tf
  tests/modules/dns/examples/routing-policies.yaml
Due: check_links, check_names

Fixed README and test for dns module
  modules/dns/README.md
  tests/modules/dns/examples/routing-policies.yaml
Due: check_links

Fix typo in example
  modules/dns/README.md
Due: check_links

Fix named ranges behaviour if cidr_tpl_file variable not provided.
  modules/net-vpc-firewall/main.tf
Due: check_names

FAST + Minimal DP
  blueprints/data-solutions/data-platform-foundations/01-dropoff.tf
  blueprints/data-solutions/data-platform-foundations/02-load.tf
  blueprints/data-solutions/data-platform-foundations/03-orchestration.tf
  blueprints/data-solutions/data-platform-foundations/04-transformation.tf
  blueprints/data-solutions/data-platform-foundations/05-datawarehouse.tf
  blueprints/data-solutions/data-platform-foundations/06-common.tf
  blueprints/data-solutions/data-platform-foundations/07-exposure.tf
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/data-platform-foundations/main.tf
  blueprints/data-solutions/data-platform-foundations/terraform.tfvars.sample
  blueprints/data-solutions/data-platform-foundations/variables.tf
  fast/stages/3-data-platform/dev/README.md
  fast/stages/3-data-platform/dev/main.tf
  fast/stages/3-data-platform/dev/variables.tf
Due: check_links, check_names

Fix tests
  fast/stages/3-data-platform/dev/README.md
  fast/stages/3-data-platform/dev/variables.tf
Due: check_links, check_names

fix: allow configuring `docker_repository` for cloud-function2
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/variables.tf
Due: check_names

doc: updated README for cloud-function-v2
  modules/cloud-function-v2/README.md
Due: check_links

Fix DNS E2E test + add one to net-lb-app-int-cross-region
  modules/dns/README.md
  modules/net-lb-app-int-cross-region/README.md
  tests/fixtures/net-lb-app-int-cross-region.tf
Due: check_links, check_names

Update README.md
  modules/dns/README.md
  modules/net-lb-app-int-cross-region/README.md
Due: check_links

add gitlab_runner blueprint
  blueprints/third-party-solutions/gitlab-runner/assets/config/docker_config.toml.tpl
  blueprints/third-party-solutions/gitlab-runner/assets/startup-script.sh.tpl
  blueprints/third-party-solutions/gitlab-runner/main.tf
  blueprints/third-party-solutions/gitlab-runner/variables.tf
  fast/stages/0-bootstrap/README.md
  fast/stages/1-resman/variables.tf
  fast/stages/2-networking-a-peering/data/firewall-rules/landing/rules.yaml
  fast/stages/3-gitlab/0-bootstrap-gitlab/README.md
  fast/stages/3-gitlab/0-bootstrap-gitlab/certs/.gitkeep
  fast/stages/3-gitlab/0-bootstrap-gitlab/gitlab-bootstrap.tf
  fast/stages/3-gitlab/0-bootstrap-gitlab/gitlab-runner.tf
  fast/stages/3-gitlab/README.md
  fast/stages/3-gitlab/gitlab-runners.tf
  fast/stages/3-gitlab/main.tf
  fast/stages/3-gitlab/variables.tf
Due: check_links, check_names

dns reponse policy e2e changes
  modules/dns-response-policy/README.md
  tests/fixtures/dns-response-policy.tf
  tests/modules/dns_response_policy/examples/complex.yaml
  tests/modules/dns_response_policy/examples/simple.yaml
Due: check_links, check_names

added license message
  tests/fixtures/dns-response-policy.tf
Due: check_names

Fix inventory for tests
  modules/dns/README.md
  tests/modules/dns/examples/routing-policies.yaml
Due: check_links

Fix tests
  modules/net-lb-app-int-cross-region/README.md
Due: check_links

Fix Data platform foundation (#1992)
  blueprints/data-solutions/data-platform-foundations/01-dropoff.tf
  blueprints/data-solutions/data-platform-foundations/02-load.tf
  blueprints/data-solutions/data-platform-foundations/03-orchestration.tf
  blueprints/data-solutions/data-platform-foundations/04-transformation.tf
  blueprints/data-solutions/data-platform-foundations/05-datawarehouse.tf
  blueprints/data-solutions/data-platform-foundations/06-common.tf
  blueprints/data-solutions/data-platform-foundations/07-exposure.tf
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/data-platform-foundations/main.tf
  blueprints/data-solutions/data-platform-foundations/terraform.tfvars.sample
  blueprints/data-solutions/data-platform-foundations/variables.tf
  fast/stages/3-data-platform/dev/README.md
  fast/stages/3-data-platform/dev/main.tf
  fast/stages/3-data-platform/dev/variables.tf
Due: check_links, check_names

Fixed readme for linting workflow errors
  modules/dns-response-policy/README.md
Due: check_links

Specify `docker_repository` field for google_cloudfunctions2_function (#1987)
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/variables.tf
Due: check_links, check_names

Add example to FAST GKE stage, streamline GKE Hub module variables and usage (#1977)
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/gke.tf
  blueprints/gke/multitenant-fleet/README.md
  blueprints/gke/multitenant-fleet/main.tf
  blueprints/gke/multitenant-fleet/variables.tf
  fast/stages/3-gke-multitenant/dev/README.md
  modules/gke-hub/README.md
  modules/gke-hub/variables.tf
  tests/modules/gke_hub/examples/full.yaml
Due: check_links, check_names

renamed fixtures module name
  modules/dns-response-policy/README.md
  tests/fixtures/dns-response-policy.tf
Due: check_links, check_names

dns reponse policy e2e changes (#1994)
  modules/dns-response-policy/README.md
  tests/fixtures/dns-response-policy.tf
  tests/modules/dns_response_policy/examples/complex.yaml
  tests/modules/dns_response_policy/examples/simple.yaml
Due: check_links, check_names

update changelog
  CHANGELOG.md
Due: check_links

fix factory type for firewall rule ports
  modules/net-firewall-policy/README.md
  modules/net-firewall-policy/factory.tf
  modules/net-firewall-policy/hierarchical.tf
  tests/modules/net_firewall_policy/examples/factory.yaml
Due: check_links, check_names

fix factory type for firewall rule ports (#1996)
  modules/net-firewall-policy/README.md
  modules/net-firewall-policy/factory.tf
  modules/net-firewall-policy/hierarchical.tf
  tests/modules/net_firewall_policy/examples/factory.yaml
Due: check_links, check_names

add 0-cicd-gitlab bootstrao extra stage
  fast/extras/0-cicd-gitlab/README.md
  fast/extras/0-cicd-gitlab/cicd-versions.tf
  fast/extras/0-cicd-gitlab/gitlab_token.png
  fast/extras/0-cicd-gitlab/main.tf
  fast/extras/0-cicd-gitlab/outputs.tf
  fast/extras/0-cicd-gitlab/providers.tf
  fast/extras/0-cicd-gitlab/variables.tf
  fast/extras/0-cicd-gitlab/workflows/.gitkeep
Due: check_links, check_names

add gitlab-runner blueprint
  blueprints/third-party-solutions/gitlab-runner/assets/config/docker_autoscaler_config.toml.tpl
  blueprints/third-party-solutions/gitlab-runner/assets/startup-script.sh.tpl
  blueprints/third-party-solutions/gitlab-runner/main.tf
  blueprints/third-party-solutions/gitlab-runner/runner.tf
  blueprints/third-party-solutions/gitlab-runner/variables.tf
Due: check_names

add README
  blueprints/third-party-solutions/gitlab-runner/README.md
  blueprints/third-party-solutions/gitlab-runner/runner.tf
  blueprints/third-party-solutions/gitlab-runner/variables.tf
Due: check_links, check_names

update checklist parsing for top-level key
  fast/stages/0-bootstrap/checklist.tf
  fast/stages/1-resman/checklist.tf
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/data/checklist-data.json
  tests/fast/stages/s0_bootstrap/data/checklist-org-iam.json
  tests/fast/stages/s1_resman/checklist.yaml
Due: check_names

pre PR commit
  modules/dataform-repository/README.md
  modules/dataform-repository/main.tf
  modules/dataform-repository/outputs.tf
  modules/dataform-repository/variables.tf
  modules/dataform-repository/versions.tf
Due: check_links, check_names

integration with Cloud Logging + fix for json log causing disk being full
  .gitignore
  fast/extras/0-cicd-gitlab/README.md
  fast/stages/2-networking-a-peering/data/firewall-rules/landing/rules.yaml
  fast/stages/3-gitlab/0-bootstrap-gitlab/README.md
  fast/stages/3-gitlab/0-bootstrap-gitlab/gitlab-bootstrap.tf
  fast/stages/3-gitlab/0-bootstrap-gitlab/provider.tf
  fast/stages/3-gitlab/0-bootstrap-gitlab/variables.tf
  fast/stages/3-gitlab/0-bootstrap-gitlab/workflows/.gitkeep
  fast/stages/3-gitlab/README.md
  fast/stages/3-gitlab/assets/cloud-config.yaml
  fast/stages/3-gitlab/gitlab-runners.tf
  fast/stages/3-gitlab/gitlab.tf
Due: check_links, check_names

update checklist parsing for top-level key (#1997)
  fast/stages/0-bootstrap/checklist.tf
  fast/stages/1-resman/checklist.tf
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/data/checklist-data.json
  tests/fast/stages/s0_bootstrap/data/checklist-org-iam.json
  tests/fast/stages/s1_resman/checklist.yaml
Due: check_names

fix bigquery_options dynamic block typo from biquery to bigquery
  modules/billing-account/logging.tf
  modules/folder/logging.tf
  modules/project/logging.tf
Due: check_names

Added beta apis feature
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Due: check_links, check_names

Added beta apis feature (#1999)
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Due: check_links, check_names

Checklist attribution bucket
  fast/stages/0-bootstrap/checklist.tf
  fast/stages/0-bootstrap/data/checklist-data.json
  fast/stages/0-bootstrap/data/checklist-org-iam.json
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s1_resman/checklist.yaml
Due: check_names

remove data files
  fast/stages/0-bootstrap/data/checklist-data.json
  fast/stages/0-bootstrap/data/checklist-org-iam.json
Due: none

tfdoc
  fast/stages/0-bootstrap/README.md
Due: check_links

Checklist attribution bucket (#2000)
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/checklist.tf
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/data/checklist-data.json
  tests/fast/stages/s0_bootstrap/data/checklist-org-iam.json
  tests/fast/stages/s1_resman/checklist.yaml
Due: check_links, check_names

Fix tests and extend fix to other logging sinks
  modules/billing-account/README.md
  modules/billing-account/variables.tf
  modules/folder/README.md
  modules/folder/logging.tf
  modules/folder/variables.tf
  modules/organization/README.md
  modules/organization/logging.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/variables.tf
Due: check_links, check_names

Fix condition
  modules/billing-account/logging.tf
  modules/project/logging.tf
Due: check_names

Path conditions:
  check_links: any of: \.(md|markdown|mdown)$
  check_names: any of: \.(tf|tfvars)$
