Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

wip
  fast/stages/2-networking-x-qa/net-hub.tf
  fast/stages/2-networking-x-qa/nva-external.tf
  fast/stages/2-networking-x-qa/nva-internal.tf
  fast/stages/2-networking-x-qa/outputs.tf
  fast/stages/2-networking-x-qa/todo.txt
  fast/stages/2-networking-x-qa/variables.tf
Due: check_names

initial deploy
  .gitignore
  fast/stages/0-bootstrap/terraform.tfvars
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/terraform.tfvars
  fast/stages/2-networking-d-separate-envs/terraform.tfvars
  fast/stages/2-security/terraform.tfvars
Due: check_names

composer - customise config (#1)
  blueprints/data-solutions/data-platform-foundations/03-composer.tf
  blueprints/data-solutions/data-platform-foundations/variables.tf
  fast/stages/3-data-platform/dev/main.tf
  fast/stages/3-data-platform/dev/terraform.tfvars
  fast/stages/3-data-platform/dev/variables.tf
Due: check_names

Remove organization variable and make folder ids required
  fast/stages/2-networking-x-qa/main.tf
  fast/stages/2-networking-x-qa/variables.tf
Due: check_names

fix
  fast/stages/2-networking-x-qa/net-hub.tf
  fast/stages/2-networking-x-qa/outputs.tf
Due: check_names

Hack to reserved DNS
  fast/stages/2-networking-x-qa/net-hub.tf
Due: check_names

modules/vpc-sc: add support for method_selectors/permission
  modules/vpc-sc/README.md
  modules/vpc-sc/service-perimeters-regular.tf
  modules/vpc-sc/variables.tf
Due: check_links, check_names

enable_logging variable was not being used
  modules/dns/README.md
  modules/dns/main.tf
  modules/dns/variables.tf
Due: check_links, check_names

Update 0-bootstrap readme (#2)
  fast/stages/0-bootstrap/README.md
Due: check_links

fix repo names check
  fast/extras/0-cicd-github/variables.tf
Due: check_names

fix repo names check (#1443)
  fast/extras/0-cicd-github/variables.tf
Due: check_names

Some fixes
  blueprints/data-solutions/data-platform-minimal/README.md
  blueprints/networking/README.md
  blueprints/serverless/README.md
  blueprints/serverless/cloud-run-corporate/README.md
Due: check_links

First commit.
  blueprints/data-solutions/data-platform-minimal/02-composer.tf
  blueprints/data-solutions/data-platform-minimal/02-processing.tf
  blueprints/data-solutions/data-platform-minimal/demo/README.md
  blueprints/data-solutions/data-platform-minimal/demo/dag_dataflow_gcs2bq.py
  blueprints/data-solutions/data-platform-minimal/demo/dag_delete_table.py
  blueprints/data-solutions/data-platform-minimal/demo/dag_orchestrate_pyspark.py
  blueprints/data-solutions/data-platform-minimal/demo/data/customers.csv
  blueprints/data-solutions/data-platform-minimal/demo/data/customers.json
  blueprints/data-solutions/data-platform-minimal/demo/data/customers_schema.json
  blueprints/data-solutions/data-platform-minimal/demo/data/customers_udf.js
  blueprints/data-solutions/data-platform-minimal/env.sh
  blueprints/data-solutions/data-platform-minimal/outputs.tf
  blueprints/data-solutions/data-platform-minimal/providers.tf
Due: check_links, check_names

Remove file.
  blueprints/data-solutions/data-platform-minimal/providers.tf
Due: check_names

Resman - bump GH TF version to coincide with module requirements (#1)
  fast/stages/1-resman/templates/workflow-github.yaml
Due: none

Bump TF version in all workflow files
  fast/assets/templates/workflow-github.yaml
  fast/assets/templates/workflow-sourcerepo.yaml
  fast/stages-multitenant/0-bootstrap-tenant/templates/workflow-github.yaml
  fast/stages-multitenant/1-resman-tenant/templates/workflow-github.yaml
  fast/stages-multitenant/1-resman-tenant/templates/workflow-sourcerepo.yaml
  fast/stages/0-bootstrap/templates/workflow-sourcerepo.yaml
  fast/stages/1-resman/templates/workflow-sourcerepo.yaml
Due: none

bump TF version in missed workflow file
  fast/stages-multitenant/0-bootstrap-tenant/templates/workflow-sourcerepo.yaml
Due: none

Bump TF version in all workflow templates to coincide with module requirements (#1445)
  fast/assets/templates/workflow-github.yaml
  fast/assets/templates/workflow-sourcerepo.yaml
  fast/stages-multitenant/0-bootstrap-tenant/templates/workflow-github.yaml
  fast/stages-multitenant/0-bootstrap-tenant/templates/workflow-sourcerepo.yaml
  fast/stages-multitenant/1-resman-tenant/templates/workflow-github.yaml
  fast/stages-multitenant/1-resman-tenant/templates/workflow-sourcerepo.yaml
  fast/stages/0-bootstrap/templates/workflow-sourcerepo.yaml
  fast/stages/1-resman/templates/workflow-github.yaml
  fast/stages/1-resman/templates/workflow-sourcerepo.yaml
Due: none

Refactored apigee module and adjusted the blueprints accordingly
  blueprints/apigee/bigquery-analytics/README.md
  blueprints/apigee/bigquery-analytics/main.tf
  blueprints/apigee/bigquery-analytics/terraform.tfvars.sample
  blueprints/apigee/bigquery-analytics/variables.tf
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/apigee.tf
  blueprints/apigee/network-patterns/nb-glb-psc-neg-sb-psc-ilbl7-hybrid-neg/terraform.tfvars.sample
  modules/apigee/README.md
  modules/apigee/main.tf
  modules/apigee/variables.tf
  tests/modules/apigee/all.tfvars
  tests/modules/apigee/all.yaml
  tests/modules/apigee/instance_only.tfvars
  tests/modules/apigee/instance_only.yaml
Due: check_links, check_names

split v1
  modules/cloud-function-v1/README.md
  modules/cloud-function-v1/main.tf
  modules/cloud-function-v1/outputs.tf
  modules/cloud-function-v1/variables.tf
  modules/cloud-function-v1/versions.tf
  tests/modules/cloud_function/bundle/main.py
  tests/modules/cloud_function/common.tfvars
  tests/modules/cloud_function/fixture/common.tfvars
  tests/modules/cloud_function/fixture/main.tf
  tests/modules/cloud_function/fixture/variables.tf
  tests/modules/cloud_function/test_plan.py
  tests/modules/cloud_function_v1/examples/iam.yaml
  tests/modules/cloud_function_v1/examples/multiple_functions.yaml
Due: check_links, check_names

v2
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/outputs.tf
  modules/cloud-function-v2/variables.tf
  modules/cloud-function-v2/versions.tf
  tests/modules/cloud_function_v2/examples/iam.yaml
  tests/modules/cloud_function_v2/examples/multiple_functions.yaml
Due: check_links, check_names

blueprints
  README.md
  blueprints/apigee/bigquery-analytics/main.tf
  blueprints/cloud-operations/asset-inventory-feed-remediation/main.tf
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/main.tf
  blueprints/cloud-operations/quota-monitoring/main.tf
  blueprints/cloud-operations/scheduled-asset-inventory-export-bq/main.tf
  blueprints/cloud-operations/unmanaged-instances-healthcheck/main.tf
  blueprints/networking/private-cloud-function-from-onprem/main.tf
  blueprints/serverless/api-gateway/main.tf
  modules/README.md
Due: check_links, check_names

remove _http
  modules/cloud-function-v2/main.tf
Due: check_names

Split Cloud Function module in separate v1 and v2 modules (#1450)
  README.md
  blueprints/apigee/bigquery-analytics/main.tf
  blueprints/cloud-operations/asset-inventory-feed-remediation/main.tf
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/main.tf
  blueprints/cloud-operations/quota-monitoring/main.tf
  blueprints/cloud-operations/scheduled-asset-inventory-export-bq/main.tf
  blueprints/cloud-operations/unmanaged-instances-healthcheck/main.tf
  blueprints/networking/private-cloud-function-from-onprem/main.tf
  blueprints/serverless/api-gateway/main.tf
  modules/README.md
  modules/cloud-function-v1/README.md
  modules/cloud-function-v1/main.tf
  modules/cloud-function-v1/outputs.tf
  modules/cloud-function-v1/variables.tf
  modules/cloud-function-v1/versions.tf
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/outputs.tf
  modules/cloud-function-v2/variables.tf
  modules/cloud-function-v2/versions.tf
  tests/modules/cloud_function/common.tfvars
  tests/modules/cloud_function/fixture/common.tfvars
  tests/modules/cloud_function/fixture/main.tf
  tests/modules/cloud_function/fixture/variables.tf
  tests/modules/cloud_function/test_plan.py
  tests/modules/cloud_function_v1/examples/iam.yaml
  tests/modules/cloud_function_v1/examples/multiple_functions.yaml
  tests/modules/cloud_function_v2/examples/iam.yaml
  tests/modules/cloud_function_v2/examples/multiple_functions.yaml
Due: check_links, check_names

Added iam for DNS managed zone to dns module
  modules/dns/README.md
  modules/dns/main.tf
  modules/dns/variables.tf
  tests/modules/dns/examples/private-zone.yaml
  tests/modules/dns/examples/public-zone.yaml
Due: check_links, check_names

Update test resource counts
  tests/blueprints/factories/project_factory/examples/example.yaml
Due: none

Update README.md resource count
  blueprints/factories/project-factory/README.md
Due: check_links

Add new KMS bindings to tests
  tests/blueprints/factories/project_factory/examples/example.yaml
Due: none

fixup(project-factory): Use the correct KMS Service Agents attribute name
  blueprints/factories/project-factory/README.md
  fast/stages/3-project-factory/dev/main.tf
Due: check_links, check_names

fixup(project-factory): Use the correct KMS Service Agents attribute … (#1446)
  blueprints/factories/project-factory/README.md
  fast/stages/3-project-factory/dev/main.tf
  tests/blueprints/factories/project_factory/examples/example.yaml
Due: check_links, check_names

Fix roles and add dataproc
  blueprints/data-solutions/data-platform-minimal/02-processing.tf
  blueprints/data-solutions/data-platform-minimal/demo/README.md
  blueprints/data-solutions/data-platform-minimal/demo/dag_dataproc_gcs2bq.py
  blueprints/data-solutions/data-platform-minimal/demo/pyspark_gcs2bq.py
Due: check_links, check_names

Fix test
  blueprints/data-solutions/data-platform-minimal/README.md
Due: check_links

Remove file
  blueprints/data-solutions/data-platform-minimal/env.sh
Due: none

Fix lint
  blueprints/data-solutions/data-platform-minimal/02-processing.tf
  blueprints/data-solutions/data-platform-minimal/outputs.tf
Due: check_names

Fix readme
  blueprints/data-solutions/data-platform-minimal/README.md
Due: check_links

improve READMEs
  blueprints/data-solutions/data-platform-minimal/README.md
  blueprints/data-solutions/data-platform-minimal/demo/README.md
  blueprints/data-solutions/data-platform-minimal/demo/data/customers.csv
Due: check_links

Fix dataproc demo schema.
  blueprints/data-solutions/data-platform-minimal/demo/data/customers.csv
  blueprints/data-solutions/data-platform-minimal/demo/pyspark_gcs2bq.py
Due: none

Formatting
  modules/artifact-registry/README.md
Due: check_links
