Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

check_links:
  name: Check Links
  entry: python3
  args:
  - tools/check_links.py
  - .
  language: system

check_names:
  name: Check Names
  entry: python3
  args:
  - tools/check_names.py
  - --prefix-length=10
  - fast/stages
  language: system

update module docs
  blueprints/gke/multitenant-fleet/README.md
  fast/stages/3-gke-multitenant/dev/README.md
Due: check_links

Update pytest inventory file to meet module change
  tests/modules/cloud_run/examples/connector.yaml
Due: none

Update README showing the Shared VPC use case
  modules/cloud-run/README.md
  tests/modules/cloud_run/examples/connector-shared.yaml
Due: check_links

update variables files for gke nodepool taints (#1358)
  blueprints/gke/multitenant-fleet/README.md
  blueprints/gke/multitenant-fleet/variables.tf
  fast/stages/3-gke-multitenant/dev/README.md
  fast/stages/3-gke-multitenant/dev/variables.tf
Due: check_links, check_names

Update README tfdoc
  modules/cloud-run/README.md
Due: check_links

Fix README and folder name
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/data-platform-minimal/01-landing.tf
  blueprints/data-solutions/data-platform-minimal/02-composer.tf
  blueprints/data-solutions/data-platform-minimal/02-dataproc.tf
  blueprints/data-solutions/data-platform-minimal/02-processing.tf
  blueprints/data-solutions/data-platform-minimal/03-curated.tf
  blueprints/data-solutions/data-platform-minimal/04-common.tf
  blueprints/data-solutions/data-platform-minimal/IAM.md
  blueprints/data-solutions/data-platform-minimal/README.md
  blueprints/data-solutions/data-platform-minimal/demo/orchestrate_pyspark.py
  blueprints/data-solutions/data-platform-minimal/demo/pyspark_sort.py
  blueprints/data-solutions/data-platform-minimal/images/diagram.png
  blueprints/data-solutions/data-platform-minimal/images/dlp_diagram.png
  blueprints/data-solutions/data-platform-minimal/images/kms_diagram.png
  blueprints/data-solutions/data-platform-minimal/main.tf
  blueprints/data-solutions/data-platform-minimal/outputs.tf
  blueprints/data-solutions/data-platform-minimal/variables.tf
Due: check_links, check_names

update changelog
  CHANGELOG.md
Due: check_links

sql linting
  blueprints/data-solutions/bq-ml/demo/sql/explain_predict.sql
  blueprints/data-solutions/bq-ml/demo/sql/train.sql
Due: none

Added sql and jupyter notebook to run the demo
  blueprints/data-solutions/bq-ml/demo/bmql_pipeline.ipynb
  blueprints/data-solutions/bq-ml/demo/requirements.txt
  blueprints/data-solutions/bq-ml/demo/sql/explain_predict.sql
  blueprints/data-solutions/bq-ml/demo/sql/features.sql
  blueprints/data-solutions/bq-ml/demo/sql/train.sql
Due: none

Fix linting.
  blueprints/data-solutions/bq-ml/README.md
  blueprints/data-solutions/bq-ml/outputs.tf
Due: check_links, check_names

Add router BGP peers
  modules/net-ncc/main.tf
Due: check_names

Initial commit for NCC module
  modules/net-ncc/main.tf
  modules/net-ncc/variables.tf
Due: check_names

Generated variable table via tfdoc
  modules/net-ncc/README.md
Due: check_links

Add example of load-balanced router appliances
  modules/net-ncc/README.md
Due: check_links

Update
  blueprints/data-solutions/bq-ml/README.md
  blueprints/data-solutions/bq-ml/demo/sql/explain_predict.sql
  blueprints/data-solutions/bq-ml/demo/sql/features.sql
  blueprints/data-solutions/bq-ml/demo/sql/train.sql
  blueprints/data-solutions/bq-ml/main.tf
  blueprints/data-solutions/bq-ml/outputs.tf
  blueprints/data-solutions/bq-ml/variables.tf
  blueprints/data-solutions/bq-ml/versions.tf
Due: check_links, check_names

Billing exclusion support for FAST mt resman (#1209)
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/0-bootstrap-tenant/automation-sas.tf
  fast/stages-multitenant/0-bootstrap-tenant/automation.tf
  fast/stages-multitenant/0-bootstrap-tenant/billing.tf
  fast/stages-multitenant/0-bootstrap-tenant/organization.tf
  fast/stages-multitenant/0-bootstrap-tenant/variables.tf
  fast/stages-multitenant/1-resman-tenant/README.md
  fast/stages-multitenant/1-resman-tenant/variables.tf
  fast/stages/0-bootstrap/README.md
  fast/stages/1-resman/README.md
  tools/tfdoc.py
Due: check_links, check_names

Fix outdated go deps, dependabot alerts (#1208)
  blueprints/cloud-operations/unmanaged-instances-healthcheck/function/restarter/go.mod
  blueprints/cloud-operations/unmanaged-instances-healthcheck/function/restarter/go.sum
  tools/tfeditor/go.mod
  tools/tfeditor/go.sum
Due: none

Adapt example to use only allowed chars for resource names
  modules/net-ncc/README.md
Due: check_links

Replace map key derived from resource attributes
  modules/net-ncc/main.tf
Due: check_names

fixed notebook with dynamic model name cleared output from cells added creation of view instead of table
  blueprints/data-solutions/bq-ml/demo/bmql_pipeline.ipynb
  blueprints/data-solutions/bq-ml/demo/sql/features.sql
Due: none

Add image for load-balanced router appliances example
  modules/net-ncc/README.md
  modules/net-ncc/images/load-balanced-router-appliances.png
Due: check_links

First commit
  blueprints/data-solutions/bq-ml/README.md
  blueprints/data-solutions/bq-ml/main.tf
  blueprints/data-solutions/bq-ml/outputs.tf
  blueprints/data-solutions/bq-ml/variables.tf
  blueprints/data-solutions/bq-ml/versions.tf
Due: check_links, check_names

Add example of site to two VPCs
  modules/net-ncc/README.md
Due: check_links

Add example of custom route advertisements
  modules/net-ncc/README.md
Due: check_links

Fix README
  blueprints/data-solutions/README.md
  blueprints/data-solutions/bq-ml/README.md
Due: check_links

Update versions.
  blueprints/data-solutions/bq-ml/README.md
  blueprints/data-solutions/bq-ml/versions.tf
Due: check_links, check_names

Add image for site to two VPCs example
  modules/net-ncc/README.md
  modules/net-ncc/images/site-to-two-vpcs.png
Due: check_links

Add tftest to README
  modules/net-ncc/README.md
Due: check_links

Add image for site to VPC example
  modules/net-ncc/README.md
  modules/net-ncc/images/site-to-vpc.png
Due: check_links

Update README.
  blueprints/data-solutions/bq-ml/README.md
  blueprints/data-solutions/bq-ml/diagram.png
Due: check_links

Add README with first example
  modules/net-ncc/README.md
Due: check_links

Make optional some router config fields
  modules/net-ncc/variables.tf
Due: check_names

Simplify some naming
  modules/net-ncc/main.tf
Due: check_names

Set a unique name to CRs linked to spokes
  modules/net-ncc/main.tf
Due: check_names

Set a unique name to spokes
  modules/net-ncc/main.tf
Due: check_names

Allow preventing creation of billing IAM roles in FAST, add instructions on delayed billing association (#1207)
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/billing.tf
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/billing.tf
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/variables.tf
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-security/README.md
Due: check_links, check_names

Fix test.
  blueprints/data-solutions/bq-ml/README.md
  blueprints/data-solutions/bq-ml/outputs.tf
Due: check_links, check_names

Fix readme.
  blueprints/data-solutions/README.md
  blueprints/data-solutions/bq-ml/README.md
  blueprints/data-solutions/bq-ml/demo/bmql_pipeline.ipynb
  blueprints/data-solutions/bq-ml/variables.tf
Due: check_links, check_names

Fix Jit notebook service account.
  blueprints/data-solutions/bq-ml/README.md
  blueprints/data-solutions/data-playground/README.md
  blueprints/data-solutions/vertex-mlops/README.md
  modules/project/service-accounts.tf
Due: check_links, check_names

Update subnet sample yaml files to use subnet_secondary_ranges (#1203)
  fast/stages/2-networking-a-peering/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-a-peering/data/subnets/dev/dev-gke-nodes-ew1.yaml
  fast/stages/2-networking-b-vpn/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-b-vpn/data/subnets/dev/dev-gke-nodes-ew1.yaml
  fast/stages/2-networking-d-separate-envs/data/subnets/dev/dev-dataplatform-ew1.yaml
Due: none

Path conditions:
  check_links: any of: \.(md|markdown|mdown)$
  check_names: any of: \.(tf|tfvars)$
