Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

check_links:
  name: Check Links
  entry: python3
  args:
  - tools/check_links.py
  - .
  language: system

check_names:
  name: Check Names
  entry: python3
  args:
  - tools/check_names.py
  - --prefix-length=10
  - fast/stages
  language: system

Refactor datapipeline_dc_tags.py and include new Flex template
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline.py
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline_dc_tags.py
Due: none

Update docs to reflect changes
  blueprints/data-solutions/data-platform-foundations/demo/README.md
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/README.md
  blueprints/data-solutions/data-platform-foundations/images/df_demo_pipeline.png
Due: check_links

Remove sub-dependencies and keep apache beam
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/src/requirements.txt
Due: none

Updated hybrid GKE readme
  blueprints/apigee/hybrid-gke/README.md
Due: check_links

readme
  fast/stages-multitenant/0-bootstrap-tenant/README.md
Due: check_links

Support for Filestore and Memorystore PSA ranges
  blueprints/cloud-operations/network-dashboard/src/plugins/discover-cai.py
  blueprints/cloud-operations/network-dashboard/src/plugins/series-psa.py
Due: none

Add missing license headers and update tests
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/Dockerfile
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/cloudbuild.yaml
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/src/csv2bq.py
  tests/blueprints/data_solutions/data_platform_foundations/test_plan.py
Due: none

Updating dashboard
  blueprints/cloud-operations/network-dashboard/dashboards/quotas-utilization.json
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/variables.tf
Due: check_names

Set resouces to 291 in tests
  tests/blueprints/data_solutions/data_platform_foundations/test_plan.py
Due: none

Update README.md
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/README.md
Due: check_links

Update outputs via tfdoc
  blueprints/data-solutions/data-platform-foundations/README.md
Due: check_links

Update with outputs order and tfdoc
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/data-platform-foundations/outputs.tf
Due: check_links, check_names

Correct number of resources
  blueprints/data-solutions/data-platform-foundations/README.md
Due: check_links

Add KMS and Log.
  blueprints/data-solutions/shielded-folder/kms.tf
  blueprints/data-solutions/shielded-folder/log-export.tf
  blueprints/data-solutions/shielded-folder/main.tf
  blueprints/data-solutions/shielded-folder/variables.tf
Due: check_names

fix stage links script
  fast/stage-links.sh
Due: none

enable Python lint check for network dashboard
  .github/workflows/linting.yml
Due: none

fix linting for network dashboard
  blueprints/cloud-operations/network-dashboard/src/main.py
  blueprints/cloud-operations/network-dashboard/src/plugins/discover-cai.py
  blueprints/cloud-operations/network-dashboard/src/plugins/series-psa.py
Due: none

Check linting for Python dashboard files (#1107)
  .github/workflows/linting.yml
  blueprints/cloud-operations/network-dashboard/src/main.py
  blueprints/cloud-operations/network-dashboard/src/plugins/discover-cai.py
  blueprints/cloud-operations/network-dashboard/src/plugins/series-psa.py
Due: none

stage 0 readme
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/0-bootstrap-tenant/variables.tf
Due: check_links, check_names

Fixed PR comments
  blueprints/data-solutions/vertex-mlops/README.md
  blueprints/data-solutions/vertex-mlops/images/mlops_projects.png
  blueprints/data-solutions/vertex-mlops/main.tf
  blueprints/data-solutions/vertex-mlops/notebooks.tf
  blueprints/data-solutions/vertex-mlops/outputs.tf
  blueprints/data-solutions/vertex-mlops/variables.tf
Due: check_links, check_names

Pull from github
  blueprints/cloud-operations/apigee/bundle-export.zip
  blueprints/cloud-operations/apigee/bundle-gcs2bq.zip
Due: none

Improved README.md
  blueprints/data-solutions/vertex-mlops/README.md
  blueprints/data-solutions/vertex-mlops/main.tf
  blueprints/data-solutions/vertex-mlops/variables.tf
Due: check_links, check_names

Add support for require_ssl
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Due: check_links, check_names

Update require_ssl on replica
  modules/cloudsql-instance/main.tf
Due: check_names

Fix format
  modules/cloudsql-instance/main.tf
Due: check_names

Initial commit, Cloud Run service with default URL
  blueprints/serverless/cloud-run-explore/config/default.tfvars
  blueprints/serverless/cloud-run-explore/main.tf
  blueprints/serverless/cloud-run-explore/outputs.tf
  blueprints/serverless/cloud-run-explore/variables.tf
Due: check_names

Fix to add region into command from var
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/README.md
Due: check_links

Add CMEK support
  blueprints/data-solutions/vertex-mlops/README.md
  blueprints/data-solutions/vertex-mlops/ci-cd.tf
  blueprints/data-solutions/vertex-mlops/main.tf
  blueprints/data-solutions/vertex-mlops/notebooks.tf
  blueprints/data-solutions/vertex-mlops/outputs.tf
  blueprints/data-solutions/vertex-mlops/variables.tf
Due: check_links, check_names

Add Global Load Balancer in front of Cloud Run
  blueprints/serverless/cloud-run-explore/main.tf
  blueprints/serverless/cloud-run-explore/variables.tf
Due: check_names

Update
  blueprints/data-solutions/shielded-folder/kms.tf
  blueprints/data-solutions/shielded-folder/log-export.tf
  blueprints/data-solutions/shielded-folder/main.tf
  blueprints/data-solutions/shielded-folder/variables.tf
Due: check_names

Syntax fix
  blueprints/cloud-operations/network-dashboard/src/plugins/discover-cai.py
Due: none

Network Dashboard: PSA support for Filestore and Memorystore (#1106)
  blueprints/cloud-operations/network-dashboard/dashboards/quotas-utilization.json
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/README.md
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/variables.tf
  blueprints/cloud-operations/network-dashboard/src/plugins/discover-cai.py
  blueprints/cloud-operations/network-dashboard/src/plugins/series-psa.py
Due: check_links, check_names

Make KMS and Log sink optionals
  blueprints/data-solutions/shielded-folder/kms.tf
  blueprints/data-solutions/shielded-folder/log-export.tf
  blueprints/data-solutions/shielded-folder/main.tf
  blueprints/data-solutions/shielded-folder/variables.tf
Due: check_names

Fix
  blueprints/data-solutions/shielded-folder/main.tf
Due: check_names

Improved README.md
  blueprints/data-solutions/vertex-mlops/README.md
Due: check_links

Fixed bucket name
  blueprints/data-solutions/vertex-mlops/main.tf
Due: check_names

Enable service account impersonation for running builds
  blueprints/data-solutions/data-platform-foundations/03-orchestration.tf
  blueprints/data-solutions/data-platform-foundations/outputs.tf
  modules/project/service-accounts.tf
Due: check_names

Update example dataflow run command to use orchestrator SA
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/README.md
Due: check_links

Remove hard coded values in example
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/README.md
Due: check_links

HTTPS frontend with static IP
  blueprints/serverless/cloud-run-explore/main.tf
Due: check_names

Path conditions:
  check_links: any of: \.(md|markdown|mdown)$
  check_names: any of: \.(tf|tfvars)$
