Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

Fix data-eng role on orchestration project.
  blueprints/data-solutions/data-platform-foundations/03-orchestration.tf
Due: check_names

Network Dashboard improvements and bug fixing (#1289)
  blueprints/cloud-operations/network-dashboard/README.md
  blueprints/cloud-operations/network-dashboard/src/README.md
  blueprints/cloud-operations/network-dashboard/src/plugins/discover-group-networks.py
  blueprints/cloud-operations/network-dashboard/src/plugins/series-firewall-rules.py
  blueprints/cloud-operations/network-dashboard/src/plugins/series-networks.py
  blueprints/cloud-operations/network-dashboard/src/plugins/series-routes.py
Due: check_links

Add Cloud Batch service identity (#1294)
  modules/project/service-accounts.tf
Due: check_names

linting
  modules/cloud-config-container/simple-nva/README.md
  modules/cloud-config-container/simple-nva/variables.tf
Due: check_links, check_names

Update IAM.md
  blueprints/data-solutions/data-platform-foundations/IAM.md
  blueprints/data-solutions/data-platform-foundations/default.tfstate
Due: check_links

update changelog
  CHANGELOG.md
Due: check_links

Fix vtysh (#1300)
  modules/cloud-config-container/simple-nva/main.tf
Due: check_names

fixing tests and refactoring default
  modules/gke-cluster/README.md
  modules/gke-cluster/main.tf
  modules/gke-cluster/variables.tf
  tests/modules/gke_cluster/examples/backup.yaml
Due: check_links, check_names

Add test veryfing multiple filenames are used by default
  tests/modules/cloud_function/fixture/main.tf
  tests/modules/cloud_function/fixture/variables.tf
  tests/modules/cloud_function/test_plan.py
Due: check_names

small fixes
  modules/cloud-config-container/simple-nva/README.md
  modules/cloud-config-container/simple-nva/cloud-config.yaml
  modules/cloud-config-container/simple-nva/main.tf
  modules/cloud-config-container/simple-nva/variables.tf
Due: check_links, check_names

update documentation
  modules/cloud-config-container/simple-nva/README.md
  modules/cloud-config-container/simple-nva/cloud-config.yaml
  modules/cloud-config-container/simple-nva/main.tf
Due: check_links, check_names

Refactor cloud run module to use optionals and support all features (#1293)
  blueprints/serverless/cloud-run-corporate/main.tf
  blueprints/serverless/cloud-run-explore/main.tf
  modules/cloud-run/README.md
  modules/cloud-run/main.tf
  modules/cloud-run/variables.tf
  tests/modules/cloud_run/examples/audit-logs.yaml
  tests/modules/cloud_run/examples/connector.yaml
  tests/modules/cloud_run/examples/eventarc.yaml
  tests/modules/cloud_run/examples/revision-annotations.yaml
  tests/modules/cloud_run/examples/secrets.yaml
  tests/modules/cloud_run/examples/service-account-external.yaml
  tests/modules/cloud_run/examples/service-account.yaml
  tests/modules/cloud_run/examples/simple.yaml
  tests/modules/cloud_run/examples/traffic.yaml
  tests/modules/cloud_run/fixture/main.tf
  tests/modules/cloud_run/test_plan.py
Due: check_links, check_names

fixes
  modules/cloud-config-container/simple-nva/cloud-config.yaml
  modules/cloud-config-container/simple-nva/main.tf
Due: check_names

Use example testing instead custom test
  modules/cloud-function/README.md
  tests/modules/cloud_function/examples/multiple_functions.yaml
  tests/modules/cloud_function/fixture/main.tf
  tests/modules/cloud_function/fixture/variables.tf
  tests/modules/cloud_function/test_plan.py
Due: check_links, check_names

add firewall mgmt on simple-nva module
  modules/cloud-config-container/simple-nva/cloud-config.yaml
  modules/cloud-config-container/simple-nva/main.tf
  modules/cloud-config-container/simple-nva/variables.tf
Due: check_names

Add ability to run vtysh from simple-nva vm directly when frr is active (#1301)
  modules/cloud-config-container/simple-nva/main.tf
Due: check_names

Use unique bundle name for Cloud Function
  modules/cloud-function/README.md
  modules/cloud-function/main.tf
  modules/cloud-function/variables.tf
Due: check_links, check_names

DNS policy module fixes (#1278)
  modules/dns-response-policy/README.md
  modules/dns-response-policy/outputs.tf
  modules/dns-response-policy/variables.tf
Due: check_links, check_names

Update hierarchical_rules.schema.yaml (#1285)
  fast/assets/schemas/hierarchical_rules.schema.yaml
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: check_links

fixing tests and refactoring default
  modules/gke-cluster/README.md
Due: check_links

Add sample vtysh file to remove warnings (#1298)
  modules/cloud-config-container/simple-nva/files/frr/vtysh.conf
  modules/cloud-config-container/simple-nva/main.tf
Due: check_names

fix typo in variable name (#1324)
  fast/extras/0-cicd-github/README.md
  fast/extras/0-cicd-github/main.tf
  fast/extras/0-cicd-github/variables.tf
Due: check_links, check_names

fix: create log-export-dataset on shielded-folder when no ecryption keys are defined
  blueprints/data-solutions/shielded-folder/log-export.tf
Due: check_names

create firewall_policy_enforcement_order.yaml test
  tests/modules/net_vpc/examples/firewall_policy_enforcement_order.yaml
Due: none

added example for source&destination ranges usage in fw rules
  modules/net-vpc-firewall/README.md
Due: check_links

Allow longer org pfx plus tenant pfx (#1318)
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/1-resman-tenant/variables.tf
  fast/stages/0-bootstrap/README.md
Due: check_links, check_names

add firewall enforcement variable to VPC
  modules/net-vpc/README.md
  modules/net-vpc/main.tf
  modules/net-vpc/variables.tf
Due: check_links, check_names

bump provider versions
  default-versions.tf
Due: check_names

add missing enable_addons reference in gke blueprint for multitenant-fleet
  blueprints/gke/multitenant-fleet/gke-clusters.tf
Due: check_names

Add CMEK support
  modules/secret-manager/README.md
  modules/secret-manager/main.tf
  modules/secret-manager/variables.tf
Due: check_links, check_names

Fix the tf error: Inconsistent conditional result types
  modules/net-vpc/subnets.tf
Due: check_names

updated variables doc
  modules/net-vpc-firewall/README.md
Due: check_links

Update num. resources in tests
  blueprints/serverless/cloud-run-explore/README.md
Due: check_links

Migrate cloudsql-instance examples
  modules/cloudsql-instance/README.md
  tests/modules/cloudsql_instance/__init__.py
  tests/modules/cloudsql_instance/examples/custom.yaml
  tests/modules/cloudsql_instance/examples/public-ip.yaml
  tests/modules/cloudsql_instance/examples/replicas.yaml
  tests/modules/cloudsql_instance/examples/simple.yaml
  tests/modules/cloudsql_instance/fixture/main.tf
  tests/modules/cloudsql_instance/fixture/variables.tf
  tests/modules/cloudsql_instance/test_plan.py
Due: check_links, check_names

included an empty list as default in the ingress_rules.destination_ranges variable
  modules/net-vpc-firewall/main.tf
  modules/net-vpc-firewall/variables.tf
Due: check_names

Fixed type in readme for FAST stages
  fast/stages/README.md
Due: check_links
