Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

Extend support for tag bindings to more modules (#2307)
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/tags.tf
  modules/bigquery-dataset/variables.tf
  modules/cloud-run-v2/README.md
  modules/cloud-run-v2/tags.tf
  modules/cloud-run-v2/variables.tf
  modules/cloud-run/README.md
  modules/cloud-run/tags.tf
  modules/cloud-run/variables.tf
  modules/gcs/README.md
  modules/gcs/variables.tf
  modules/kms/README.md
  modules/kms/tags.tf
  modules/kms/variables.tf
Due: check_links, check_names

update changelog
  CHANGELOG.md
Due: check_links

Update README.md
  fast/stages/1-tenant-factory/README.md
Due: check_links

use secret manager to store auth token small updates and improvements
  blueprints/third-party-solutions/gitlab-runner/README.md
  blueprints/third-party-solutions/gitlab-runner/assets/startup-script.sh.tpl
  blueprints/third-party-solutions/gitlab-runner/main.tf
  blueprints/third-party-solutions/gitlab-runner/runner.tf
  blueprints/third-party-solutions/gitlab-runner/variables.tf
Due: check_links, check_names

add gitlab runner blueprint
  blueprints/third-party-solutions/README.md
  blueprints/third-party-solutions/gitlab-runner/README.md
  blueprints/third-party-solutions/gitlab-runner/assets/config/docker_autoscaler_config.toml.tpl
  blueprints/third-party-solutions/gitlab-runner/assets/config/docker_config.toml.tpl
  blueprints/third-party-solutions/gitlab-runner/assets/startup-script.sh.tpl
  blueprints/third-party-solutions/gitlab-runner/images/docker-autoscaler.png
  blueprints/third-party-solutions/gitlab-runner/images/docker.png
  blueprints/third-party-solutions/gitlab-runner/main.tf
  blueprints/third-party-solutions/gitlab-runner/runner.tf
  blueprints/third-party-solutions/gitlab-runner/variables.tf
Due: check_links, check_names

Gitlab Runner blueprint (#2106)
  blueprints/third-party-solutions/README.md
  blueprints/third-party-solutions/gitlab-runner/README.md
  blueprints/third-party-solutions/gitlab-runner/assets/config/docker_autoscaler_config.toml.tpl
  blueprints/third-party-solutions/gitlab-runner/assets/config/docker_config.toml.tpl
  blueprints/third-party-solutions/gitlab-runner/assets/startup-script.sh.tpl
  blueprints/third-party-solutions/gitlab-runner/images/docker-autoscaler.png
  blueprints/third-party-solutions/gitlab-runner/images/docker.png
  blueprints/third-party-solutions/gitlab-runner/main.tf
  blueprints/third-party-solutions/gitlab-runner/runner.tf
  blueprints/third-party-solutions/gitlab-runner/variables.tf
Due: check_links, check_names

Updated tests
  fast/stages/2-networking-c-nva/nva-bgp.tf
  tests/fast/stages/s2_networking_c_nva/ncc-ra.tfvars
  tests/fast/stages/s2_networking_c_nva/ncc-ra.yaml
  tests/fast/stages/s2_networking_c_nva/simple.tfvars
  tests/fast/stages/s2_networking_c_nva/tftest.yaml
  tests/fast/stages/s2_networking_e_nva_bgp/simple.yaml
  tests/fast/stages/s2_networking_e_nva_bgp/tftest.yaml
Due: check_names

References cleanup
  fast/stages/2-networking-a-simple/README.md
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/data/firewall-rules/dmz/bgp.yaml
  fast/stages/2-networking-c-nva/data/firewall-rules/landing/bgp.yaml
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/3-project-factory/dev/README.md
  fast/stages/README.md
Due: check_links

README cleanup
  fast/stages/2-networking-c-nva/README.md
Due: check_links

Update README.md
  fast/stages/2-networking-c-nva/README.md
Due: check_links

Updated diagrams
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/diagram-ncc.png
  fast/stages/2-networking-c-nva/diagram-ncc.svg
  fast/stages/2-networking-c-nva/diagram-simple.png
  fast/stages/2-networking-c-nva/diagram-simple.svg
Due: check_links

image to be a variable
  blueprints/gcve/pc-minimal/gcve-mon.tf
  fast/stages/3-gcve/prod/main.tf
  modules/gcve-monitoring/main.tf
  modules/gcve-monitoring/variables.tf
Due: check_names

resolve merge conflict
  fast/stages/3-gcve/prod/variables-fast.tf
  fast/stages/3-gcve/prod/variables.tf
Due: check_names

terraform fmt
  blueprints/gcve/pc-minimal/gcve-mon.tf
Due: check_names

regenerate readme
  modules/gcve-monitoring/README.md
Due: check_links

added tests for GCVE Monitoring
  tests/fast/stages/s3_gcve/simple_with_monitoring.tfvars
  tests/fast/stages/s3_gcve/simple_with_monitoring.yaml
  tests/fast/stages/s3_gcve/tftest.yaml
Due: check_names

remove unused variables
  modules/gcve-monitoring/main.tf
  modules/gcve-monitoring/variables.tf
Due: check_names

update docs
  fast/stages/3-gcve/prod/README.md
  modules/gcve-monitoring/README.md
Due: check_links

fix Readmes
  blueprints/gcve/pc-minimal/README.md
  blueprints/gcve/pc-minimal/variables.tf
  fast/stages/3-gcve/prod/README.md
  fast/stages/3-gcve/prod/outputs.tf
  fast/stages/3-gcve/prod/variables.tf
  modules/gcve-monitoring/README.md
  modules/gcve-monitoring/outputs.tf
  modules/gcve-monitoring/variables.tf
Due: check_links, check_names

fix one more Readme
  fast/stages/3-gcve/prod/README.md
Due: check_links

update required TF versions
  modules/gcve-monitoring/versions.tf
Due: check_names

Fixes for Alloydb E2E tests
  modules/alloydb/README.md
Due: check_links

Secret manager e2etests (#2280)
  CONTRIBUTING.md
  modules/secret-manager/README.md
  tests/examples/variables.tf
  tests/examples_e2e/setup_module/e2e_tests.tfvars.tftpl
  tests/examples_e2e/setup_module/main.tf
  tests/examples_e2e/setup_module/variables.tf
  tests/fixtures.py
  tests/fixtures/kms-global-regional-keys.tf
  tests/modules/secret_manager/examples/secret-cmek.yaml
  tests/modules/secret_manager/examples/secret.yaml
  tests/modules/secret_manager/examples/versions.yaml
Due: check_links, check_names

Fix tests
  tests/modules/alloydb/examples/simple.yaml
Due: none

FAST: Remove obsolete assets, fixes/updates factory validations
  .github/workflows/linting.yml
  fast/assets/schemas/firewall_rules.schema.yaml
  fast/assets/schemas/hierarchical_rules.schema.yaml
  fast/assets/schemas/project.schema.yaml
  fast/assets/schemas/project_defaults.schema.yaml
  fast/assets/schemas/subnet.schema.yaml
  fast/stages/COMPANION.md
  fast/stages/IaC_SA.png
  tools/validate_schema.py
Due: check_links

VSCode disagreed with me on tab size. Fixed.
  tools/validate_schema.py
Due: none

Explicit YAPF style
  .github/workflows/linting.yml
  .style.yapf
  tools/lint.sh
Due: none

FAST: Obsolete assets cleanup
  fast/assets/schemas/firewall_rules.schema.yaml
  fast/assets/schemas/hierarchical_rules.schema.yaml
  fast/assets/schemas/project.schema.yaml
  fast/assets/schemas/project_defaults.schema.yaml
  fast/assets/schemas/subnet.schema.yaml
  fast/stages/COMPANION.md
  fast/stages/IaC_SA.png
  tools/validate_schema.py
Due: check_links

FAST: Obsolete assets cleanup (#2315)
  fast/assets/schemas/firewall_rules.schema.yaml
  fast/assets/schemas/hierarchical_rules.schema.yaml
  fast/assets/schemas/project.schema.yaml
  fast/assets/schemas/project_defaults.schema.yaml
  fast/assets/schemas/subnet.schema.yaml
  fast/stages/COMPANION.md
  fast/stages/IaC_SA.png
  tools/validate_schema.py
Due: check_links

Updated README
  fast/stages/2-networking-b-nva/README.md
Due: check_links

Updated README
  fast/stages/2-networking-a-simple/README.md
Due: check_links

Updated READMEs
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/3-project-factory/dev/README.md
Due: check_links

resource_labels added to the node_config nodepool
  modules/gke-nodepool/main.tf
Due: check_names

fix: clarify org policy tag limitations
  fast/stages/0-bootstrap/README.md
Due: check_links

fix: use a more generic term to describe binding possibilities
  fast/stages/0-bootstrap/README.md
Due: check_links
