Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

work on gke blueprints
  blueprints/gke/binauthz/main.tf
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/README.md
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/ansible.tf
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/gke.tf
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/main.tf
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/vm.tf
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/vpc.tf
  blueprints/gke/multitenant-fleet/README.md
  blueprints/gke/multitenant-fleet/gke-clusters.tf
  blueprints/gke/multitenant-fleet/gke-hub.tf
  blueprints/gke/multitenant-fleet/gke-nodepools.tf
  blueprints/gke/multitenant-fleet/main.tf
  blueprints/gke/multitenant-fleet/variables.tf
  modules/gke-cluster/README.md
  modules/gke-cluster/main.tf
  modules/gke-cluster/variables.tf
Due: check_links, check_names

multitenant fleet doc examples
  blueprints/gke/multitenant-fleet/README.md
  blueprints/gke/multitenant-fleet/variables.tf
Due: check_links, check_names

fix gke hub doc examples
  blueprints/networking/shared-vpc-gke/main.tf
  modules/gke-hub/README.md
Due: check_links, check_names

blueprint tests
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/gke.tf
  blueprints/gke/multitenant-fleet/README.md
  blueprints/gke/multitenant-fleet/variables.tf
  blueprints/networking/hub-and-spoke-peering/main.tf
  tests/blueprints/gke/multitenant_fleet/fixture/main.tf
  tests/blueprints/gke/multitenant_fleet/test_plan.py
  tests/blueprints/networking/hub_and_spoke_peering/test_plan.py
  tests/modules/gke_nodepool/test_plan.py
Due: check_links, check_names

move master range to vpc config
  blueprints/gke/binauthz/main.tf
  blueprints/networking/hub-and-spoke-peering/main.tf
  blueprints/networking/shared-vpc-gke/main.tf
  modules/gke-cluster/README.md
  modules/gke-hub/README.md
Due: check_links, check_names

fast stage 3 gke test
  fast/stages/03-gke-multitenant/dev/main.tf
  fast/stages/03-gke-multitenant/dev/variables.tf
  tests/fast/stages/s03_gke_multitenant/fixture/main.tf
Due: check_names

tfdoc
  blueprints/gke/multitenant-fleet/README.md
  fast/stages/03-gke-multitenant/dev/README.md
Due: check_links

Make changelog tool slower to work around inconcistencies in API results
  CHANGELOG.md
  tools/changelog.py
Due: check_links

add comment
  tools/changelog.py
Due: none

Make changelog tool slower to work around inconsistencies in API results (#876)
  CHANGELOG.md
  tools/changelog.py
Due: check_links

added support for ppg static routes
  blueprints/cloud-operations/network-dashboard/README.md
  blueprints/cloud-operations/network-dashboard/cloud-function/main.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics.yaml
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/firewall_policies.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/routes.py
Due: check_links

aligned timestamps for ppg data
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/limits.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/metrics.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/routes.py
Due: none

fix autoscaling block
  modules/gke-nodepool/main.tf
Due: check_names

invert autoscaling block condition
  modules/gke-nodepool/main.tf
Due: check_names

add autoscaling test
  modules/gke-nodepool/main.tf
  tests/modules/gke_nodepool/test_plan.py
Due: check_names

fix autoscaling block (#877)
  modules/gke-nodepool/main.tf
  tests/modules/gke_nodepool/test_plan.py
Due: check_names

update changelog
  CHANGELOG.md
Due: check_links

chore: update cft and fabric
  FABRIC-AND-CFT.md
  REFERENCES.md
Due: check_links

Update readme
  modules/cloud-function/README.md
Due: check_links

Create local function object
  modules/cloud-function/main.tf
  modules/cloud-function/outputs.tf
Due: check_names

chore: update cft and fabric (#878)
  FABRIC-AND-CFT.md
  REFERENCES.md
Due: check_links

Update roles
  blueprints/data-solutions/data-platform-foundations/07-exposure.tf
Due: check_names

added secret_volumes and secret_environment_variables for CF V2
  modules/cloud-function/main.tf
Due: check_names

added support 2nd generation cloud function (#872)
  blueprints/cloud-operations/network-dashboard/cloud-function/main.py
  blueprints/cloud-operations/network-dashboard/cloud-function/requirements.txt
  blueprints/cloud-operations/network-dashboard/main.tf
  blueprints/cloud-operations/network-dashboard/variables.tf
  modules/cloud-function/README.md
  modules/cloud-function/main.tf
  modules/cloud-function/outputs.tf
  modules/cloud-function/variables.tf
Due: check_links, check_names

Update changelog
  CHANGELOG.md
Due: check_links

Add PSC hybrid blueprint
  blueprints/networking/psc-hybrid/README.md
  blueprints/networking/psc-hybrid/main.tf
  blueprints/networking/psc-hybrid/psc-consumer/README.md
  blueprints/networking/psc-hybrid/psc-consumer/main.tf
  blueprints/networking/psc-hybrid/psc-consumer/variables.tf
  blueprints/networking/psc-hybrid/psc-producer/README.md
  blueprints/networking/psc-hybrid/psc-producer/main.tf
  blueprints/networking/psc-hybrid/psc-producer/outputs.tf
  blueprints/networking/psc-hybrid/psc-producer/variables.tf
  blueprints/networking/psc-hybrid/variables.tf
Due: check_links, check_names

Adjust formatting
  blueprints/networking/psc-hybrid/psc-producer/main.tf
  blueprints/networking/psc-hybrid/psc-producer/variables.tf
Due: check_names

Add missing license
  blueprints/networking/psc-hybrid/variables.tf
Due: check_names

Format fixes
  blueprints/networking/psc-hybrid/main.tf
  blueprints/networking/psc-hybrid/variables.tf
Due: check_names

module tests pass
  modules/net-vpc/README.md
  modules/net-vpc/main.tf
  modules/net-vpc/psa.tf
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
  tests/modules/net_vpc/fixture/main.tf
  tests/modules/net_vpc/fixture/variables.tf
  tests/modules/net_vpc/test_plan.py
  tests/modules/net_vpc/test_plan_psa.py
  tests/modules/net_vpc/test_plan_subnets.py
Due: check_links, check_names

doc examples
  modules/net-vpc/README.md
Due: check_links

Fixes
  blueprints/networking/psc-hybrid/README.md
  blueprints/networking/psc-hybrid/main.tf
  blueprints/networking/psc-hybrid/variables.tf
Due: check_links, check_names

more fixes
  blueprints/networking/psc-hybrid/main.tf
  blueprints/networking/psc-hybrid/variables.tf
Due: check_names
