Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

check_links:
  name: Check Links
  entry: python3
  args:
  - tools/check_links.py
  - .
  language: system

check_names:
  name: Check Names
  entry: python3
  args:
  - tools/check_names.py
  - --prefix-length=10
  - fast/stages
  language: system

Fixed linting
  blueprints/data-solutions/vertex-mlops/README.md
  blueprints/data-solutions/vertex-mlops/variables.tf
Due: check_links, check_names

First commit.
  blueprints/data-solutions/shielded-folder/README.md
  blueprints/data-solutions/shielded-folder/data/firewall-policies/cidrs.yaml
  blueprints/data-solutions/shielded-folder/data/firewall-policies/hierarchical-policy-rules.yaml
  blueprints/data-solutions/shielded-folder/data/org-policies/compute.yaml
  blueprints/data-solutions/shielded-folder/data/org-policies/iam.yaml
  blueprints/data-solutions/shielded-folder/data/org-policies/serverless.yaml
  blueprints/data-solutions/shielded-folder/data/org-policies/sql.yaml
  blueprints/data-solutions/shielded-folder/data/org-policies/storage.yaml
  blueprints/data-solutions/shielded-folder/maint.tf
  blueprints/data-solutions/shielded-folder/variables.tf
Due: check_links, check_names

Fixed tests
  tests/blueprints/data_solutions/vertex_mlops/fixture/data/defaults.yaml
  tests/blueprints/data_solutions/vertex_mlops/fixture/data/projects/project.yaml
  tests/blueprints/data_solutions/vertex_mlops/test_plan.py
Due: none

First commit
  modules/vpc-sc/README.md
  modules/vpc-sc/main.tf
  modules/vpc-sc/variables.tf
Due: check_links, check_names

Added an example with a MIG
  modules/net-glb/README.md
Due: check_links

VPC-SC
  blueprints/data-solutions/shielded-folder/README.md
  blueprints/data-solutions/shielded-folder/data/vpc-sc/accessible-services.yaml
  blueprints/data-solutions/shielded-folder/data/vpc-sc/restricted-services.yaml
  blueprints/data-solutions/shielded-folder/main.tf
  blueprints/data-solutions/shielded-folder/variables.tf
Due: check_links, check_names

Fixed PR comments
  blueprints/data-solutions/vertex-mlops/README.md
  blueprints/data-solutions/vertex-mlops/main.tf
  blueprints/data-solutions/vertex-mlops/terraform.tfvars.sample
  blueprints/data-solutions/vertex-mlops/variables.tf
  tests/blueprints/data_solutions/vertex_mlops/fixture/main.tf
Due: check_links, check_names

Add shared-vpc support on Data Playgroud blueprint
  blueprints/data-solutions/data-playground/README.md
  blueprints/data-solutions/data-playground/main.tf
  blueprints/data-solutions/data-playground/outputs.tf
  blueprints/data-solutions/data-playground/variables.tf
  blueprints/data-solutions/main.tf
  modules/project/service-accounts.tf
  tests/blueprints/data_solutions/data_playground/test_plan.py
Due: check_links, check_names

Remove temp file.
  blueprints/data-solutions/main.tf
Due: check_names

Fix dataflow shared-vpc support
  blueprints/data-solutions/data-playground/main.tf
Due: check_names

Fix tests for servicemesh
  modules/gke-hub/README.md
  tests/modules/gke_hub/fixture/variables.tf
  tests/modules/gke_hub/test_plan.py
Due: check_links, check_names

Use google_gkehub_feature_membership
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/ansible/roles/install/tasks/install.yaml
  modules/gke-hub/main.tf
Due: check_names

Even more test fixes
  blueprints/gke/multitenant-fleet/README.md
  modules/gke-hub/README.md
  tests/blueprints/gke/multi_cluster_mesh_gke_fleet_api/test_plan.py
  tests/modules/gke_hub/test_plan.py
Due: check_links

diagram
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/0-bootstrap-tenant/diagram.svg
Due: check_links

fix destroy in stage 1 outputs
  fast/stages/01-resman/outputs.tf
Due: check_names

fix destroy in stage 1 outputs (#1099)
  fast/stages/01-resman/outputs.tf
Due: check_names

Fixed PR comments
  blueprints/data-solutions/vertex-mlops/ci-cd.tf
  blueprints/data-solutions/vertex-mlops/main.tf
  blueprints/data-solutions/vertex-mlops/notebooks.tf
  blueprints/data-solutions/vertex-mlops/terraform.tfvars.sample
  blueprints/data-solutions/vertex-mlops/variables.tf
Due: check_names

Fixed linting
  blueprints/data-solutions/vertex-mlops/README.md
Due: check_links

Fixed linting
  tests/blueprints/data_solutions/vertex_mlops/fixture/main.tf
Due: check_names

Revert to use each.key for membership
  modules/gke-hub/main.tf
Due: check_names

Add initial dataflow template code + TF infra
  blueprints/data-solutions/data-platform-foundations/03-orchestration.tf
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/.gitignore
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/Dockerfile
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/README.md
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/cloudbuild.yaml
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/run_build.sh
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/run_simple.sh
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/run_template.sh
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/src/csv2bq.py
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/src/requirements.txt
  blueprints/data-solutions/data-platform-foundations/outputs.tf
Due: check_links, check_names

Extend net-vpc README with more tested examples
  modules/net-vpc/README.md
  tests/examples/test_plan.py
  tests/modules/net_vpc/examples/subnet-iam.yaml
  tests/modules/net_vpc/examples/subnet-options.yaml
  tests/modules/net_vpc/fixture/main.tf
  tests/modules/net_vpc/fixture/test.subnets.tfvars
  tests/modules/net_vpc/fixture/variables.tf
  tests/modules/net_vpc/peering.tfvars
  tests/modules/net_vpc/peering.yaml
  tests/modules/net_vpc/psa_simple.tfvars
  tests/modules/net_vpc/psa_simple.yaml
  tests/modules/net_vpc/simple.tfvars
  tests/modules/net_vpc/simple.yaml
  tests/modules/net_vpc/subnets.tfvars
  tests/modules/net_vpc/subnets.yaml
  tests/modules/net_vpc/tftest.yaml
Due: check_links, check_names

Update DNS tests
  modules/dns/README.md
  modules/dns/main.tf
  tests/modules/dns/examples/forwarding-zone.yaml
  tests/modules/dns/examples/peering-zone.yaml
  tests/modules/dns/examples/private-zone.yaml
  tests/modules/dns/examples/public-zone.yaml
  tests/modules/dns/examples/reverse-zone.yaml
  tests/modules/dns/examples/routing-policies.yaml
  tests/modules/dns/fixture/main.tf
  tests/modules/dns/fixture/variables.tf
  tests/modules/dns/no_clients.tfvars
  tests/modules/dns/no_clients.yaml
  tests/modules/dns/null_forwarders.tfvars
  tests/modules/dns/null_forwarders.yaml
  tests/modules/dns/test_plan.py
  tests/modules/dns/tftest.yaml
Due: check_links, check_names

Allow dashes and underscores in tftest file ids
  tests/examples/conftest.py
  tests/examples/test_plan.py
Due: none

Fix typo in net-vpc DNS policies
  modules/net-vpc/main.tf
Due: check_names

Update plan_summary to support running documentation examples
  tools/plan_summary.py
Due: none

bump test suite versions
  tests/requirements.txt
Due: none

Update gke-cluster tests
  modules/gke-cluster/README.md
  tests/modules/gke_cluster/examples/autopilot.yaml
  tests/modules/gke_cluster/examples/basic.yaml
  tests/modules/gke_cluster/examples/dataplane-v2.yaml
  tests/modules/gke_cluster/fixture/main.tf
  tests/modules/gke_cluster/fixture/variables.tf
  tests/modules/gke_cluster/test_plan.py
Due: check_links, check_names

Add inventories to gcs examples
  modules/gcs/README.md
  tests/modules/gcs/common.tfvars
  tests/modules/gcs/examples/cmek.yaml
  tests/modules/gcs/examples/lifecycle.yaml
  tests/modules/gcs/examples/notification.yaml
  tests/modules/gcs/examples/retention-logging.yaml
  tests/modules/gcs/examples/simple.yaml
  tests/modules/gcs/iam.tfvars
  tests/modules/gcs/prefix.tfvars
Due: check_links, check_names

Move VPC factory and route tests to examples.
  modules/net-vpc/README.md
  tests/modules/net_vpc/data/factory-subnet.yaml
  tests/modules/net_vpc/data/factory-subnet2.yaml
  tests/modules/net_vpc/examples/factory.yaml
  tests/modules/net_vpc/examples/routes.yaml
  tests/modules/net_vpc/factory.tfvars
  tests/modules/net_vpc/factory.yaml
  tests/modules/net_vpc/test_routes.py
  tests/modules/net_vpc/tftest.yaml
Due: check_links, check_names

Update api-gateway tests
  modules/api-gateway/README.md
  tests/modules/api_gateway/examples/basic.yaml
  tests/modules/api_gateway/examples/create-sa.yaml
  tests/modules/api_gateway/examples/existing-sa.yaml
  tests/modules/api_gateway/fixture/main.tf
  tests/modules/api_gateway/fixture/variables.tf
  tests/modules/api_gateway/test_plan.py
  tests/modules/organization/examples/basic.yaml
Due: check_links, check_names

add inventories net-vpc examples
  modules/net-vpc/README.md
  tests/modules/net_vpc/examples/dns-policies.yaml
  tests/modules/net_vpc/examples/peering.yaml
  tests/modules/net_vpc/examples/proxy-only-subnets.yaml
  tests/modules/net_vpc/examples/psc-routes.yaml
  tests/modules/net_vpc/examples/psc.yaml
  tests/modules/net_vpc/examples/shared-vpc.yaml
  tests/modules/net_vpc/examples/simple.yaml
Due: check_links

Add inventories to gke-nodepool examples
  modules/gke-nodepool/README.md
  modules/gke-nodepool/variables.tf
  tests/modules/gke_nodepool/examples/basic.yaml
  tests/modules/gke_nodepool/examples/config.yaml
  tests/modules/gke_nodepool/examples/create-sa.yaml
  tests/modules/gke_nodepool/examples/external-sa.yaml
  tests/modules/gke_nodepool/fixture/main.tf
  tests/modules/gke_nodepool/fixture/variables.tf
  tests/modules/gke_nodepool/test_plan.py
Due: check_links, check_names

Fix linting
  modules/dns/README.md
  modules/gke-nodepool/README.md
  modules/net-vpc/README.md
Due: check_links

Fix broken link
  CONTRIBUTING.md
Due: check_links

Fix nodepool test
  tests/modules/gke_nodepool/examples/config.yaml
Due: none

Refactor the datapipeline DAG to use flex template operator, cleanup code
  blueprints/data-solutions/data-platform-foundations/03-composer.tf
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline.py
  blueprints/data-solutions/data-platform-foundations/outputs.tf
Due: check_names

Remove unneeded bash scripts, update README with manual examples
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/README.md
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/run_build.sh
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/run_simple.sh
  blueprints/data-solutions/data-platform-foundations/demo/dataflow-csv2bq/run_template.sh
Due: check_links

Improvements in apigee hybrid-gke: now using workload identity and GLB
  blueprints/apigee/hybrid-gke/README.md
  blueprints/apigee/hybrid-gke/ansible.tf
  blueprints/apigee/hybrid-gke/ansible/roles/apigee-hybrid/tasks/k8s_service_accounts.yaml
  blueprints/apigee/hybrid-gke/ansible/roles/apigee-hybrid/tasks/main.yaml
  blueprints/apigee/hybrid-gke/ansible/roles/apigee-hybrid/templates/overrides.yaml.j2
  blueprints/apigee/hybrid-gke/apigee.tf
  blueprints/apigee/hybrid-gke/diagram.png
  blueprints/apigee/hybrid-gke/glb.tf
  blueprints/apigee/hybrid-gke/main.tf
  blueprints/apigee/hybrid-gke/mgmt.tf
  blueprints/apigee/hybrid-gke/outputs.tf
  blueprints/apigee/hybrid-gke/templates/deploy-apiproxy.sh.tpl
  tests/blueprints/apigee/hybrid-gke/basic.yaml
Due: check_links, check_names

Path conditions:
  check_links: any of: \.(md|markdown|mdown)$
  check_names: any of: \.(tf|tfvars)$
