Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

reviewed Mauri's changes
  blueprints/cloud-operations/quota-monitoring/README.md
  blueprints/cloud-operations/quota-monitoring/main.tf
  blueprints/cloud-operations/quota-monitoring/src/main.py
  blueprints/cloud-operations/quota-monitoring/variables.tf
Due: check_links, check_names

can_ip_forward in simple-nva examples
  modules/cloud-config-container/simple-nva/README.md
Due: check_links

add missing lines from last change
  blueprints/cloud-operations/quota-monitoring/src/main.py
Due: none

can_ip_forward in simple-nva examples (#1922)
  modules/cloud-config-container/simple-nva/README.md
Due: check_links

Removed deprecated variable and added labels
  modules/bigtable-instance/README.md
  modules/bigtable-instance/main.tf
  modules/bigtable-instance/outputs.tf
  modules/bigtable-instance/variables.tf
Due: check_links, check_names

- fixed discovery page size to 100 - removed last_asset_page_reached var from discover_projects - added cast to list for projects var in _main, to make the script work both using CLI and pub/sub
  blueprints/cloud-operations/quota-monitoring/README.md
  blueprints/cloud-operations/quota-monitoring/main.tf
  blueprints/cloud-operations/quota-monitoring/src/main.py
Due: check_links, check_names

fixed discovery_root default value to work when no value is passed
  blueprints/cloud-operations/quota-monitoring/main.tf
  blueprints/cloud-operations/quota-monitoring/variables.tf
Due: check_names

fixed tfdoc
  blueprints/cloud-operations/quota-monitoring/README.md
Due: check_links

fixed tftest resources #
  blueprints/cloud-operations/quota-monitoring/README.md
Due: check_links

Update quota monitor blueprint to support project discovery (#1924)
  blueprints/cloud-operations/quota-monitoring/README.md
  blueprints/cloud-operations/quota-monitoring/main.tf
  blueprints/cloud-operations/quota-monitoring/src/main.py
  blueprints/cloud-operations/quota-monitoring/variables.tf
Due: check_links, check_names

Removed deprecated variable and added labels (#1923)
  modules/bigtable-instance/README.md
  modules/bigtable-instance/main.tf
  modules/bigtable-instance/outputs.tf
  modules/bigtable-instance/variables.tf
Due: check_links, check_names

implement suggestions
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Due: check_links, check_names

tfdoc
  modules/gke-cluster-standard/README.md
Due: check_links

fix merge errors
  modules/gke-cluster-standard/variables.tf
Due: check_names

tfdoc, yet again
  modules/gke-cluster-standard/README.md
Due: check_links

gke-cluster-standard : Support upgrade_settings for node auto provisioner (#1905)
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Due: check_links, check_names

update changelog
  CHANGELOG.md
Due: check_links

output plan results on failed assertion
  tests/fixtures.py
Due: none

update stage 0 expected values
  tests/fast/stages/s0_bootstrap/simple.yaml
Due: none

data platform branch
  fast/stages/1-resman/README.md
  fast/stages/1-resman/branch-data-platform.tf
  fast/stages/1-resman/cicd-data-platform.tf
  fast/stages/1-resman/variables.tf
Due: check_links, check_names

Add support for PBR to net-vpc
  modules/net-vpc/README.md
  modules/net-vpc/routes.tf
  modules/net-vpc/variables.tf
Due: check_links, check_names

refactored fetch method to raise HTTPerror on !=200 responses, refactored called to handle this
  blueprints/cloud-operations/quota-monitoring/src/main.py
Due: none

Cosmetic fixes
  modules/net-vpc/README.md
  modules/net-vpc/routes.tf
Due: check_links, check_names

Fixes README.md
  modules/net-vpc/README.md
Due: check_links

Kinda forgot we standardized
  modules/net-vpc/routes.tf
Due: check_names

Example cleanup
  modules/net-vpc/README.md
Due: check_links

Another attempt at XOR
  modules/net-vpc/variables.tf
Due: check_names

removed commented code
  blueprints/cloud-operations/quota-monitoring/src/main.py
Due: none

Fixes inventory tests
  modules/net-vpc/README.md
  tests/modules/net_vpc/examples/pbr.yaml
Due: check_links

Linter
  modules/net-vpc/README.md
Due: check_links

😭
  tests/modules/net_vpc/examples/pbr.yaml
Due: none

Add support for policy based routes to net-vpc (#1926)
  modules/net-vpc/README.md
  modules/net-vpc/routes.tf
  modules/net-vpc/variables.tf
  tests/modules/net_vpc/examples/pbr.yaml
Due: check_links, check_names

fix health check autocreation and id output
  modules/net-lb-ext/README.md
  modules/net-lb-ext/health-check.tf
  modules/net-lb-ext/outputs.tf
  modules/net-lb-int/README.md
  modules/net-lb-int/health-check.tf
  modules/net-lb-int/outputs.tf
  modules/net-lb-proxy-int/README.md
  modules/net-lb-proxy-int/health-check.tf
  modules/net-lb-proxy-int/outputs.tf
Due: check_links, check_names

fix health check exclusion
  modules/net-lb-ext/health-check.tf
  modules/net-lb-int/health-check.tf
  modules/net-lb-proxy-int/health-check.tf
Due: check_names

fix example test
  modules/net-lb-proxy-int/README.md
Due: check_links

Fix health check autocreation and id output in passthrough LB modules (#1928)
  modules/net-lb-ext/README.md
  modules/net-lb-ext/health-check.tf
  modules/net-lb-ext/outputs.tf
  modules/net-lb-int/README.md
  modules/net-lb-int/health-check.tf
  modules/net-lb-int/outputs.tf
  modules/net-lb-proxy-int/README.md
  modules/net-lb-proxy-int/health-check.tf
  modules/net-lb-proxy-int/outputs.tf
Due: check_links, check_names
