Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

GCVE module first release
  modules/gcve-private-cloud/README.md
  modules/gcve-private-cloud/main.tf
  modules/gcve-private-cloud/output.tf
  modules/gcve-private-cloud/variables.tf
  modules/gcve-private-cloud/versions.tf
  tests/modules/gcve_private_cloud/examples/basic.yaml
  tests/modules/gcve_private_cloud/examples/custom.yaml
Due: check_links, check_names

Add new `iam_members` variable to IAM additive module interfaces (#1589)
  modules/data-catalog-policy-tag/README.md
  modules/data-catalog-policy-tag/iam.tf
  modules/data-catalog-policy-tag/variables.tf
  modules/dataplex-datascan/README.md
  modules/dataplex-datascan/iam.tf
  modules/dataplex-datascan/variables.tf
  modules/dataproc/README.md
  modules/dataproc/iam.tf
  modules/dataproc/variables.tf
  modules/folder/README.md
  modules/folder/iam.tf
  modules/folder/variables.tf
  modules/iam-service-account/README.md
  modules/iam-service-account/iam.tf
  modules/iam-service-account/variables.tf
  modules/kms/README.md
  modules/kms/iam.tf
  modules/kms/main.tf
  modules/kms/variables.tf
  modules/net-vpc/README.md
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
  modules/organization/README.md
  modules/organization/iam.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/iam.tf
  modules/project/variables.tf
  modules/source-repository/README.md
  modules/source-repository/iam.tf
  modules/source-repository/variables.tf
  tests/modules/dataplex_datascan/examples/datascan_iam.yaml
  tests/modules/folder/examples/iam.yaml
  tests/modules/kms/examples/basic.yaml
  tests/modules/net_vpc/examples/subnet-iam.yaml
  tests/modules/organization/examples/basic.yaml
  tests/modules/project/examples/iam-members.yaml
  tests/modules/source_repository/examples/simple.yaml
Due: check_links, check_names

update changelog
  CHANGELOG.md
Due: check_links

feat: 🎸 (modules/cloudsql-instance):add project_id for ssl cert
  modules/cloudsql-instance/main.tf
Due: check_names

feat: 🎸 (modules/cloudsql-instance):add project_id for ssl cert (#1591)
  modules/cloudsql-instance/main.tf
Due: check_names

use iam_members variable
  blueprints/gke/jumpstart/jumpstart-0-infra/cluster.tf
  blueprints/gke/jumpstart/jumpstart-0-infra/main.tf
  blueprints/gke/jumpstart/jumpstart-0-infra/test.auto.tfvars
Due: check_names

nits
  blueprints/gke/jumpstart/jumpstart-0-infra/cluster.tf
  blueprints/gke/jumpstart/jumpstart-0-infra/main.tf
Due: check_names

readme with examples
  blueprints/gke/jumpstart/jumpstart-0-infra/README.md
  blueprints/gke/jumpstart/jumpstart-0-infra/test.auto.tfvars
Due: check_links, check_names

readme with examples
  blueprints/gke/jumpstart/jumpstart-0-infra/.gitignore
  blueprints/gke/jumpstart/jumpstart-0-infra/README.md
Due: check_links

Added link to GCVE module
  README.md
  modules/README.md
Due: check_links

outputs
  blueprints/gke/jumpstart/jumpstart-0-infra/README.md
  blueprints/gke/jumpstart/jumpstart-0-infra/outputs.tf
Due: check_links, check_names

variables, provider configuration
  blueprints/gke/jumpstart/jumpstart-1-redis-cluster/README.md
  blueprints/gke/jumpstart/jumpstart-1-redis-cluster/main.tf
  blueprints/gke/jumpstart/jumpstart-1-redis-cluster/variables.tf
  blueprints/gke/jumpstart/jumpstart-1-redis-cluster/workload-redis.tf
Due: check_links, check_names

variables, manifests
  blueprints/gke/jumpstart/jumpstart-1-redis-cluster/main.tf
  blueprints/gke/jumpstart/jumpstart-1-redis-cluster/variables.tf
Due: check_names

start cluster job
  blueprints/gke/jumpstart/jumpstart-1-redis-cluster/main.tf
  blueprints/gke/jumpstart/jumpstart-1-redis-cluster/outputs.tf
  blueprints/gke/jumpstart/jumpstart-1-redis-cluster/workload-redis.tf
Due: check_names

fix cicd (multitenant untested)
  fast/assets/templates/workflow-gitlab.yaml
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/0-bootstrap-tenant/cicd.tf
  fast/stages-multitenant/0-bootstrap-tenant/outputs.tf
  fast/stages-multitenant/0-bootstrap-tenant/templates/workflow-gitlab.yaml
  fast/stages-multitenant/0-bootstrap-tenant/variables.tf
  fast/stages-multitenant/1-resman-tenant/README.md
  fast/stages-multitenant/1-resman-tenant/outputs.tf
  fast/stages-multitenant/1-resman-tenant/templates/workflow-gitlab.yaml
  fast/stages-multitenant/1-resman-tenant/variables.tf
  fast/stages/0-bootstrap/cicd.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/templates/workflow-gitlab.yaml
  fast/stages/1-resman/README.md
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/templates/workflow-gitlab.yaml
  fast/stages/1-resman/variables.tf
Due: check_links, check_names

tfdoc
  fast/stages-multitenant/0-bootstrap-tenant/README.md
Due: check_links

rename allowed_audiences to audiences, align multitenant
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/0-bootstrap-tenant/cicd.tf
  fast/stages-multitenant/0-bootstrap-tenant/identity-providers.tf
  fast/stages-multitenant/0-bootstrap-tenant/outputs.tf
  fast/stages-multitenant/0-bootstrap-tenant/variables.tf
  fast/stages-multitenant/1-resman-tenant/README.md
  fast/stages-multitenant/1-resman-tenant/variables.tf
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/cicd.tf
  fast/stages/0-bootstrap/identity-providers.tf
  fast/stages/0-bootstrap/variables.tf
Due: check_links, check_names

Fix FAST CI/CD for Gitlab (#1593)
  fast/assets/templates/workflow-gitlab.yaml
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/0-bootstrap-tenant/cicd.tf
  fast/stages-multitenant/0-bootstrap-tenant/identity-providers.tf
  fast/stages-multitenant/0-bootstrap-tenant/outputs.tf
  fast/stages-multitenant/0-bootstrap-tenant/templates/workflow-gitlab.yaml
  fast/stages-multitenant/0-bootstrap-tenant/variables.tf
  fast/stages-multitenant/1-resman-tenant/README.md
  fast/stages-multitenant/1-resman-tenant/outputs.tf
  fast/stages-multitenant/1-resman-tenant/templates/workflow-gitlab.yaml
  fast/stages-multitenant/1-resman-tenant/variables.tf
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/cicd.tf
  fast/stages/0-bootstrap/identity-providers.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/templates/workflow-gitlab.yaml
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/outputs.tf
  fast/stages/1-resman/templates/workflow-gitlab.yaml
  fast/stages/1-resman/variables.tf
Due: check_links, check_names

project
  modules/project/README.md
  modules/project/iam.tf
  modules/project/variables.tf
  tests/modules/project/examples/iam-members.yaml
Due: check_links, check_names

data-catalog-policy-tag
  modules/data-catalog-policy-tag/README.md
  modules/data-catalog-policy-tag/iam.tf
  modules/data-catalog-policy-tag/variables.tf
Due: check_links, check_names

dataproc
  modules/dataproc/README.md
  modules/dataproc/iam.tf
  modules/dataproc/variables.tf
Due: check_links, check_names

folder
  modules/folder/README.md
  modules/folder/iam.tf
  modules/folder/variables.tf
Due: check_links, check_names

iam-service-account
  modules/iam-service-account/README.md
  modules/iam-service-account/iam.tf
  modules/iam-service-account/variables.tf
Due: check_links, check_names

kms
  modules/kms/README.md
  modules/kms/iam.tf
  modules/kms/variables.tf
Due: check_links, check_names

net-vpc
  modules/net-vpc/README.md
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
Due: check_links, check_names

organization
  modules/organization/README.md
  modules/organization/iam.tf
  modules/organization/variables.tf
Due: check_links, check_names

source-repository
  modules/source-repository/README.md
  modules/source-repository/iam.tf
  modules/source-repository/variables.tf
Due: check_links, check_names

dataplex-datascan
  modules/dataplex-datascan/README.md
  modules/dataplex-datascan/iam.tf
  modules/dataplex-datascan/variables.tf
Due: check_links, check_names

Add support for conditions to `iam_members` module variables (#1594)
  modules/data-catalog-policy-tag/README.md
  modules/data-catalog-policy-tag/iam.tf
  modules/data-catalog-policy-tag/variables.tf
  modules/dataplex-datascan/README.md
  modules/dataplex-datascan/iam.tf
  modules/dataplex-datascan/variables.tf
  modules/dataproc/README.md
  modules/dataproc/iam.tf
  modules/dataproc/variables.tf
  modules/folder/README.md
  modules/folder/iam.tf
  modules/folder/variables.tf
  modules/iam-service-account/README.md
  modules/iam-service-account/iam.tf
  modules/iam-service-account/variables.tf
  modules/kms/README.md
  modules/kms/iam.tf
  modules/kms/variables.tf
  modules/net-vpc/README.md
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
  modules/organization/README.md
  modules/organization/iam.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/iam.tf
  modules/project/variables.tf
  modules/source-repository/README.md
  modules/source-repository/iam.tf
  modules/source-repository/variables.tf
  tests/modules/project/examples/iam-members.yaml
Due: check_links, check_names

IAM modules refactor proposal
  modules/__docs/20230816-iam-refactor.md
  modules/__docs/README.md
Due: check_links

policy
  modules/__docs/20230816-iam-refactor.md
Due: check_links

subheading
  modules/__docs/20230816-iam-refactor.md
Due: check_links

Update 20230816-iam-refactor.md
  modules/__docs/20230816-iam-refactor.md
Due: check_links

log Julio's +1
  modules/__docs/20230816-iam-refactor.md
Due: check_links

dataproc
  modules/dataproc/README.md
Due: check_links

folder
  modules/folder/iam.tf
Due: check_names
