Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

check_links:
  name: Check Links
  entry: python3
  args:
  - tools/check_links.py
  - .
  language: system

check_names:
  name: Check Names
  entry: python3
  args:
  - tools/check_names.py
  - --prefix-length=10
  - fast/stages
  language: system

Add default googleapi route creation to net-vpc
  fast/stages/2-networking-a-peering/landing.tf
  fast/stages/2-networking-a-peering/spoke-dev.tf
  fast/stages/2-networking-a-peering/spoke-prod.tf
  fast/stages/2-networking-b-vpn/landing.tf
  fast/stages/2-networking-b-vpn/spoke-dev.tf
  fast/stages/2-networking-b-vpn/spoke-prod.tf
  fast/stages/2-networking-c-nva/landing.tf
  fast/stages/2-networking-c-nva/spoke-dev.tf
  fast/stages/2-networking-c-nva/spoke-prod.tf
  fast/stages/2-networking-d-separate-envs/spoke-dev.tf
  fast/stages/2-networking-d-separate-envs/spoke-prod.tf
  fast/stages/2-networking-e-nva-bgp/landing.tf
  fast/stages/2-networking-e-nva-bgp/spoke-dev.tf
  fast/stages/2-networking-e-nva-bgp/spoke-prod.tf
  modules/net-vpc/README.md
  modules/net-vpc/routes.tf
  modules/net-vpc/variables.tf
Due: check_links, check_names

update changelog
  CHANGELOG.md
Due: check_links

fix typos
  modules/alloydb-instance/README.md
  modules/alloydb-instance/variables.tf
Due: check_links, check_names

fix version
  modules/alloydb-instance/README.md
  modules/alloydb-instance/versions.tf
Due: check_links, check_names

rearrange variables
  modules/alloydb-instance/README.md
  modules/alloydb-instance/variables.tf
Due: check_links, check_names

Add trigger SA for Cloud Run
  modules/cloud-run/README.md
  modules/cloud-run/main.tf
  modules/cloud-run/variables.tf
  tests/modules/cloud_run/examples/trigger-service-account-external.yaml
  tests/modules/cloud_run/examples/trigger-service-account.yaml
Due: check_links, check_names

fix lint
  modules/alloydb-instance/README.md
  modules/alloydb-instance/outputs.tf
  modules/alloydb-instance/variables.tf
Due: check_links, check_names

fix README
  modules/alloydb-instance/README.md
Due: check_links

Refactored google_compute_interconnect_attachment as a single resource for both enc/unenc
  modules/net-dedicated-vlan-attachment/README.md
  modules/net-dedicated-vlan-attachment/main.tf
  modules/net-dedicated-vlan-attachment/output.tf
  modules/net-dedicated-vlan-attachment/variables.tf
Due: check_links, check_names

Updated top-level readmes
  README.md
  blueprints/README.md
Due: check_links

HA VPN over Interconnect modules and blueprint (#1390)
  README.md
  blueprints/README.md
  blueprints/networking/ha-vpn-over-interconnect/README.md
  blueprints/networking/ha-vpn-over-interconnect/outputs.tf
  blueprints/networking/ha-vpn-over-interconnect/overlay.tf
  blueprints/networking/ha-vpn-over-interconnect/underlay.tf
  blueprints/networking/ha-vpn-over-interconnect/variables.tf
  modules/net-dedicated-vlan-attachment/README.md
  modules/net-dedicated-vlan-attachment/main.tf
  modules/net-dedicated-vlan-attachment/output.tf
  modules/net-dedicated-vlan-attachment/variables.tf
  modules/net-dedicated-vlan-attachment/versions.tf
  modules/net-ipsec-over-interconnect/README.md
  modules/net-ipsec-over-interconnect/main.tf
  modules/net-ipsec-over-interconnect/outputs.tf
  modules/net-ipsec-over-interconnect/variables.tf
  modules/net-ipsec-over-interconnect/versions.tf
Due: check_links, check_names

Cosmetic documentation fixes
  modules/net-dedicated-vlan-attachment/README.md
Due: check_links

Added comment in the dns module, saying that inbound/outbound server policies are set in the net-vpc module
  modules/dns/README.md
Due: check_links

Multiple Updates
  CHANGELOG.md
  blueprints/networking/ha-vpn-over-interconnect/README.md
  modules/net-dedicated-vlan-attachment/README.md
  modules/net-dedicated-vlan-attachment/variables.tf
Due: check_links, check_names

net-vpc
  modules/net-vpc/README.md
  modules/net-vpc/outputs.tf
  modules/vpc-sc/policy-factory.tf
Due: check_links, check_names

a-d
  blueprints/data-solutions/data-platform-foundations/06-common.tf
  modules/artifact-registry/README.md
  modules/artifact-registry/outputs.tf
  modules/bigtable-instance/README.md
  modules/bigtable-instance/outputs.tf
  modules/billing-budget/README.md
  modules/billing-budget/outputs.tf
  modules/binauthz/README.md
  modules/binauthz/outputs.tf
  modules/cloud-dataplex/README.md
  modules/cloud-dataplex/outputs.tf
  modules/cloud-function/README.md
  modules/cloud-function/outputs.tf
  modules/cloud-identity-group/README.md
  modules/cloud-identity-group/outputs.tf
  modules/cloud-run/README.md
  modules/cloud-run/outputs.tf
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/outputs.tf
  modules/compute-mig/README.md
  modules/compute-mig/outputs.tf
  modules/compute-vm/README.md
  modules/compute-vm/outputs.tf
  modules/container-registry/README.md
  modules/container-registry/outputs.tf
  modules/data-catalog-policy-tag/README.md
  modules/data-catalog-policy-tag/outputs.tf
  modules/datafusion/README.md
  modules/datafusion/outputs.tf
  modules/dataproc/README.md
  modules/dataproc/outputs.tf
  modules/dns-response-policy/README.md
  modules/dns-response-policy/outputs.tf
  modules/dns/README.md
  modules/dns/outputs.tf
  modules/net-vpc/README.md
  modules/net-vpc/outputs.tf
Due: check_links, check_names

fix error
  modules/net-glb/README.md
  modules/net-glb/outputs.tf
  modules/net-vpn-dynamic/README.md
  modules/net-vpn-dynamic/outputs.tf
  tools/check_documentation.py
Due: check_links, check_names

Added comment in the dns module, saying that inbound/outbound server policies are set in the net-vpc module (#1405)
  modules/dns/README.md
Due: check_links

fix test
  modules/net-vpc-firewall-policy/outputs.tf
Due: check_names

moved NVA subnets from factories to code
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/data/subnets/landing-trusted/landing-trusted-default-ew1.yaml
  fast/stages/2-networking-c-nva/data/subnets/landing-trusted/landing-trusted-default-ew4.yaml
  fast/stages/2-networking-c-nva/data/subnets/landing-trusted/landing-trusted-srv-ew1.yaml.sample
  fast/stages/2-networking-c-nva/data/subnets/landing-untrusted/landing-trusted-srv-ew1.yaml.sample
  fast/stages/2-networking-c-nva/data/subnets/landing-untrusted/landing-untrusted-default-ew1.yaml
  fast/stages/2-networking-c-nva/data/subnets/landing-untrusted/landing-untrusted-default-ew4.yaml
  fast/stages/2-networking-c-nva/landing.tf
  fast/stages/2-networking-c-nva/main.tf
  fast/stages/2-networking-c-nva/nva.tf
  fast/stages/2-networking-c-nva/test-resources.tf
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/data/subnets/landing-trusted/landing-trusted-default-ew1.yaml
  fast/stages/2-networking-e-nva-bgp/data/subnets/landing-trusted/landing-trusted-default-ew4.yaml
  fast/stages/2-networking-e-nva-bgp/data/subnets/landing-trusted/landing-trusted-srv-ew1.yaml.sample
  fast/stages/2-networking-e-nva-bgp/data/subnets/landing-untrusted/landing-trusted-srv-ew1.yaml.sample
  fast/stages/2-networking-e-nva-bgp/data/subnets/landing-untrusted/landing-untrusted-default-ew1.yaml
  fast/stages/2-networking-e-nva-bgp/data/subnets/landing-untrusted/landing-untrusted-default-ew4.yaml
  fast/stages/2-networking-e-nva-bgp/landing.tf
  fast/stages/2-networking-e-nva-bgp/main.tf
  fast/stages/2-networking-e-nva-bgp/ncc.tf
  fast/stages/2-networking-e-nva-bgp/nva.tf
  fast/stages/2-networking-e-nva-bgp/regions.tf
  fast/stages/2-networking-e-nva-bgp/test-resources.tf
  fast/stages/2-networking-e-nva-bgp/variables.tf
Due: check_links, check_names

Add networksecurity to JIT identity list.
  modules/project/service-agents.yaml
Due: none

fix comments
  modules/alloydb-instance/README.md
  modules/alloydb-instance/main.tf
  modules/alloydb-instance/variables.tf
  tests/modules/alloydb_instance/examples/alloydb_instance.tfvars
Due: check_links, check_names

fix variables
  modules/alloydb-instance/README.md
  modules/alloydb-instance/variables.tf
Due: check_links, check_names

fix READMEs
  README.md
  modules/README.md
Due: check_links

Bump GH TF version to coincide with module requirements
  fast/stages/0-bootstrap/templates/workflow-github.yaml
Due: none

Bump GH TF version to coincide with module requirements (#1414)
  fast/stages/0-bootstrap/templates/workflow-github.yaml
Due: none

add support for routes
  modules/net-ilb/README.md
  modules/net-ilb/main.tf
  modules/net-ilb/variables.tf
  tests/modules/net_ilb/examples/routes.yaml
Due: check_links, check_names

boilerplate
  tests/modules/net_ilb/examples/routes.yaml
Due: none

add alloydb module (#1403)
  README.md
  modules/README.md
  modules/alloydb-instance/README.md
  modules/alloydb-instance/main.tf
  modules/alloydb-instance/outputs.tf
  modules/alloydb-instance/variables.tf
  modules/alloydb-instance/versions.tf
  tests/modules/alloydb_instance/examples/alloydb_instance.tfvars
  tests/modules/alloydb_instance/examples/alloydb_instance.yaml
Due: check_links, check_names

revert and add notice to README
  modules/net-ilb/README.md
Due: check_links

revert
  modules/net-ilb/README.md
  modules/net-ilb/main.tf
  modules/net-ilb/variables.tf
  tests/modules/net_ilb/examples/routes.yaml
Due: check_links, check_names

revert
  modules/net-ilb/main.tf
Due: check_names

First commit
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/README.md
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/main.tf
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/terraform.tfvars.sample
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/variables.tf
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/vpc.tf
Due: check_links, check_names

Fix README
  modules/net-ilb/README.md
Due: check_links

Path conditions:
  check_links: any of: \.(md|markdown|mdown)$
  check_names: any of: \.(tf|tfvars)$
