Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

gke-cluster-standard: update logging configuration
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
  tests/modules/gke_cluster_standard/examples/logging-config-disable-all.yaml
  tests/modules/gke_cluster_standard/examples/logging-config-enable-all.yaml
Due: check_links, check_names

gke-cluster-autopilot: shorten parameter names for logging config
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
Due: check_links, check_names

Update a blueprint for new gke-cluster-standard/logging_config interface
  blueprints/gke/multitenant-fleet/README.md
  blueprints/gke/multitenant-fleet/variables.tf
Due: check_links, check_names

gke-cluster-autopilot: fix a typo in example code in README
  modules/gke-cluster-autopilot/README.md
Due: check_links

gke-cluster-autopilot: fix a typo in a test
  tests/modules/gke_cluster_autopilot/examples/logging-config.yaml
Due: none

gke-cluster-standard: fix typos in tests
  tests/modules/gke_cluster_standard/examples/logging-config-disable-all.yaml
  tests/modules/gke_cluster_standard/examples/logging-config-enable-all.yaml
Due: none

Simplify linting output in workflow
  .github/workflows/linting.yml
  CONTRIBUTING.md
  tools/check_documentation.py
  tools/check_links.py
  tools/check_names.py
  tools/validate_metadata.py
Due: check_links

blueprints/gke/multitennat-fleet: update logging_config
  blueprints/gke/multitenant-fleet/README.md
  blueprints/gke/multitenant-fleet/variables.tf
Due: check_links, check_names

fast/stages/3-gke-...: use new logging_config interface for GKE clusters
  fast/stages/3-gke-multitenant/dev/README.md
  fast/stages/3-gke-multitenant/dev/variables.tf
Due: check_links, check_names

Forgot to add the script
  tools/lint.sh
Due: none

Remove print
  tools/lint.sh
Due: none

gke-cluster-autopilot: add logging configuration (#1625)
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/outputs.tf
  modules/gke-cluster-autopilot/variables.tf
  tests/modules/gke_cluster_autopilot/examples/logging-config.yaml
Due: check_links, check_names

gke-cluster-standard: change logging configuration (#1638)
  blueprints/gke/multitenant-fleet/README.md
  blueprints/gke/multitenant-fleet/variables.tf
  fast/stages/3-gke-multitenant/dev/README.md
  fast/stages/3-gke-multitenant/dev/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
  tests/modules/gke_cluster_standard/examples/logging-config-disable-all.yaml
  tests/modules/gke_cluster_standard/examples/logging-config-enable-all.yaml
Due: check_links, check_names

Update readmes
  blueprints/gke/jumpstart/README.md
  blueprints/gke/jumpstart/jumpstart-0-infra/README.md
Due: check_links

Fix IAM bindings
  blueprints/gke/jumpstart/jumpstart-0-infra/main.tf
Due: check_names

Make STABLE the default release channel
  blueprints/gke/jumpstart/jumpstart-0-infra/cluster.tf
  blueprints/gke/jumpstart/jumpstart-0-infra/variables.tf
Due: check_names

Use Cloud DNS as default DNS provider
  blueprints/gke/jumpstart/jumpstart-0-infra/cluster.tf
Due: check_names

Allow optional Cloud NAT creation
  blueprints/gke/jumpstart/jumpstart-0-infra/main.tf
  blueprints/gke/jumpstart/jumpstart-0-infra/variables.tf
Due: check_names

Allow backup agent and proxy only subnet
  blueprints/gke/jumpstart/jumpstart-0-infra/cluster.tf
  blueprints/gke/jumpstart/jumpstart-0-infra/main.tf
  blueprints/gke/jumpstart/jumpstart-0-infra/variables.tf
Due: check_names

gke-cluster-autopilot: validation for release_channel
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
Due: check_links, check_names

gke-cluster-autopilot: validation for release_channel (#1645)
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
Due: check_links, check_names

gke-cluster-autopilot: add monitoring configuration block (monitoring_config)
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  tests/modules/gke_cluster_autopilot/examples/monitoring-config-control-plane.yaml
Due: check_links, check_names

gke-cluster-autopilot: update README
  modules/gke-cluster-autopilot/README.md
Due: check_links

gke-cluster-autopilot: add monitoring configuration (#1646)
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  tests/modules/gke_cluster_autopilot/examples/monitoring-config-control-plane.yaml
Due: check_links, check_names

Fix tests using provider 4.80
  tests/modules/billing_budget/examples/email.yaml
  tests/modules/billing_budget/examples/pubsub.yaml
  tests/modules/cloudsql_instance/examples/insights.yaml
  tests/modules/cloudsql_instance/examples/public-ip.yaml
  tests/modules/cloudsql_instance/examples/simple.yaml
  tests/modules/compute_vm/examples/independent-boot-disk.yaml
  tests/modules/compute_vm/examples/simple.yaml
  tests/modules/compute_vm/examples/spot.yaml
  tests/modules/dataplex_datascan/datascan_test_inputs.yaml
  tests/modules/dataplex_datascan/examples/datascan_cron.yaml
  tests/modules/dataplex_datascan/examples/datascan_dq.yaml
  tests/modules/dataplex_datascan/examples/datascan_entity.yaml
  tests/modules/dataplex_datascan/examples/datascan_iam.yaml
  tests/modules/dataplex_datascan/examples/datascan_profiling.yaml
  tests/modules/gke_cluster_autopilot/examples/dns.yaml
  tests/modules/net_address/examples/internal.yaml
  tests/modules/net_address/examples/psc.yaml
Due: none

add apigee non-vpc peering mode support
  modules/apigee/README.md
  modules/apigee/main.tf
  modules/apigee/variables.tf
Due: check_links, check_names

Work around terraform not short-circuiting logical operators
  blueprints/gke/jumpstart/jumpstart-0-infra/main.tf
Due: check_names

Rename create variables to be more consistent with other blueprints
  blueprints/gke/jumpstart/jumpstart-0-infra/README.md
  blueprints/gke/jumpstart/jumpstart-0-infra/cluster.tf
  blueprints/gke/jumpstart/jumpstart-0-infra/main.tf
  blueprints/gke/jumpstart/jumpstart-0-infra/outputs.tf
  blueprints/gke/jumpstart/jumpstart-0-infra/variables.tf
Due: check_links, check_names

Add basic features
  blueprints/gke/jumpstart/jumpstart-0-infra/cluster.tf
  blueprints/gke/jumpstart/jumpstart-0-infra/main.tf
Due: check_names

Update variable names
  blueprints/gke/jumpstart/jumpstart-0-infra/README.md
  blueprints/gke/jumpstart/jumpstart-0-infra/cluster.tf
  blueprints/gke/jumpstart/jumpstart-0-infra/main.tf
  blueprints/gke/jumpstart/jumpstart-0-infra/outputs.tf
  blueprints/gke/jumpstart/jumpstart-0-infra/variables.tf
Due: check_links, check_names

add and fix tests for apigee module
  tests/modules/apigee/all.tfvars
  tests/modules/apigee/all.yaml
  tests/modules/apigee/instance_only.tfvars
  tests/modules/apigee/instance_only_psc_mode.tfvars
  tests/modules/apigee/instance_only_psc_mode.yaml
  tests/modules/apigee/instance_only_vpc_mode.tfvars
  tests/modules/apigee/instance_only_vpc_mode.yaml
  tests/modules/apigee/no_instances.tfvars
  tests/modules/apigee/organization_only_psc_mode.tfvars
  tests/modules/apigee/organization_only_psc_mode.yaml
  tests/modules/apigee/organization_only_vpc_mode.tfvars
  tests/modules/apigee/organization_only_vpc_mode.yaml
  tests/modules/apigee/organization_retention.yaml
Due: check_names

fix apigee module readme tftests
  modules/apigee/README.md
Due: check_links

Added optional name value to instances variable and added it to the instance resource
  modules/apigee/README.md
  modules/apigee/main.tf
  modules/apigee/variables.tf
Due: check_links, check_names

Make net-vpc variables nullable
  modules/net-vpc/README.md
  modules/net-vpc/variables.tf
Due: check_links, check_names

add AIRFLOW_VAR_ prefix to env vars in minimal blueprint
  blueprints/data-solutions/data-platform-minimal/02-composer.tf
Due: check_names

update DAGs for env vars in minimal blueprint
  blueprints/data-solutions/data-platform-minimal/demo/dag_bq_gcs2bq.py
  blueprints/data-solutions/data-platform-minimal/demo/dag_dataflow_gcs2bq.py
  blueprints/data-solutions/data-platform-minimal/demo/dag_dataproc_gcs2bq.py
  blueprints/data-solutions/data-platform-minimal/demo/dag_delete_table.py
  blueprints/data-solutions/data-platform-minimal/demo/dag_orchestrate_pyspark.py
Due: none

add AIRFLOW_VAR_ prefix to env vars in foundation blueprint
  blueprints/data-solutions/data-platform-foundations/03-composer.tf
Due: check_names

update DAGs for env vars in foundation blueprint
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline.py
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline_dc_tags.py
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline_dc_tags_flex.py
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline_flex.py
  blueprints/data-solutions/data-platform-foundations/demo/delete_table.py
Due: none

apply tf linting
  blueprints/data-solutions/data-platform-foundations/03-composer.tf
  blueprints/data-solutions/data-platform-minimal/02-composer.tf
Due: check_names
