Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

Fix MysQL connect commands
  blueprints/gke/patterns/mysql/tutorial.md
Due: check_links

Remove self-link
  blueprints/gke/patterns/mysql/tutorial.md
Due: check_links

Add Tags in project output.
  modules/project/README.md
  modules/project/outputs.tf
Due: check_links, check_names

Update README.md
  blueprints/gke/patterns/mysql/README.md
Due: check_links

Add Tags in project output. (#2062)
  modules/project/README.md
  modules/project/outputs.tf
Due: check_links, check_names

Add TOC and Variables table
  blueprints/gke/patterns/mysql/README.md
  blueprints/gke/patterns/mysql/tutorial.md
Due: check_links

Fix outputs
  blueprints/gke/patterns/mysql/README.md
  blueprints/gke/patterns/mysql/outputs.tf
Due: check_links, check_names

Fix linter
  blueprints/gke/patterns/mysql/README.md
  blueprints/gke/patterns/mysql/variables.tf
Due: check_links, check_names

HA MySQL cluster deployment on GKE (#2061)
  blueprints/gke/patterns/mysql/README.md
  blueprints/gke/patterns/mysql/main.tf
  blueprints/gke/patterns/mysql/manifest-templates/01-01-fast-storageclass.yaml
  blueprints/gke/patterns/mysql/manifest-templates/01-02-mysql-secret.yaml
  blueprints/gke/patterns/mysql/manifest-templates/01-07-mysql-router-service.yaml
  blueprints/gke/patterns/mysql/manifest-templates/02-cluster-instance-InnoDBCluster.yaml
  blueprints/gke/patterns/mysql/outputs.tf
  blueprints/gke/patterns/mysql/providers.tf
  blueprints/gke/patterns/mysql/tutorial.md
  blueprints/gke/patterns/mysql/variables.tf
  blueprints/gke/patterns/mysql/versions.tf
  blueprints/gke/patterns/mysql/versions_override.tf
Due: check_links, check_names

Bswenka/psc glb and armor subnet fix (#2058)
  blueprints/networking/psc-glb-and-armor/README.md
  blueprints/networking/psc-glb-and-armor/producer.tf
Due: check_links, check_names

add doc draft
  fast/docs/0-domainless-iam.md
Due: check_links

typos
  fast/docs/0-domainless-iam.md
Due: check_links

typo
  fast/docs/0-domainless-iam.md
Due: check_links

rewording
  fast/docs/0-domainless-iam.md
Due: check_links

Update 0-domainless-iam.md
  fast/docs/0-domainless-iam.md
Due: check_links

Fix imports of org policies
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/variables.tf
Due: check_links, check_names

move iam variables to a separate file
  modules/billing-account/README.md
  modules/billing-account/variables-iam.tf
  modules/billing-account/variables.tf
  modules/data-catalog-policy-tag/README.md
  modules/data-catalog-policy-tag/variables-iam.tf
  modules/data-catalog-policy-tag/variables.tf
  modules/dataplex-datascan/README.md
  modules/dataplex-datascan/variables-iam.tf
  modules/dataplex-datascan/variables.tf
  modules/dataproc/README.md
  modules/dataproc/variables-iam.tf
  modules/dataproc/variables.tf
  modules/folder/README.md
  modules/folder/variables-iam.tf
  modules/folder/variables.tf
  modules/organization/README.md
  modules/organization/variables-iam.tf
  modules/organization/variables.tf
  modules/project/README.md
  modules/project/variables-iam.tf
  modules/project/variables.tf
  modules/source-repository/README.md
  modules/source-repository/variables-iam.tf
  modules/source-repository/variables.tf
Due: check_links, check_names

move billing-account module to iam_principals
  modules/billing-account/README.md
  modules/billing-account/iam.tf
  modules/billing-account/variables-iam.tf
Due: check_links, check_names

move data-catalog-policy-tag module to iam_principals
  modules/data-catalog-policy-tag/README.md
  modules/data-catalog-policy-tag/iam.tf
  modules/data-catalog-policy-tag/variables-iam.tf
Due: check_links, check_names

Fix imports of org policies (#2065)
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/variables.tf
Due: check_links, check_names

move dataplex-datascan module to iam_principals
  modules/dataplex-datascan/README.md
  modules/dataplex-datascan/iam.tf
  modules/dataplex-datascan/variables-iam.tf
Due: check_links, check_names

move dataproc module to iam_principals
  modules/dataproc/README.md
  modules/dataproc/iam.tf
  modules/dataproc/variables-iam.tf
Due: check_links, check_names

move folder module to iam_principals
  modules/folder/README.md
  modules/folder/iam.tf
  modules/folder/variables-iam.tf
Due: check_links, check_names

copyright
  modules/billing-account/iam.tf
  modules/billing-account/variables-iam.tf
  modules/dataplex-datascan/iam.tf
Due: check_names

move organization module to iam_principals
  modules/organization/README.md
  modules/organization/iam.tf
  modules/organization/variables-iam.tf
Due: check_links, check_names

move project module to iam_principals
  modules/project/README.md
  modules/project/iam.tf
  modules/project/variables-iam.tf
Due: check_links, check_names

move source-repository module to iam_principals
  modules/source-repository/README.md
  modules/source-repository/iam.tf
  modules/source-repository/variables-iam.tf
Due: check_links, check_names

update blueprints for iam_principals interface
  blueprints/data-solutions/shielded-folder/kms.tf
  blueprints/data-solutions/shielded-folder/log-export.tf
  blueprints/data-solutions/shielded-folder/main.tf
  blueprints/data-solutions/vertex-mlops/main.tf
  blueprints/factories/project-factory/main.tf
  blueprints/gke/multitenant-fleet/README.md
  blueprints/gke/multitenant-fleet/main.tf
  blueprints/gke/multitenant-fleet/variables.tf
Due: check_links, check_names

FAST bootstrap
  fast/assets/schemas/project.schema.yaml
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/automation.tf
  fast/stages/0-bootstrap/billing.tf
  fast/stages/0-bootstrap/checklist.tf
  fast/stages/0-bootstrap/log-export.tf
  fast/stages/0-bootstrap/main.tf
  fast/stages/0-bootstrap/organization-iam.tf
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/variables.tf
  tests/fast/stages/s0_bootstrap/checklist.tfvars
  tests/fast/stages/s0_bootstrap/simple.tfvars
  tests/fast/stages/s0_bootstrap/simple.yaml
Due: check_links, check_names
