Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

update changelog
  CHANGELOG.md
Due: check_links

instances per network timeseries
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-firewall-policies.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-firewall-rules.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-networks.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-subnets.py
Due: none

Projects reorg
  blueprints/data-solutions/vertex-mlops/00-cicd/README.md
  blueprints/data-solutions/vertex-mlops/00-cicd/data/defaults.yaml
  blueprints/data-solutions/vertex-mlops/00-cicd/data/projects/cicd.yaml.sample
  blueprints/data-solutions/vertex-mlops/00-cicd/main.tf
  blueprints/data-solutions/vertex-mlops/00-cicd/outputs.tf
  blueprints/data-solutions/vertex-mlops/00-cicd/variables.tf
  blueprints/data-solutions/vertex-mlops/01-experimentation/README.md
  blueprints/data-solutions/vertex-mlops/01-experimentation/data/defaults.yaml
  blueprints/data-solutions/vertex-mlops/01-experimentation/data/projects/creditcards-dev.yaml.sample
  blueprints/data-solutions/vertex-mlops/01-experimentation/main.tf
  blueprints/data-solutions/vertex-mlops/01-experimentation/outputs.tf
  blueprints/data-solutions/vertex-mlops/01-experimentation/variables.tf
  blueprints/data-solutions/vertex-mlops/02-staging/README.md
  blueprints/data-solutions/vertex-mlops/02-staging/data/defaults.yaml
  blueprints/data-solutions/vertex-mlops/02-staging/data/projects/creditcards-stg.yaml.sample
  blueprints/data-solutions/vertex-mlops/02-staging/main.tf
  blueprints/data-solutions/vertex-mlops/02-staging/outputs.tf
  blueprints/data-solutions/vertex-mlops/02-staging/variables.tf
  blueprints/data-solutions/vertex-mlops/03-prod/README.md
  blueprints/data-solutions/vertex-mlops/03-prod/data/defaults.yaml
  blueprints/data-solutions/vertex-mlops/03-prod/data/projects/creditcards-prd.yaml.sample
  blueprints/data-solutions/vertex-mlops/03-prod/main.tf
  blueprints/data-solutions/vertex-mlops/03-prod/outputs.tf
  blueprints/data-solutions/vertex-mlops/03-prod/variables.tf
  blueprints/data-solutions/vertex-mlops/GIT_SETUP.md
  blueprints/data-solutions/vertex-mlops/MLOPS.md
  blueprints/data-solutions/vertex-mlops/README.md
  blueprints/data-solutions/vertex-mlops/images/mlops_projects.png
  blueprints/data-solutions/vertex-mlops/modules/ml-project-factory-module/ci-cd.tf
  blueprints/data-solutions/vertex-mlops/modules/ml-project-factory-module/main.tf
  blueprints/data-solutions/vertex-mlops/modules/ml-project-factory-module/outputs.tf
Due: check_links, check_names

Add missing `write_package` permission
  .github/workflows/container-image.yml
Due: none

Add missing `write_package` permission (#998)
  .github/workflows/container-image.yml
Due: none

Default nodepool creation fix
  modules/gke-cluster/main.tf
  modules/gke-cluster/variables.tf
Due: check_names

routes timeseries
  blueprints/cloud-operations/network-dashboard/cf/NOTES.md
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/out.json
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-compute-routerstatus.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-networks.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-routes.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-subnets.py
Due: check_links

Binauthz blueprint fixes related to project creation
  blueprints/gke/binauthz/main.tf
  tests/blueprints/gke/binauthz/fixture/variables.tf
Due: check_names

ADFS blueprint fixes
  blueprints/cloud-operations/adfs/ansible/playbook.yaml
  blueprints/cloud-operations/adfs/main.tf
  tests/blueprints/cloud_operations/adfs/fixture/variables.tf
Due: check_names

Apigee blueprint fixes
  blueprints/cloud-operations/apigee/main.tf
Due: check_names

Fix cloudbuild bucket
  blueprints/data-solutions/vertex-mlops/01-experimentation/data/projects/creditcards-dev.yaml.sample
  blueprints/data-solutions/vertex-mlops/experimentation/README.md
  blueprints/data-solutions/vertex-mlops/experimentation/data/defaults.yaml
  blueprints/data-solutions/vertex-mlops/experimentation/data/projects/project.yaml.sample
  blueprints/data-solutions/vertex-mlops/experimentation/main.tf
  blueprints/data-solutions/vertex-mlops/experimentation/outputs.tf
  blueprints/data-solutions/vertex-mlops/experimentation/variables.tf
  blueprints/data-solutions/vertex-mlops/prod/README.md
  blueprints/data-solutions/vertex-mlops/prod/data/defaults.yaml
  blueprints/data-solutions/vertex-mlops/prod/data/projects/project.yaml.sample
  blueprints/data-solutions/vertex-mlops/prod/main.tf
  blueprints/data-solutions/vertex-mlops/prod/outputs.tf
  blueprints/data-solutions/vertex-mlops/prod/variables.tf
Due: check_links, check_names

Use `actions/labeler` to automatically label pull requests
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

Adjust wording
  CONTRIBUTING.md
  blueprints/cloud-operations/adfs/variables.tf
  blueprints/cloud-operations/dns-shared-vpc/examples/shared-vpc-example/variables.tf
  blueprints/cloud-operations/dns-shared-vpc/variables.tf
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/limits.py
  blueprints/cloud-operations/network-dashboard/tests/variables.tf
  blueprints/cloud-operations/network-dashboard/variables.tf
  blueprints/data-solutions/cloudsql-multiregion/variables.tf
  blueprints/data-solutions/composer-2/variables.tf
  blueprints/data-solutions/data-platform-foundations/variables.tf
  blueprints/data-solutions/data-playground/variables.tf
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/variables.tf
  blueprints/data-solutions/sqlserver-alwayson/variables.tf
  blueprints/factories/net-vpc-firewall-yaml/README.md
  blueprints/factories/project-factory/variables.tf
  blueprints/gke/binauthz/variables.tf
  blueprints/gke/multitenant-fleet/variables.tf
  blueprints/networking/decentralized-firewall/variables.tf
  blueprints/networking/filtering-proxy-psc/variables.tf
  blueprints/networking/filtering-proxy/variables.tf
  blueprints/networking/glb-and-armor/variables.tf
  blueprints/networking/hub-and-spoke-peering/variables.tf
  blueprints/networking/hub-and-spoke-vpn/variables.tf
  blueprints/networking/ilb-next-hop/variables.tf
  blueprints/networking/nginx-reverse-proxy-cluster/variables.tf
  blueprints/networking/psc-hybrid/variables.tf
  blueprints/networking/shared-vpc-gke/variables.tf
  blueprints/third-party-solutions/wordpress/cloudrun/variables.tf
Due: check_links, check_names

Use `actions/labeler` to automatically label pull requests (#1004)
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

Only set partitioned table when sink type is bigquery
  modules/folder/logging.tf
  modules/organization/logging.tf
  modules/project/logging.tf
Due: check_names

custom quota
  blueprints/cloud-operations/network-dashboard/cf/NOTES.md
  blueprints/cloud-operations/network-dashboard/cf/custom-quotas.sample
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/out.json
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-cai-compute.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-cai-projects.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-compute-quota.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-firewall-policies.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-firewall-rules.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-networks.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-peerings.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-routes.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-subnets.py
Due: check_links

Removed comments and fixded formatting with fmt
  modules/gke-cluster/main.tf
  modules/gke-cluster/variables.tf
Due: check_names

Refactored per PR comment
  modules/gke-cluster/main.tf
Due: check_names

Default nodepool creation fix (#999)
  modules/gke-cluster/main.tf
Due: check_names

simpler quota, network peering timeseries
  blueprints/cloud-operations/network-dashboard/cf/custom-quotas.sample
  blueprints/cloud-operations/network-dashboard/cf/out.json
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-cai-compute.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-compute-quota.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-firewall-rules.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-networks.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-peering-groups.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-routes.py
Due: none

Make `prefix` mandatory
  CONTRIBUTING.md
  blueprints/cloud-operations/adfs/variables.tf
  blueprints/cloud-operations/dns-shared-vpc/examples/shared-vpc-example/variables.tf
  blueprints/cloud-operations/dns-shared-vpc/variables.tf
  blueprints/cloud-operations/network-dashboard/tests/variables.tf
  blueprints/cloud-operations/network-dashboard/variables.tf
  blueprints/data-solutions/cloudsql-multiregion/variables.tf
  blueprints/data-solutions/composer-2/variables.tf
  blueprints/data-solutions/data-platform-foundations/variables.tf
  blueprints/data-solutions/data-playground/variables.tf
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/variables.tf
  blueprints/data-solutions/sqlserver-alwayson/variables.tf
  blueprints/factories/project-factory/variables.tf
  blueprints/gke/binauthz/variables.tf
  blueprints/gke/multitenant-fleet/variables.tf
  blueprints/networking/decentralized-firewall/variables.tf
  blueprints/networking/filtering-proxy-psc/variables.tf
  blueprints/networking/filtering-proxy/variables.tf
  blueprints/networking/glb-and-armor/variables.tf
  blueprints/networking/hub-and-spoke-peering/variables.tf
  blueprints/networking/hub-and-spoke-vpn/variables.tf
  blueprints/networking/ilb-next-hop/variables.tf
  blueprints/networking/nginx-reverse-proxy-cluster/variables.tf
  blueprints/networking/psc-hybrid/variables.tf
  blueprints/networking/shared-vpc-gke/variables.tf
  blueprints/third-party-solutions/wordpress/cloudrun/variables.tf
Due: check_links, check_names

Update READMEs
  blueprints/cloud-operations/adfs/README.md
  blueprints/cloud-operations/dns-shared-vpc/README.md
  blueprints/cloud-operations/network-dashboard/README.md
  blueprints/data-solutions/cloudsql-multiregion/README.md
  blueprints/data-solutions/composer-2/README.md
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/data-playground/README.md
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/README.md
  blueprints/data-solutions/sqlserver-alwayson/README.md
  blueprints/factories/project-factory/README.md
  blueprints/gke/binauthz/README.md
  blueprints/gke/multitenant-fleet/README.md
  blueprints/networking/decentralized-firewall/README.md
  blueprints/networking/filtering-proxy-psc/README.md
  blueprints/networking/filtering-proxy/README.md
  blueprints/networking/glb-and-armor/README.md
  blueprints/networking/hub-and-spoke-peering/README.md
  blueprints/networking/hub-and-spoke-vpn/README.md
  blueprints/networking/ilb-next-hop/README.md
  blueprints/networking/nginx-reverse-proxy-cluster/README.md
  blueprints/networking/psc-hybrid/README.md
  blueprints/networking/shared-vpc-gke/README.md
  blueprints/third-party-solutions/wordpress/cloudrun/README.md
Due: check_links

Fix
  blueprints/data-solutions/cloudsql-multiregion/main.tf
Due: check_names

Revert BQ prefix handling
  blueprints/data-solutions/data-platform-foundations/01-dropoff.tf
  blueprints/data-solutions/data-platform-foundations/05-datawarehouse.tf
  blueprints/data-solutions/data-playground/main.tf
Due: check_names

Fix tests
  tests/blueprints/cloud_operations/adfs/fixture/main.tf
  tests/blueprints/cloud_operations/adfs/fixture/variables.tf
  tests/blueprints/cloud_operations/dns_shared_vpc/fixture/main.tf
  tests/blueprints/cloud_operations/dns_shared_vpc/fixture/variables.tf
  tests/blueprints/factories/project_factory/fixture/defaults.yaml
  tests/blueprints/factories/project_factory/fixture/main.tf
  tests/blueprints/factories/project_factory/fixture/projects/project.yaml
  tests/blueprints/gke/binauthz/fixture/main.tf
  tests/blueprints/gke/binauthz/fixture/variables.tf
  tests/blueprints/networking/glb_and_armor/fixture/main.tf
  tests/blueprints/networking/glb_and_armor/fixture/variables.tf
  tests/blueprints/networking/hub_and_spoke_peering/fixture/main.tf
  tests/blueprints/networking/hub_and_spoke_vpn/fixture/main.tf
  tests/blueprints/networking/hub_and_spoke_vpn/fixture/variables.tf
  tests/blueprints/networking/ilb_next_hop/fixture/main.tf
  tests/blueprints/networking/ilb_next_hop/fixture/variables.tf
Due: check_names

Fix project factory tests
  blueprints/factories/project-factory/README.md
  blueprints/factories/project-factory/sample-data/defaults.yaml
  blueprints/factories/project-factory/sample-data/projects/project.yaml
  tests/blueprints/factories/project_factory/fixture/defaults.yaml
  tests/blueprints/factories/project_factory/fixture/main.tf
  tests/blueprints/factories/project_factory/fixture/projects/project.yaml
  tests/examples/variables.tf
Due: check_links, check_names

Add settings for autoscaling to Bigtable module.
  modules/bigtable-instance/README.md
  modules/bigtable-instance/main.tf
  modules/bigtable-instance/variables.tf
Due: check_links, check_names

Update README.md with new option settings
  modules/bigtable-instance/README.md
Due: check_links

storage_target is an optional setting
  modules/bigtable-instance/README.md
  modules/bigtable-instance/variables.tf
Due: check_links, check_names

Improve documentation
  modules/bigtable-instance/README.md
  modules/bigtable-instance/variables.tf
Due: check_links, check_names

Some more remarks in the documentation about num_nodes and autoscaling
  modules/bigtable-instance/README.md
Due: check_links

00-cicd stage got moved to extras/
  fast/stages/00-bootstrap/README.md
Due: check_links

peering timeseries
  blueprints/cloud-operations/network-dashboard/cf/out.json
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-cai-compute.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-peering-groups.py
Due: none

timeseries names
  blueprints/cloud-operations/network-dashboard/cf/NOTES.md
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/descriptors.yaml
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-firewall-policies.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-firewall-rules.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-networks.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-peering-groups.py
Due: check_links

wip descriptors
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/__init__.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/descriptors.yaml
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-firewall-policies.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-firewall-rules.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-networks.py
Due: none
