Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

check_links:
  name: Check Links
  entry: python3
  args:
  - tools/check_links.py
  - .
  language: system

check_names:
  name: Check Names
  entry: python3
  args:
  - tools/check_names.py
  - --prefix-length=10
  - fast/stages
  language: system

Update variable and output tables
  modules/ncc-spoke-ra/README.md
Due: check_links

Adapt README examples to the variables config
  modules/ncc-spoke-ra/README.md
Due: check_links

Alphabetical order and better naming
  modules/ncc-spoke-ra/main.tf
  modules/ncc-spoke-ra/variables.tf
Due: check_names

Group router information under router_config
  modules/ncc-spoke-ra/main.tf
  modules/ncc-spoke-ra/variables.tf
Due: check_names

Group vpc and subnet under vpc_config
  modules/ncc-spoke-ra/main.tf
  modules/ncc-spoke-ra/variables.tf
Due: check_names

var ras -> router_appliances
  modules/ncc-spoke-ra/main.tf
  modules/ncc-spoke-ra/variables.tf
Due: check_names

Make ip_interfaceX not optional
  modules/ncc-spoke-ra/variables.tf
Due: check_names

vpn stage
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/vpn-onprem.tf
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-b-vpn/outputs.tf
  fast/stages/2-networking-b-vpn/variables-vpn.tf
  fast/stages/2-networking-b-vpn/variables.tf
  fast/stages/2-networking-b-vpn/vpn-landing.tf
  fast/stages/2-networking-b-vpn/vpn-onprem.tf
  fast/stages/2-networking-b-vpn/vpn-spoke-dev.tf
  fast/stages/2-networking-b-vpn/vpn-spoke-prod-primary.tf
  fast/stages/2-networking-b-vpn/vpn-spoke-prod-secondary.tf
  fast/stages/2-networking-b-vpn/vpn-spoke-prod.tf
  tests/fast/stages/s2_networking_b_vpn/common.tfvars
Due: check_links, check_names

Removed unnecessary files
  blueprints/cloud-operations/apigee/bundle-export.zip
  blueprints/cloud-operations/apigee/bundle-gcs2bq.zip
Due: none

fix link
  fast/stages/2-networking-b-vpn/README.md
Due: check_links

Fix typos/grammar
  CONTRIBUTING.md
Due: check_links

Update contributing guide with new test framework
  CONTRIBUTING.md
  tests/examples/test_plan.py
Due: check_links

Update TOC
  CONTRIBUTING.md
Due: check_links

More typos
  CONTRIBUTING.md
Due: check_links

Add resources created as outputs
  modules/ncc-spoke-ra/README.md
  modules/ncc-spoke-ra/outputs.tf
Due: check_links, check_names

Change semantics of custom_advertise
  modules/ncc-spoke-ra/README.md
  modules/ncc-spoke-ra/main.tf
  modules/ncc-spoke-ra/variables.tf
Due: check_links, check_names

Simplify testing workflow
  .github/actions/fabric-tests/action.yml
  .github/workflows/tests.yml
Due: none

nva stage
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/nva.tf
  fast/stages/2-networking-c-nva/outputs.tf
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-c-nva/vpn-onprem.tf
Due: check_links, check_names

fix examples and test
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/vpn-onprem.tf
  tests/fast/stages/s2_networking_c_nva/common.tfvars
Due: check_links, check_names

separate envs stage
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/vpn-onprem.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/outputs.tf
  fast/stages/2-networking-d-separate-envs/variables.tf
  fast/stages/2-networking-d-separate-envs/vpn-onprem-dev.tf
  fast/stages/2-networking-d-separate-envs/vpn-onprem-prod.tf
  fast/stages/2-networking-d-separate-envs/vpn-onprem.tf
  tests/fast/stages/s2_networking_d_separate_envs/common.tfvars
Due: check_links, check_names

tfdoc
  fast/stages/2-networking-d-separate-envs/README.md
Due: check_links

Simplify VPN implementation in FAST networking stages (#1228)
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/outputs.tf
  fast/stages/2-networking-a-peering/variables.tf
  fast/stages/2-networking-a-peering/vpn-onprem.tf
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-b-vpn/outputs.tf
  fast/stages/2-networking-b-vpn/variables-vpn.tf
  fast/stages/2-networking-b-vpn/variables.tf
  fast/stages/2-networking-b-vpn/vpn-landing.tf
  fast/stages/2-networking-b-vpn/vpn-onprem.tf
  fast/stages/2-networking-b-vpn/vpn-spoke-dev.tf
  fast/stages/2-networking-b-vpn/vpn-spoke-prod-primary.tf
  fast/stages/2-networking-b-vpn/vpn-spoke-prod-secondary.tf
  fast/stages/2-networking-b-vpn/vpn-spoke-prod.tf
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/nva.tf
  fast/stages/2-networking-c-nva/outputs.tf
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-c-nva/vpn-onprem.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/outputs.tf
  fast/stages/2-networking-d-separate-envs/variables.tf
  fast/stages/2-networking-d-separate-envs/vpn-onprem-dev.tf
  fast/stages/2-networking-d-separate-envs/vpn-onprem-prod.tf
  fast/stages/2-networking-d-separate-envs/vpn-onprem.tf
  tests/fast/stages/s2_networking_a_peering/common.tfvars
  tests/fast/stages/s2_networking_b_vpn/common.tfvars
  tests/fast/stages/s2_networking_c_nva/common.tfvars
  tests/fast/stages/s2_networking_d_separate_envs/common.tfvars
Due: check_links, check_names

review startup script to manage LB configured after istance bootstrap completed
  modules/cloud-config-container/simple-nva/cloud-config.yaml
  modules/cloud-config-container/simple-nva/files/policy_based_routing.sh
Due: none

update changelog
  CHANGELOG.md
Due: check_links

add new line
  modules/cloud-config-container/simple-nva/files/policy_based_routing.sh
Due: none

validated, untested
  modules/net-vpc-firewall-policy/main.tf
  modules/net-vpc-firewall-policy/variables.tf
  modules/net-vpc-firewall-policy/versions.tf
Due: check_names

Initial commit of vm-factory
  blueprints/factories/vm-factory/README.md
  blueprints/factories/vm-factory/data/vms/vm1.yaml
  blueprints/factories/vm-factory/data/vms/vm2.yaml
  blueprints/factories/vm-factory/main.tf
  blueprints/factories/vm-factory/variables.tf
Due: check_links, check_names

Adding copyright
  blueprints/factories/vm-factory/data/vms/vm1.yaml
  blueprints/factories/vm-factory/data/vms/vm2.yaml
  blueprints/factories/vm-factory/main.tf
  blueprints/factories/vm-factory/variables.tf
Due: check_names

Running terraform fmt
  blueprints/factories/vm-factory/main.tf
  blueprints/factories/vm-factory/variables.tf
Due: check_names

tested
  README.md
  modules/README.md
  modules/net-vpc-firewall-policy/README.md
  modules/net-vpc-firewall-policy/main.tf
  modules/net-vpc-firewall-policy/variables.tf
Due: check_links, check_names

typo in README
  modules/net-vpc-firewall-policy/README.md
Due: check_links

Network firewall policy module (#1232)
  README.md
  modules/README.md
  modules/net-vpc-firewall-policy/README.md
  modules/net-vpc-firewall-policy/main.tf
  modules/net-vpc-firewall-policy/variables.tf
  modules/net-vpc-firewall-policy/versions.tf
Due: check_links, check_names

replace track_per_session with tracking_mode and fixed connection tracking conf for backends
  modules/net-ilb/README.md
  modules/net-ilb/main.tf
  modules/net-ilb/variables.tf
Due: check_links, check_names

realign logic to boolean variable
  modules/net-ilb/README.md
  modules/net-ilb/main.tf
  modules/net-ilb/variables.tf
Due: check_links, check_names

terraform fmt
  modules/net-ilb/main.tf
Due: check_names

fix variable
  modules/net-ilb/README.md
  modules/net-ilb/variables.tf
Due: check_links, check_names

add missing attribute to FAST onprem VPN examples
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-d-separate-envs/README.md
Due: check_links

Adding yaml file and data structure details
  blueprints/factories/vm-factory/README.md
Due: check_links

add missing attribute to FAST onprem VPN examples (#1237)
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-d-separate-envs/README.md
Due: check_links

Path conditions:
  check_links: any of: \.(md|markdown|mdown)$
  check_names: any of: \.(tf|tfvars)$
