Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

Skip bq factory tests
  blueprints/factories/bigquery-factory/README.md
Due: check_links

Generate files based on readme contents
  modules/endpoints/README.md
  modules/folder/README.md
  modules/net-vpc/README.md
  modules/organization/README.md
  modules/project/README.md
  tests/examples/configs/custom-constraints/dataproc.yaml
  tests/examples/configs/custom-constraints/gke.yaml
  tests/examples/configs/endpoints/openapi.yaml
  tests/examples/configs/firewall-policies/cidrs.yaml
  tests/examples/configs/firewall-policies/rules.yaml
  tests/examples/configs/firewall/cidr_template.yaml
  tests/examples/configs/firewall/rules/load_balancers.yaml
  tests/examples/configs/org-policies/boolean.yaml
  tests/examples/configs/org-policies/list.yaml
  tests/examples/configs/subnets/subnet-name.yaml
  tests/examples/conftest.py
  tests/examples/test_plan.py
Due: check_links

Ensure inline README file match fixture files
  modules/folder/README.md
  modules/net-vpc-firewall/README.md
  modules/organization/README.md
  modules/project/README.md
  tests/examples/configs/custom-constraints/dataproc.yaml
  tests/examples/configs/custom-constraints/gke.yaml
  tests/examples/configs/firewall-policies/cidrs.yaml
  tests/examples/configs/firewall-policies/rules.yaml
  tests/examples/configs/firewall/cidr_template.yaml
  tests/examples/configs/firewall/rules/load_balancers.yaml
  tests/examples/configs/org-policies/boolean.yaml
  tests/examples/configs/org-policies/list.yaml
  tests/examples/conftest.py
  tests/examples/test_plan.py
Due: check_links

Add tests for factory examples
  blueprints/cloud-operations/iam-delegated-role-grants/README.md
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/factories/bigquery-factory/README.md
  blueprints/networking/hub-and-spoke-vpn/README.md
  modules/__experimental/net-dns-policy-address/README.md
  modules/endpoints/README.md
  modules/folder/README.md
  modules/kms/README.md
  modules/net-vpc-firewall/README.md
  modules/net-vpc/README.md
  modules/organization/README.md
  modules/organization/org-policy-custom-constraints.tf
  modules/project/README.md
  modules/projects-data-source/README.md
  tests/examples/configs/custom-constraints/dataproc.yaml
  tests/examples/configs/custom-constraints/gke.yaml
  tests/examples/configs/endpoints/openapi.yaml
  tests/examples/configs/firewall-policies/cidrs.yaml
  tests/examples/configs/firewall-policies/rules.yaml
  tests/examples/configs/firewall/cidr_template.yaml
  tests/examples/configs/firewall/rules/laod_balancers.yaml
  tests/examples/configs/org-policies/boolean.yaml
  tests/examples/configs/org-policies/list.yaml
  tests/examples/configs/subnets/subnet-name.yaml
  tests/examples/test_plan.py
Due: check_links, check_names

Fix boilerplate check
  tests/examples/configs/endpoints/openapi.yaml
  tests/examples/configs/subnets/subnet-name.yaml
Due: none

Fix org policies factories
  modules/folder/organization-policies.tf
  modules/organization/org-policy-custom-constraints.tf
  modules/organization/organization-policies.tf
  modules/project/organization-policies.tf
  tests/modules/organization/test_plan_org_policies_modules.py
Due: check_names

metrics
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-cai-compute.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-metrics.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/utils.py
Due: none

notes
  blueprints/cloud-operations/network-dashboard/cf/NOTES.txt
Due: none

notes
  blueprints/cloud-operations/network-dashboard/cf/NOTES.md
  blueprints/cloud-operations/network-dashboard/cf/NOTES.txt
Due: check_links

Add schemas to Pubsub topic module.
  modules/pubsub/README.md
  modules/pubsub/main.tf
  modules/pubsub/outputs.tf
  modules/pubsub/variables.tf
Due: check_links, check_names

Address reviewer comments.
  modules/pubsub/README.md
  modules/pubsub/main.tf
  modules/pubsub/outputs.tf
  modules/pubsub/variables.tf
Due: check_links, check_names

Remove duplicated code
  modules/pubsub/outputs.tf
Due: check_names

Fix variables/outputs table after removing duplicated code.
  modules/pubsub/README.md
Due: check_links

Fix example code for topic with schemas
  modules/pubsub/README.md
Due: check_links

1 + 1 = 2
  modules/pubsub/README.md
Due: check_links

streamline
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/__init__.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-cai-compute.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-cai-projects.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-compute-quota.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-compute-routerstatus.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-metrics.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-subnets.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/utils.py
Due: none

fixes, dump
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/out.json
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-compute-routerstatus.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-metrics.py
Due: none

streamline
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/out.json
  blueprints/cloud-operations/network-dashboard/cf/plugins/__init__.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-cai-compute.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-metrics.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-subnets.py
Due: none

remove globals
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-subnets.py
Due: none

Push container images to GitHub instead of Google Container Registry
  .github/workflows/container-image-squid.yml
  .github/workflows/container-image-strongswan.yml
  .github/workflows/container-image-toolbox.yml
  .github/workflows/container-image.yml
Due: none

wip metrics
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/out.json
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-cai-compute.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-cai-projects.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-metrics.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-subnets.py
Due: none

Show different icons for documentation check failures
  tools/check_documentation.py
Due: none

Fix variable/output sort check
  modules/__experimental/net-neg/README.md
  modules/__experimental/net-neg/outputs.tf
  modules/__experimental/net-neg/variables.tf
  modules/apigee/README.md
  modules/apigee/outputs.tf
  modules/apigee/variables.tf
  modules/binauthz/README.md
  modules/binauthz/outputs.tf
  modules/binauthz/variables.tf
  modules/cloud-config-container/squid/variables.tf
  modules/cloud-function/README.md
  modules/cloud-function/outputs.tf
  modules/cloud-function/variables.tf
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/variables.tf
  modules/compute-mig/README.md
  modules/compute-mig/variables.tf
  modules/dns/README.md
  modules/dns/variables.tf
  modules/net-glb/README.md
  modules/net-glb/outputs.tf
  modules/net-glb/variables.tf
  modules/net-ilb/README.md
  modules/net-ilb/outputs.tf
  modules/net-vpc-firewall/README.md
  modules/net-vpc-firewall/variables.tf
  modules/projects-data-source/README.md
  modules/projects-data-source/outputs.tf
  modules/projects-data-source/variables.tf
  tools/check_documentation.py
Due: check_links, check_names

Only look at outputs.tf in check documentation lint
  tools/check_documentation.py
Due: none

Fix organization module
  modules/organization/README.md
  modules/organization/variables.tf
Due: check_links, check_names

Remote debug lib
  tools/check_documentation.py
Due: none

Fix pubsub sorting
  modules/pubsub/README.md
  modules/pubsub/outputs.tf
  tools/check_documentation.py
Due: check_links, check_names

Make container build manually triggerable
  .github/workflows/container-image-squid.yml
  .github/workflows/container-image-strongswan.yml
  .github/workflows/container-image-toolbox.yml
Due: none

subnet time series
  blueprints/cloud-operations/network-dashboard/cf/NOTES.md
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-subnets.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/subnets.py
Due: check_links

Prefix container images
  .github/workflows/container-image-squid.yml
  .github/workflows/container-image-strongswan.yml
  .github/workflows/container-image-toolbox.yml
Due: none

Push container images to GitHub instead of Google Container Registry (#995)
  .github/workflows/container-image-squid.yml
  .github/workflows/container-image-strongswan.yml
  .github/workflows/container-image-toolbox.yml
  .github/workflows/container-image.yml
Due: none

networks per project plugin
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/out.json
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-group-networks.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-subnets.py
Due: none

firewall rules timeseries
  blueprints/cloud-operations/network-dashboard/cf/NOTES.md
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/out.json
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-cai-compute.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-firewall-rules.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-subnets.py
Due: check_links

Fix `repository name must be lowercase` on docker build
  .github/workflows/container-image.yml
Due: none

Fix `repository name must be lowercase` on docker build (#996)
  .github/workflows/container-image.yml
Due: none

use names in metric labels
  blueprints/cloud-operations/network-dashboard/cf/NOTES.md
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-subnets.py
Due: check_links

Add BigQuery subcriptions to Pubsub module.
  modules/pubsub/README.md
  modules/pubsub/main.tf
  modules/pubsub/variables.tf
Due: check_links, check_names

firewall policies timeseries
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-firewall-policies.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-firewall-rules.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-subnets.py
Due: none

wip
  blueprints/cloud-operations/network-dashboard/cf/NOTES.md
Due: check_links
