Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

check_links:
  name: Check Links
  entry: python3
  args:
  - tools/check_links.py
  - .
  language: system

check_names:
  name: Check Names
  entry: python3
  args:
  - tools/check_names.py
  - --prefix-length=10
  - fast/stages
  language: system

missing API adedd
  examples/third-party-solutions/wordpress/cloudrun/main.tf
Due: check_names

working
  fast/assets/templates/workflow-gitlab.yaml
Due: none

Update all internal links examples -> blueprints
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  blueprints/cloud-operations/glb_and_armor/README.md
  blueprints/cloud-operations/onprem-sa-key-management/README.md
  blueprints/data-solutions/cloudsql-multiregion/README.md
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/gcs-to-bq-with-least-privileges/README.md
  blueprints/factories/cloud-identity-group-factory/README.md
  blueprints/factories/net-vpc-firewall-yaml/README.md
  blueprints/gke-serverless/multitenant-fleet/README.md
  fast/stages/03-data-platform/dev/README.md
  fast/stages/03-data-platform/dev/main.tf
  fast/stages/03-gke-multitenant/README.md
  fast/stages/03-gke-multitenant/dev/README.md
  fast/stages/03-gke-multitenant/dev/main.tf
  fast/stages/03-project-factory/dev/main.tf
  modules/cloud-config-container/onprem/README.md
  modules/iam-service-account/README.md
  modules/iot-core/README.md
  modules/net-vpc-firewall/README.md
  modules/net-vpc/README.md
  modules/organization/README.md
  tests/blueprints/__init__.py
  tests/blueprints/cloud_operations/__init__.py
  tests/blueprints/data_solutions/__init__.py
  tests/blueprints/data_solutions/cloudsql_multiregion/__init__.py
  tests/blueprints/data_solutions/cloudsql_multiregion/fixture/main.tf
  tests/blueprints/data_solutions/cloudsql_multiregion/test_plan.py
  tests/blueprints/serverless/__init__.py
  tests/examples/__init__.py
  tests/examples/conftest.py
  tests/examples/test_plan.py
  tests/examples/variables.tf
  tests/modules/organization_policy/__init__.py
  tests/modules/organization_policy/fixture/experimental.tf
  tests/modules/organization_policy/fixture/main.tf
  tests/modules/organization_policy/fixture/policies/test.yaml
  tests/modules/organization_policy/fixture/variables.tf
  tests/modules/organization_policy/test_plan.py
Due: check_links, check_names

point tests to new folders
  .github/workflows/tests.yml
Due: none

More updates
  CONTRIBUTING.md
  README.md
  blueprints/README.md
  blueprints/cloud-operations/README.md
  blueprints/cloud-operations/adfs/README.md
  blueprints/cloud-operations/asset-inventory-feed-remediation/README.md
  blueprints/cloud-operations/binauthz/README.md
  blueprints/cloud-operations/dns-fine-grained-iam/README.md
  blueprints/cloud-operations/iam-delegated-role-grants/README.md
  blueprints/cloud-operations/multi-cluster-mesh-gke-fleet-api/README.md
  blueprints/cloud-operations/quota-monitoring/README.md
  blueprints/cloud-operations/unmanaged-instances-healthcheck/README.md
  blueprints/cloud-operations/vm-migration/README.md
  blueprints/cloud-operations/workload-identity-federation/README.md
  blueprints/data-solutions/README.md
  blueprints/foundations/README.md
  blueprints/gke-serverless/README.md
  blueprints/networking/README.md
  blueprints/networking/ilb-next-hop/README.md
  blueprints/networking/onprem-google-access-dns/README.md
  blueprints/serverless/api-gateway/README.md
  blueprints/third-party-solutions/README.md
Due: check_links

More updates 2
  blueprints/cloud-operations/README.md
  blueprints/cloud-operations/adfs/README.md
  blueprints/cloud-operations/asset-inventory-feed-remediation/README.md
  blueprints/cloud-operations/binauthz/README.md
  blueprints/cloud-operations/dns-shared-vpc/README.md
  blueprints/cloud-operations/iam-delegated-role-grants/README.md
  blueprints/cloud-operations/multi-cluster-mesh-gke-fleet-api/README.md
  blueprints/cloud-operations/network-dashboard/README.md
  blueprints/cloud-operations/onprem-sa-key-management/README.md
  blueprints/cloud-operations/packer-image-builder/README.md
  blueprints/cloud-operations/quota-monitoring/README.md
  blueprints/cloud-operations/scheduled-asset-inventory-export-bq/README.md
  blueprints/cloud-operations/unmanaged-instances-healthcheck/README.md
  blueprints/cloud-operations/vm-migration/README.md
  blueprints/cloud-operations/vm-migration/esxi/README.md
  blueprints/cloud-operations/vm-migration/host-target-projects/README.md
  blueprints/cloud-operations/vm-migration/host-target-sharedvpc/README.md
  blueprints/cloud-operations/vm-migration/single-project/README.md
  blueprints/cloud-operations/workload-identity-federation/README.md
  blueprints/data-solutions/README.md
  blueprints/data-solutions/cloudsql-multiregion/README.md
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/data-playground/README.md
  blueprints/data-solutions/sqlserver-alwayson/README.md
  blueprints/gke-serverless/README.md
  blueprints/gke-serverless/multitenant-fleet/README.md
  blueprints/networking/decentralized-firewall/README.md
  blueprints/networking/filtering-proxy/README.md
  blueprints/networking/hub-and-spoke-peering/README.md
  blueprints/networking/hub-and-spoke-vpn/README.md
Due: check_links

corrections to companion.md
  fast/stages/COMPANION.md
Due: check_links

update changelog
  CHANGELOG.md
Due: check_links

Update CHANGELOG.md
  CHANGELOG.md
Due: check_links

working (#807)
  fast/assets/templates/workflow-gitlab.yaml
Due: none

Rename gke-serverless to gke and add test for fast gke stage
  blueprints/gke/README.md
  blueprints/gke/multitenant-fleet/README.md
  blueprints/gke/multitenant-fleet/diagram.png
  blueprints/gke/multitenant-fleet/gke-clusters.tf
  blueprints/gke/multitenant-fleet/gke-hub.tf
  blueprints/gke/multitenant-fleet/gke-nodepools.tf
  blueprints/gke/multitenant-fleet/main.tf
  blueprints/gke/multitenant-fleet/outputs.tf
  blueprints/gke/multitenant-fleet/variables.tf
  fast/stages/03-gke-multitenant/dev/main.tf
  tests/fast/conftest.py
  tests/fast/stages/s03_gke_multitenant/__init__.py
  tests/fast/stages/s03_gke_multitenant/fixture/main.tf
  tests/fast/stages/s03_gke_multitenant/test_plan.py
Due: check_links, check_names

Link shared vpc gke blueprint in gke folder
  blueprints/gke/shared-vpc-gke
Due: none

Add gke description
  blueprints/gke/README.md
Due: check_links

Add readme to serverless blueprints folder
  blueprints/gke/README.md
  blueprints/serverless/README.md
  blueprints/serverless/api-gateway/README.md
  blueprints/serverless/api-gateway/diagram.png
Due: check_links

Remove foundations blueprints in favor of FAST
  blueprints/README.md
  blueprints/foundations/README.md
  blueprints/foundations/business-units/README.md
  blueprints/foundations/business-units/backend.tf.sample
  blueprints/foundations/business-units/diagram.png
  blueprints/foundations/business-units/main.tf
  blueprints/foundations/business-units/outputs.tf
  blueprints/foundations/business-units/terraform.tfvars.sample
  blueprints/foundations/business-units/variables.tf
  blueprints/foundations/business-units/versions.tf
  blueprints/foundations/environments/README.md
  blueprints/foundations/environments/backend.tf.sample
  blueprints/foundations/environments/diagram.png
  blueprints/foundations/environments/locals.tf
  blueprints/foundations/environments/main.tf
  blueprints/foundations/environments/outputs.tf
  blueprints/foundations/environments/variables.tf
  blueprints/foundations/environments/versions.tf
Due: check_links, check_names

Update readmes
  README.md
  blueprints/README.md
Due: check_links

Move binautz to gke folder
  README.md
  blueprints/README.md
  blueprints/gke/README.md
  blueprints/gke/binauthz/README.md
  blueprints/gke/binauthz/app/clobuild.yaml
  blueprints/gke/binauthz/diagram.png
  blueprints/gke/binauthz/image/.dockerignore
  blueprints/gke/binauthz/image/.gitignore
  blueprints/gke/binauthz/image/Dockerfile
  blueprints/gke/binauthz/image/README.md
  blueprints/gke/binauthz/image/cloudbuild.yaml
  blueprints/gke/binauthz/image/index.js
  blueprints/gke/binauthz/image/package-lock.json
  blueprints/gke/binauthz/image/package.json
  blueprints/gke/binauthz/main.tf
  blueprints/gke/binauthz/outputs.tf
  blueprints/gke/binauthz/templates/app.yaml.tpl
  blueprints/gke/binauthz/templates/tenant-setup.yaml.tpl
  blueprints/gke/binauthz/variables.tf
Due: check_links, check_names

Move gke multi cluster mesh example to gke folder
  blueprints/README.md
  blueprints/gke/README.md
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/.gitignore
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/README.md
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/ansible/ansible.cfg
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/ansible/inventory/hosts.ini
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/ansible/playbook.yaml
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/ansible/roles/install/tasks/endpoint-discovery-config.yaml
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/ansible/roles/install/tasks/install.yaml
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/ansible/roles/install/tasks/main.yaml
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/ansible/roles/prerequisites/tasks/main.yaml
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/ansible/roles/test/tasks/main.yaml
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/ansible/roles/test/tasks/test.yaml
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/diagram.png
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/main.tf
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/templates/gssh.sh.tpl
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/templates/vars.yaml.tpl
  blueprints/gke/multi-cluster-mesh-gke-fleet-api/variables.tf
Due: check_links, check_names

fix links in gke stage readmes
  fast/stages/03-gke-multitenant/README.md
  fast/stages/03-gke-multitenant/dev/README.md
Due: check_links

remove stale foundation blueprints links
  blueprints/README.md
Due: check_links

remove stale link in blueprints readme
  blueprints/README.md
Due: check_links

try top-level symlink
  examples
Due: none

remove symlink
  examples
Due: none

fix blueprint tests
  blueprints/gke/multitenant-fleet/README.md
  tests/blueprints/cloud_operations/binauthz/fixture/main.tf
  tests/blueprints/cloud_operations/multi_cluster_mesh_gke_fleet_api/__init__.py
  tests/blueprints/cloud_operations/multi_cluster_mesh_gke_fleet_api/fixture/main.tf
  tests/blueprints/foundations/business_units/__init__.py
  tests/blueprints/foundations/business_units/fixture/variables.tf
  tests/blueprints/foundations/business_units/test_plan.py
  tests/blueprints/foundations/environments/__init__.py
  tests/blueprints/foundations/environments/fixture/variables.tf
  tests/blueprints/foundations/environments/test_plan.py
  tests/blueprints/gke/__init__.py
  tests/blueprints/gke/binauthz/__init__.py
  tests/blueprints/gke/binauthz/fixture/main.tf
  tests/blueprints/gke/binauthz/fixture/variables.tf
  tests/blueprints/gke/binauthz/test_plan.py
  tests/blueprints/gke/multi_cluster_mesh_gke_fleet_api/__init__.py
  tests/blueprints/gke/multi_cluster_mesh_gke_fleet_api/fixture/main.tf
  tests/blueprints/gke/multi_cluster_mesh_gke_fleet_api/fixture/variables.tf
  tests/blueprints/gke/multi_cluster_mesh_gke_fleet_api/test_plan.py
Due: check_links, check_names

add gke multitenant test
  tests/blueprints/gke/multitenant_fleet/__init__.py
  tests/blueprints/gke/multitenant_fleet/fixture/main.tf
  tests/blueprints/gke/multitenant_fleet/test_plan.py
Due: check_names

addmissing boilerplate
  tests/blueprints/gke/__init__.py
Due: none

Create fully recursive e2e test runner
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/gke/multitenant-fleet/README.md
  modules/compute-vm/README.md
  modules/net-glb/README.md
  modules/net-ilb-l7/README.md
  tests/conftest.py
  tests/examples/test_plan.py
  tests/fast/conftest.py
  tests/fast/stages/s00_bootstrap/test_plan.py
  tests/fast/stages/s01_resman/test_plan.py
  tests/fast/stages/s02_networking_nva/test_plan.py
  tests/fast/stages/s02_networking_peering/test_plan.py
  tests/fast/stages/s02_networking_vpn/test_plan.py
  tests/fast/stages/s02_security/test_plan.py
  tests/fast/stages/s03_data_platform/test_plan.py
  tests/fast/stages/s03_gke_multitenant/test_plan.py
  tests/fast/stages/s03_project_factory/test_plan.py
Due: check_links

Update COMPANION.md
  fast/stages/COMPANION.md
Due: check_links

fix changelog generator
  CHANGELOG.md
  tools/changelog.py
Due: check_links

fix changelog generator (#811)
  CHANGELOG.md
  tools/changelog.py
Due: check_links

Add documentation example test for pf
  blueprints/factories/project-factory/README.md
  blueprints/factories/project-factory/sample-data/defaults.yaml
  blueprints/factories/project-factory/sample-data/projects/project.yaml
  tests/conftest.py
Due: check_links

skip tmpdir for examples
  tests/conftest.py
  tests/examples/test_plan.py
Due: none

Add documentation example test for pf (#813)
  blueprints/factories/project-factory/README.md
  blueprints/factories/project-factory/sample-data/defaults.yaml
  blueprints/factories/project-factory/sample-data/projects/project.yaml
  tests/conftest.py
  tests/examples/test_plan.py
Due: check_links

typo
  blueprints/factories/cloud-identity-group-factory/README.md
Due: check_links

try parallel tests again
  .github/workflows/tests.yml
  tests/requirements.txt
Due: none

Path conditions:
  check_links: any of: \.(md|markdown|mdown)$
  check_names: any of: \.(tf|tfvars)$
