Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

add test module
  tests/modules/net_vpc_network_firewall/firewall-rules/rules.yaml
  tests/modules/net_vpc_network_firewall/test-network-firewall.yaml
  tests/modules/net_vpc_network_firewall/test-plan.tfvars
  tests/modules/net_vpc_network_firewall/test-plan.yaml
  tests/modules/net_vpc_network_firewall/tftest.yaml
Due: check_names

deploy sample dashboard
  blueprints/cloud-operations/network-dashboard/dashboards/quotas-utilization.json
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/README.md
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/main.tf
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/variables.tf
Due: check_links, check_names

Fix net-vpc tests
  tests/modules/net_vpc_firewall/fixture/config/firewall/load_balancers.yaml
Due: none

Migrate project module to new tests
  modules/project/README.md
  tests/examples/variables.tf
  tests/modules/organization/test_plan_org_policies.py
  tests/modules/project/common.tfvars
  tests/modules/project/examples/basic.yaml
  tests/modules/project/examples/iam-additive-members.yaml
  tests/modules/project/examples/iam-additive.yaml
  tests/modules/project/examples/iam-authoritative.yaml
  tests/modules/project/examples/iam-group.yaml
  tests/modules/project/examples/kms.yaml
  tests/modules/project/examples/logging.yaml
  tests/modules/project/examples/org-policies.yaml
  tests/modules/project/examples/outputs.yaml
  tests/modules/project/examples/shared-vpc.yaml
  tests/modules/project/fixture/main.tf
  tests/modules/project/fixture/test.logging-sinks.tfvars
  tests/modules/project/fixture/variables.tf
  tests/modules/project/no_parent.tfvars
  tests/modules/project/no_parent.yaml
  tests/modules/project/no_prefix.tfvars
  tests/modules/project/no_prefix.yaml
  tests/modules/project/org_policies_boolean.tfvars
  tests/modules/project/org_policies_boolean.yaml
  tests/modules/project/org_policies_list.tfvars
  tests/modules/project/org_policies_list.yaml
  tests/modules/project/parent_folder.tfvars
  tests/modules/project/parent_folder.yaml
  tests/modules/project/parent_org.tfvars
  tests/modules/project/parent_org.yaml
  tests/modules/project/prefix.tfvars
  tests/modules/project/prefix.yaml
  tests/modules/project/service_encryption_keys.tfvars
  tests/modules/project/service_encryption_keys.yaml
  tests/modules/project/test_iam.py
  tests/modules/project/test_plan.py
  tests/modules/project/test_plan_logging.py
  tests/modules/project/test_plan_org_policies.py
  tests/modules/project/test_plan_svpc.py
  tests/modules/project/tftest.yaml
  tests/modules/project/validate_policies.py
Due: check_links, check_names

Silence linting
  tests/examples/conftest.py
Due: none

Make directive for supporting files in examples more explicit
  modules/endpoints/README.md
  modules/folder/README.md
  modules/net-vpc-firewall/README.md
  modules/net-vpc/README.md
  modules/organization/README.md
  modules/project/README.md
  tests/examples/conftest.py
Due: check_links

Fix net-vpc factory ranges
  modules/net-vpc-firewall/main.tf
Due: check_names

Remove organization fixture
  tests/modules/organization/fixture/main.tf
  tests/modules/organization/fixture/test.logging-sinks.tfvars
  tests/modules/organization/fixture/variables.tf
Due: check_names

Fix typo
  tests/examples/conftest.py
Due: none

Ignore multiple whitespace in tftest directives
  tests/examples/test_plan.py
Due: none

Allow passing an inventory to examples test directive
  tests/examples/conftest.py
  tests/examples/test_plan.py
  tests/fixtures.py
Due: none

Migrate organization to example-based tests
  modules/organization/README.md
  tests/modules/organization/examples/basic.yaml
  tests/modules/organization/examples/custom-constraints.yaml
  tests/modules/organization/examples/hfw.yaml
  tests/modules/organization/examples/logging.yaml
  tests/modules/organization/examples/network-tags.yaml
  tests/modules/organization/examples/roles.yaml
  tests/modules/organization/examples/tags.yaml
  tests/modules/organization/firewall_policies.tfvars
  tests/modules/organization/firewall_policies_factory.tfvars
  tests/modules/organization/firewall_policies_factory.yaml
  tests/modules/organization/firewall_policies_factory_combined.tfvars
  tests/modules/organization/iam.tfvars
  tests/modules/organization/iam.yaml
  tests/modules/organization/iam_additive.tfvars
  tests/modules/organization/iam_additive.yaml
  tests/modules/organization/logging.tfvars
  tests/modules/organization/logging.yaml
  tests/modules/organization/logging_exclusions.tfvars
  tests/modules/organization/tags.tfvars
  tests/modules/organization/tags.yaml
  tests/modules/organization/tftest.yaml
Due: check_links, check_names

Remove recursive_e2e_plan_runner
  tests/blueprints/cloud_operations/apigee/basic.tfvars
  tests/blueprints/cloud_operations/apigee/basic.yaml
  tests/blueprints/cloud_operations/apigee/fixture/main.tf
  tests/blueprints/cloud_operations/apigee/fixture/variables.tf
  tests/blueprints/cloud_operations/apigee/tftest.yaml
  tests/fast/stages/s01_resman/common.tfvars
  tests/fast/stages/s01_resman/fixture/main.tf
  tests/fast/stages/s01_resman/test_plan.py
  tests/fast/stages/s02_networking_nva/common.tfvars
  tests/fast/stages/s02_networking_nva/fixture/main.tf
  tests/fast/stages/s02_networking_nva/test_plan.py
  tests/fast/stages/s02_networking_peering/common.tfvars
  tests/fast/stages/s02_networking_peering/fixture/main.tf
  tests/fast/stages/s02_networking_peering/test_plan.py
  tests/fast/stages/s02_networking_separate_envs/common.tfvars
  tests/fast/stages/s02_networking_separate_envs/fixture/main.tf
  tests/fast/stages/s02_networking_separate_envs/test_plan.py
  tests/fast/stages/s02_networking_vpn/common.tfvars
  tests/fast/stages/s02_networking_vpn/test_plan.py
  tests/fast/stages/s02_security/common.tfvars
  tests/fast/stages/s02_security/fixture/main.tf
  tests/fast/stages/s03_data_platform/common.tfvars
  tests/fast/stages/s03_data_platform/fixture/main.tf
  tests/fast/stages/s03_data_platform/test_plan.py
  tests/fast/stages/s03_gke_multitenant/common.tfvars
  tests/fast/stages/s03_gke_multitenant/fixture/main.tf
  tests/fast/stages/s03_gke_multitenant/test_plan.py
  tests/fast/stages/s03_project_factory/common.tfvars
  tests/fast/stages/s03_project_factory/data/defaults.yaml
  tests/fast/stages/s03_project_factory/data/projects/project.yaml
  tests/fast/stages/s03_project_factory/fixture/main.tf
  tests/fast/stages/s03_project_factory/test_plan.py
  tests/legacy_fixtures.py
Due: check_names

Fix tests paths for examples
  modules/iam-service-account/README.md
  tests/examples/test_plan.py
  tests/modules/iam_service_account/examples/basic.yaml
Due: check_links

Simplify readme discovery
  fast/extras/00-cicd-github/README.md
  fast/stages/00-bootstrap/README.md
  fast/stages/01-resman/README.md
  fast/stages/02-security/README.md
  modules/__experimental/net-neg/README.md
  tests/examples/conftest.py
Due: check_links

Remove service account fixture
  tests/modules/iam_service_account/fixture/main.tf
  tests/modules/iam_service_account/fixture/variables.tf
Due: check_names

Fix SA tests
  tests/modules/iam_service_account/test_plan.py
Due: none

Fix tests
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/README.md
  blueprints/cloud-operations/terraform-enterprise-wif/tfc-workflow-using-wif/tfc-oidc/README.md
  blueprints/factories/cloud-identity-group-factory/README.md
  blueprints/factories/net-vpc-firewall-yaml/README.md
  blueprints/networking/hub-and-spoke-vpn/README.md
  modules/projects-data-source/README.md
Due: check_links

rename tests
  tests/fast/stages/s0_bootstrap/__init__.py
  tests/fast/stages/s0_bootstrap/simple.tfvars
  tests/fast/stages/s0_bootstrap/simple.yaml
  tests/fast/stages/s0_bootstrap/simple_projects.yaml
  tests/fast/stages/s0_bootstrap/simple_sas.yaml
  tests/fast/stages/s0_bootstrap/tftest.yaml
  tests/fast/stages/s1_resman/__init__.py
  tests/fast/stages/s1_resman/common.tfvars
  tests/fast/stages/s1_resman/test_plan.py
  tests/fast/stages/s2_networking_a_apeering/__init__.py
  tests/fast/stages/s2_networking_a_apeering/common.tfvars
  tests/fast/stages/s2_networking_a_apeering/test_plan.py
  tests/fast/stages/s2_networking_b_vpn/__init__.py
  tests/fast/stages/s2_networking_b_vpn/common.tfvars
  tests/fast/stages/s2_networking_b_vpn/fixture/main.tf
  tests/fast/stages/s2_networking_b_vpn/test_plan.py
  tests/fast/stages/s2_networking_c_nva/__init__.py
  tests/fast/stages/s2_networking_c_nva/common.tfvars
  tests/fast/stages/s2_networking_c_nva/test_plan.py
  tests/fast/stages/s2_networking_d_separate_envs/__init__.py
  tests/fast/stages/s2_networking_d_separate_envs/common.tfvars
  tests/fast/stages/s2_networking_d_separate_envs/test_plan.py
  tests/fast/stages/s2_security/__init__.py
  tests/fast/stages/s2_security/common.tfvars
  tests/fast/stages/s2_security/test_plan.py
  tests/fast/stages/s3_data_platform/__init__.py
  tests/fast/stages/s3_data_platform/common.tfvars
  tests/fast/stages/s3_data_platform/test_plan.py
  tests/fast/stages/s3_gke_multitenant/__init__.py
  tests/fast/stages/s3_gke_multitenant/common.tfvars
  tests/fast/stages/s3_gke_multitenant/test_plan.py
  tests/fast/stages/s3_project_factory/__init__.py
  tests/fast/stages/s3_project_factory/common.tfvars
  tests/fast/stages/s3_project_factory/data/defaults.yaml
  tests/fast/stages/s3_project_factory/data/projects/project.yaml
  tests/fast/stages/s3_project_factory/test_plan.py
Due: check_names

exclude fast providers in fixture
  tests/fixtures.py
Due: none

stage 0 tests
  tests/fast/stages/s0_bootstrap/simple.tfvars
  tests/fast/stages/s0_bootstrap/simple.yaml
  tests/fast/stages/s0_bootstrap/simple_sas.yaml
  tests/fast/stages/s0_bootstrap/tftest.yaml
Due: check_names

stage 1 tests
  tests/fast/stages/s1_resman/common.tfvars
  tests/fast/stages/s1_resman/test_plan.py
Due: check_names

network stages tests
  tests/fast/stages/s2_networking_a_peering/__init__.py
  tests/fast/stages/s2_networking_a_peering/common.tfvars
  tests/fast/stages/s2_networking_a_peering/test_plan.py
  tests/fast/stages/s2_networking_b_vpn/common.tfvars
  tests/fast/stages/s2_networking_b_vpn/test_plan.py
  tests/fast/stages/s2_networking_c_nva/common.tfvars
  tests/fast/stages/s2_networking_c_nva/test_plan.py
  tests/fast/stages/s2_networking_d_separate_envs/common.tfvars
  tests/fast/stages/s2_networking_d_separate_envs/test_plan.py
Due: check_names

stage tests
  tests/fast/stages/s2_security/common.tfvars
  tests/fast/stages/s2_security/test_plan.py
  tests/fast/stages/s3_data_platform/common.tfvars
  tests/fast/stages/s3_data_platform/test_plan.py
  tests/fast/stages/s3_gke_multitenant/common.tfvars
  tests/fast/stages/s3_gke_multitenant/test_plan.py
  tests/fast/stages/s3_project_factory/common.tfvars
  tests/fast/stages/s3_project_factory/test_plan.py
Due: check_names

tfdoc
  fast/stages/0-bootstrap/README.md
  fast/stages/1-resman/README.md
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-security/README.md
  fast/stages/3-data-platform/dev/README.md
  fast/stages/3-gke-multitenant/dev/README.md
  fast/stages/3-project-factory/dev/README.md
Due: check_links

fix links
  blueprints/gke/multitenant-fleet/README.md
  blueprints/networking/hub-and-spoke-vpn/README.md
  fast/README.md
  fast/stages/0-bootstrap/README.md
  fast/stages/1-resman/README.md
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-security/README.md
  fast/stages/3-data-platform/dev/README.md
  fast/stages/3-gke-multitenant/README.md
  fast/stages/3-gke-multitenant/dev/README.md
  fast/stages/3-project-factory/dev/README.md
  fast/stages/CLEANUP.md
  fast/stages/COMPANION.md
  fast/stages/README.md
Due: check_links

tfdoc
  fast/stages/1-resman/README.md
Due: check_links

test
  modules/net-ilb-l7/README.md
Due: check_links

update changelog
  CHANGELOG.md
Due: check_links

multitenant tests
  tests/fast/stages_multitenant/__init__.py
  tests/fast/stages_multitenant/s0_bootstrap_multitenant/__init__.py
  tests/fast/stages_multitenant/s0_bootstrap_multitenant/simple.tfvars
  tests/fast/stages_multitenant/s0_bootstrap_multitenant/simple.yaml
  tests/fast/stages_multitenant/s0_bootstrap_multitenant/tftest.yaml
  tests/fast/stages_multitenant/s0_bootstrap_tenant/__init__.py
  tests/fast/stages_multitenant/s0_bootstrap_tenant/simple.tfvars
  tests/fast/stages_multitenant/s0_bootstrap_tenant/simple.yaml
  tests/fast/stages_multitenant/s0_bootstrap_tenant/tftest.yaml
  tools/plan_summary.py
Due: check_names

remove local files
  fast/stages-multitenant/0-bootstrap-multitenant/0-0-bootstrap.auto.tfvars.json
  fast/stages-multitenant/0-bootstrap-multitenant/1-0-resman.auto.tfvars.json
  fast/stages-multitenant/0-bootstrap-multitenant/globals.auto.tfvars.json
  fast/stages-multitenant/0-bootstrap-tenant/0-0-bootstrap.auto.tfvars.json
  fast/stages-multitenant/0-bootstrap-tenant/1-0-resman.auto.tfvars.json
  fast/stages-multitenant/0-bootstrap-tenant/globals.auto.tfvars.json
Due: none

stage links command
  fast/stage-links.sh
Due: none

Update docs
  modules/cloudsql-instance/README.md
Due: check_links

fix links script, TODO
  fast/stage-links.sh
  fast/stages-multitenant/TODO.md
Due: check_links

Remove default_pool_boot_disk
  modules/gke-cluster/main.tf
  modules/gke-cluster/variables.tf
Due: check_names

Refactor as per suggestions in PR
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Due: check_names

Update readme
  modules/cloudsql-instance/README.md
Due: check_links
