Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

check_links:
  name: Check Links
  entry: python3
  args:
  - tools/check_links.py
  - .
  language: system

check_names:
  name: Check Names
  entry: python3
  args:
  - tools/check_names.py
  - --prefix-length=10
  - fast/stages
  language: system

formatting
  blueprints/cloud-operations/network-dashboard/src/main.py
Due: none

terraform fmt
  tests/examples_e2e/setup_module/main.tf
Due: check_names

Add missing KMS attribute in FAST stage
  fast/stages/2-security/variables.tf
Due: check_names

tfdoc
  fast/stages/2-security/README.md
Due: check_links

Net dash cfv2 (#1859)
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/README.md
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/main.tf
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/outputs.tf
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/variables.tf
  blueprints/cloud-operations/network-dashboard/src/main.py
Due: check_links, check_names

added composer module
  modules/composer/README.md
  modules/composer/main.tf
  modules/composer/outputs.tf
  modules/composer/variables.tf
  modules/composer/versions.tf
Due: check_links, check_names

readme fix
  modules/composer/README.md
Due: check_links

terraform fmt
  modules/composer/main.tf
  modules/composer/outputs.tf
  modules/composer/versions.tf
Due: check_names

composer readme fix
  modules/composer/README.md
Due: check_links

composer added description vars
  modules/composer/README.md
  modules/composer/variables.tf
Due: check_links, check_names

composer fix vars
  modules/composer/README.md
  modules/composer/variables.tf
Due: check_links, check_names

composer outputs order fix
  modules/composer/README.md
  modules/composer/outputs.tf
Due: check_links, check_names

fitx readme examples
  modules/composer/README.md
Due: check_links

Fix reporting non-empty plan after apply
  tests/fixtures.py
Due: none

DLP service agent enabled
  modules/project/service-accounts.tf
Due: check_names

updated output dependency
  modules/project/README.md
  modules/project/outputs.tf
Due: check_links, check_names

Added DLP service agent
  modules/project/README.md
  modules/project/outputs.tf
  modules/project/service-accounts.tf
  modules/project/service-agents.yaml
Due: check_links, check_names

Additional services for Cloud Run
  tests/examples_e2e/setup_module/main.tf
Due: check_names

Add end-to-end tests to Cloud Run
  modules/cloud-run/README.md
  modules/cloud-run/variables.tf
  tests/modules/cloud_run/examples/audit-logs.yaml
  tests/modules/cloud_run/examples/connector.yaml
  tests/modules/cloud_run/examples/eventarc.yaml
  tests/modules/cloud_run/examples/secrets.yaml
  tests/modules/cloud_run/examples/service-account-external.yaml
  tests/modules/cloud_run/examples/service-account.yaml
  tests/modules/cloud_run/examples/simple.yaml
  tests/modules/cloud_run/examples/trigger-service-account-external.yaml
  tests/modules/cloud_run/examples/trigger-service-account.yaml
Due: check_links, check_names

Fix non-empty plan after apply when using VPC connector
  modules/cloud-run/main.tf
Due: check_names

Remove perma-diff when using VPC connector
  modules/cloud-run/main.tf
Due: check_names

Disable EventArc E2E test
  modules/cloud-run/README.md
Due: check_links

Updated doc
  modules/project/README.md
Due: check_links

updated blueprint test
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/data-platform-minimal/README.md
Due: check_links

Fix/dlpagent (#1868)
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/data-platform-minimal/README.md
  modules/project/README.md
  modules/project/service-agents.yaml
Due: check_links

Add DLP Service Agent role
  blueprints/data-solutions/data-platform-minimal/04-common.tf
  blueprints/data-solutions/data-platform-minimal/README.md
Due: check_links, check_names

added missing sql parameters
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Due: check_links, check_names

fix variables order
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/variables.tf
Due: check_links, check_names

added missing sql parameters (#1869)
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Due: check_links, check_names

Document `fast_features` (#1855)
  fast/stages/0-bootstrap/README.md
Due: check_links

Folder module test changes
  .gitignore
  modules/folder/README.md
Due: check_links

Folder module test format changes
  modules/folder/README.md
Due: check_links

updated yaml for example folder module tests
  modules/folder/README.md
  tests/examples/variables.tf
  tests/modules/folder/examples/iam.yaml
  tests/modules/folder/examples/logging-data-access.yaml
  tests/modules/folder/examples/logging.yaml
  tests/modules/folder/examples/org-policies.yaml
  tests/modules/folder/examples/tags.yaml
Due: check_links, check_names

fixed example testing
  .gitignore
  tests/examples/variables.tf
  tests/modules/folder/examples/iam.yaml
  tests/modules/folder/examples/logging-data-access.yaml
Due: check_names

fixed gcs_sink name typo
  modules/folder/README.md
  tests/modules/folder/examples/logging.yaml
Due: check_links

E2E tests for folder module (#1876)
  modules/folder/README.md
  tests/modules/folder/examples/iam.yaml
  tests/modules/folder/examples/logging-data-access.yaml
  tests/modules/folder/examples/logging.yaml
  tests/modules/folder/examples/org-policies.yaml
  tests/modules/folder/examples/tags.yaml
Due: check_links

Fix permissions assignments
  modules/cloud-config-container/cos-generic-metadata/cloud-config.yaml
Due: none

Fix permissions assignments (#1878)
  modules/cloud-config-container/cos-generic-metadata/cloud-config.yaml
Due: none

Path conditions:
  check_links: any of: \.(md|markdown|mdown)$
  check_names: any of: \.(tf|tfvars)$
