Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

fix test
  blueprints/gcve/pc-minimal/README.md
Due: check_links

fix copyright
  fast/stages/3-gcve/prod/main.tf
  fast/stages/3-gcve/prod/variables.tf
Due: check_names

fixed gcve feature flag cond.
  fast/stages/2-networking-a-peering/net-dev.tf
  fast/stages/2-networking-a-peering/net-prod.tf
  fast/stages/2-networking-b-vpn/net-dev.tf
  fast/stages/2-networking-b-vpn/net-prod.tf
  fast/stages/2-networking-c-nva/net-dev.tf
  fast/stages/2-networking-c-nva/net-prod.tf
  fast/stages/2-networking-d-separate-envs/net-dev.tf
  fast/stages/2-networking-d-separate-envs/net-prod.tf
  fast/stages/2-networking-e-nva-bgp/net-dev.tf
  fast/stages/2-networking-e-nva-bgp/net-prod.tf
Due: check_names

removed validation
  fast/stages/3-gcve/prod/variables.tf
Due: check_names

update labeler version
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

test on:documentation label
  README.md
Due: check_links

test on:blueprints label
  README.md
  blueprints/factories/README.md
Due: check_links

remove on:documentation
  .github/labeler.yml
Due: none

test
  blueprints/factories/README.md
Due: check_links

test on:fast label
  fast/stages/0-bootstrap/main.tf
Due: check_names

test
  .github/labeler.yml
Due: none

remove test event from workflow
  .github/workflows/labeler.yml
Due: none

remove fast comment
  fast/stages/0-bootstrap/main.tf
Due: check_names

Update labeler version (#2192)
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

fixed typo
  blueprints/gcve/pc-minimal/README.md
  blueprints/gcve/pc-minimal/variables.tf
Due: check_links, check_names

fixed typo
  blueprints/gcve/pc-minimal/README.md
  fast/stages/3-gcve/prod/README.md
Due: check_links

fixed gcve tests
  tests/fast/stages/s0_bootstrap/checklist.yaml
  tests/fast/stages/s0_bootstrap/simple.yaml
  tests/fast/stages/s1_resman/checklist.tfvars
  tests/fast/stages/s1_resman/checklist.yaml
  tests/fast/stages/s1_resman/simple.tfvars
  tests/fast/stages/s1_resman/simple.yaml
Due: check_names

fixed typo
  fast/stages/0-bootstrap/README.md
  fast/stages/1-resman/README.md
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-b-vpn/net-dev.tf
  fast/stages/2-networking-b-vpn/net-prod.tf
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-e-nva-bgp/README.md
Due: check_links, check_names

fixed typo
  fast/stages/3-gcve/prod/README.md
Due: check_links

fixed sorting
  fast/stages/1-resman/outputs.tf
Due: check_names

fixed sorting
  fast/stages/1-resman/README.md
Due: check_links

fix issues|
  fast/stages/2-networking-c-nva/README.md
Due: check_links

fix stage
  test-results-raw.xml
  tests/fast/stages/s2_networking_c_nva/stage.yaml
Due: none

allow project factory SAs read access to folder-level IAM
  fast/stages/1-resman/branch-teams.tf
  fast/stages/1-resman/variables.tf
Due: check_names

tfdoc
  fast/stages/1-resman/README.md
Due: check_links

update changelog
  CHANGELOG.md
Due: check_links

fix test
  tests/fast/stages/s1_resman/checklist.tfvars
  tests/fast/stages/s1_resman/simple.tfvars
Due: check_names

Allow r/o project factory SAs access to folder-level IAM (#2195)
  fast/stages/1-resman/README.md
  fast/stages/1-resman/branch-teams.tf
  fast/stages/1-resman/variables.tf
  tests/fast/stages/s1_resman/checklist.tfvars
  tests/fast/stages/s1_resman/simple.tfvars
Due: check_links, check_names

Add variable to resman to control top-level folder IAM
  fast/stages/1-resman/README.md
  fast/stages/1-resman/branch-data-platform.tf
  fast/stages/1-resman/branch-gcve.tf
  fast/stages/1-resman/branch-gke.tf
  fast/stages/1-resman/branch-networking.tf
  fast/stages/1-resman/branch-sandbox.tf
  fast/stages/1-resman/branch-security.tf
  fast/stages/1-resman/branch-teams.tf
  fast/stages/1-resman/branch-tenants.tf
  fast/stages/1-resman/variables.tf
  tests/fast/stages/s1_resman/simple.tfvars
  tests/fast/stages/s1_resman/simple.yaml
Due: check_links, check_names

Add variable to resman to control top-level folder IAM (#2196)
  fast/stages/1-resman/README.md
  fast/stages/1-resman/branch-data-platform.tf
  fast/stages/1-resman/branch-gcve.tf
  fast/stages/1-resman/branch-gke.tf
  fast/stages/1-resman/branch-networking.tf
  fast/stages/1-resman/branch-sandbox.tf
  fast/stages/1-resman/branch-security.tf
  fast/stages/1-resman/branch-teams.tf
  fast/stages/1-resman/branch-tenants.tf
  fast/stages/1-resman/variables.tf
  tests/fast/stages/s1_resman/simple.tfvars
  tests/fast/stages/s1_resman/simple.yaml
Due: check_links, check_names

data_cache setting
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Due: check_names

default for datacache
  modules/cloudsql-instance/variables.tf
Due: check_names

default for datacache
  modules/cloudsql-instance/versions.tf
Due: check_names

default for datacache
  modules/cloudsql-instance/main.tf
Due: check_names

default for datacache
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Due: check_names

Added data_cache_config settings for cloudsql-instance module
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
  modules/cloudsql-instance/versions.tf
Due: check_names
