Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

check_links:
  name: Check Links
  entry: python3
  args:
  - tools/check_links.py
  - .
  language: system

check_names:
  name: Check Names
  entry: python3
  args:
  - tools/check_names.py
  - --prefix-length=10
  - fast/stages
  language: system

Remove redundant lookups
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-standard/main.tf
Due: check_names

Enhance GKE Backup Configuration Support (#1349)
  modules/gke-cluster-autopilot/README.md
  modules/gke-cluster-autopilot/main.tf
  modules/gke-cluster-autopilot/variables.tf
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Due: check_links, check_names

update changelog
  CHANGELOG.md
Due: check_links

FAST: shorten stage 3 prefixes, enforce prefix length in stage 3s (#1346)
  blueprints/data-solutions/data-platform-foundations/03-orchestration.tf
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/variables.tf
  fast/stages/3-data-platform/dev/README.md
  fast/stages/3-data-platform/dev/main.tf
  fast/stages/3-data-platform/dev/variables.tf
  fast/stages/3-gke-multitenant/dev/README.md
  fast/stages/3-gke-multitenant/dev/main.tf
  fast/stages/3-gke-multitenant/dev/variables.tf
Due: check_links, check_names

peering stage implementation
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/dns-dev.tf
  fast/stages/2-networking-a-peering/dns-landing.tf
  fast/stages/2-networking-a-peering/dns-prod.tf
Due: check_links, check_names

vpn stage implementation
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-b-vpn/dns-dev.tf
  fast/stages/2-networking-b-vpn/dns-landing.tf
  fast/stages/2-networking-b-vpn/dns-prod.tf
Due: check_links, check_names

tfdoc
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-b-vpn/README.md
Due: check_links

tests
  tests/fast/stages/s2_networking_a_peering/stage.yaml
  tests/fast/stages/s2_networking_b_vpn/stage.yaml
Due: none

add most supported google domains
  fast/stages/2-networking-a-peering/dns-landing.tf
  fast/stages/2-networking-b-vpn/dns-landing.tf
  tests/fast/stages/s2_networking_a_peering/stage.yaml
  tests/fast/stages/s2_networking_b_vpn/stage.yaml
Due: check_names

fix assets & zones resources
  modules/cloud-dataplex/README.md
  modules/cloud-dataplex/main.tf
  modules/cloud-dataplex/outputs.tf
  modules/cloud-dataplex/variables.tf
  tests/modules/cloud_dataplex/examples/dataplex_lake.tfvars
  tests/modules/cloud_dataplex/examples/dataplex_lake.yaml
Due: check_links, check_names

fix linting error
  modules/cloud-dataplex/main.tf
  tests/modules/cloud_dataplex/examples/dataplex_lake.tfvars
Due: check_names

fix tests
  modules/cloud-dataplex/README.md
Due: check_links

fix in IAM binding of Apigee BigQuery analytics blueprint
  blueprints/apigee/bigquery-analytics/main.tf
Due: check_names

align all net stages
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/dns-dev.tf
  fast/stages/2-networking-c-nva/dns-landing.tf
  fast/stages/2-networking-c-nva/dns-prod.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/dns-dev.tf
  fast/stages/2-networking-d-separate-envs/dns-prod.tf
  fast/stages/2-networking-d-separate-envs/main.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/dns-dev.tf
  fast/stages/2-networking-e-nva-bgp/dns-landing.tf
  fast/stages/2-networking-e-nva-bgp/dns-prod.tf
  tests/fast/stages/s2_networking_c_nva/stage.yaml
  tests/fast/stages/s2_networking_d_separate_envs/stage.yaml
  tests/fast/stages/s2_networking_e_nva_bgp/stage.yaml
Due: check_links, check_names

adding the ability to export or not the subnet routes with public ip
  modules/net-vpc-peering/README.md
  modules/net-vpc-peering/main.tf
  modules/net-vpc-peering/variables.tf
Due: check_links, check_names

changing the variable name for consistency
  modules/net-vpc-peering/README.md
  modules/net-vpc-peering/main.tf
  modules/net-vpc-peering/variables.tf
Due: check_links, check_names

add support for factory to DNS response policy module
  modules/dns-response-policy/README.md
  modules/dns-response-policy/main.tf
  modules/dns-response-policy/variables.tf
  tests/modules/dns_response_policy/examples/complex.yaml
Due: check_links, check_names

use dns policy factory in network stages
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/data/dns-policy-rules.yaml
  fast/stages/2-networking-a-peering/dns-landing.tf
  fast/stages/2-networking-a-peering/variables.tf
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-b-vpn/data/dns-policy-rules.yaml
  fast/stages/2-networking-b-vpn/dns-landing.tf
  fast/stages/2-networking-b-vpn/variables.tf
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/data/dns-policy-rules.yaml
  fast/stages/2-networking-c-nva/dns-landing.tf
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/data/dns-policy-rules.yaml
  fast/stages/2-networking-d-separate-envs/dns-dev.tf
  fast/stages/2-networking-d-separate-envs/dns-prod.tf
  fast/stages/2-networking-d-separate-envs/main.tf
  fast/stages/2-networking-d-separate-envs/variables.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/data/dns-policy-rules.yaml
  fast/stages/2-networking-e-nva-bgp/dns-landing.tf
  fast/stages/2-networking-e-nva-bgp/variables.tf
Due: check_links, check_names

boilerplate
  fast/stages/2-networking-a-peering/data/dns-policy-rules.yaml
  fast/stages/2-networking-b-vpn/data/dns-policy-rules.yaml
  fast/stages/2-networking-c-nva/data/dns-policy-rules.yaml
  fast/stages/2-networking-d-separate-envs/data/dns-policy-rules.yaml
  fast/stages/2-networking-e-nva-bgp/data/dns-policy-rules.yaml
Due: none

Switch FAST networking stages to network policies for Google domains (#1352)
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/data/dns-policy-rules.yaml
  fast/stages/2-networking-a-peering/dns-dev.tf
  fast/stages/2-networking-a-peering/dns-landing.tf
  fast/stages/2-networking-a-peering/dns-prod.tf
  fast/stages/2-networking-a-peering/variables.tf
  fast/stages/2-networking-b-vpn/README.md
  fast/stages/2-networking-b-vpn/data/dns-policy-rules.yaml
  fast/stages/2-networking-b-vpn/dns-dev.tf
  fast/stages/2-networking-b-vpn/dns-landing.tf
  fast/stages/2-networking-b-vpn/dns-prod.tf
  fast/stages/2-networking-b-vpn/variables.tf
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/data/dns-policy-rules.yaml
  fast/stages/2-networking-c-nva/dns-dev.tf
  fast/stages/2-networking-c-nva/dns-landing.tf
  fast/stages/2-networking-c-nva/dns-prod.tf
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-d-separate-envs/README.md
  fast/stages/2-networking-d-separate-envs/data/dns-policy-rules.yaml
  fast/stages/2-networking-d-separate-envs/dns-dev.tf
  fast/stages/2-networking-d-separate-envs/dns-prod.tf
  fast/stages/2-networking-d-separate-envs/variables.tf
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/data/dns-policy-rules.yaml
  fast/stages/2-networking-e-nva-bgp/dns-dev.tf
  fast/stages/2-networking-e-nva-bgp/dns-landing.tf
  fast/stages/2-networking-e-nva-bgp/dns-prod.tf
  fast/stages/2-networking-e-nva-bgp/variables.tf
  modules/dns-response-policy/README.md
  modules/dns-response-policy/main.tf
  modules/dns-response-policy/variables.tf
  tests/fast/stages/s2_networking_a_peering/stage.yaml
  tests/fast/stages/s2_networking_b_vpn/stage.yaml
  tests/fast/stages/s2_networking_c_nva/stage.yaml
  tests/fast/stages/s2_networking_d_separate_envs/stage.yaml
  tests/fast/stages/s2_networking_e_nva_bgp/stage.yaml
  tests/modules/dns_response_policy/examples/complex.yaml
Due: check_links, check_names

Fix Shielded Folder - VertexML interoperability
  blueprints/data-solutions/shielded-folder/outputs.tf
  blueprints/data-solutions/vertex-mlops/main.tf
Due: check_names

Fix README outputs
  blueprints/data-solutions/shielded-folder/README.md
Due: check_links

Adding prefix for keyrings and update output
  blueprints/data-solutions/shielded-folder/kms.tf
  blueprints/data-solutions/vertex-mlops/README.md
  blueprints/data-solutions/vertex-mlops/outputs.tf
Due: check_links, check_names

fix typo
  modules/cloud-dataplex/README.md
  modules/cloud-dataplex/variables.tf
Due: check_links, check_names

Add cloud dataplex module (#1308)
  modules/cloud-dataplex/README.md
  modules/cloud-dataplex/main.tf
  modules/cloud-dataplex/outputs.tf
  modules/cloud-dataplex/variables.tf
  modules/cloud-dataplex/versions.tf
  tests/modules/cloud_dataplex/examples/dataplex_lake.tfvars
  tests/modules/cloud_dataplex/examples/dataplex_lake.yaml
Due: check_links, check_names

Change serve_while_stale type to a number (#1329)
  modules/net-glb/README.md
  modules/net-glb/variables-backend-service.tf
  modules/net-glb/variables.tf
Due: check_links, check_names

add module link in README
  README.md
  modules/README.md
Due: check_links

Fix Shielded Folder - VertexML interoperability (#1355)
  blueprints/data-solutions/shielded-folder/README.md
  blueprints/data-solutions/shielded-folder/kms.tf
  blueprints/data-solutions/shielded-folder/outputs.tf
  blueprints/data-solutions/vertex-mlops/README.md
  blueprints/data-solutions/vertex-mlops/main.tf
  blueprints/data-solutions/vertex-mlops/outputs.tf
Due: check_links, check_names

Add module link to README (#1357)
  README.md
  modules/README.md
Due: check_links

update variables files for gke node config taints to allow passing of node objects
  blueprints/gke/multitenant-fleet/variables.tf
  fast/stages/3-gke-multitenant/dev/variables.tf
Due: check_names

forgot to run terraform fmt..
  blueprints/gke/multitenant-fleet/variables.tf
  fast/stages/3-gke-multitenant/dev/variables.tf
Due: check_names

Add blueprint metadata validation tool
  .github/workflows/linting.yml
  blueprints/data-solutions/vertex-mlops/metadata.yaml
  tools/bpmetadataschema.json
  tools/validate_metadata.py
Due: none

Add jsonschema to tools requirements.txt
  tools/requirements.txt
  tools/validate_metadata.py
Due: none

Simplify return
  .github/workflows/linting.yml
  tools/validate_metadata.py
Due: none

Fix requirements
  tools/requirements.txt
Due: none

Fix var name
  tools/validate_metadata.py
Due: none

Add support for Shared VPC in Cloud Run
  modules/cloud-run/main.tf
  modules/cloud-run/variables.tf
Due: check_names

Path conditions:
  check_links: any of: \.(md|markdown|mdown)$
  check_names: any of: \.(tf|tfvars)$
