Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

update changelog
  CHANGELOG.md
Due: check_links

feat: basic tests resource count
  tests/modules/workload_identity/__init__.py
  tests/modules/workload_identity/fixture/main.tf
  tests/modules/workload_identity/fixture/variables.tf
  tests/modules/workload_identity/test_plan.py
Due: check_names

feat: added workload identity module oidc and aws support
  modules/workload-identity/README.md
  modules/workload-identity/main.tf
  modules/workload-identity/outputs.tf
  modules/workload-identity/variables.tf
  modules/workload-identity/versions.tf
Due: check_links, check_names

fix: module name on README
  modules/workload-identity/README.md
Due: check_links

fix: AWS exampel
  modules/workload-identity/README.md
Due: check_links

chore: testing with google-beta as it seems version is pined to 4.25
  modules/workload-identity/main.tf
Due: check_names

next iteration of code refining (WiP)
  examples/third-party-solutions/wordpress/cloudrun/main.tf
  examples/third-party-solutions/wordpress/cloudrun/outputs.tf
  examples/third-party-solutions/wordpress/cloudrun/terraform.tfvars.sample
  examples/third-party-solutions/wordpress/cloudrun/variables.tf
Due: check_names

Adds a default instance_termination_action to compute-vm spot instances and templates
  modules/compute-vm/main.tf
Due: check_names

Adds ability to control instance_termination_action for SpotVMs
  CHANGELOG.md
  fast/stages/02-networking-nva/nva.tf
  fast/stages/02-networking-nva/test-resources.tf
  fast/stages/02-networking-peering/test-resources.tf
  fast/stages/02-networking-vpn/test-resources.tf
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/variables.tf
Due: check_links, check_names

Fixes validation linting issue
  modules/compute-vm/variables.tf
Due: check_names

Renames variable attribute
  fast/stages/02-networking-nva/nva.tf
  fast/stages/02-networking-nva/test-resources.tf
  fast/stages/02-networking-peering/test-resources.tf
  fast/stages/02-networking-vpn/test-resources.tf
  modules/compute-vm/README.md
  modules/compute-vm/main.tf
  modules/compute-vm/variables.tf
Due: check_links, check_names

Please the linter gods
  modules/compute-vm/README.md
Due: check_links

initial commit for org audit logs to bq architecture
  examples/cloud-operations/org_audit_logs_bq/main.tf
  examples/cloud-operations/org_audit_logs_bq/outputs.tf
  examples/cloud-operations/org_audit_logs_bq/variables.tf
Due: check_names

typo fix (max_scale -> min_scale)
  modules/cloud-run/main.tf
Due: check_names

fix service unit indent on cloud-config-container module
  modules/cloud-config-container/cos-generic-metadata/cloud-config.yaml
Due: none

fix envoy TD config for xDSv1.3
  modules/cloud-config-container/envoy-traffic-director/files/customize.sh
  modules/cloud-config-container/envoy-traffic-director/files/envoy.yaml
  modules/cloud-config-container/envoy-traffic-director/variables.tf
Due: check_names

update compute-vm example
  modules/cloud-config-container/envoy-traffic-director/README.md
Due: check_links

nginx-tls module
  modules/cloud-config-container/nginx-tls/README.md
  modules/cloud-config-container/nginx-tls/files/customize.sh
  modules/cloud-config-container/nginx-tls/files/default.conf
  modules/cloud-config-container/nginx-tls/main.tf
  modules/cloud-config-container/nginx-tls/outputs.tf
  modules/cloud-config-container/nginx-tls/variables.tf
  modules/cloud-config-container/nginx-tls/versions.tf
Due: check_links, check_names

fix doc
  modules/cloud-config-container/envoy-traffic-director/README.md
Due: check_links

Update gke multitenant README
  fast/stages/03-gke-multitenant/dev/README.md
Due: check_links

Fix internal links
  fast/stages/03-gke-multitenant/README.md
Due: check_links

gke stage docs
  fast/stages/03-gke-multitenant/dev/README.md
Due: check_links

implement arch with internal modules
  examples/cloud-operations/org_audit_logs_bq/main.tf
  examples/cloud-operations/org_audit_logs_bq/outputs.tf
  examples/cloud-operations/org_audit_logs_bq/variables.tf
Due: check_names

create readme
  examples/cloud-operations/org_audit_logs_bq/README.md
Due: check_links

add architecture diagram
  examples/cloud-operations/org_audit_logs_bq/README.md
  examples/cloud-operations/org_audit_logs_bq/images/architecture.png
Due: check_links

net-glb: Added support for regional external HTTP(s) load balancing.
  modules/net-glb/README.md
  modules/net-glb/global-forwarding-rule.tf
  modules/net-glb/health-checks.tf
  modules/net-glb/outputs.tf
  modules/net-glb/regional-backend-services.tf
  modules/net-glb/regional-forwarding-rule.tf
  modules/net-glb/regional-url-map.tf
  modules/net-glb/target-proxy.tf
  modules/net-glb/variables.tf
  tests/modules/net_glb/fixture/main.tf
  tests/modules/net_glb/fixture/variables.tf
  tests/modules/net_glb/test_plan.py
Due: check_links, check_names

Allow fleet project to be specified by the user
  examples/gke-serverless/multitenant-fleet/README.md
  examples/gke-serverless/multitenant-fleet/main.tf
  examples/gke-serverless/multitenant-fleet/variables.tf
  fast/stages/03-gke-multitenant/dev/main.tf
Due: check_links, check_names

add temp var template
  examples/cloud-operations/org_audit_logs_bq/terraform.tfvars.sample
Due: none

update readme file
  examples/cloud-operations/org_audit_logs_bq/README.md
  examples/cloud-operations/org_audit_logs_bq/terraform.tfvars.sample
  examples/cloud-operations/org_audit_logs_bq/variables.tf
Due: check_links, check_names

Allow gke stage to write to automation bucket
  fast/stages/01-resman/branch-gke.tf
Due: check_names

update readme
  examples/cloud-operations/org_audit_logs_bq/README.md
  examples/cloud-operations/org_audit_logs_bq/images/button.png
Due: check_links

add variables and outputs to readme
  examples/cloud-operations/org_audit_logs_bq/README.md
Due: check_links

terraform linting
  examples/cloud-operations/org_audit_logs_bq/main.tf
  examples/cloud-operations/org_audit_logs_bq/outputs.tf
Due: check_names

update readme
  examples/cloud-operations/org_audit_logs_bq/README.md
Due: check_links

add license boilerplate
  examples/cloud-operations/org_audit_logs_bq/main.tf
  examples/cloud-operations/org_audit_logs_bq/outputs.tf
  examples/cloud-operations/org_audit_logs_bq/variables.tf
Due: check_names
