Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

Replace map key derived from resource attributes
  modules/net-ncc/main.tf
Due: check_names

Set a unique name to spokes
  modules/net-ncc/main.tf
Due: check_names

Set a unique name to CRs linked to spokes
  modules/net-ncc/main.tf
Due: check_names

Adapt example to use only allowed chars for resource names
  modules/net-ncc/README.md
Due: check_links

Add example of site to two VPCs
  modules/net-ncc/README.md
Due: check_links

Add image for site to two VPCs example
  modules/net-ncc/README.md
  modules/net-ncc/images/site-to-two-vpcs.png
Due: check_links

Add example of load-balanced router appliances
  modules/net-ncc/README.md
Due: check_links

Add image for load-balanced router appliances example
  modules/net-ncc/README.md
  modules/net-ncc/images/load-balanced-router-appliances.png
Due: check_links

Add example of custom route advertisements
  modules/net-ncc/README.md
Due: check_links

small fixes
  modules/cloud-config-container/simple-nva/files/frr/daemons
Due: none

small fixes
  fast/stages/2-networking-c-nva/bgp-files/ew1b
  modules/cloud-config-container/simple-nva/README.md
  modules/cloud-config-container/simple-nva/main.tf
  modules/cloud-config-container/simple-nva/variables.tf
Due: check_links, check_names

small fix on discovery compute quota file decresed severity of log in discover cai from INFO to DEBUG
  blueprints/cloud-operations/network-dashboard/src/plugins/discover-cai.py
  blueprints/cloud-operations/network-dashboard/src/plugins/discover-compute-quota.py
Due: none

Add tftest to README
  modules/net-ncc/README.md
Due: check_links

Generated variable table via tfdoc
  modules/net-ncc/README.md
Due: check_links

remove else statement in condition
  blueprints/cloud-operations/network-dashboard/src/plugins/discover-compute-quota.py
Due: none

minor fix on bqml demo
  blueprints/data-solutions/bq-ml/demo/bmql_pipeline.ipynb
Due: none

FAQ on installing Fast on a non-empty org
  fast/stages/FAQ.md
Due: check_links

fix documentation
  modules/cloud-config-container/simple-nva/README.md
  modules/cloud-config-container/simple-nva/variables.tf
Due: check_links, check_names

Manage billing.creator role authoritatively in FAST bootstrap.
  fast/stages/0-bootstrap/organization.tf
Due: check_names

Fix tests
  tests/fast/stages/s0_bootstrap/simple.yaml
Due: none

Extended simple-nva module to manage BGP service running on FR routing docker container (#1195)
  modules/cloud-config-container/simple-nva/README.md
  modules/cloud-config-container/simple-nva/cloud-config.yaml
  modules/cloud-config-container/simple-nva/files/frr/daemons
  modules/cloud-config-container/simple-nva/files/frr/frr.service
  modules/cloud-config-container/simple-nva/files/policy_based_routing.sh
  modules/cloud-config-container/simple-nva/main.tf
  modules/cloud-config-container/simple-nva/outputs.tf
  modules/cloud-config-container/simple-nva/variables.tf
  modules/cloud-config-container/simple-nva/versions.tf
Due: check_links, check_names

Fix Jit notebook service account.
  blueprints/data-solutions/bq-ml/README.md
  blueprints/data-solutions/data-playground/README.md
  blueprints/data-solutions/vertex-mlops/README.md
  modules/project/service-accounts.tf
Due: check_links, check_names

add flag for debug logging
  blueprints/cloud-operations/network-dashboard/src/main.py
Due: none

Make keepalive optional
  modules/net-ncc/variables.tf
Due: check_names

Make IPs for the CR interfaces optional
  modules/net-ncc/variables.tf
Due: check_names

Reimplement the module to manage only one spoke
  modules/net-ncc/main.tf
  modules/net-ncc/variables.tf
Due: check_names

Make creation of the hub optional
  modules/net-ncc/main.tf
  modules/net-ncc/variables.tf
Due: check_names

Output the name of the hub if created
  modules/net-ncc/outputs.tf
Due: check_names

Update README for the new implementation
  modules/net-ncc/README.md
Due: check_links

data_transfer default to false
  modules/net-ncc/variables.tf
Due: check_names

Rename module net-ncc -> ncc-spoke-ra
  modules/ncc-spoke-ra/README.md
  modules/ncc-spoke-ra/main.tf
  modules/ncc-spoke-ra/outputs.tf
  modules/ncc-spoke-ra/variables.tf
  modules/net-ncc/images/load-balanced-router-appliances.png
  modules/net-ncc/images/site-to-two-vpcs.png
  modules/net-ncc/images/site-to-vpc.png
Due: check_links, check_names

Fix README variables to pass pytest
  modules/ncc-spoke-ra/README.md
Due: check_links

Make custom_advertise optional
  modules/net-ncc/variables.tf
Due: check_names

fix policy_based_routing.sh to deal with IF having either no LB or multiple LB associated
  modules/cloud-config-container/simple-nva/files/policy_based_routing.sh
Due: none

Add aiplatform robot service account
  modules/project/service-accounts.tf
Due: check_names

Add cmek support on google_vertex_ai_metadata_store
  blueprints/data-solutions/bq-ml/README.md
Due: check_links

Add cmek support on google_vertex_ai_metadata_store.
  blueprints/data-solutions/bq-ml/datastorage.tf
  blueprints/data-solutions/bq-ml/main.tf
  blueprints/data-solutions/bq-ml/variables.tf
  blueprints/data-solutions/bq-ml/vertex.tf
Due: check_names

peering stage
  fast/stages/2-networking-a-peering/README.md
  fast/stages/2-networking-a-peering/outputs.tf
  fast/stages/2-networking-a-peering/variables.tf
  fast/stages/2-networking-a-peering/vpn-onprem-primary.tf
  fast/stages/2-networking-a-peering/vpn-onprem.tf
  tests/fast/stages/s2_networking_a_peering/common.tfvars
Due: check_links, check_names

fix link, toc
  fast/stages/2-networking-a-peering/README.md
Due: check_links
