Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

check_links:
  name: Check Links
  entry: python3
  args:
  - tools/check_links.py
  - .
  language: system

check_names:
  name: Check Names
  entry: python3
  args:
  - tools/check_names.py
  - --prefix-length=10
  - fast/stages
  language: system

Add HTTPS frontend with SNEG example
  modules/net-glb/README.md
Due: check_links

Default config renamed to default-url config
  blueprints/serverless/cloud-run-explore/config/default-url.tfvars
Due: check_names

Get rid of default-url config and make it 'default'
  blueprints/serverless/cloud-run-explore/config/default-url.tfvars
  blueprints/serverless/cloud-run-explore/variables.tf
Due: check_names

Fix format
  blueprints/serverless/cloud-run-explore/main.tf
Due: check_names

Add custom-url configuration
  blueprints/serverless/cloud-run-explore/config/custom-url.tfvars
Due: check_names

Add custom domain as variable
  blueprints/serverless/cloud-run-explore/config/custom-url.tfvars
  blueprints/serverless/cloud-run-explore/main.tf
  blueprints/serverless/cloud-run-explore/variables.tf
Due: check_names

Update main.tf
  modules/compute-vm/main.tf
Due: check_names

Updates to add cloudsql maintenance window
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Due: check_links, check_names

Changes to cloudsql maintenance config
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Due: check_links, check_names

Fix tftest and format
  modules/net-glb/README.md
  tests/modules/net_glb/examples/https-sneg.yaml
Due: check_links

Remove trailing whitespaces
  tests/modules/net_glb/examples/https-sneg.yaml
Due: none

Keep original airflow files, add new which use Flex template as example
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline.py
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline_dc_tags.py
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline_dc_tags_flex.py
  blueprints/data-solutions/data-platform-foundations/demo/datapipeline_flex.py
Due: none

Update tests and doc
  blueprints/data-solutions/data-platform-foundations/README.md
  tests/blueprints/data_solutions/data_platform_foundations/test_plan.py
Due: check_links

Fix number of resources in plan
  tests/blueprints/data_solutions/data_platform_foundations/test_plan.py
Due: none

Add maint to replica
  modules/cloudsql-instance/main.tf
Due: check_names

Revert "Changes to cloudsql maintenance config"
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Due: check_links, check_names

Revert "Revert "Changes to cloudsql maintenance config""
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
Due: check_links, check_names

Revert "Add maint to replica"
  modules/cloudsql-instance/main.tf
Due: check_names

Fixed null values in variables
  blueprints/data-solutions/vertex-mlops/README.md
  blueprints/data-solutions/vertex-mlops/ci-cd.tf
  blueprints/data-solutions/vertex-mlops/outputs.tf
Due: check_links, check_names

update readme
  blueprints/data-solutions/shielded-folder/README.md
Due: check_links

Run tfdoc remove files section in README
  blueprints/data-solutions/data-platform-foundations/README.md
Due: check_links

add support for deployment_type and api_proxy_type in google_apigee_environment resource
  modules/apigee/README.md
  modules/apigee/main.tf
  modules/apigee/variables.tf
  tests/modules/apigee/fixture/test.env_only_with_api_proxy_type.tfvars
  tests/modules/apigee/fixture/test.env_only_with_deployment_type.tfvars
  tests/modules/apigee/fixture/variables.tf
  tests/modules/apigee/test_plan.py
Due: check_links, check_names

chore: linting issue in tfvars file
  tests/modules/apigee/fixture/test.env_only_with_api_proxy_type.tfvars
Due: check_names

fix: remove unuseful ternary
  modules/apigee/main.tf
Due: check_names

Include cloudbuild API in project module
  modules/project/service-accounts.tf
  tests/blueprints/apigee/bigquery-analytics/basic.yaml
  tests/blueprints/cloud_operations/asset_inventory_feed_remediation/test_plan.py
  tests/blueprints/cloud_operations/scheduled_asset_inventory_export_bq/test_plan.py
  tests/blueprints/cloud_operations/unmanaged_instances_healthcheck/test_plan.py
  tests/blueprints/data_solutions/data_platform_foundations/test_plan.py
  tests/blueprints/gke/binauthz/test_plan.py
  tests/blueprints/networking/private_cloud_function_from_onprem/test_plan.py
  tests/blueprints/serverless/api_gateway/test_plan.py
  tests/fast/stages/s00_bootstrap/simple.yaml
Due: check_names

Increase number of resources
  blueprints/data-solutions/data-platform-foundations/README.md
Due: check_links

Include cloudbuild API in project module (#1116)
  blueprints/data-solutions/data-platform-foundations/README.md
  modules/project/service-accounts.tf
  tests/blueprints/apigee/bigquery-analytics/basic.yaml
  tests/blueprints/cloud_operations/asset_inventory_feed_remediation/test_plan.py
  tests/blueprints/cloud_operations/scheduled_asset_inventory_export_bq/test_plan.py
  tests/blueprints/cloud_operations/unmanaged_instances_healthcheck/test_plan.py
  tests/blueprints/data_solutions/data_platform_foundations/test_plan.py
  tests/blueprints/gke/binauthz/test_plan.py
  tests/blueprints/networking/private_cloud_function_from_onprem/test_plan.py
  tests/blueprints/serverless/api_gateway/test_plan.py
  tests/fast/stages/s00_bootstrap/simple.yaml
Due: check_links, check_names

Fix number of modules in tfdoc
  blueprints/data-solutions/data-platform-foundations/README.md
Due: check_links

Update number of resources
  blueprints/data-solutions/data-platform-foundations/README.md
Due: check_links

add missing newline
  fast/stages/00-bootstrap/README.md
Due: check_links

add missing role for initial user
  fast/stages/00-bootstrap/organization.tf
Due: check_names

README changes
  fast/stages-multitenant/0-bootstrap-tenant/README.md
Due: check_links

add missing role for initial user (#1118)
  fast/stages/00-bootstrap/organization.tf
Due: check_names

stage readmes
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/1-resman-tenant/README.md
Due: check_links

Update README.md
  modules/net-glb/README.md
Due: check_links

fix outputs order
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/0-bootstrap-tenant/outputs.tf
Due: check_links, check_names

fix link
  blueprints/data-solutions/data-platform-foundations/README.md
Due: check_links

fix tests
  tests/fast/stages/s0_bootstrap/simple.yaml
  tests/fast/stages_multitenant/s0_bootstrap_multitenant/__init__.py
  tests/fast/stages_multitenant/s0_bootstrap_multitenant/simple.tfvars
  tests/fast/stages_multitenant/s0_bootstrap_multitenant/simple.yaml
  tests/fast/stages_multitenant/s0_bootstrap_multitenant/tftest.yaml
  tests/fast/stages_multitenant/s0_bootstrap_tenant/simple.yaml
Due: check_names

Path conditions:
  check_links: any of: \.(md|markdown|mdown)$
  check_names: any of: \.(tf|tfvars)$
