Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

metric descriptors
  blueprints/cloud-operations/network-dashboard/cf/plugins/descriptors.yaml
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-networks.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-peering-groups.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-routes.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-subnets.py
Due: none

fixes
  blueprints/cloud-operations/network-dashboard/cf/out.json
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-compute-quota.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-metric-descriptors.py
Due: none

wip
  blueprints/cloud-operations/network-dashboard/cf/main.py
Due: none

Use partial for all cf init functions
  blueprints/cloud-operations/network-dashboard/cf/plugins/__init__.py
Due: none

Add requirements.txt
  blueprints/cloud-operations/network-dashboard/cf/requirements.txt
Due: none

fix org key mismatch
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-cai-compute.py
Due: none

Fix encryption.
  blueprints/data-solutions/data-playground/main.tf
Due: check_names

Fix folder short cli name
  blueprints/cloud-operations/network-dashboard/cf/main.py
Due: none

Fix instance_networks when iterable is empty
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-networks.py
Due: none

Fix tests
  tests/blueprints/data_solutions/data_playground/test_plan.py
Due: none

more readability and fixing some strings
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/__init__.py
Due: none

Set 1 num_nodes as default value, ignore num_nodes if autoscaling is set
  modules/bigtable-instance/README.md
  modules/bigtable-instance/main.tf
  modules/bigtable-instance/variables.tf
Due: check_links, check_names

replace() -> removeprefix and remove unneeded quoting
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-cai-compute.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-cai-projects.py
Due: none

setdefault in init()s
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-cai-compute.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-cai-projects.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-compute-quota.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-compute-routerstatus.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-group-networks.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-metric-descriptors.py
Due: none

Fix next hop type
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-cai-compute.py
Due: none

Remove unneeded fstring
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-cai-projects.py
Due: none

fix comment
  blueprints/cloud-operations/apigee/variables.tf
Due: check_names

create descriptors
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/out.json
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-metric-descriptors.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/monitoring.py
Due: none

create descriptors log
  blueprints/cloud-operations/network-dashboard/cf/main.py
Due: none

rename descriptor requests function
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/monitoring.py
Due: none

Colon -> Period
  tools/check_documentation.py
Due: none

non-working metrics implementation (duplicate timeseries batched)
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/monitoring.py
Due: none

fix tag outputs
  modules/organization/README.md
  modules/organization/outputs.tf
Due: check_links, check_names

Update labeler.yml
  .github/labeler.yml
Due: none

fix tag outputs (#1012)
  modules/organization/README.md
  modules/organization/outputs.tf
Due: check_links, check_names

Update labeler.yml (#1013)
  .github/labeler.yml
Due: none

Update README.md
  modules/net-vpc-firewall/README.md
Due: check_links

remove extra symlink
  fast/stages/00-bootstrap/00-bootstrap-providers.tfx
Due: none

timeseries
  blueprints/cloud-operations/network-dashboard/cf/plugins/monitoring.py
Due: none

fixes
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/out.json
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-cai-compute.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/monitoring.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-firewall-rules.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-subnets.py
  blueprints/cloud-operations/network-dashboard/cf/tools/remove-descriptors.py
Due: none

write timseries
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/out.json
  blueprints/cloud-operations/network-dashboard/cf/plugins/monitoring.py
Due: none

fix timeseries plugins
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/monitoring.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-networks.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-peering-groups.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-routes.py
Due: none

start documenting code
  blueprints/cloud-operations/network-dashboard/cf/main.py
Due: none

docstrings and comments
  blueprints/cloud-operations/network-dashboard/cf/plugins/__init__.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/core-discover-cai-projects.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-cai-compute.py
Due: none

docstrings comments and small fixes
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/out.json
  blueprints/cloud-operations/network-dashboard/cf/plugins/__init__.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-compute-quota.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-compute-routerstatus.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-group-networks.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-metric-descriptors.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/monitoring.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-firewall-policies.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-firewall-rules.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-networks.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-peering-groups.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-routes.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/series-subnets.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/utils.py
  blueprints/cloud-operations/network-dashboard/cf/tools/remove-descriptors.py
Due: none

Fix memory typo
  modules/gke-cluster/main.tf
Due: check_names

Fix memory typo (#1016)
  modules/gke-cluster/main.tf
Due: check_names

update changelog
  CHANGELOG.md
Due: check_links
