Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

check_links:
  name: Check Links
  entry: python3
  args:
  - tools/check_links.py
  - .
  language: system

check_names:
  name: Check Names
  entry: python3
  args:
  - tools/check_names.py
  - --prefix-length=10
  - fast/stages
  language: system

Fix cleanup doc
  fast/stages/CLEANUP.md
Due: check_links

Only apply org policies when bootstrap user is not set (#1707)
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/organization.tf
  fast/stages/CLEANUP.md
Due: check_links, check_names

Add bug fix in bucket local variable
  modules/cloud-function-v2/main.tf
Due: check_names

add missing roles for initial bootstrap
  fast/stages/0-bootstrap/README.md
Due: check_links

fix latest commit
  fast/stages/0-bootstrap/README.md
Due: check_links

Update README.md
  fast/stages/0-bootstrap/README.md
Due: check_links

Add tests for bucket creation
  modules/cloud-function-v1/README.md
  modules/cloud-function-v1/main.tf
  modules/cloud-function-v1/variables.tf
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/variables.tf
  tests/modules/cloud_function_v1/examples/bucket-creation.yaml
  tests/modules/cloud_function_v2/examples/bucket-creation.yaml
Due: check_links, check_names

Update bootstrap and destroy roles
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/organization-iam.tf
  fast/stages/CLEANUP.md
Due: check_links, check_names

Add bug fix in bucket local variable (#1709)
  modules/cloud-function-v1/README.md
  modules/cloud-function-v1/main.tf
  modules/cloud-function-v1/variables.tf
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/variables.tf
  tests/modules/cloud_function_v1/examples/bucket-creation.yaml
  tests/modules/cloud_function_v2/examples/bucket-creation.yaml
Due: check_links, check_names

Fix tenant folder tag
  fast/stages/1-resman/branch-tenants.tf
Due: check_names

Fix tenant folder tag (#1711)
  fast/stages/1-resman/branch-tenants.tf
Due: check_names

update changelog
  CHANGELOG.md
Due: check_links

[#1713] Support multiple protocols (L3_DEFAULT) through net-ilb-in
  modules/net-lb-int/README.md
  modules/net-lb-int/main.tf
  modules/net-lb-int/variables.tf
Due: check_links, check_names

Use UNSPECIFIED as the default bs protocol
  modules/net-lb-int/README.md
  modules/net-lb-int/variables.tf
Due: check_links, check_names

Fix indentation in FAST hierarchical firewall rules
  fast/stages/2-networking-a-peering/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-b-vpn/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-c-nva/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-d-separate-envs/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-e-nva-bgp/data/hierarchical-ingress-rules.yaml
Due: none

Fix indentation in FAST hierarchical firewall rules (#1715)
  fast/stages/2-networking-a-peering/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-b-vpn/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-c-nva/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-d-separate-envs/data/hierarchical-ingress-rules.yaml
  fast/stages/2-networking-e-nva-bgp/data/hierarchical-ingress-rules.yaml
Due: none

Fixing module tests
  tests/modules/net_lb_int/defaults.yaml
Due: none

Add retry policy for subscriptions
  modules/pubsub/README.md
  modules/pubsub/main.tf
  modules/pubsub/variables.tf
Due: check_links, check_names

Update vars name
  modules/pubsub/README.md
  modules/pubsub/main.tf
  modules/pubsub/variables.tf
Due: check_links, check_names

Fixed problem with try in apigee module
  modules/apigee/main.tf
Due: check_names

Add retry policy for subscriptions (#1716)
  modules/pubsub/main.tf
Due: check_names

fix: apigee unit tests
  tests/modules/apigee/env_only.yaml
  tests/modules/apigee/env_only_with_api_proxy_type.yaml
  tests/modules/apigee/env_only_with_deployment_type.yaml
Due: none

add oslogin constraint condition example to bootstrap
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/organization.tf
Due: check_links, check_names

add oslogin constraint condition example to bootstrap
  fast/stages/0-bootstrap/README.md
Due: check_links

FAST: add example of custom org policy condition to bootstrap README (#1718)
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/organization.tf
Due: check_links, check_names

GLB HTTP to HTTPS redirect example
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/variables-urlmap.tf
Due: check_links, check_names

GLB HTTP to HTTPS redirect example (#1719)
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/variables-urlmap.tf
Due: check_links, check_names

add support for org policies to project factory
  blueprints/factories/project-factory/README.md
  blueprints/factories/project-factory/factory.tf
  blueprints/factories/project-factory/main.tf
  tests/blueprints/factories/project_factory/examples/example.yaml
Due: check_links, check_names

add support for org policies to project factory (#1722)
  blueprints/factories/project-factory/README.md
  blueprints/factories/project-factory/factory.tf
  blueprints/factories/project-factory/main.tf
  tests/blueprints/factories/project_factory/examples/example.yaml
Due: check_links, check_names

Add storage billing model
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/main.tf
  modules/bigquery-dataset/variables.tf
Due: check_links, check_names

Fix README.md
  modules/bigquery-dataset/README.md
Due: check_links

Add storage billing model (#1723)
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/main.tf
  modules/bigquery-dataset/variables.tf
Due: check_links, check_names

added devcontainer and tfvars that match ozone
  .devcontainer/devcontainer.json
  fast/stages/0-bootstrap/terraform.tfvars
Due: check_names

Pass ssh, git and gconfig from local host
  .devcontainer/devcontainer.json
Due: none

fix cloud run, logging and vpc-sc
  tests/modules/cloud_function_v2/examples/iam.yaml
  tests/modules/cloud_run/examples/trigger-service-account-external.yaml
  tests/modules/cloud_run/examples/trigger-service-account.yaml
  tests/modules/project/examples/logging.yaml
  tests/modules/vpc_sc/examples/bridge.yaml
Due: none

Path conditions:
  check_links: any of: \.(md|markdown|mdown)$
  check_names: any of: \.(tf|tfvars)$
