Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

check_links:
  name: Check Links
  entry: python3
  args:
  - tools/check_links.py
  - .
  language: system

check_names:
  name: Check Names
  entry: python3
  args:
  - tools/check_names.py
  - --prefix-length=10
  - fast/stages
  language: system

tflint
  fast/stages/1-resman/main.tf
Due: check_names

test ci changes
  .github/workflows/linting.yml
Due: none

revert linting changes
  .github/workflows/linting.yml
Due: none

disable tflint for fast
  .github/workflows/linting.yml
  fast/stages/1-resman/main.tf
  tools/tflint-fast.py
Due: check_names

update changelog
  CHANGELOG.md
Due: check_links

bump release in changelog
  CHANGELOG.md
Due: check_links

Create junit-style report for FAST tflint
  .github/workflows/linting.yml
  tools/tflint-fast.py
Due: none

Remove junit-reporter
  .github/workflows/linting.yml
Due: none

YAPF tflint-fast.py
  tools/tflint-fast.py
Due: none

secret-manager e2e tests
  modules/secret-manager/README.md
  tests/examples/variables.tf
  tests/examples_e2e/setup_module/e2e_tests.tfvars.tftpl
  tests/examples_e2e/setup_module/main.tf
  tests/fixtures/secret.tf
  tests/modules/secret_manager/examples/iam.yaml
  tests/modules/secret_manager/examples/secret-cmek.yaml
  tests/modules/secret_manager/examples/secret.yaml
  tests/modules/secret_manager/examples/versions.yaml
Due: check_links, check_names

fixed yaml length
  tests/modules/secret_manager/examples/secret-cmek.yaml
Due: none

Output tflint FAST to job summary
  .github/workflows/linting.yml
  tools/tflint-fast.py
Due: none

Step summary
  .github/workflows/linting.yml
Due: none

Disable step_summary as output is not useful
  .github/workflows/linting.yml
Due: none

Added license boiler plate
  tests/fixtures/secret.tf
  tests/modules/secret_manager/examples/secret-cmek.yaml
  tests/modules/secret_manager/examples/secret.yaml
Due: check_names

fixed linting errors with Readme
  modules/secret-manager/README.md
Due: check_links

ignore tflint warning
  fast/stages/1-tenant-factory/identity-providers-defs.tf
Due: check_names

re-enable tflint on FAST
  .github/workflows/linting.yml
Due: none

Remove data source from folder module (#2260)
  fast/stages/0-bootstrap/README.md
  modules/folder/iam.tf
  modules/folder/logging.tf
  modules/folder/main.tf
  modules/folder/organization-policies.tf
  modules/folder/outputs.tf
  modules/folder/tags.tf
  tests/fast/stages/s2_networking_e_nva_bgp/simple.yaml
  tests/fast/stages_multitenant/s0_bootstrap_tenant/simple.yaml
  tests/modules/organization/test_plan_org_policies_modules.py
Due: check_links, check_names

Add Hybrid NAT support (#2261)
  modules/net-cloudnat/README.md
  modules/net-cloudnat/main.tf
  modules/net-cloudnat/variables.tf
  modules/net-vpc/README.md
  modules/net-vpc/outputs.tf
  modules/net-vpc/subnets.tf
  modules/net-vpc/variables.tf
  tests/fast/stages/s2_networking_e_nva_bgp/simple.yaml
  tests/modules/net_cloudnat/examples/hybrid.yaml
Due: check_links, check_names

CloudSQL PSC Endpoints support (#2242)
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/variables.tf
  modules/net-address/README.md
  modules/net-address/main.tf
  modules/net-address/psc.tf
  modules/net-address/variables.tf
  tests/collectors.py
  tests/examples/variables.tf
  tests/examples_e2e/setup_module/e2e_tests.tfvars.tftpl
  tests/examples_e2e/setup_module/main.tf
  tests/fixtures.py
  tests/fixtures/cloudsql-instance.tf
  tests/fixtures/cloudsql-kms-iam-grant.tf
  tests/modules/cloudsql_instance/examples/psc.yaml
  tests/modules/cloudsql_instance/examples/public-ip.yaml
  tests/modules/cloudsql_instance/examples/simple.yaml
  tests/modules/net_address/examples/psc-service-attachment.yaml
Due: check_links, check_names

Update docs - gcp-network-admins -> gcp-vpc-network-admins
  fast/stages/0-bootstrap/README.md
Due: check_links

Fix failing E2E tests
  modules/net-vpc/README.md
Due: check_links

Fix bug from output typo in new project-factory module (#2264)
  modules/project-factory/outputs.tf
Due: check_names

Make Simple NVA route IAP traffic through NIC 0 (#2262)
  modules/cloud-config-container/simple-nva/cloud-config.yaml
  tests/fast/stages/s2_networking_e_nva_bgp/simple.yaml
Due: none

add logging settings to folder module (#2268)
  modules/folder/README.md
  modules/folder/logging.tf
  modules/folder/variables-logging.tf
  modules/folder/variables.tf
  modules/organization/README.md
  modules/organization/variables-logging.tf
  modules/organization/variables.tf
Due: check_links, check_names

Cloud function CMEK key support (#2270)
  modules/cloud-function-v1/README.md
  modules/cloud-function-v1/main.tf
  modules/cloud-function-v1/variables.tf
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/variables.tf
Due: check_links, check_names

Implement the full IAM interface for tags (#2269)
  modules/kms/README.md
  modules/kms/variables.tf
  modules/organization/README.md
  modules/organization/tags.tf
  modules/organization/variables-tags.tf
  modules/project/README.md
  modules/project/tags.tf
  modules/project/variables-tags.tf
  tests/modules/organization/examples/tags.yaml
Due: check_links, check_names

Added missing apigee org attributes to apigee x foundations blueprint (#2277)
  blueprints/apigee/apigee-x-foundations/README.md
  blueprints/apigee/apigee-x-foundations/variables.tf
Due: check_links, check_names

Path conditions:
  check_links: any of: \.(md|markdown|mdown)$
  check_names: any of: \.(tf|tfvars)$
