Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

default to empty map
  blueprints/data-solutions/data-platform-minimal/variables.tf
Due: check_names

allow core SA to write output files to tenant bucket
  fast/stages/1-resman/branch-tenants.tf
Due: check_names

use key/value and update docs
  blueprints/data-solutions/data-platform-minimal/02-composer.tf
  blueprints/data-solutions/data-platform-minimal/README.md
Due: check_links, check_names

add bq authorized views, datasets, and routines
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/main.tf
  modules/bigquery-dataset/outputs.tf
  modules/bigquery-dataset/variables.tf
  tests/modules/bigquery_dataset/examples/authorized_resources.yaml
Due: check_links, check_names

fmt
  modules/bigquery-dataset/main.tf
Due: check_names

add backwards compatible test case
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/main.tf
  tests/modules/bigquery_dataset/examples/authorized_resources_views.yaml
Due: check_links, check_names

minor docs clarification
  modules/bigquery-dataset/README.md
Due: check_links

add docs table and fix lint tests
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/variables.tf
Due: check_links, check_names

fix docs
  modules/bigquery-dataset/README.md
Due: check_links

fix tests
  tests/modules/bigquery_dataset/examples/authorized_resources.yaml
  tests/modules/bigquery_dataset/examples/authorized_resources_views.yaml
  tests/modules/bigquery_dataset/examples/simple.yaml
Due: none

fix more lint issues
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/variables.tf
Due: check_links, check_names

fix lint issue
  modules/bigquery-dataset/variables.tf
Due: check_names

fix lint
  modules/bigquery-dataset/README.md
Due: check_links

add region to cf
  blueprints/cloud-operations/quota-monitoring/main.tf
Due: check_names

add region to cf (#1482)
  blueprints/cloud-operations/quota-monitoring/main.tf
Due: check_names

fix tests
  modules/bigquery-dataset/README.md
  tests/modules/bigquery_dataset/examples/authorized_resources.yaml
  tests/modules/bigquery_dataset/examples/authorized_resources_views.yaml
Due: check_links

Making the changes as suggested in https://github.com/GoogleCloudPlatform/cloud-foundation-fabric/pull/1477#issuecomment-1612846907
  fast/stages/2-networking-a-peering/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-a-peering/data/subnets/dev/dev-gke-nodes-ew1.yaml
  fast/stages/2-networking-b-vpn/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-b-vpn/data/subnets/dev/dev-gke-nodes-ew1.yaml
  fast/stages/2-networking-c-nva/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-d-separate-envs/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-e-nva-bgp/data/subnets/dev/dev-dataplatform-ew1.yaml
Due: none

alphabetical order
  modules/bigquery-dataset/outputs.tf
Due: check_names

README
  fast/stages/1-resman/README.md
Due: check_links

FAST: short_name_is_prefix for multi-tenant
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/0-bootstrap-tenant/main.tf
  fast/stages-multitenant/0-bootstrap-tenant/variables.tf
Due: check_links, check_names

Updating a few files for typos
  CHANGELOG.md
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/data-solutions/data-platform-minimal/README.md
  blueprints/data-solutions/data-platform-minimal/outputs.tf
  fast/stages/3-data-platform/dev/README.md
  fast/stages/3-data-platform/dev/outputs.tf
Due: check_links, check_names

Update outputs.tf
  blueprints/data-solutions/data-platform-foundations/outputs.tf
Due: check_names

quota monitoring blueprint fixes
  blueprints/cloud-operations/quota-monitoring/README.md
  blueprints/cloud-operations/quota-monitoring/cf/main.py
  blueprints/cloud-operations/quota-monitoring/main.tf
  blueprints/cloud-operations/quota-monitoring/variables.tf
Due: check_links, check_names

FAST: short_name_is_prefix for multi-tenant (#1478)
  fast/stages-multitenant/0-bootstrap-tenant/README.md
  fast/stages-multitenant/0-bootstrap-tenant/main.tf
  fast/stages-multitenant/0-bootstrap-tenant/variables.tf
Due: check_links, check_names

wip
  blueprints/cloud-operations/quota-monitoring/cf/main.py
Due: none

align group names in lb modules
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/backends.tf
  modules/net-lb-app-ext/groups.tf
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/groups.tf
  modules/net-lb-app-int/main.tf
  modules/net-lb-ext/groups.tf
  modules/net-lb-ext/outputs.tf
  modules/net-lb-int/outputs.tf
Due: check_links, check_names

align group names in lb modules (#1485)
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/backends.tf
  modules/net-lb-app-ext/groups.tf
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/groups.tf
  modules/net-lb-app-int/main.tf
  modules/net-lb-ext/groups.tf
  modules/net-lb-ext/outputs.tf
  modules/net-lb-int/outputs.tf
Due: check_links, check_names

add detailed example to docs and corresponding test
  modules/bigquery-dataset/README.md
  tests/modules/bigquery_dataset/examples/authorized_resources.yaml
Due: check_links

clarify docs for variables
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/variables.tf
Due: check_links, check_names

remove unnecessary depends_on
  modules/bigquery-dataset/README.md
Due: check_links

allow external editing of group instances in lb modules
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/variables.tf
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/variables.tf
  modules/net-lb-ext/README.md
  modules/net-lb-ext/variables.tf
  modules/net-lb-int/README.md
  modules/net-lb-int/variables.tf
Due: check_links, check_names

Add bigquery authorized resources (#1480)
  modules/bigquery-dataset/README.md
  modules/bigquery-dataset/main.tf
  modules/bigquery-dataset/outputs.tf
  modules/bigquery-dataset/variables.tf
  tests/modules/bigquery_dataset/examples/authorized_resources.yaml
  tests/modules/bigquery_dataset/examples/authorized_resources_views.yaml
  tests/modules/bigquery_dataset/examples/simple.yaml
Due: check_links, check_names

Fix primary gke/dp ranges in FAST subnets
  fast/stages/2-networking-a-peering/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-a-peering/data/subnets/dev/dev-gke-nodes-ew1.yaml
  fast/stages/2-networking-b-vpn/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-b-vpn/data/subnets/dev/dev-gke-nodes-ew1.yaml
  fast/stages/2-networking-c-nva/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-d-separate-envs/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-e-nva-bgp/data/subnets/dev/dev-dataplatform-ew1.yaml
Due: none

allow external editing of group instances in lb modules (#1486)
  modules/net-lb-app-ext/README.md
  modules/net-lb-app-ext/variables.tf
  modules/net-lb-app-int/README.md
  modules/net-lb-app-int/variables.tf
  modules/net-lb-ext/README.md
  modules/net-lb-ext/variables.tf
  modules/net-lb-int/README.md
  modules/net-lb-int/variables.tf
Due: check_links, check_names

update changelog
  CHANGELOG.md
Due: check_links

quota
  blueprints/cloud-operations/quota-monitoring/cf/main.py
Due: none

improvements
  blueprints/cloud-operations/quota-monitoring/cf/main.py
  blueprints/cloud-operations/quota-monitoring/cf/requirements.txt
  blueprints/cloud-operations/quota-monitoring/main.tf
  blueprints/cloud-operations/quota-monitoring/tools/descriptors.py
  blueprints/cloud-operations/quota-monitoring/variables.tf
Due: check_names

improve variables
  blueprints/cloud-operations/quota-monitoring/README.md
  blueprints/cloud-operations/quota-monitoring/variables.tf
Due: check_links, check_names
