Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

add hierarchy, untested
  fast/stages/3-project-factory/dev/hierarchy.tf
  fast/stages/3-project-factory/dev/main.tf
  fast/stages/3-project-factory/dev/outputs.tf
  fast/stages/3-project-factory/dev/projects.tf
  fast/stages/3-project-factory/dev/variables.tf
Due: check_names

feat(net-cloudnat): add config_port_allocation configuration block
  blueprints/networking/filtering-proxy-psc/main.tf
  blueprints/networking/filtering-proxy/main.tf
  modules/net-cloudnat/README.md
  modules/net-cloudnat/main.tf
  modules/net-cloudnat/variables.tf
Due: check_links, check_names

Cloud NAT rules support
  modules/net-cloudnat/README.md
  modules/net-cloudnat/main.tf
  modules/net-cloudnat/variables.tf
  tests/modules/net_cloudnat/examples/rules.yaml
Due: check_links, check_names

Made available CPUs configurable in Cloud Functions module
  modules/cloud-function/README.md
  modules/cloud-function/main.tf
  modules/cloud-function/variables.tf
Due: check_links, check_names

added the export_public_ip_routes variable in the net-vpc-peering module to control the google_compute_network_peering resource created
  modules/net-vpc-peering/README.md
  modules/net-vpc-peering/main.tf
  modules/net-vpc-peering/variables.tf
Due: check_links, check_names

adding period to the variable description
  modules/net-vpc-peering/README.md
  modules/net-vpc-peering/variables.tf
Due: check_links, check_names

added the export_public_ip_routes variable in the net-vpc-peering mod… (#1374)
  modules/net-vpc-peering/README.md
  modules/net-vpc-peering/main.tf
  modules/net-vpc-peering/variables.tf
Due: check_links, check_names

fixed permissions for security stage SA
  fast/stages/1-resman/branch-security.tf
Due: check_names

fixed permissions for security stage SA (#1376)
  fast/stages/1-resman/branch-security.tf
Due: check_names

Fixed home path
  fast/stages/3-project-factory/dev/README.md
Due: check_links

Update README.md
  blueprints/cloud-operations/network-dashboard/deploy-cloud-function/README.md
Due: check_links

Reverted README.md to commit 85407109c862f9ca5bb46e04bb10876bd1e04988
  blueprints/data-solutions/shielded-folder/README.md
Due: check_links

Reverted variables.tf metadata.yaml README.md to commit 85407109c862f9ca5bb46e04bb10876bd1e04988
  blueprints/data-solutions/shielded-folder/variables.tf
  blueprints/data-solutions/vertex-mlops/README.md
  blueprints/data-solutions/vertex-mlops/metadata.yaml
  blueprints/data-solutions/vertex-mlops/variables.tf
Due: check_links, check_names

README to blueprints/data-solutions/shielded-folder
  blueprints/data-solutions/shielded-folder/README.md
  blueprints/data-solutions/shielded-folder/variables.tf
Due: check_links, check_names

Updates to blueprints/data-solutions/vertex-mlops
  blueprints/data-solutions/vertex-mlops/README.md
  blueprints/data-solutions/vertex-mlops/metadata.yaml
  blueprints/data-solutions/vertex-mlops/variables.tf
Due: check_links, check_names

Update to multiple README.md
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/factories/project-factory/README.md
  modules/net-ilb-l7/README.md
  modules/project/README.md
Due: check_links

Update to multiple README.md (#1379)
  blueprints/data-solutions/data-platform-foundations/README.md
  blueprints/factories/project-factory/README.md
  modules/net-ilb-l7/README.md
  modules/project/README.md
Due: check_links

First commit
  blueprints/data-solutions/data-platform-minimal/01-landing.tf
  blueprints/data-solutions/data-platform-minimal/02-composer.tf
  blueprints/data-solutions/data-platform-minimal/02-dataproc.tf
  blueprints/data-solutions/data-platform-minimal/02-processing.tf
  blueprints/data-solutions/data-platform-minimal/03-curated.tf
  blueprints/data-solutions/data-platform-minimal/04-common.tf
  blueprints/data-solutions/data-platform-minimal/README.md
  blueprints/data-solutions/data-platform-minimal/demo/orchestrate_pyspark.py
  blueprints/data-solutions/data-platform-minimal/outputs.tf
  blueprints/data-solutions/data-platform-minimal/variables.tf
Due: check_links, check_names

Fix typos.
  blueprints/data-solutions/data-platform-minimal/README.md
  blueprints/data-solutions/data-platform-minimal/outputs.tf
  blueprints/data-solutions/data-platform-minimal/variables.tf
Due: check_links, check_names

Implement PR feedback
  blueprints/data-solutions/data-platform-minimal/02-dataproc.tf
  blueprints/data-solutions/data-platform-minimal/README.md
  blueprints/data-solutions/data-platform-minimal/outputs.tf
  blueprints/data-solutions/data-platform-minimal/variables.tf
Due: check_links, check_names

Minimal Data Platform - Make components optional (#1380)
  blueprints/data-solutions/data-platform-minimal/01-landing.tf
  blueprints/data-solutions/data-platform-minimal/02-composer.tf
  blueprints/data-solutions/data-platform-minimal/02-dataproc.tf
  blueprints/data-solutions/data-platform-minimal/02-processing.tf
  blueprints/data-solutions/data-platform-minimal/03-curated.tf
  blueprints/data-solutions/data-platform-minimal/04-common.tf
  blueprints/data-solutions/data-platform-minimal/README.md
  blueprints/data-solutions/data-platform-minimal/demo/orchestrate_pyspark.py
  blueprints/data-solutions/data-platform-minimal/outputs.tf
  blueprints/data-solutions/data-platform-minimal/variables.tf
Due: check_links, check_names

chore: update mlops blueprint metadata
  blueprints/data-solutions/vertex-mlops/metadata.yaml
Due: none

chore: update mlops blueprint metadata (#1382)
  blueprints/data-solutions/vertex-mlops/metadata.yaml
Due: none

Allows groups from other orgs
  fast/stages-multitenant/0-bootstrap-tenant/main.tf
  fast/stages-multitenant/1-resman-tenant/main.tf
  fast/stages/0-bootstrap/main.tf
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/variables.tf
Due: check_names

tfdoc fixes
  fast/stages/0-bootstrap/README.md
  fast/stages/1-resman/README.md
Due: check_links

Allows groups from other orgs/domains (#1383)
  fast/stages-multitenant/0-bootstrap-tenant/main.tf
  fast/stages-multitenant/1-resman-tenant/main.tf
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/main.tf
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/main.tf
  fast/stages/1-resman/variables.tf
Due: check_links, check_names

add org admin conditional role to sandbox SA
  fast/stages/1-resman/branch-sandbox.tf
Due: check_names

tfdoc
  fast/stages/1-resman/README.md
Due: check_links

Add conditional org admin role to sandbox SA (#1385)
  fast/stages/1-resman/README.md
  fast/stages/1-resman/branch-sandbox.tf
Due: check_links, check_names

Support CMEK encryption in logging-bucket module
  modules/logging-bucket/README.md
  modules/logging-bucket/main.tf
  modules/logging-bucket/variables.tf
Due: check_links, check_names

Firewall Validator fix target_service_accounts ref
  blueprints/networking/decentralized-firewall/validator/firewallSchema.yaml
  blueprints/networking/decentralized-firewall/validator/firewallSchemaAutoApprove.yaml
Due: none

Add default Cloud Build SA to project module
  modules/project/service-accounts.tf
Due: check_names

Fix sort order
  modules/project/service-accounts.tf
Due: check_names

Initial import for IoIC modules
  modules/net-ipsec-over-interconnect/main.tf
  modules/net-ipsec-over-interconnect/outputs.tf
  modules/net-ipsec-over-interconnect/variables.tf
  modules/net-vlan-attachment/main.tf
  modules/net-vlan-attachment/output.tf
  modules/net-vlan-attachment/variables.tf
Due: check_names

fix(stages): only add sandbox SA when `sandbox` feature is enabled
  fast/stages/1-resman/branch-sandbox.tf
Due: check_names

fix(stages): only add sandbox SA when `sandbox` feature is enabled (#1391)
  fast/stages/1-resman/branch-sandbox.tf
Due: check_names

allow setting identities in egress policies
  fast/stages/1-resman/services.yaml
  modules/vpc-sc/variables.tf
Due: check_names

Update README.md
  modules/cloudsql-instance/README.md
Due: check_links

Initial documentation for the VLAN Attachment module
  modules/net-vlan-attachment/README.md
  modules/net-vlan-attachment/main.tf
  modules/net-vlan-attachment/output.tf
Due: check_links, check_names
