Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

check_links:
  name: Check Links
  entry: python3
  args:
  - tools/check_links.py
  - .
  language: system

check_names:
  name: Check Names
  entry: python3
  args:
  - tools/check_names.py
  - --prefix-length=10
  - fast/stages
  language: system

wip
  blueprints/cloud-operations/network-dashboard/cf/NOTES.txt
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/__init__.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/projects.py
Due: none

wip
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/__init__.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/projects.py
Due: none

wip
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/projects.py
Due: none

hello
  blueprints/cloud-operations/network-dashboard/cloud-function/main.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics.yaml
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/metrics.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/secondarys.py
Due: none

Adding secondary range IP address utilization calculation.
  blueprints/cloud-operations/network-dashboard/cloud-function/main.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics.yaml
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/metrics.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/secondarys.py
Due: none

wip
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/networks.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/subnetworks.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/utils.py
Due: none

using yapf to format code
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/metrics.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/secondarys.py
  blueprints/cloud-operations/network-dashboard/cloud-function/metrics/subnets.py
Due: none

wip
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/networks.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/projects.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/subnetworks.py
Due: none

refactor neg variable for serverless
  modules/net-ilb-l7/README.md
  modules/net-ilb-l7/main.tf
  modules/net-ilb-l7/variables.tf
  tests/modules/net_ilb_l7/fixture/test.negs.tfvars
Due: check_links, check_names

cloudrun negs
  modules/net-ilb-l7/main.tf
  modules/net-ilb-l7/variables.tf
Due: check_names

cloudrun negs
  modules/net-ilb-l7/README.md
Due: check_links

Use dark Docker magic to make Squid log to /dev/stdout
  blueprints/networking/filtering-proxy-psc/squid.conf
  modules/cloud-config-container/squid/cloud-config.yaml
  modules/cloud-config-container/squid/docker/Dockerfile
  modules/cloud-config-container/squid/docker/cloudbuild.yaml
  modules/cloud-config-container/squid/docker/entrypoint.sh
  modules/cloud-config-container/squid/squid.conf
  tests/blueprints/networking/filtering_proxy_psc/test_plan.py
Due: none

serverless neg test
  modules/net-ilb-l7/README.md
  modules/net-ilb-l7/main.tf
Due: check_links, check_names

re-enable forwarding rule output
  modules/net-ilb-l7/README.md
  modules/net-ilb-l7/outputs.tf
Due: check_links, check_names

Run Squid as non-privileged user
  blueprints/networking/filtering-proxy-psc/squid.conf
  modules/cloud-config-container/squid/docker/Dockerfile
  modules/cloud-config-container/squid/docker/entrypoint.sh
  modules/cloud-config-container/squid/squid.conf
Due: none

private worker pool, restored private VPC connector, updated doc
  blueprints/cloud-operations/network-dashboard/README.md
  blueprints/cloud-operations/network-dashboard/main.tf
  blueprints/cloud-operations/network-dashboard/variables.tf
Due: check_links, check_names

updated doc
  blueprints/cloud-operations/network-dashboard/README.md
Due: check_links

readme fixes
  blueprints/cloud-operations/network-dashboard/README.md
Due: check_links

readme fixed
  blueprints/cloud-operations/network-dashboard/README.md
Due: check_links

fixed default val for vpc_connector_name
  blueprints/cloud-operations/network-dashboard/variables.tf
Due: check_names

linting
  blueprints/cloud-operations/network-dashboard/README.md
Due: check_links

Add support for serverless NEGs to ILB L7 module (#983)
  modules/net-ilb-l7/README.md
  modules/net-ilb-l7/main.tf
  modules/net-ilb-l7/outputs.tf
  modules/net-ilb-l7/variables.tf
  tests/modules/net_ilb_l7/fixture/test.negs.tfvars
Due: check_links, check_names

Update README.md
  modules/net-ilb-l7/README.md
Due: check_links

discovery
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/__init__.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discovery-cai-compute.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discovery-cai-projects.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/networks.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/subnetworks.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/utils.py
Due: none

Have Squid log to /dev/stdout to stream logs to Cloud Logging (#980)
  blueprints/networking/filtering-proxy-psc/main.tf
  blueprints/networking/filtering-proxy-psc/squid.conf
  modules/cloud-config-container/squid/cloud-config.yaml
  modules/cloud-config-container/squid/docker/Dockerfile
  modules/cloud-config-container/squid/docker/cloudbuild.yaml
  modules/cloud-config-container/squid/squid.conf
  tests/blueprints/networking/filtering_proxy_psc/test_plan.py
Due: check_names

Add triggers to cloud functions v2
  modules/cloud-function/README.md
  modules/cloud-function/main.tf
  modules/cloud-function/variables.tf
Due: check_links, check_names

Move comparision outside of try
  modules/cloud-function/main.tf
Due: check_names

Fix tests refering to wrong IAM resource
  tests/modules/cloud_function_v2/test_plan.py
Due: none

Add trigger service account creation
  blueprints/cloud-operations/network-dashboard/main.tf
  modules/cloud-function/README.md
  modules/cloud-function/main.tf
  modules/cloud-function/outputs.tf
  modules/cloud-function/variables.tf
Due: check_links, check_names

Review fixes.
  blueprints/cloud-operations/asset-inventory-feed-remediation/main.tf
  blueprints/cloud-operations/network-dashboard/main.tf
  blueprints/cloud-operations/quota-monitoring/main.tf
  blueprints/cloud-operations/scheduled-asset-inventory-export-bq/main.tf
  blueprints/cloud-operations/unmanaged-instances-healthcheck/main.tf
  blueprints/networking/private-cloud-function-from-onprem/main.tf
  modules/cloud-function/README.md
  modules/cloud-function/main.tf
  modules/cloud-function/variables.tf
Due: check_links, check_names

Make trigger_config non-nullable and simplify expressions
  modules/cloud-function/README.md
  modules/cloud-function/main.tf
  modules/cloud-function/variables.tf
Due: check_links, check_names

Use hungarian notation.
  blueprints/cloud-operations/network-dashboard/main.tf
  blueprints/cloud-operations/scheduled-asset-inventory-export-bq/main.tf
  blueprints/cloud-operations/unmanaged-instances-healthcheck/main.tf
  blueprints/serverless/api-gateway/main.tf
  modules/cloud-function/README.md
  modules/cloud-function/main.tf
  modules/cloud-function/variables.tf
Due: check_links, check_names

Simplify service_account_email expression
  modules/cloud-function/main.tf
Due: check_names

Simplify trigger_service_account_email variable expression
  modules/cloud-function/main.tf
Due: check_names

Re-enable tests
  modules/cloud-function/README.md
Due: check_links

single discovery
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/__init__.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-cai-compute.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-cai-projects.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discovery-cai-compute.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/utils.py
Due: none

page token
  blueprints/cloud-operations/network-dashboard/cf/main.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/discover-cai-compute.py
  blueprints/cloud-operations/network-dashboard/cf/plugins/utils.py
Due: none

.
  .github/workflows/docker.yml
Due: none

.
  modules/cloud-config-container/squid/docker/Dockerfile
Due: none

Path conditions:
  check_links: any of: \.(md|markdown|mdown)$
  check_names: any of: \.(tf|tfvars)$
