Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

removing deprecated field from gke-hub
  modules/gke-cluster/main.tf
  modules/gke-cluster/variables.tf
  modules/gke-hub/main.tf
Due: check_names

fixing tests and refactoring default
  modules/gke-cluster/README.md
Due: check_links

add Backup for GKE support
  modules/gke-cluster/README.md
  modules/gke-cluster/main.tf
  modules/gke-cluster/variables.tf
Due: check_links, check_names

add Backup for GKE support
  tests/modules/gke_cluster/examples/backup.yaml
Due: none

refactor env variable, combine and fix env examples
  modules/cloud-run/README.md
  modules/cloud-run/main.tf
  modules/cloud-run/variables.tf
Due: check_links, check_names

fix volume example
  modules/cloud-run/README.md
Due: check_links

fix traffic split example
  modules/cloud-run/README.md
  modules/cloud-run/main.tf
  modules/cloud-run/variables.tf
Due: check_links, check_names

fix eventarc/pubsub example
  modules/cloud-run/README.md
Due: check_links

fix eventarc/audit log example
  modules/cloud-run/README.md
Due: check_links

fix SA examples, fix examples formatting
  modules/cloud-run/README.md
Due: check_links

refactor eventarc variable
  modules/cloud-run/README.md
  modules/cloud-run/main.tf
  modules/cloud-run/variables.tf
Due: check_links, check_names

tfdoc
  modules/cloud-run/README.md
Due: check_links

add IAM to example
  modules/cloud-run/README.md
Due: check_links

add examples for revision annotations and serverless connector
  modules/cloud-run/README.md
Due: check_links

fix new examples
  modules/cloud-run/README.md
Due: check_links

remove legacy module tests
  tests/modules/cloud_run/__init__.py
  tests/modules/cloud_run/fixture/bundle/main.py
  tests/modules/cloud_run/fixture/main.tf
  tests/modules/cloud_run/test_plan.py
Due: check_names

blueprint tests
  blueprints/serverless/cloud-run-corporate/main.tf
  blueprints/serverless/cloud-run-explore/main.tf
Due: check_names

Add tests to cloud-run module
  modules/cloud-run/README.md
  tests/modules/cloud_run/examples/audit-logs.yaml
  tests/modules/cloud_run/examples/connector.yaml
  tests/modules/cloud_run/examples/eventarc.yaml
  tests/modules/cloud_run/examples/revision-annotations.yaml
  tests/modules/cloud_run/examples/secrets.yaml
  tests/modules/cloud_run/examples/service-account-external.yaml
  tests/modules/cloud_run/examples/service-account.yaml
  tests/modules/cloud_run/examples/simple.yaml
  tests/modules/cloud_run/examples/traffic.yaml
Due: check_links

Refactor cloud run module to use optionals and support all features (#1293)
  blueprints/serverless/cloud-run-corporate/main.tf
  blueprints/serverless/cloud-run-explore/main.tf
  modules/cloud-run/README.md
  modules/cloud-run/main.tf
  modules/cloud-run/variables.tf
  tests/modules/cloud_run/examples/audit-logs.yaml
  tests/modules/cloud_run/examples/connector.yaml
  tests/modules/cloud_run/examples/eventarc.yaml
  tests/modules/cloud_run/examples/revision-annotations.yaml
  tests/modules/cloud_run/examples/secrets.yaml
  tests/modules/cloud_run/examples/service-account-external.yaml
  tests/modules/cloud_run/examples/service-account.yaml
  tests/modules/cloud_run/examples/simple.yaml
  tests/modules/cloud_run/examples/traffic.yaml
  tests/modules/cloud_run/fixture/main.tf
  tests/modules/cloud_run/test_plan.py
Due: check_links, check_names

update changelog
  CHANGELOG.md
Due: check_links

port tests to new format
  tests/modules/net_ilb_l7/common.tfvars
  tests/modules/net_ilb_l7/defaults.tfvars
  tests/modules/net_ilb_l7/defaults.yaml
  tests/modules/net_ilb_l7/fixture/main.tf
  tests/modules/net_ilb_l7/fixture/variables.tf
  tests/modules/net_ilb_l7/groups.tfvars
  tests/modules/net_ilb_l7/groups.yaml
  tests/modules/net_ilb_l7/health-checks-custom.tfvars
  tests/modules/net_ilb_l7/health-checks-custom.yaml
  tests/modules/net_ilb_l7/health-checks-external.tfvars
  tests/modules/net_ilb_l7/health-checks-external.yaml
  tests/modules/net_ilb_l7/https.tfvars
  tests/modules/net_ilb_l7/https.yaml
  tests/modules/net_ilb_l7/negs.tfvars
  tests/modules/net_ilb_l7/negs.yaml
  tests/modules/net_ilb_l7/ssl.tfvars
  tests/modules/net_ilb_l7/ssl.yaml
  tests/modules/net_ilb_l7/test_plan.py
  tests/modules/net_ilb_l7/tftest.yaml
  tests/modules/net_ilb_l7/urlmaps.tfvars
  tests/modules/net_ilb_l7/urlmaps.yaml
Due: check_names

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: check_links

Add sample vtysh file to remove warnings
  modules/cloud-config-container/simple-nva/files/frr/vtysh.conf
  modules/cloud-config-container/simple-nva/main.tf
Due: check_names

add test to catch error and fix urlmap
  modules/net-ilb-l7/urlmap.tf
  tests/modules/net_ilb_l7/urlmaps.tfvars
Due: check_names

Add sample vtysh file to remove warnings (#1298)
  modules/cloud-config-container/simple-nva/files/frr/vtysh.conf
  modules/cloud-config-container/simple-nva/main.tf
Due: check_names

boilerplate
  tests/modules/net_ilb_l7/defaults.tfvars
  tests/modules/net_ilb_l7/groups.tfvars
  tests/modules/net_ilb_l7/health-checks-custom.tfvars
  tests/modules/net_ilb_l7/health-checks-external.tfvars
  tests/modules/net_ilb_l7/https.tfvars
  tests/modules/net_ilb_l7/negs.tfvars
  tests/modules/net_ilb_l7/ssl.tfvars
  tests/modules/net_ilb_l7/urlmaps.tfvars
Due: check_names

boilerplate
  tests/modules/net_ilb_l7/groups.yaml
  tests/modules/net_ilb_l7/health-checks-custom.yaml
  tests/modules/net_ilb_l7/health-checks-external.yaml
  tests/modules/net_ilb_l7/https.yaml
  tests/modules/net_ilb_l7/negs.yaml
  tests/modules/net_ilb_l7/ssl.yaml
  tests/modules/net_ilb_l7/tftest.yaml
  tests/modules/net_ilb_l7/urlmaps.yaml
Due: none

Fix urlmap in ILB L7 module (#1299)
  modules/net-ilb-l7/urlmap.tf
  tests/modules/net_ilb_l7/common.tfvars
  tests/modules/net_ilb_l7/defaults.tfvars
  tests/modules/net_ilb_l7/defaults.yaml
  tests/modules/net_ilb_l7/fixture/main.tf
  tests/modules/net_ilb_l7/fixture/test.defaults.tfvars
  tests/modules/net_ilb_l7/fixture/test.groups.tfvars
  tests/modules/net_ilb_l7/fixture/test.health-checks-custom.tfvars
  tests/modules/net_ilb_l7/fixture/test.health-checks-external.tfvars
  tests/modules/net_ilb_l7/fixture/test.https.tfvars
  tests/modules/net_ilb_l7/fixture/test.negs.tfvars
  tests/modules/net_ilb_l7/fixture/test.ssl.tfvars
  tests/modules/net_ilb_l7/fixture/test.urlmaps.tfvars
  tests/modules/net_ilb_l7/fixture/variables.tf
  tests/modules/net_ilb_l7/groups.tfvars
  tests/modules/net_ilb_l7/groups.yaml
  tests/modules/net_ilb_l7/health-checks-custom.tfvars
  tests/modules/net_ilb_l7/health-checks-custom.yaml
  tests/modules/net_ilb_l7/health-checks-external.tfvars
  tests/modules/net_ilb_l7/health-checks-external.yaml
  tests/modules/net_ilb_l7/https.tfvars
  tests/modules/net_ilb_l7/https.yaml
  tests/modules/net_ilb_l7/negs.tfvars
  tests/modules/net_ilb_l7/negs.yaml
  tests/modules/net_ilb_l7/ssl.tfvars
  tests/modules/net_ilb_l7/ssl.yaml
  tests/modules/net_ilb_l7/test_plan.py
  tests/modules/net_ilb_l7/tftest.yaml
  tests/modules/net_ilb_l7/urlmaps.tfvars
  tests/modules/net_ilb_l7/urlmaps.yaml
Due: check_names

Fix vtysh
  modules/cloud-config-container/simple-nva/main.tf
Due: check_names

Fix vtysh (#1300)
  modules/cloud-config-container/simple-nva/main.tf
Due: check_names

Add ability to run vtysh from simple-nva vm directly when frr is active
  modules/cloud-config-container/simple-nva/main.tf
Due: check_names

Add ability to run vtysh from simple-nva vm directly when frr is active (#1301)
  modules/cloud-config-container/simple-nva/main.tf
Due: check_names

Add NCC NVA stage
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/data/bgp-config.tftpl
  fast/stages/2-networking-c-nva/data/cidrs.yaml
  fast/stages/2-networking-c-nva/data/firewall-rules/landing-trusted/rules.yaml
  fast/stages/2-networking-c-nva/data/firewall-rules/landing-untrusted/rules.yaml
  fast/stages/2-networking-c-nva/diagram.png
  fast/stages/2-networking-c-nva/diagram.svg
  fast/stages/2-networking-c-nva/landing.tf
  fast/stages/2-networking-c-nva/ncc.tf
  fast/stages/2-networking-c-nva/nva.tf
  fast/stages/2-networking-c-nva/regions.tf
  fast/stages/2-networking-c-nva/spoke-dev.tf
  fast/stages/2-networking-c-nva/spoke-prod.tf
  fast/stages/2-networking-c-nva/test-resources.tf
  fast/stages/2-networking-c-nva/variables.tf
  tests/fast/stages/s2_networking_c_nva/test_plan.py
Due: check_links, check_names
