Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

check_links:
  name: Check Links
  entry: python3
  args:
  - tools/check_links.py
  - .
  language: system

check_names:
  name: Check Names
  entry: python3
  args:
  - tools/check_names.py
  - --prefix-length=10
  - fast/stages
  language: system

Added batch blueprint
  .gitignore
  blueprints/gke/jumpstart/jumpstart-1-batch/create_jobs.sh
  blueprints/gke/jumpstart/jumpstart-1-batch/main.tf
  blueprints/gke/jumpstart/jumpstart-1-batch/manifests-templates/cluster-resources/cluster-queue.yaml
  blueprints/gke/jumpstart/jumpstart-1-batch/manifests-templates/cluster-resources/resource-flavor.yaml
  blueprints/gke/jumpstart/jumpstart-1-batch/manifests-templates/kueue.yaml
  blueprints/gke/jumpstart/jumpstart-1-batch/manifests-templates/team-resources/job.yaml
  blueprints/gke/jumpstart/jumpstart-1-batch/manifests-templates/team-resources/local-queue.yaml
  blueprints/gke/jumpstart/jumpstart-1-batch/outputs.tf
  blueprints/gke/jumpstart/jumpstart-1-batch/providers.tf
  blueprints/gke/jumpstart/jumpstart-1-batch/variables.tf
  blueprints/gke/jumpstart/jumpstart-1-batch/versions.tf
Due: check_names

Added README
  blueprints/gke/jumpstart/jumpstart-1-batch/README.md
Due: check_links

Add deletion_protection_enabled attribute to cloudsql-instance to enable the GCP native deletion protection flag
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
  tests/modules/cloudsql_instance/examples/insights.yaml
  tests/modules/cloudsql_instance/examples/public-ip.yaml
  tests/modules/cloudsql_instance/examples/simple.yaml
Due: check_links, check_names

Add deletion_protection_enabled attribute to cloudsql-instance to enable the GCP native deletion protection flag (#1696)
  modules/cloudsql-instance/README.md
  modules/cloudsql-instance/main.tf
  modules/cloudsql-instance/variables.tf
  tests/modules/cloudsql_instance/examples/insights.yaml
  tests/modules/cloudsql_instance/examples/public-ip.yaml
  tests/modules/cloudsql_instance/examples/simple.yaml
Due: check_links, check_names

stage0
  fast/stages/0-bootstrap/data/org-policies/compute.yaml
  fast/stages/0-bootstrap/data/org-policies/iam.yaml
  fast/stages/0-bootstrap/data/org-policies/serverless.yaml
  fast/stages/0-bootstrap/data/org-policies/sql.yaml
  fast/stages/0-bootstrap/data/org-policies/storage.yaml
  fast/stages/0-bootstrap/organization.tf
Due: check_names

switch to kubectl_manifest
  blueprints/gke/jumpstart/jumpstart-1-kafka-strimzi/kafka-cluster-chart/Chart.yaml
  blueprints/gke/jumpstart/jumpstart-1-kafka-strimzi/main.tf
  blueprints/gke/jumpstart/jumpstart-1-kafka-strimzi/manifest-templates/start-cluster.yaml
  blueprints/gke/jumpstart/jumpstart-1-kafka-strimzi/providers.tf
  blueprints/gke/jumpstart/jumpstart-1-kafka-strimzi/variables.tf
Due: check_names

stage 0
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/organization-iam.tf
Due: check_links, check_names

export tag keys and values from stage 0
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/outputs.tf
Due: check_links, check_names

rename factory variable
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/variables.tf
Due: check_links, check_names

change org policy outputs
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/outputs.tf
Due: check_links, check_names

stage 1
  fast/stages/1-resman/README.md
  fast/stages/1-resman/branch-data-platform.tf
  fast/stages/1-resman/branch-sandbox.tf
  fast/stages/1-resman/data/org-policies/compute.yaml
  fast/stages/1-resman/data/org-policies/iam.yaml
  fast/stages/1-resman/data/org-policies/serverless.yaml
  fast/stages/1-resman/data/org-policies/sql.yaml
  fast/stages/1-resman/data/org-policies/storage.yaml
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/variables.tf
Due: check_links, check_names

Update 0-org-policies.md
  fast/docs/0-org-policies.md
Due: check_links

make org policy variable not nullable, README changes
  fast/README.md
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/variables.tf
  fast/stages/README.md
Due: check_links, check_names

use optionals for tag names
  fast/stages/1-resman/README.md
  fast/stages/1-resman/variables.tf
Due: check_links, check_names

better factory variable name
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/variables.tf
Due: check_links, check_names

README changes
  fast/stages/0-bootstrap/README.md
  fast/stages/1-resman/README.md
Due: check_links

ADR
  fast/docs/0-org-policies.md
Due: check_links

FAST: move organization policies to stage 0 (#1698)
  fast/README.md
  fast/docs/0-org-policies.md
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/data/org-policies/compute.yaml
  fast/stages/0-bootstrap/data/org-policies/iam.yaml
  fast/stages/0-bootstrap/data/org-policies/serverless.yaml
  fast/stages/0-bootstrap/data/org-policies/sql.yaml
  fast/stages/0-bootstrap/data/org-policies/storage.yaml
  fast/stages/0-bootstrap/organization-iam.tf
  fast/stages/0-bootstrap/organization.tf
  fast/stages/0-bootstrap/outputs.tf
  fast/stages/0-bootstrap/variables.tf
  fast/stages/1-resman/README.md
  fast/stages/1-resman/branch-data-platform.tf
  fast/stages/1-resman/branch-sandbox.tf
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/variables.tf
  fast/stages/README.md
Due: check_links, check_names

Fix documented aggregated ranges for FAST
  fast/docs/1-network-ranges.md
Due: check_links

Fix tests
  tests/fast/stages/s2_networking_c_nva/stage.yaml
  tests/fast/stages/s2_networking_d_separate_envs/stage.yaml
  tests/fast/stages/s2_networking_e_nva_bgp/stage.yaml
Due: none

Fix ip ranges in documentation
  fast/docs/1-network-ranges.md
Due: check_links

Define and adopt standard IP ranges for FAST networking
  fast/docs/1-network-ranges.md
  fast/stages/2-networking-a-peering/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-a-peering/data/subnets/dev/dev-default-ew1.yaml
  fast/stages/2-networking-a-peering/data/subnets/landing/landing-default-ew1.yaml
  fast/stages/2-networking-a-peering/data/subnets/prod/prod-default-ew1.yaml
  fast/stages/2-networking-b-vpn/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-b-vpn/data/subnets/dev/dev-default-ew1.yaml
  fast/stages/2-networking-b-vpn/data/subnets/dev/dev-gke-nodes-ew1.yaml
  fast/stages/2-networking-b-vpn/data/subnets/landing/landing-default-ew1.yaml
  fast/stages/2-networking-b-vpn/data/subnets/prod/prod-default-ew1.yaml
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-c-nva/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-c-nva/data/subnets/dev/dev-default-ew1.yaml
  fast/stages/2-networking-c-nva/data/subnets/dev/dev-default-ew4.yaml
  fast/stages/2-networking-c-nva/data/subnets/dev/dev-gke-nodes-ew1.yaml
  fast/stages/2-networking-c-nva/data/subnets/landing-trusted/landing-trusted-default-ew1.yaml
  fast/stages/2-networking-c-nva/data/subnets/landing-trusted/landing-trusted-default-ew4.yaml
  fast/stages/2-networking-c-nva/data/subnets/landing-untrusted/landing-untrusted-default-ew1.yaml
  fast/stages/2-networking-c-nva/data/subnets/landing-untrusted/landing-untrusted-default-ew4.yaml
  fast/stages/2-networking-c-nva/data/subnets/prod/prod-default-ew1.yaml
  fast/stages/2-networking-c-nva/data/subnets/prod/prod-default-ew4.yaml
  fast/stages/2-networking-c-nva/variables.tf
  fast/stages/2-networking-d-separate-envs/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-d-separate-envs/data/subnets/dev/dev-default-ew1.yaml
  fast/stages/2-networking-d-separate-envs/data/subnets/dev/dev-gke-nodes-ew1.yaml
  fast/stages/2-networking-d-separate-envs/data/subnets/prod/prod-default-ew1.yaml
  fast/stages/2-networking-e-nva-bgp/README.md
  fast/stages/2-networking-e-nva-bgp/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-e-nva-bgp/data/subnets/dev/dev-default-ew1.yaml
  fast/stages/2-networking-e-nva-bgp/data/subnets/dev/dev-default-ew4.yaml
  fast/stages/2-networking-e-nva-bgp/data/subnets/dev/dev-gke-nodes-ew1.yaml
  fast/stages/2-networking-e-nva-bgp/data/subnets/landing-trusted/landing-trusted-default-ew1.yaml
  fast/stages/2-networking-e-nva-bgp/data/subnets/landing-trusted/landing-trusted-default-ew4.yaml
  fast/stages/2-networking-e-nva-bgp/data/subnets/landing-untrusted/landing-untrusted-default-ew1.yaml
  fast/stages/2-networking-e-nva-bgp/data/subnets/landing-untrusted/landing-untrusted-default-ew4.yaml
  fast/stages/2-networking-e-nva-bgp/data/subnets/prod/prod-default-ew1.yaml
  fast/stages/2-networking-e-nva-bgp/data/subnets/prod/prod-default-ew4.yaml
  fast/stages/2-networking-e-nva-bgp/variables.tf
Due: check_links, check_names

Fix NVA stages README
  fast/stages/2-networking-c-nva/README.md
  fast/stages/2-networking-e-nva-bgp/README.md
Due: check_links

update changelog
  CHANGELOG.md
Due: check_links

Add README and support for static IP address
  blueprints/gke/jumpstart/jumpstart-1-mysql/README.md
  blueprints/gke/jumpstart/jumpstart-1-mysql/manifest-templates/01-07-mysql-router-service.yaml
  blueprints/gke/jumpstart/jumpstart-1-mysql/variables.tf
Due: check_links, check_names

add support for default nodepool sa in GKE cluster module
  modules/gke-cluster-standard/README.md
  modules/gke-cluster-standard/main.tf
  modules/gke-cluster-standard/variables.tf
Due: check_links, check_names

Allow serviceusage to enable running as SA
  blueprints/gke/binauthz/main.tf
Due: check_names

Move namespace creation to helm
  blueprints/gke/jumpstart/jumpstart-1-kafka-strimzi/main.tf
Due: check_names

Interpolate kafka variables
  blueprints/gke/jumpstart/jumpstart-1-kafka-strimzi/manifest-templates/start-cluster.yaml
Due: none

Rename kafka-strimzi to kafka
  blueprints/gke/jumpstart/jumpstart-1-kafka-strimzi/main.tf
  blueprints/gke/jumpstart/jumpstart-1-kafka-strimzi/outputs.tf
  blueprints/gke/jumpstart/jumpstart-1-kafka-strimzi/providers.tf
  blueprints/gke/jumpstart/jumpstart-1-kafka-strimzi/variables.tf
  blueprints/gke/jumpstart/jumpstart-1-kafka-strimzi/versions.tf
  blueprints/gke/jumpstart/jumpstart-1-kafka/main.tf
  blueprints/gke/jumpstart/jumpstart-1-kafka/manifest-templates/01-kafka-service-account-1.yaml
  blueprints/gke/jumpstart/jumpstart-1-kafka/manifest-templates/02-kafka-service-account-2.yaml
  blueprints/gke/jumpstart/jumpstart-1-kafka/manifest-templates/03-kafka-service-account-3.yaml
  blueprints/gke/jumpstart/jumpstart-1-kafka/manifest-templates/06-kafka-configmap-1.yaml
  blueprints/gke/jumpstart/jumpstart-1-kafka/manifest-templates/07-kafka-configmap-2.yaml
  blueprints/gke/jumpstart/jumpstart-1-kafka/manifest-templates/08-kafka-configmap-3.yaml
  blueprints/gke/jumpstart/jumpstart-1-kafka/manifest-templates/09-kafka-storage-class.yaoml
  blueprints/gke/jumpstart/jumpstart-1-kafka/manifest-templates/10-kafka-service.yaml
  blueprints/gke/jumpstart/jumpstart-1-kafka/manifest-templates/11-kafka-service-1.yaml
  blueprints/gke/jumpstart/jumpstart-1-kafka/manifest-templates/12-kafka-service-2.yaml
  blueprints/gke/jumpstart/jumpstart-1-kafka/manifest-templates/13-kafka-service-3.yaml
  blueprints/gke/jumpstart/jumpstart-1-kafka/manifest-templates/14-kafka-deployment.yaml
  blueprints/gke/jumpstart/jumpstart-1-kafka/manifest-templates/15-kafka-statefulset.yaml
  blueprints/gke/jumpstart/jumpstart-1-kafka/manifest-templates/16-kafka-pod-monitoring.yaml
  blueprints/gke/jumpstart/jumpstart-1-kafka/manifest-templates/start-cluster.yaml
  blueprints/gke/jumpstart/jumpstart-1-kafka/providers.tf
  blueprints/gke/jumpstart/jumpstart-1-kafka/variables.tf
Due: check_names

Add bug fix to allow to use Secret Manager secrets to mount files in Cloud Function
  modules/cloud-function-v1/main.tf
  modules/cloud-function-v2/main.tf
Due: check_names

Tests for secrets for CF
  modules/cloud-function-v1/README.md
  modules/cloud-function-v2/README.md
  tests/modules/cloud_function_v1/examples/secrets.yaml
  tests/modules/cloud_function_v2/examples/secrets.yaml
Due: check_links

Allow partial specification for deeply nested inventories
  tests/fixtures.py
  tests/modules/cloud_function_v2/examples/secrets.yaml
Due: none

Update README.md
  fast/stages/0-bootstrap/README.md
Due: check_links

Fixed bug on Cloud Function v2 module
  modules/cloud-function-v2/README.md
  modules/cloud-function-v2/main.tf
  modules/cloud-function-v2/outputs.tf
Due: check_links, check_names

only apply org policies when bootstrap user is not set
  fast/stages/0-bootstrap/README.md
  fast/stages/0-bootstrap/organization.tf
Due: check_links, check_names

Add Org Policy Admin to bootstrap roles
  fast/stages/0-bootstrap/README.md
Due: check_links

Path conditions:
  check_links: any of: \.(md|markdown|mdown)$
  check_names: any of: \.(tf|tfvars)$
