Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

Add custom tag support to FAST (#1426)
  fast/stages/1-resman/README.md
  fast/stages/1-resman/organization.tf
  fast/stages/1-resman/variables.tf
  modules/organization/organization-policies.tf
  tests/modules/organization/test_plan_org_policies_modules.py
Due: check_links, check_names

update changelog
  CHANGELOG.md
Due: check_links

Updating hub-and-spoke peering blueprint to use HA VPN.
  blueprints/networking/hub-and-spoke-peering/README.md
  blueprints/networking/hub-and-spoke-peering/main.tf
Due: check_links, check_names

Use RFC6598 addresses for pods and subnets
  fast/stages/2-networking-a-peering/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-b-vpn/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-c-nva/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-d-separate-envs/data/subnets/dev/dev-dataplatform-ew1.yaml
  fast/stages/2-networking-e-nva-bgp/data/subnets/dev/dev-dataplatform-ew1.yaml
Due: none

fix serverless neg example
  modules/net-ilb-l7/README.md
Due: check_links

vpc and subnets
  fast/stages/2-networking-x-qa/diagram.png
  fast/stages/2-networking-x-qa/main.tf
  fast/stages/2-networking-x-qa/net-dev.tf
  fast/stages/2-networking-x-qa/net-hub.tf
  fast/stages/2-networking-x-qa/net-prod.tf
  fast/stages/2-networking-x-qa/outputs.tf
  fast/stages/2-networking-x-qa/variables.tf
Due: check_names

nva external
  fast/stages/2-networking-x-qa/main.tf
  fast/stages/2-networking-x-qa/net-hub.tf
  fast/stages/2-networking-x-qa/nva-external.tf
  fast/stages/2-networking-x-qa/nva-internal.tf
  fast/stages/2-networking-x-qa/variables.tf
Due: check_names

nva ezt ilb
  fast/stages/2-networking-x-qa/net-hub.tf
  fast/stages/2-networking-x-qa/nva-external.tf
  fast/stages/2-networking-x-qa/nva-internal.tf
Due: check_names

Added support for PSC negs in net-ilb-l7 module
  modules/net-ilb-l7/README.md
  modules/net-ilb-l7/backend-service.tf
  modules/net-ilb-l7/main.tf
  modules/net-ilb-l7/variables.tf
Due: check_links, check_names

fix serverless neg example (#1430)
  modules/net-ilb-l7/README.md
Due: check_links

internal nva
  fast/stages/2-networking-x-qa/net-dev.tf
  fast/stages/2-networking-x-qa/net-hub.tf
  fast/stages/2-networking-x-qa/nva-external.tf
  fast/stages/2-networking-x-qa/nva-internal.tf
Due: check_names

nva internal
  fast/stages/2-networking-x-qa/net-dev.tf
  fast/stages/2-networking-x-qa/net-prod.tf
  fast/stages/2-networking-x-qa/nva-external.tf
  fast/stages/2-networking-x-qa/nva-internal.tf
  fast/stages/2-networking-x-qa/variables.tf
Due: check_names

Make internal/external addresses optional in compute-vm
  blueprints/data-solutions/sqlserver-alwayson/instances.tf
  fast/stages/2-networking-e-nva-bgp/nva.tf
  modules/compute-vm/README.md
  modules/compute-vm/variables.tf
Due: check_links, check_names

Add newline to bottom of main.tf
  blueprints/networking/hub-and-spoke-peering/main.tf
Due: check_names

tfvars and providers
  fast/stages/2-networking-x-qa/.gitignore
  fast/stages/2-networking-x-qa/providers.tf
  fast/stages/2-networking-x-qa/terraform.tfvars.json
Due: check_names

working
  fast/stages/2-networking-x-qa/data/cidrs.yaml
  fast/stages/2-networking-x-qa/data/hierarchical-policy-rules.yaml
  fast/stages/2-networking-x-qa/main.tf
  fast/stages/2-networking-x-qa/net-hub.tf
  fast/stages/2-networking-x-qa/nva-external.tf
  fast/stages/2-networking-x-qa/nva-internal.tf
  fast/stages/2-networking-x-qa/test-instances.tf
  fast/stages/2-networking-x-qa/variables.tf
Due: check_names

wip
  fast/stages/2-networking-x-qa/data/subnets/dev/dev-default.yaml
  fast/stages/2-networking-x-qa/data/subnets/prod/prod-default.yaml
  fast/stages/2-networking-x-qa/main.tf
  fast/stages/2-networking-x-qa/net-dev.tf
  fast/stages/2-networking-x-qa/net-hub.tf
  fast/stages/2-networking-x-qa/net-prod.tf
  fast/stages/2-networking-x-qa/nva-internal.tf
  fast/stages/2-networking-x-qa/test-instances.tf
Due: check_names

wip
  fast/stages/2-networking-x-qa/net-dev.tf
  fast/stages/2-networking-x-qa/net-hub.tf
  fast/stages/2-networking-x-qa/net-prod.tf
  fast/stages/2-networking-x-qa/nva-external.tf
  fast/stages/2-networking-x-qa/nva-internal.tf
  fast/stages/2-networking-x-qa/test-instances.tf
Due: check_names

dmz routes and masquerading
  fast/stages/2-networking-x-qa/net-hub.tf
  fast/stages/2-networking-x-qa/nva-external.tf
Due: check_names

wip
  fast/stages/2-networking-x-qa/data/subnets/prod/prod-default.yaml
  fast/stages/2-networking-x-qa/net-hub.tf
  fast/stages/2-networking-x-qa/net-prod.tf
  fast/stages/2-networking-x-qa/nva-internal.tf
  fast/stages/2-networking-x-qa/test-instances.tf
Due: check_names

Routing from spokes
  fast/stages/2-networking-x-qa/net-dev.tf
  fast/stages/2-networking-x-qa/nva-external.tf
Due: check_names

gitignore
  fast/stages/2-networking-x-qa/.gitignore
Due: none

Fix inside routing and nva-ext routing
  fast/stages/2-networking-x-qa/net-hub.tf
  fast/stages/2-networking-x-qa/nva-external.tf
Due: check_names

Fixing issues with prior commit.
  hub-and-spoke-peering/README.md
  hub-and-spoke-peering/main.tf
Due: check_links, check_names

test outputs
  fast/stages/2-networking-x-qa/outputs.tf
Due: check_names

vpn
  fast/stages/2-networking-x-qa/main.tf
  fast/stages/2-networking-x-qa/regions.tf
  fast/stages/2-networking-x-qa/variables.tf
  fast/stages/2-networking-x-qa/vpn-onprem.tf
Due: check_names

Add todo file
  fast/stages/2-networking-x-qa/todo.txt
Due: none

Remove broken diagram
  fast/stages/2-networking-x-qa/diagram.png
Due: none

Move dev net project to its own folder
  fast/stages/2-networking-x-qa/net-dev.tf
Due: check_names

wip
  fast/stages/2-networking-x-qa/net-hub.tf
  fast/stages/2-networking-x-qa/nva-external.tf
  fast/stages/2-networking-x-qa/nva-internal.tf
  fast/stages/2-networking-x-qa/outputs.tf
Due: check_names

Add DNS
  fast/stages/2-networking-x-qa/data/dns-policy-rules.yaml
  fast/stages/2-networking-x-qa/net-dev.tf
  fast/stages/2-networking-x-qa/net-hub.tf
  fast/stages/2-networking-x-qa/net-prod.tf
  fast/stages/2-networking-x-qa/todo.txt
Due: check_names

Add subnets id output, expand net-address outputs
  modules/net-address/README.md
  modules/net-address/outputs.tf
  modules/net-vpc/README.md
  modules/net-vpc/outputs.tf
Due: check_links, check_names

Move net-dedicated-vlan-attachment module to net-vlan-attachment and added support for Partner interconnect
  README.md
  blueprints/networking/ha-vpn-over-interconnect/underlay.tf
  modules/net-dedicated-vlan-attachment/README.md
  modules/net-ipsec-over-interconnect/README.md
  modules/net-vlan-attachment/README.md
  modules/net-vlan-attachment/main.tf
  modules/net-vlan-attachment/output.tf
  modules/net-vlan-attachment/variables.tf
  modules/net-vlan-attachment/versions.tf
Due: check_links, check_names

Remove stale files
  hub-and-spoke-peering/README.md
  hub-and-spoke-peering/main.tf
Due: check_links, check_names

Fix linting errors
  blueprints/networking/hub-and-spoke-peering/README.md
  blueprints/networking/hub-and-spoke-peering/main.tf
Due: check_links, check_names

Fix test
  blueprints/networking/hub-and-spoke-peering/README.md
Due: check_links

Ignore Cloud Run system annotations/labels
  modules/cloud-run/main.tf
Due: check_names
