Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

check_links:
  name: Check Links
  entry: python3
  args:
  - tools/check_links.py
  - .
  language: system

check_names:
  name: Check Names
  entry: python3
  args:
  - tools/check_names.py
  - --prefix-length=10
  - fast/stages
  language: system

Added create_before_destroy = true for self-managed certificates
  modules/net-lb-app-ext/main.tf
Due: check_names

Update main.tf
  modules/apigee/main.tf
Due: check_names

Update variables.tf
  modules/apigee/variables.tf
Due: check_names

update changelog
  CHANGELOG.md
Due: check_links

Added envoy as SNI dynamic forward proxy to cloud-config-container
  modules/cloud-config-container/envoy-sni-dyn-fwd-proxy/README.md
  modules/cloud-config-container/envoy-sni-dyn-fwd-proxy/files/envoy.yaml
  modules/cloud-config-container/envoy-sni-dyn-fwd-proxy/main.tf
  modules/cloud-config-container/envoy-sni-dyn-fwd-proxy/outputs.tf
  modules/cloud-config-container/envoy-sni-dyn-fwd-proxy/variables.tf
  modules/cloud-config-container/envoy-sni-dyn-fwd-proxy/versions.tf
Due: check_links, check_names

Review fixes - use named groups
  tests/examples/test_plan.py
  tests/examples_e2e/test_plan.py
Due: none

Add end-to-end tests for project module (#1823)
  modules/compute-vm/README.md
  modules/project/README.md
  modules/project/logging.tf
  modules/project/service-agents.yaml
  tests/examples/test_plan.py
  tests/examples/variables.tf
  tests/examples_e2e/README.md
  tests/examples_e2e/setup_module/e2e_tests.tfvars.tftpl
  tests/examples_e2e/setup_module/main.tf
  tests/examples_e2e/setup_module/variables.tf
  tests/examples_e2e/test_plan.py
  tests/examples_e2e/variables.tf
  tests/fixtures.py
  tests/modules/project/examples/basic.yaml
  tests/modules/project/examples/data.yaml
  tests/modules/project/examples/iam-authoritative.yaml
  tests/modules/project/examples/iam-bindings-additive.yaml
  tests/modules/project/examples/iam-bindings.yaml
  tests/modules/project/examples/iam-group.yaml
  tests/modules/project/examples/logging-data-access.yaml
  tests/modules/project/examples/logging.yaml
  tests/modules/project/examples/org-policies.yaml
  tests/modules/project/examples/shared-vpc-auto-grants.yaml
  tests/modules/project/examples/shared-vpc.yaml
Due: check_links, check_names

Trim down inventories for Cloud SQL
  tests/modules/cloudsql_instance/examples/insights.yaml
  tests/modules/cloudsql_instance/examples/public-ip.yaml
  tests/modules/cloudsql_instance/examples/simple.yaml
Due: none

Fix modules to support new Apigee X environment types (#1841)
  .gitignore
  modules/apigee/README.md
  modules/apigee/main.tf
  modules/apigee/variables.tf
Due: check_links, check_names

factories refactor doc
  modules/__docs/20231106-factories.md
Due: check_links

Adds file schema and filesystem organization
  modules/__docs/20231106-factories.md
Due: check_links

Added back sink iam flag as module users might not have access to the sink destination and the role might need to be granted somewhere else
  modules/folder/README.md
  modules/folder/logging.tf
  modules/folder/variables.tf
  modules/organization/README.md
  modules/organization/logging.tf
  modules/organization/variables.tf
Due: check_links, check_names

Update README.md
  modules/README.md
Due: check_links

add support for IAM to vpc sc module
  modules/vpc-sc/README.md
  modules/vpc-sc/iam.tf
  modules/vpc-sc/variables.tf
Due: check_links, check_names

add support for IAM to vpc sc module (#1846)
  modules/vpc-sc/README.md
  modules/vpc-sc/iam.tf
  modules/vpc-sc/variables.tf
Due: check_links, check_names

Fix validation and dynamic block for optional gpu_driver
  modules/gke-nodepool/main.tf
  modules/gke-nodepool/variables.tf
Due: check_names

bug fix
  modules/dataproc/README.md
  modules/dataproc/main.tf
  modules/dataproc/variables.tf
Due: check_links, check_names

Support multilevel data and allow overriding project id in project factory
  blueprints/factories/project-factory/README.md
  blueprints/factories/project-factory/factory.tf
  blueprints/factories/project-factory/main.tf
  tests/blueprints/factories/project_factory/examples/example.yaml
Due: check_links, check_names

Support multilevel data and allow overriding project id in project factory (#1851)
  blueprints/factories/project-factory/README.md
  blueprints/factories/project-factory/factory.tf
  blueprints/factories/project-factory/main.tf
  tests/blueprints/factories/project_factory/examples/example.yaml
Due: check_links, check_names

fix dinamic for_each
  modules/dataproc/main.tf
Due: check_names

Dataproc module bug fix (#1848)
  blueprints/factories/project-factory/README.md
  blueprints/factories/project-factory/factory.tf
  blueprints/factories/project-factory/main.tf
  modules/dataproc/README.md
  modules/dataproc/main.tf
  modules/dataproc/variables.tf
  tests/blueprints/factories/project_factory/examples/example.yaml
Due: check_links, check_names

Restored variable name
  modules/secret-manager/README.md
  modules/secret-manager/main.tf
  modules/secret-manager/variables.tf
Due: check_links, check_names

Fix typo
  blueprints/data-solutions/vertex-mlops/ci-cd.tf
Due: check_names

Changed default values
  modules/secret-manager/README.md
  modules/secret-manager/variables.tf
Due: check_links, check_names

Changed secret logic
  modules/secret-manager/README.md
  modules/secret-manager/main.tf
  modules/secret-manager/variables.tf
Due: check_links, check_names

Fix doc
  modules/secret-manager/README.md
Due: check_links

Fix blueprints
  blueprints/data-solutions/vertex-mlops/ci-cd.tf
  modules/secret-manager/README.md
Due: check_links, check_names

Bug fix
  modules/secret-manager/main.tf
Due: check_names

Added CMEK for Secret auto managed
  modules/secret-manager/README.md
  modules/secret-manager/main.tf
  modules/secret-manager/variables.tf
Due: check_links, check_names

Fixed blueprint
  blueprints/data-solutions/sqlserver-alwayson/secrets.tf
Due: check_names

Fix README
  modules/secret-manager/README.md
Due: check_links

Fixed README.md
  modules/secret-manager/README.md
Due: check_links

Updated resource number in README.md
  modules/secret-manager/README.md
Due: check_links

Path conditions:
  check_links: any of: \.(md|markdown|mdown)$
  check_names: any of: \.(tf|tfvars)$
