Repository GoogleCloudPlatform/cloud-foundation-fabric: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_links, check_names

.pre-commit-config.yaml:

#
# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
---
default_language_version:
    python: python3
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # Disabled, as YAML does not currently lint successfully
      # - id: check-yaml
  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: "yapf"
        args: ['--style', '{based_on_style: google, indent_width: 2, SPLIT_BEFORE_NAMED_ASSIGNS: false}', -p, -d]
        files: 'tools/tfeditor'
        types: ['file', 'python']
  # Disabled: baby steps
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.10.1
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]
  # - repo: https://github.com/psf/black
  #   rev: 22.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  # - repo: https://github.com/PyCQA/flake8
  #   rev: 4.0.1
  #   hooks:
  #     - id: flake8
  - repo: local
    hooks:
    - id: check_boilerplate
      name: Check Boilerplate
      entry: python3
      args: ['tools/check_boilerplate.py', '.']
      language: system
      types_or: ['dockerfile', 'python', 'yaml', 'terraform', 'bash']
    - id: check_links
      name: Check Links
      entry: python3
      args: ['tools/check_links.py', '.']
      language: system
      types: ['file', 'markdown']
    - id: check_documentation
      name: Check Documentation
      entry: python3
      args: ['tools/check_documentation.py', 'modules', 'examples', 'fast']
      language: system
    - id: check_names
      name: Check Names
      entry: python3
      args: ['tools/check_names.py', '--prefix-length=10', 'fast/stages']
      language: system
      types: ['file', 'terraform']
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  #   rev: v1.2.4
  #   hooks:
  #     - id: python-safety-dependencies-check
  # Disabled, to avoid adding additional dependencies
  # - repo: https://github.com/PyCQA/bandit
  #   rev: v1.7.4
  #   hooks:
  #     - id: python-bandit-vulnerability-check
  #       args: [-ll, --recursive, tools, fast]
  #       files: .py$
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
        files: ^modules
      # Disabled because validation takes a LONG time (>5minutes) in this repo!
      # - id: terraform_validate
      #   files: ^modules
      # Disabled in favour of local tfdoc implementation.  For now...
      # - id: terraform_docs
      #   args:
      #     - --args=--lockfile=false
      # Disabled because the repo currently requires a lot of work to pass tflint
      # - id: terraform_tflint

Allow defining multiple fixtures, and named fixtures under tests/fixtures/
  modules/net-lb-app-ext/README.md
  tests/examples/conftest.py
  tests/examples/test_plan.py
Due: check_links

Revert shallow-copying symlinks, performane penalty - 20%
  tests/fixtures.py
  tests/fixtures/fabric
  tests/fixtures/variables.tf
Due: check_names

Fix prepare_files call for e2e
  tests/examples_e2e/test_plan.py
Due: none

Allow terraform fixtures for examples
  tests/examples/conftest.py
Due: none

Move fixture to separate file, fix test
  modules/net-lb-app-ext/README.md
  tests/fixtures.py
  tests/fixtures/compute-mig-ab.tf
  tests/fixtures/fabric
  tests/fixtures/variables.tf
Due: check_links, check_names

Enable e2e for wiktorn
  modules/net-lb-app-ext/README.md
Due: check_links

Update tfdoc.py to list used fixtures
  modules/net-lb-app-ext/README.md
  tools/tfdoc.py
Due: check_links

Allow per-module terraform fixtures (#1914)
  modules/net-lb-app-ext/README.md
  tests/examples/conftest.py
  tests/examples/test_plan.py
  tests/examples_e2e/test_plan.py
  tests/fixtures.py
  tests/fixtures/compute-mig-ab.tf
  tools/tfdoc.py
Due: check_links, check_names

Update related serverless READMEs
  blueprints/serverless/README.md
  blueprints/serverless/cloud-run-corporate/README.md
  blueprints/serverless/cloud-run-explore/README.md
Due: check_links

Add service account email to outputs to manage its permissions
  blueprints/data-solutions/composer-2/README.md
  blueprints/data-solutions/composer-2/outputs.tf
Due: check_links, check_names

Fix description
  blueprints/data-solutions/composer-2/README.md
  blueprints/data-solutions/composer-2/outputs.tf
Due: check_links, check_names

Provider doesn't set defaults on config
  blueprints/data-solutions/composer-2/variables.tf
Due: check_names

Add version check to tools/lint.sh
  tools/lint.sh
Due: none

Add version check to tools/lint.sh (#1955)
  tools/lint.sh
Due: none

Support CMEK encryption on Bigtable instances.
  modules/bigtable-instance/README.md
  modules/bigtable-instance/main.tf
  modules/bigtable-instance/variables.tf
Due: check_links, check_names

Add e2e test for net_lb_app_ext module
  modules/net-lb-app-ext/README.md
  tests/modules/net_lb_app_ext/examples/classic-vs-non-classic.yaml
  tests/modules/net_lb_app_ext/examples/complex-example.yaml
  tests/modules/net_lb_app_ext/examples/health-check-1.yaml
  tests/modules/net_lb_app_ext/examples/health-check-2.yaml
  tests/modules/net_lb_app_ext/examples/http-backends.yaml
  tests/modules/net_lb_app_ext/examples/http-https-redirect.yaml
  tests/modules/net_lb_app_ext/examples/https-backends.yaml
  tests/modules/net_lb_app_ext/examples/hybrid-neg.yaml
  tests/modules/net_lb_app_ext/examples/instance-groups.yaml
  tests/modules/net_lb_app_ext/examples/internet-neg.yaml
  tests/modules/net_lb_app_ext/examples/managed-instance-groups.yaml
  tests/modules/net_lb_app_ext/examples/minimal-http.yaml
  tests/modules/net_lb_app_ext/examples/network-endpoint-groups.yaml
  tests/modules/net_lb_app_ext/examples/serverless-neg.yaml
  tests/modules/net_lb_app_ext/examples/ssl-certificates.yaml
  tests/modules/net_lb_app_ext/examples/storage.yaml
  tests/modules/net_lb_app_ext/examples/url-map.yaml
  tests/modules/net_lb_app_ext/examples/zonal-neg-creation.yaml
Due: check_links

Support CMEK encryption on Bigtable instances. (#1956)
  modules/bigtable-instance/README.md
  modules/bigtable-instance/main.tf
  modules/bigtable-instance/variables.tf
Due: check_links, check_names

Fix typos
  modules/net-lb-app-ext/README.md
Due: check_links

Create bigtable service identity with project if api is enabled
  modules/project/service-agents.yaml
Due: none

Small fixes net-lb-app-ext examples
  modules/net-lb-app-ext/README.md
Due: check_links

net-lb-app-ext example fixes (#1959)
  modules/net-lb-app-ext/README.md
Due: check_links

Use zones b and c for MIG fixture
  modules/net-lb-app-ext/README.md
  tests/fixtures/compute-mig-bc.tf
  tests/modules/net_lb_app_ext/examples/complex-example.yaml
Due: check_links, check_names

Use zones b and c for MIG fixture (#1961)
  modules/net-lb-app-ext/README.md
  tests/fixtures/compute-mig-bc.tf
  tests/modules/net_lb_app_ext/examples/complex-example.yaml
Due: check_links, check_names

Capitalize Private Network Access
  modules/service-directory/README.md
Due: check_links

Add PNA support to Service Directory module
  modules/service-directory/README.md
  modules/service-directory/main.tf
  modules/service-directory/variables.tf
  tests/modules/service_directory/examples/pna.yaml
Due: check_links, check_names

Remove redundant NEG examples
  modules/net-lb-app-ext-regional/README.md
Due: check_links

Update README
  modules/net-lb-app-ext-regional/README.md
Due: check_links

update readme with fixtures
  modules/net-lb-app-ext-regional/README.md
Due: check_links

Switch examples to regions b c
  modules/net-lb-app-ext-regional/README.md
Due: check_links

Remove unsupported features in regional app lbs
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext-regional/backend-service.tf
  modules/net-lb-app-ext-regional/backends.tf
  modules/net-lb-app-ext-regional/main.tf
  modules/net-lb-app-ext-regional/negs.tf
  modules/net-lb-app-ext-regional/urlmap.tf
  modules/net-lb-app-ext-regional/variables.tf
Due: check_links, check_names

Initial version of regional external application load balancer.
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext-regional/backend-service.tf
  modules/net-lb-app-ext-regional/backends.tf
  modules/net-lb-app-ext-regional/groups.tf
  modules/net-lb-app-ext-regional/health-check.tf
  modules/net-lb-app-ext-regional/main.tf
  modules/net-lb-app-ext-regional/negs.tf
  modules/net-lb-app-ext-regional/outputs.tf
  modules/net-lb-app-ext-regional/urlmap.tf
  modules/net-lb-app-ext-regional/variables-backend-service.tf
  modules/net-lb-app-ext-regional/variables-health-check.tf
  modules/net-lb-app-ext-regional/variables-urlmap.tf
  modules/net-lb-app-ext-regional/variables.tf
  modules/net-lb-app-ext-regional/versions.tf
Due: check_links, check_names

Add ssl-certificate fixture
  tests/fixtures/ssl-certificate.tf
Due: check_names

Update versions.tf
  modules/net-lb-app-ext-regional/versions.tf
Due: check_names

Fix tests
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext-regional/backend-service.tf
  modules/net-lb-app-ext-regional/main.tf
  modules/net-lb-app-ext-regional/variables-backend-service.tf
  modules/net-lb-app-ext-regional/variables.tf
Due: check_links, check_names

Add missing boilerplate
  tests/fixtures/ssl-certificate.tf
Due: check_names

New module for external regional application load balancer (#1892)
  modules/net-lb-app-ext-regional/README.md
  modules/net-lb-app-ext-regional/backend-service.tf
  modules/net-lb-app-ext-regional/groups.tf
  modules/net-lb-app-ext-regional/health-check.tf
  modules/net-lb-app-ext-regional/main.tf
  modules/net-lb-app-ext-regional/negs.tf
  modules/net-lb-app-ext-regional/outputs.tf
  modules/net-lb-app-ext-regional/urlmap.tf
  modules/net-lb-app-ext-regional/variables-backend-service.tf
  modules/net-lb-app-ext-regional/variables-health-check.tf
  modules/net-lb-app-ext-regional/variables-urlmap.tf
  modules/net-lb-app-ext-regional/variables.tf
  modules/net-lb-app-ext-regional/versions.tf
  tests/fixtures/ssl-certificate.tf
Due: check_links, check_names

Update README.md
  modules/README.md
Due: check_links

Update README.md
  README.md
Due: check_links

Address some style comments
  blueprints/serverless/cloud-run-corporate/README.md
  blueprints/serverless/cloud-run-microservices/README.md
  blueprints/serverless/cloud-run-microservices/cloudrun.tf
Due: check_links, check_names
